<div class="col-md-4 g-vigencia-ini">
	<mpf-calendar label="info[0].label" model="info[0].model" validate="{{info[0].validate}}" disabled="{{info[0].disabled}}" function="function()"></mpf-calendar>	
</div>
<div class="col-md-4 g-vigencia-fin" ng-show="$parent.selectDate && !$parent.dateError">
	<!-- <mpf-calendar label="info[1].label" model="info[1].model" validate="{{info[1].validate}}" disabled="{{info[1].disabled}}"></mpf-calendar> -->
	<span class="g-label">{{info[1].label.label}}</span>
	<span>{{info[1].model}}</span>
</div>
<div class="col-md-4 pt-2" ng-show="$parent.dateError">
	<div class="col-md-12 mb-2 m-mb-1 g-vigencia-error">
		<span><span class="ico-mapfre_37_informacion g-vigencia-error-ico"></span>La fecha elegida esta fuera de rango.</span>
	</div>
</div>