<div>
    <div class="g-title g-border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h1 class="ng-binding">¿Deseas reaperturar este aviso?</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-body">
        <div class="g-section-inner g-dashboard-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form name="fromFormReapertura">
                            <div>
                                <div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12 mt-md-2 mb-md-2">
                                                <span class="col-md-12 mg-bot-15">
                                                    <mpf-select-placeholder
                                                    label="{label: 'Motivo', required: false}"
                                                    m-Empty-Option="{enterData: true}"
                                                    name="nMotivo"
                                                    mpf-validation="required" text-field="descripcion"
                                                    value-field="codigo" 
                                                    ng-init=""
                                                    ng-model="mMotivo"
                                                    m-data-source="listaMotivo">
                                                </mpf-select-placeholder>
                                                <div class="g-error"
                                                    data-ng-show="fromFormReapertura.nMotivo.$error.required && !fromFormReapertura.nMotivo.$pristine">
                                                    * Elija Motivo
                                                </div>
                                                </span>
                                            </div> 
                                            <div  class="col-md-12 mt-md-2 mb-md-2">
                                                <div class="col-md-12">
                                                    <mpf-input label="{label: 'Comentario'}" name="nComentario"
                                                        ng-model="mComentario" ng-maxlength="500" ng-required="true"></mpf-input>
                                                    <div class="g-error"
                                                        data-ng-show="fromFormReapertura.nComentario.$error.required && !fromFormReapertura.nComentario.$pristine">
                                                        * Ingrese comentario
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="row">
                                              <div class="col-md-12 g-text-right-md g-span-middle mg-top-20">
                                                    <span class="mr-md-6">
                                                    </span>
                                                
                                                    <span class="mr-md-1">
                                                        <button class="g-btn g-btn-gris block second-design pl-md-12 pr-md-12"
                                                            ng-click="closeModal()"> CANCELAR</button>
                                                    </span>
                                                    <span class="mr-md-1">
                                                        <button  ng-disabled="fromFormReapertura.$invalid" class="g-btn btn-verde-trn block second-design pl-md-2 pr-md-2"
                                                            ng-click="reaperturarAviso()">GUARDAR</button>
                                                    </span>
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
