<div class="clearfix">
	<button type="button" class="close g-close-modal hidden" ng-click="$ctrl.close()">
		<span class="ico-mapfre_231_cancelaroff"></span>
	</button>
	<div class="container">
		<div class="row mb-md-3">
			<div class="col-md-12 g-text-center-xs mb-xs-2">
				<h2 class="gH3"><b>En MAPFRE valoramos tu opinión</b></h2>
			</div>
		</div>
        <div class="row">
            <div class="col-md-12">
                <p>{{$ctrl.data.encuesta.Pregunta.nombre}}</p>
            </div>
			<div class="col-md-12">
				<mpf-rating-stars max-rating="5" rating="rating"></mpf-rating-stars>
			</div>
        </div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="col-md-6 col-md-offset-3 col-xs-12 g-btn g-btn-verde mb-xs-1" ng-click="$ctrl.save()">{{$ctrl.data.saveButton}}</button>
			</div>
		</div>
	</div>		
</div>
<style>
	.rating {
		display: grid;
  		grid-template-columns: repeat(5, 1fr);
		text-align: center;
		padding: 10px;
		border-radius: 20px;
		box-shadow: 0 0 2px #b3acac;
	}

	.rating__star {
		font-size: 1.3em;
		cursor: pointer;
		transition: filter linear .3s;
	}

	.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}
	
	.rating__star:hover {
		filter: drop-shadow(1px 1px 4px gold);
	}

	.modal-backdrop.in {
		opacity: .5;
		filter: alpha(opacity=50);
	}
</style>