/*
  solicitud cgw: step 1
*/
.c-tag { color: $cWhite1; display: inline-block; line-height: 1.5; padding: 2px 5px; font-size: $fz12;}

/*
  solicitud cgw: step 2
*/
.cgw-box__txt-header {
  font-size: $fz17;
  font-weight: bold;

  &.color--red {
    color: $cRed2;
  }

  &.size-1-3 {
    font-size: 1.3em;
  }
}

.cgw__subtitle {
  font-size: 16px;
}

.cgw-modal-steps__overlay {
  .c-modal-steps__btn--cancel {
    background: transparent;
    color: $cGreen1;

    &:hover {
      background: $cGreen1;
      color: $cWhite1;
    }
  }
}

/*
    step's summary
*/
.u-animate-show {
  opacity: 1;

  &.ng-hide {
    line-height: 0;
    opacity: 0;
  }

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: linear 0.2s;
  }
}

.cgw-summary__link-wp {
  display: inline-block;

  @media (min-width: $break-small) {
    text-align: right;
  }
}

.cgw-summary__link-txt {
  font-size: 14px;
  position: relative;
  top: 4px;
  text-decoration: underline;
}

.cgw-summary__link-icon {
  font-size: 22px;
  position: relative;
  top: 8px;
}

.c-mf-collapse {
  background: $cGray4;
  border-radius: 50%;
  color: #EBEFF0;
  display: inline-block;
  position: relative;

  .c-mf-collapse__ico {
    color: $cGray3;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    transform: rotate(180deg);
  }

  &.c-mf-collapse--open {
    .c-mf-collapse__ico {
      transform: rotate(0deg);
    }
  }
}

.c-mf-collapse__title {
  color: $cGray1;
  .txt-acordeon{
    font-size: 17px;
  }
}

.c-mf-collapse__head {
  .c-mf-collapse {
    background-color: transparent;
    .c-mf-collapse__ico {
      padding: 2.5px;
    }
  }
}

.cgw-radio__wp {
  background: $cWhite1;
  transition: all 0.35s;

  &.cgw-rb-box--active {
    background: $cGray4;
  }

  &:hover {
    background: $cGray4;
  }
}

//Modal
.modal--bg-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.modal-body__scroll {
  max-height: 500px;
  overflow-y: auto;
}

.modal-body__static-scroll {
  height: 350px;
  overflow-y: auto;
}

.modal--md {
  .modal-dialog {
    max-width: 768px;
    width: 100%;
  }
}

.modal--lg {
  .modal-dialog {
    max-width: 992px;
    width: 100%;
  }
}

.modal--ovh {
  .modal-dialog {
    overflow: hidden;
  }
}

.modal--500 {
  .modal-dialog  {
    @media(min-width: $break-small) {
      max-width: 500px;
    }
  }
}

.modal--700 {
  .modal-dialog  {
    @media(min-width: $break-small) {
      max-width: 700px;
    }
  }
}

.cgw-modal-80-porc {
  > .modal-dialog {
    max-width: 80%;
    overflow: auto;
  }
  > .modal-content {
    width: 100%;
    overflow: auto;
  }
}

.cgw-modal-hide-close {
   .g-close-modal {
    display: none;
    visibility: hidden;
  }
}

/*
    step 3
*/
.cgw-msg-med__link {
  font-size: 13px;
}

/*
    utilities
*/
.u-dfx-md {
  @media(min-width: $break-medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.u-txt-15 {
  font-size: 15px;
}

.u-txt-16 {
  font-size: 16px;
}

.u-txt-18 {
  font-size: 18px;
}

.u-txt-24 {
  font-size: 24px;
}

.u-txt-50 {
  font-size: 50px;
}

.u-txt-70 {
  font-size: 70px;
}

.u-br-gris-4 {
  border: 1px solid $cGray4;
}

.u-bb-plomo {
  border-bottom: 1px solid $cGray4;
}

.u-bb-gris-5 {
  border-bottom: 1px solid $gris19;
}

.u-bt-plomo {
  border-top: 1px solid $cGray4;
}

.u-word-break {
  word-break: break-word;
}

.u-color--gris-2 {
  color: $cGray2;
}

.u-color--gris-8 {
  color: $cGray6;
}

.u-color--verde-1 {
  color: $cGreen7;
}

.u-bg--rojo-primario{
  background-color: $cRed1;
}

.u-bg--yellow-2{
  background-color: #CE9B00;
}

.u-bg--blue-3 {
  background-color: $cBlue1;
}

.u-bg--gris-3 {
  background: $cGray6;
}

.u-bg--gris-9 {
  background: #F1F5F7;
}

.u-bg--gris-10 {
  background: $gris18;
}

.u-bg--gris-11 {
  background: $cGray5;
}

.u-bg--gris-30 {
  background: $cGray3;
}

.u-bg--blue-2 {
  background: $cBlue2;
}

.u-bg--celeste-1 {
  background: $cBlue1;
}

.u-bg--rojo-8 {
  background: $cRed5;
}

.u-bg--yellow-1 {
  background: $cYellow1;
}

.u-bg--orange-2 {
  background: $cRed4;
}

.u-bg--orange-3 {
  background: $cOrange2;
}

.u-bg--verde-2 {
  background: $cGreen1;
}

.u-bg--verde-4 {
  background: $cGreen5;
}

.u-bg--white-1 {
  background: $cWhite1;
  &.c-tag { color: $cGray1; border: 1px solid $cGray4; }
}

.u-bg--transparente {
  &.c-tag { color: $cGray1; border: 1px solid $cGray4; }
}

.u-block {
  display: block;
}

.u-inline {
  display: inline-block;
}

.u-lh-1 {
  line-height: 1;
}

.u-pvh-1 {
  padding: 10px;
}

.u-pt-15 {
  padding-top: 15px;
}

.u-pv-8 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.u-pv-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.u-pv-15 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.u-pvh-15 {
  padding: 15px;
}

.u-ph-0 {
  padding-left: 0;
  padding-right: 0;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-mb-2 {
  margin-bottom: 20px !important;
}

.u-ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-ph-md-15 {
  @media(min-width: $break-medium) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.u-pv-0-5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

.u-txt-weight {
  font-weight: bold !important;
}

.u-mt-08 {
  margin-top: 8px;
}

.u-txt-deco--none {
  text-decoration: none !important;
}

.u-scroll-v--150 {
  max-height: 150px;
  overflow-y: auto;
}

.u-scroll-v--450 {
  max-height: 450px;
  overflow-y: auto;
}

.u-scroll-h {
  overflow-x: auto;
}

.input__file {
  left: -9999%;
  opacity: 0;
  position: absolute;
}

.u-bs-gris {
  box-shadow: 0 1px 10px $cGray4;
}

.u-float-center {
  display: inline-block;
  float: none;
  font-size: 0;
}

.u-cursor--pointer {
  cursor: pointer;
}

.u-w--1200 {
  width: 1200px;
}

.u-w--1170 { width: 1170px;}

.u-w--1140 { width: 1140px;}

/*
    step 5
*/
.cgw-presupuesto__icon-wp {
  @media(min-width: $break-small) {
    border-right: 1px solid $cGray4;
  }
}

.cgw-presupuesto__icon {
  color: $cGray6;
  font-size: 40px;

  @media(min-width: $break-small) {
    font-size: 52px;
  }
}

.cgw-presupuesto-resumen__icon {
  color: $cGray6;
  font-size: 28px;

  @media(min-width: $break-small) {
    font-size: 40px;
  }
}

.cgw-presupuesto__info {
  padding: 15px;

  @media(min-width: $break-small) {
    padding-top: 24px;
  }
}

.cgw-presupuesto-resumen__info {
  padding: 15px;

  @media(min-width: $break-small) {
    padding-top: 22px;
  }
}

.cgw-presupuesto__price-wp {
  padding: 0 15px 15px;
  margin-top: 0;

  @media(min-width: $break-small) {
    margin-top: 20px;
    padding: 15px;

    &.u-mt-08 {
      margin-top: 8px;
    }
  }
}

.cgw-presupuesto__total-box {
  @media(min-width: $break-small) {
    float: right;
  }
}
.container__attach { overflow: hidden; overflow-x: auto; }
.cgw-attach__main_box { padding: 10px 0; height: 180px; white-space: nowrap; }

.cgw-files__wp {
  padding: 40px 15px;
}

.cgw-attach__wp {
  margin: 0 0 24px; padding: 0; position: relative; display: inline-block;

  @media(min-width: $break-small) {
    margin: 0;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.cgw-attach__box {
  border: 1px dashed $cGray4;
  border-radius: 5px;
  box-shadow: 0 1px 5px $cGray4;
  display: block;
  width: 185px; height: 155px; padding: 0 15px; position: relative;
  &:before { content: ''; height: 100%; display: inline-block; vertical-align: middle; }
  &.border-solid { border-style: solid; }
  .close{ top: 7px; right: 7px; position: absolute; font-size: 20px; opacity: 1; }

  &-body { display: inline-block; vertical-align: middle; max-width: 149px; }
}

.cgw-attach__icon {
  display: block;
  font-size: 60px;
}

.cgw-inline-files {
  .container__attach { overflow: initial; overflow-x: initial; }
  .cgw-attach__main_box {
    padding: 0; height: auto; white-space: initial;
    .cgw-attach__wp {
      width: 100%;
      margin: 0; margin-bottom: 5px;
      .cgw-attach__box {
        // background: transparent; border: 0;
        box-shadow: 0 0 0 #fff; width: auto; height: auto; padding: 3px; text-align: left;
        &:before { height: 0; display: inline; }
        .cgw-attach__box-body {
          display: block; max-width: none;
          .cgw-attach__icon { font-size: 25px; display: inline-block; vertical-align: middle; }
          p { display: inline-block; vertical-align: middle; margin-top: 0; max-width: 90%; }
        }
      }
      @media(min-width: $break-small) {
        width: 50%;
      }
      @media(min-width: $break-medium) {
        width: 33%;
      }
    }
  }
}

.cgw-budget__input {
  &.g-input-design {
    padding-top: 0;
  }
}

.cgw-budget__txt {
  @media(min-width: $break-small) {
    line-height: 46px;
  }
}

.cgw-budget__input-wp {
  padding-left: 40px;
  position: relative;
}

.cgw-budget__currency {
  font-weight: bold;
  left: 15px;
  position: absolute;
  top: 15px;
}

.modal--budget {
  .modal-content {
    padding-bottom: 20px;
  }
}

/*
  consulta cgw
*/
.cgw-result-item__icon {
  height: 46px;
  line-height: 58px;
}

.cgw-tab__head--ico {
  color: $cOrange1;
  font-size: 25px;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

/*
  detalle consulta
*/
.userImg {
  max-width: 180px;
  width: 100%;
}

.txt-icono--alert {
  color: $cOrange1;
  font-size: 25px;
  top: 8px;
}

.g-input-design__wp--pt-0 {
  .g-input-design,
  .g-textarea-design,
  .g-select-desing,
  .g-date-picker,
  .g-time-picker,
  .g-autocomplete-desing {
    padding-top: 0;
  }
}

.g-input-design--lbl-13 {
  .g-placeholder {
    &.block {
      font-size: 13px;
    }
  }
}

/*
  reportes
*/
.cgw-reportes__ico-file {
  font-size: 24px;
  position: relative;
  top: 3px;
}
.fond-griss{
  background-color: $cGray5;
  padding-top: 20px;
  padding-bottom: 20px;
}
.style-x-arch{
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 18px;
  cursor: pointer;
}

.textarea-all-height {
  .g-textarea-design {
    label { font-weight: $bold; color: $cGray2; top: 0; }
    textarea { height: $fz13; }
  }
}

/********** Modificaciones a Tabs **********/
.g-section-tabs {
  &.tabs-responsive {
    position: relative;
    .tabs__more { position: absolute; right: 23px; top: 23px; cursor: pointer; color: $cGray3; font-size: $fz20; }
    .tabs__bottom-border { display:block; border-bottom: 1px solid $cGray4; position: absolute; top: 55px; z-index: 1059; width: 100%; margin: 0; }
    .nav-tabs {
      position: relative; width: 85%; margin-left: 0;
      li {
        display: none;
        a {
          padding: 0; margin-bottom: 1px; font-size: $fz17;
          uib-tab-heading {
           span { display: block; padding: 10px 15px;  cursor: pointer; }
           span.cgw-tab__head--ico { position: absolute; right: 15px; top: 10px; }
          }
        }
      }
      li.active {
        display: block;border-bottom: 1px; background-color: #F1F5F7; padding: 0;
        a { background-color: #F1F5F7; }
      }
    }
    .tab-content { position: relative; top: none; }

    &.showTabs {
      .nav-tabs {
        position: absolute; width: 79%; z-index: 1060;
        li {
          display: block; background-color: $cWhite1;
          a { margin: 0; background-color: $cWhite1; }
        }
        li.active {
          background-color: #F1F5F7;
          a { background-color: #F1F5F7; border-bottom: 1px solid $cGray4; }
        }
      }
      .tab-content { top: 50px; }
    }

    @media (min-width: $break-small){
      .tabs__more { display: none; }
      .tabs__bottom-border { display: none; }
      .nav-tabs {
        position: relative; margin-left: auto; width: 100%;
        li {
          display: table-cell; height: 40px; vertical-align: middle;
          a {
            uib-tab-heading {
              span { display: inline-block; cursor: pointer; }
              span.cgw-tab__head--ico { position: relative; right: none; top: none; }
            }
          }
        }
        li.active {
          display: table-cell; width: 1%; background-color: $cWhite1;
          a { background-color: transparent; }
        }
      }
      &.showTabs {
        .nav-tabs {
          position: relative; margin-left: auto; width: 100%;
          li { display: table-cell; width: 1%; }
          li.active {
            background-color: $cWhite1;
            a { background-color: transparent; }
          }
        }
      }
    }

    @media (min-width: $break-medium){
      .nav-tabs {
        li {
          a { font-size: $fz20; }
        }
      }
    }
  }
}

.int-none-heigt{
  .g-input-design{
    input{
      height: auto !important; line-height: initial !important; margin-top:0;
    }
  }
}

.cnt-item.mb-xs-0, .tbl-item.mb-xs-0 { margin-bottom: 0; }

.valign {
  &:before { content: ''; height: 100%; display: inline-block; vertical-align: middle; }
  span { display: inline-block; vertical-align: middle; margin-left: -4px; }
}

.inlineblock-middle { float: none; @include inlineblock; vertical-align: middle; margin-left: -4px; }
.inlineblock-top { float: none; @include inlineblock; vertical-align: top; margin-left: -4px; }
.inlineblock-bottom { float: none; @include inlineblock; vertical-align: bottom; margin-left: -4px; }

.font-normal { font-weight: $normal; }

// .cgw-title-detalle-consulta {
//   .cgw-title-detalle-consulta--left {
//     // float: none; display: inline-block; padding-right: 0; width: 100%;
//     @media (min-width: $break-medium){
//       // width: 35%;
//       // white-space: nowrap;
//     }
//     @media (min-width: $break-large){
//       // width: 45%;
//     }
//   }
//   .cgw-title-detalle-consulta--right{
//     float: none; display: inline-block; vertical-align: bottom; padding-left: 0; width: 100%;
//     .g-title-btn-row { text-align: center; }
//     @media (min-width: $break-medium){
//       margin-left: -4px;
//       width: 65%;
//       .g-title-btn-row { text-align: right; }
//     }
//     @media (min-width: $break-large){
//       width: 55%;
//       vertical-align: top;
//     }
//   }
// }

// .g-title.fixed-section {
//   padding-top: 5px; padding-bottom: 5px;
//   .cgw-title-detalle-consulta--left {
//     h1 { font-size: 20px; }
//     .title-data { margin-bottom: 5px!important; margin-top: 5px!important; }
//     .title-tag { margin-bottom: 0!important; }
//   }
// }

.g-box {
  &.border-2 { border-width: 2px; }
  &-dashed {
    border: 1px dashed $cGray4;
  }
}

.solicitud_row-red {
  .cgw_report-label { color: $cRed1; }
}

.u-pb-xs--250{
  padding-bottom: 250px;
}

.cgw-tabs-fixed {
  ul.nav.nav-tabs.nav-justified {
    position: fixed; margin-left: -15px; top: 0; z-index: 2000;
  }
  &.g-section-tabs.tabs-responsive .nav-tabs li { height: 36px; z-index: 2000; }
  &.g-section-tabs.tabs-responsive .nav-tabs li a uib-tab-heading span { padding: 0 5px; }
  &.g-section-tabs.tabs-responsive.showTabs .nav-tabs li.active a { height: 36px; }
  div.border-tabs-fixed {
    position: fixed; left: 0; right: 0; top: 0; height: 36px; z-index: 1999; background-color: $cWhite1;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(204, 204, 204, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(204, 204, 204, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(204, 204, 204, 0.7);
  }
  &.g-section-tabs.tabs-responsive .tabs__more { position: fixed; top: 8px; right: 15px; z-index: 2001; }
  &.wt1200 {
    @media(min-width: 1200px) {
      ul.nav.nav-tabs.nav-justified { width:1200px; }
    }
  }
  @media (min-width: $break-medium){
    ul.nav.nav-tabs.nav-justified { width: 85%; }
  }
}

.editor-editable ng-quill-editor .ql-container {
  height: 350px;
}
