<div class="row">
    <div class="col-md-12 mb-md-2">
        A Continuacion selecciona el ramo que deseas administrar:
    </div>
</div>
<div style="display: flex;flex-direction: row;">
    <div style="width: 33px;" ng-click="$ctrl.onPrevius()">aa</div>
    <div id="divListRamos" style="width: 100%; display: flex; flex-direction: row; gap: 24px; overflow: hidden">
        <div ng-repeat="item in $ctrl.listRamo" style="border-radius: 5px;
        border-bottom: 3px solid var(--green, #8DB602);
        background: #FCFCFC;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
        display: flex;
        padding: 20px 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 132px;
        height: 106px;
        ">
            <span style="color: var(--green, #8DB602);
                text-align: center;
                font-family: Roboto;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;">
                {{item.name}}
            </span>
        </div>
        <!-- <div style="border-radius: 5px;
        background: #FCFCFC;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
        display: flex;
        padding: 20px 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 132px;
        height: 106px;
        ">
            <span style="color: var(--gray-3, #797B7F);
            text-align: center;
            font-family: Roboto;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;">
                SALUD
            </span>
        </div> -->
    </div>
    <div style="width: 33px;" ng-click="$ctrl.onNext()">ccc</div>
</div>