<div class="row">
    <div class="col-md-12 mb-md-2 mb-xs-2">
        A Continuación seleccione el ramo que deseas administrar:
    </div>
</div>
<div class="card-ramos">
    <div class="card-ramos-arrow gCGray3 hidden-xs hidden-sm ico-mapfre_78_chevronleft g-cursor-pointer" ng-click="$ctrl.onPrevius()"></div>
    <div id="divListRamos" class="card-ramos-content overflow-visible-md overflow-hidden-lg">
        <div ng-repeat="item in $ctrl.ramos" ng-click="$ctrl.onRamoItemClick(item)" class="g-cursor-pointer"  ng-class="{'card-ramos-item-active': item.selected, 'card-ramos-item': !item.selected}">
            <img src="{{item.url}}" width="44px" height="44px">
            <span ng-class="{'card-ramos-item-text-active': item.selected, 'card-ramos-item-text': !item.selected}">
                {{item.name}}
            </span>
        </div>
    </div>
    <div class="card-ramos-arrow gCGray3 hidden-xs hidden-sm ico-mapfre_79_chevroneright g-cursor-pointer" ng-click="$ctrl.onNext()"></div>
</div>