.filter-denuncia{
    .item-search{
        &>.mb-xs-2{
            margin-bottom: 5px;
        }
    }
    .total-label-records{
        color: $gris2;
    }
}

.state{
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    color: #FFFFFF;
    padding: 2px 15px;
    border-radius: 5px 5px 5px 5px !important;
    text-transform: uppercase;
    background-color: #8f8f8f;

    &-registrado{
        background-color: #8f8f8f;
    }
    &-aprobado{
        background-color: #8db602;
    }
    &-autorizado{
        background-color: #8db602;
    }
    &-rechazado{
        background-color: #fc0909;
    }
    &-anulado{
        background-color: #a50909;
    }
    &-liquidado{
        background-color: #058057;
    }
    &-finalizado{
        background-color: #37ace2;
    }
    &-activo{
        background-color: #05a58a;
    }
    &-inactivo{
        background-color: #fc0909;
    }
    &-programado{
        background-color: #ffa500;
    }
}
.atenciones{
   
    ul{
        height: 45px;
        li{
            &.container-state{
                text-align: center;
                .state{
                    position: absolute;
                    top: 5px;
                }
            }
            &.number{
                height: 100%;
                div{
                    height: 100%;
                    b{
                        position: absolute;
                        top: 25%;
                    }
                }
            }
            
            
        }
    }
}
.g-box{
    font-size: 12px;
}
.pt-xs-1-al{
    padding-bottom: 10px;
}
.resumen-item-star{
    font-size: 20px;
    color: #ffae00;
    padding-left: 4px;
}
.resumen-item-warning
{
    font-size: 18px;
    padding-left: 4px;

}
.resumen-item-client{
    font-size: 20px;
    padding-left: 4px;
}
.resumen-item-denuncia{
    float: left;
    padding-right: 10px;
}
.g-denuncia-delay-label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    *display: inline;
    zoom: 1;
    color: #d81e05;
    padding: 2px 15px;
    background-color:#f3dede;
    font-weight: bold;
    margin-bottom: 5px;
    
}
.g-managment{
    &-alert{
        padding-left: 0px !important; 
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important; 
        .item{
            
            border-bottom:  1px solid $cGray4 !important;
            &:last-child 
            {
                border-bottom: none !important;
            }
            &>.row{
                padding-left: 15px; 
                padding-right: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .low-info{
                opacity: 0.5;
            }
        }
    }
    &-documents{
        .cargar-c{
            padding-top: 28px !important;
        }
        .file-field{
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 19px;
            input[type=file]{
                position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    filter: alpha(opacity=0);
                    opacity: 0;
            }
        }
        .mb-xs-2{
            margin-bottom: 10px;
        }
        div.item{
            &:first-child{
                padding-top: 15px !important;
            }
            padding-bottom: 5px
        }
        .row.g-box-content{
            padding-bottom: 10px;
        }
        .buttons{
            a{
                font-size: 17px;
                padding-right: 10px;
                &:hover{
                    color: $cRed1;
                }
            }
        }
    }
}
.g-history{
    .mb-xs-2{
        margin-bottom: 5px;
    }
    .text-center{
        padding-bottom: 10px !important;
    }
    h5.g-title{
        padding-left: 10px;
        font-size: 16px;
        padding-bottom: 0px;
        padding-top: 10px;
        font-weight: 500;
    }
    .row{
        .line{
            border-bottom: $cGray4 solid 1px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .monto{
        font-size: 25px;
        font-weight: 500;
        &.pag{
            color: #d81e05
        }
        &.pen{
            color: #32b176;
        }
    }
    .cont-monto{
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .title-monto{
        font-weight: 500;
    }
    .item{
        .label-lateral-state{
            position: relative;
            top: 5px;
        }
        margin-bottom: 10px !important;
        ul.detail-data{
            li:first-child{
                padding-bottom: 7px !important;
            }
        }
        .part{
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        .state{
            padding: 4px 10px 4px 10px;
            font-weight: 700;
            
        }
        .isaudit{
            font-weight: 600;
            padding: 4px 10px 4px 10px;
            display: inline-block;
        }
    }
    .sc-title{
        opacity: 0.5 ;
    }
    .sc-data{
        font-weight: 500;
    }
}
.titel-col{
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.g-sub-title {
  &.denuncia{
    font-size: 18px !important;
    font-weight: 400 !important;
  }
}

@media (min-width: $break-medium){
    .atenciones{
        .mb-xs-2{
            margin-bottom: 7px !important;
        }
    }
    .denuncia-edit-title {
        padding-top: 20px;
        padding-bottom: 20px;
        color: $cGray1;
        background-color: transparent;
        border-bottom: 0;
        .ico-title {
          display: none;
        }
        h1, h2 {
            font-size: 25px;
            padding-left: 0;
          }
    }
    .configuraciones-body .acordion .panel-heading h4 {
          font-size: 2rem; }

    ul.tracking-denuncia{
            li{
                span.untrack{
                    opacity: 0.4;
                }
                border-bottom: none !important;
                &:before, &:after{
                    
                    content: '';
                    position: absolute;
                    width: 28px;
                    height: 1px;
                    background-color: #ddd;
                    right: -10px;
                    display: block !important;
                } 
            }
            li:last-child{
                &:before, &:after{
                    display: none !important;
                }
            }
        }     
}

.configuraciones-body .acordion
 {
  border: none;
  border-radius: 0;
  box-shadow: none; }
  
  .configuraciones-body .acordion .panel-heading {
    padding: 20px 15px;
    border-radius: inherit;
    background-color: transparent;
    border-bottom: 1px solid #888383; }

.g-autocomplete-desing input.select2-active {
    background: #fff url("../../../scripts/b_components/select2/select2-spinner.gif") no-repeat 100% !important;
}
.searchComplaint{
    .search-container, .select2-active{
        background-color: #f4f4f4 !important;
    }
    .g-autocomplete-desing input.select2-active {
        background-color: #f4f4f4 !important;
    }
}

.panel-group .panel{
    overflow:inherit !important;
}

.custom-md {
    width: 50%;
    display: inline-block;
}

.tracking-denuncia-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

ul.tracking-denuncia{
    width: 100%;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 6px;

    li{
        padding: 10px;
        text-align: center;
        color: #000;
        font-weight: 600;
        line-height: 16px;
        font-size: 14px;
        list-style: none;
        position: relative;
        border-bottom: 1px solid #ddd;
        &:before, &:after{
            display: none;
        }
        &:before{
            transform: rotate(45deg);
            top: 50%;
            margin: -10px 0 0 0;
        }
        &:after{
            transform: rotate(-45deg);
            bottom: 50%;
            margin: 0 0 -10px 0;
        }
                

        i
        {
            margin: 0 6px 0 0;    
        }
        span.hora{
            font-weight: 600;
            opacity: .5;
        } 
        
        
    }
    li:last-child{
        border-bottom: none;
    }

	
	
}

.modal-change-state{
    .complaint-title{
        font-weight: 600;
        font-size: 16px;
    }
    .modal-content{
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    };
    .high-label{
        font-weight: 500;
    }
    .low-label{
        opacity: 0.5;   
    }
    font-size: 12px;
}
.g-complaint{
    .g-complaint-title{
        .compl-title {
            float: left !important;
        }
        .state{
            margin-top: 5px;
            margin-left: 12px;
        }
    }
}
.g-complaint-detail{
    
    .indi-container{
        margin-bottom: 7px !important;
    }
    .g-date-picker {
        input[type=text]:disabled{
            opacity: 0.5 !important;

        }
    }
    .g-input-design{
        input[type=text]:disabled {
            opacity: 0.5 !important;

        }
        
    }
    .uib-timepicker{
        .btn-link{
            color: inherit !important;
        }
        .btn{
            padding: 1px 12px !important;
        }
        
    }
}
.g-section{
    padding-bottom: 0px !important; 
}
.coverages-siteds{
    .item-label{
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-weight: 700 !important;
    }
    .close-redirect{
        font-size: 20px !important;
        color: $cRed1
    }
    .mb-xs-4-hs{
        margin-bottom: 10px !important;
    }
    .g-section{
        padding-bottom: 0px !important; 
    }
    .coverage{
        max-height: 500px;
        overflow-y: auto;
        .item{
            border-bottom: $cGray4 solid 1px;
            padding-bottom: 10px;
            padding-top: 10px;
            &:last-child{
                border-bottom: none !important;
                padding-bottom: 10px !important;
            }
            &:first-child{
                padding-top: 10px !important;
            }
            &:hover{
                background-color: #fbecea;
            }
            &.selected{
                border-right: $cRed1 solid 3px;
            }
            .cov{
                &-name{
                    color: $cRed1;
                    font-size: 16px;
                    font-weight: 500;
                    
                }
                &-company-info{
                    opacity: 0.5;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
            .action-detail{
                margin-top: 25px;
                font-size: 15px;
                opacity: 0.5;
            }
        }
    }
    .detail{
        font-size: 12px;
        .item{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: $cGray4 solid 1px;
            &:last-child{
                border-bottom: none !important;
            }
            .tilte-detail{
                font-weight: 500;
            }
            .desc-detail{
                opacity: 0.5;
            }
            .carencia{
                color:$cRed1
            }
        }
    }
}

.option-dashboard__box {
    text-align: center;
    
    a {
        background: #ffffff;
        border: 1px solid #bdbebe;
        border-radius: 7px;
        color: #797979;
        cursor: pointer;
        display: inline-block;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: bold;
        margin: 15px auto;
        max-width: 345px;
        padding: 40px 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 -1px 2px #f7f7f7;
        transition: 0.35s;
        width: 100%;
        padding: 24px 16px 24px 64px !important;
        min-height: 90px;

        i {
            font-size: 48px;
            height: 48px;
            width: 48px;
            top: 50%;
            margin: -24px 0 0 0;
            left: 16px;
            border-radius: 8px;
            background-size: cover;
            position: absolute;
        }

        span {
            display: block;
            line-height: 20px;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            width: 100%;
            box-sizing: border-box;
            position: relative;
            padding: 8px 6px 20px 6px;
        }

        span::after {
            background: #8DB602;
            bottom: 3px;
            content: '';
            height: 2px;
            left: 0;
            margin: auto;
            max-width: 45px;
            position: absolute;
            right: 0;
            width: 100%;
        }
    }

    a:hover {
        color: #8DB602;
        border: 1px solid #8DB602;
        box-shadow: 0 1px 15px #e6e6e6;
    }
    
    a:hover i {
        color: #8DB602;
    }
    
}

.headReg {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.g-menu-main > span > li.actived > a {
    color: #d81e05;
}

.g-menu-main > span > li.actived > a > .badge {
    background-color: #d81e05;
}

.u-bg--rojo-primario{
    background-color: $cRed1;
}

.u-bg--verde-2 {
    background: $cGreen1;
}

.u-bg--yellow-2{
    background-color: #CE9B00;
}

.u-bg--blue-3 {
    background-color: $cBlue1;
}

.u-bg--white-1 {
    background: $cWhite1;
    &.c-tag { color: $cGray1; border: 1px solid $cGray4; }
}

.u-bg--transparente {
    &.c-tag { color: $cGray1; border: 1px solid $cGray4; }
}

.u-pv-8 {
    padding-bottom: 8px;
    padding-top: 8px;
}

.c-tag { color: $cWhite1; display: inline-block; line-height: 1.5; padding: 2px 5px; font-size: $fz12;}

.u-block {
    display: block;
}
  