@import '../../../styles/common/fonts';
@import '../../../styles/common/normalize';

@import '../../../styles/common/mainGeneral';

@import '../../../styles/common/general';
@import '../../../styles/common/header';
@import '../../../styles/common/footer';
// @import '../common/home';
// @import '../common/login';


@import 'sctrDenuncia';


@import '../../../styles/common/ie';
