<div ng-show="showNewItem" class="container pt-xs-4">
  <form name="frmNuevaSumaAsegurada">
    <div class="row g-box pt-xs-3 pb-xs-3 pl-xs-2 pr-xs-2" style="position: relative;">
      <button type="button" class="mr-xs-2 mt-xs-2 close g-close-modal" data-ng-click="mostrarCrearRegistro()" prevent-default>
        <span class="ico-mapfre_231_cancelaroff"></span>
      </button>
      <div class="col-xs-12">
        <h4><b>Nueva Suma Asegurada</b></h4>
      </div>
      <div class="col-xs-12 mt-xs-2">
        <div class="row">
          <div class="col-sm-4">
            <mp-data-seeker
              behavior="{label:'Cobertura', placeholder:'Agregar cobertura', matchField:'name'}"
              m-data-source="getListCoverage($inputNeed)"
              ng-model="formData.newItem.cobertura"
              ng-required="false"
              name="mCobertura">
              <div ng-bind-html="$item.name | highlight: $select.search"></div>
            </mp-data-seeker>
          </div>
          <div class="col-sm-4 mt-xs-2 mt-sm-0">
            <mp-data-seeker
              behavior="{label:'Diagnóstico', placeholder:'Agregar diagnóstico por nombre o CIE10', matchField:'name'}"
              m-data-source="getListDiagnostic($inputNeed)"
              ng-model="formData.newItem.diagnostico"
              ng-required="false"
              name="mDiagnostic">
              <div ng-bind-html="$item.name | highlight: $select.search"></div>
            </mp-data-seeker>
          </div>
          <div class="col-sm-4 mt-xs-2 mt-sm-0">
            <m-Numeric-Textbox 
                label="{label: 'Suma Asegurada', required: true}"
                name="nSumaAsegurada"
                ng-model="formData.newItem.sumaAsegurada"
                options="optionsMoney"
                ng-required="true">
            </m-Numeric-Textbox >
          </div>
        </div>
      </div>
      <div class="col-xs-12 g-title-btn-row mt-xs-2 mt-sm-0">
        <div class="g-title-btn-col mt-xs-2">
          <button class="g-btn g-btn-white second-design block" ng-click="mostrarCrearRegistro()">Cancelar</button>
        </div>
        <div class="g-title-btn-col mt-xs-2">
          <button class="g-btn g-btn-verde second-design block" ng-click="crearSumaAsegurada()" ng-disabled="!frmNuevaSumaAsegurada.$valid">Registrar</button>
        </div>
      </div>
    </div>
  </form>
</div>