<div class="col-md-4">
	<mpf-input class="g-polizagrupo-input" label="{label: 'Código de póliza de grupo', required: false}" name="nCodPolizaGrupo" ng-model="$ctrl.data.groupPolize"  mpf-validation="onlyNumber" ></mpf-input>
	<a class="g-btn g-btn-transparent g-btn-mini" ng-click="$ctrl.searchGroupPolize($ctrl.data.groupPolize)"><span class="ico-mapfre_30_buscar"></span> Buscar código</a>
</div>
<div class="col-md-4">
	<div class="g-polizagrupo-error" ng-show="$ctrl.data.errorGroupPolize">
		<span class="ico-mapfre_37_informacion g-polizagrupo-error-ico"></span>El código que ingresaste no existe
		<span class="ico-mapfre_48_cerrar ico-cerrar" ng-click="$ctrl.closeGroupPolize()"></span>
	</div>
</div>
<div class="col-md-6 g-polizagrupo-resultado" ng-show="$ctrl.data.showGroupPolize">
	<span>{{$ctrl.data.groupPolizeDescription}}</span>
	<span class="ico-mapfre_48_cerrar ico-cerrar" ng-click="$ctrl.closeGroupPolize()"></span>
</div>