<wp-msg-box data-show-msg-error="$ctrl.isFrmRequire && !$ctrl.frmsValidationStates.general"></wp-msg-box>
<div data-ng-form="$ctrl.frmGeneralObj" class="pt-xs-2">
  <div class="container">
    <div class="row"><div class="col-md-12"><h2 class="g-sub-title">Lugar del siniestro</h2></div></div>
    <div class="row">
      <div class="col-md-3 mb-xs-2">
        <wp-cbo-departamento
          data-label="{label: 'Departamento', required: false}"
          data-ng-model="$ctrl.frm.tab1.depa"
          data-set-model-by-this-key="$ctrl.frm.codigoDepartamento"
          name="nDepartament"
        >
        </wp-cbo-departamento>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nDepartament.$invalid && !$ctrl.frmGeneralObj.nDepartament.$pristine">
          Este campo es obligatorio
        </div>
      </div>
      <div class="col-md-3 mb-xs-2">
        <wp-cbo-provincia
          data-depa="$ctrl.frm.tab1.depa"
          data-label="{label: 'Provincia', required: false}"
          data-ng-model="$ctrl.frm.tab1.prov"
          data-set-model-by-this-key="$ctrl.frm.codigoProvincia"
          name="nProvincia"
        >
        </wp-cbo-provincia>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nProvincia.$invalid && !$ctrl.frmGeneralObj.nProvincia.$pristine">
          Este campo es obligatorio
        </div>
      </div>
      <div class="col-md-3 mb-xs-2">
        <wp-cbo-distrito
          data-depa="$ctrl.frm.tab1.depa"
          data-label="{label: 'Distrito', required: false}"
          data-ng-model="$ctrl.frm.tab1.dist"
          data-prov="$ctrl.frm.tab1.prov"
          data-set-model-by-this-key="$ctrl.frm.codigoDistrito"
          name="nDistrito"
        >
        </wp-cbo-distrito>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nDistrito.$invalid && !$ctrl.frmGeneralObj.nDistrito.$pristine">
          Este campo es obligatorio
        </div>
      </div>
      <div class="col-md-3 mb-xs-2">
        <wp-cbo-tipo-via
          data-label="{label: 'Tipo de vía', required: false}"
          data-ng-model="$ctrl.frm.tab1.via"
          data-option-default="{enterData: true}"
          data-set-model-by-this-key="$ctrl.frm.codigoTipoVia"
          name="nTipoVia"
        >
        </wp-cbo-tipo-via>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nTipoVia.$invalid && !$ctrl.frmGeneralObj.nTipoVia.$pristine">
          Este campo es obligatorio
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-xs-2">
        <mpf-input
          data-ng-maxlength="100"
          data-ng-model="$ctrl.frm.nombreVia"
          label="{label: 'Nombre de vía', required: false}"
          name="nNombreVia"
        >
        </mpf-input>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nNombreVia.$invalid && !$ctrl.frmGeneralObj.nNombreVia.$pristine">
          Este campo es obligatorio
        </div>
      </div>
      <div class="col-md-6 mb-xs-2">
        <mpf-input
          data-ng-maxlength="400"
          data-ng-model="$ctrl.frm.referenciaVia"
          label="{label: 'Referencia lugar del accidente', required: false}"
          name="nNombreVia"
        >
        </mpf-input>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nNombreVia.$invalid && !$ctrl.frmGeneralObj.nNombreVia.$pristine">
          Este campo es obligatorio
        </div>
      </div>
    </div>
  </div>
  <div class="g-border-bottom mt-xs-3 mt-md-5"></div>
  <div class="container">
    <div class="row mt-xs-3 mt-md-5">
      <div class="col-md-12"><h2 class="g-sub-title">Información detallada del siniestro</h2></div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-xs-2">
        <mpf-datepicker
          data-format="$ctrl.dateFormat"
          data-ng-model="$ctrl.objMock1"
          data-ng-required="true"
          data-parsear-to-date="true"
          data-readonly="false"
          data-set-max-today="true"
          data-set-model-by-this-data="$ctrl.frm.fechaSiniestro"
          label="{label: 'Fecha del siniestro:', required: true}"
          name="nSiniestroFecha"
        >
        </mpf-datepicker>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nSiniestroFecha.$invalid && !$ctrl.frmGeneralObj.nSiniestroFecha.$pristine">
          Este campo es obligatorio
        </div>
      </div>
      <div class="col-md-3 mb-xs-2">
        <mpf-timepicker
          data-is-hh-mm="true"
          data-is-read-only="false"
          data-label-data="{label: 'Hora del siniestro', required: true}"
          data-modelo="$ctrl.frm.horaSiniestro"
          data-requerido="true"
          name="nsiniestroHora"
        >
        </mpf-timepicker>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nsiniestroHora.$invalid && !$ctrl.frmGeneralObj.nsiniestroHora.$pristine">
          Este campo es obligatorio
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-xs-2">
        <wp-cbo-tipo-siniestro
          data-ng-disabled="$ctrl.statusBlock.blockByGenerado"
          data-label="{label: 'Tipo del Siniestro', required: true}"
          data-ng-change="$ctrl.changeTipoSiniestro()"
          data-ng-model="$ctrl.frm.tab1.siniestroTipo"
          data-option-default="{enterData: true}"
          data-set-model-by-this-key="$ctrl.frm.codigoTipoSiniestro"
          name="nTipoSiniestro"
        >
        </wp-cbo-tipo-siniestro>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nTipoSiniestro.$invalid && !$ctrl.frmGeneralObj.nTipoSiniestro.$pristine">
          Este campo es obligatorio
        </div>
      </div>
      <div class="col-md-6 mb-xs-2" data-ng-class="{'u-msk-block': $ctrl.statusBlock.blockByGenerado}">
        <div class="row">
          <div class="col-md-12" data-ng-if="$ctrl.frm.tab1.siniestroTipo.codigoValor === '2'">
            <div class="col-md-12">
              <span class="g-label">Seleccione detalles del tipo de siniestro*</span>
            </div>
            <div class="row g-box2">
              <div
                class="col-md-4 col-sm-4 col-xs-6 tipo-siniestro-item"
                data-ng-repeat="item in $ctrl.frm.tab1.lstDetalleSiniestroPorChoque"
              >
                <span
                  class="g-radio u-cursor--pointer"
                  data-ng-click="$ctrl.onChangeLstDetalleSiniestroPorChoque(item)"
                  data-ng-class="{active: $ctrl.frm.tab1.rbDetaSiniestroPorChoque == item.id}"
                >
                  <span class="ico-radio"></span>
                  <input
                    type="radio"
                    data-ng-model="$ctrl.frm.tab1.rbDetaSiniestroPorChoque"
                    value="{{item.id}}"
                    data-ng-checked="$ctrl.frm.tab1.rbDetaSiniestroPorChoque == item.id"
                  >
                  {{item.label}}
                </span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 tipo-siniestro-item u-ph-0">
                <div class="u-pl--13 wp-check__lst">
                  <label class="chk__lbl">
                    <input
                      class="chk__input"
                      data-ng-change="$ctrl.onSeleccionRoturaLuna()"
                      data-ng-model="$ctrl.frm.tab1.roturaLuna"
                      name="nRoturaLuna"
                      type="checkbox"
                    >
                    <span class="chk__ico"></span>
                    <span class="chk__txt">
                      Rotura luna
                    </span>
                  </label>
                </div>
              </div>
              <div
                class="g-error"
                data-ng-show="$ctrl.frmGeneralObj.nDetalleTipoSiniestro.$invalid && !$ctrl.frmGeneralObj.nDetalleTipoSiniestro.$pristine">
                Este campo es obligatorio
              </div>
            </div>
            <div
              class="g-error col-xs-12"
              data-ng-show="$ctrl.frmGeneralObj.nExpediente.$invalid && !$ctrl.frmGeneralObj.nExpediente.$pristine">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col-md-12" data-ng-if="$ctrl.frm.tab1.siniestroTipo.codigoValor === '1'">
            <div class="clearfix"><span class="g-label">Seleccione detalles del tipo de siniestro*</span></div>
            <div class="row g-box2">
              <div
                class="mb-xs-1 col-xs-6 col-sm-4 wp-check__lst"
                data-ng-repeat="item in $ctrl.frm.tab1.lstDetalleSiniestroPorRobo">
                <label class="chk__lbl">
                  <input
                    class="chk__input"
                    data-checklist-change="$ctrl.onChangeLstDetalleSiniestroPorRobo(item)"
                    data-checklist-model="$ctrl.frm.tab1.lstSelDetaSiniestroPorRobo"
                    data-checklist-value="item.id"
                    type="checkbox"
                  >
                  <span class="chk__ico"></span>
                  <span class="chk__txt">
                    {{item.label}}
                  </span>
                </label>
              </div>
            </div>
            <div
              class="g-error col-xs-12"
              data-ng-show="$ctrl.frmGeneralObj.nExpediente.$invalid && !$ctrl.frmGeneralObj.nExpediente.$pristine">
              Este campo es obligatorio
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-xs-2">
        <mpf-input
          data-ng-disabled="true"
          data-ng-required="true"
          data-ng-model="$ctrl.frm.expediente"
          label="{label: 'Expediente', required: false}"
          name="nExpediente"
        >
        </mpf-input>
      </div>
    </div>
  </div>
  <div class="g-border-bottom mt-xs-3 mt-md-5"></div>
  <div class="container">
    <div class="row mt-xs-3 mt-md-5">
      <div class="col-md-12"><h2 class="g-sub-title">Detalles de denuncia</h2></div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 mb-xs-2 col-md-push-3">
        <div class="row">
          <div class="col-md-12"><span class="g-label">¿Hay exoneración de denuncia / dosaje?*</span></div>
          <div class="col-xs-3 col-sm-4 col-md-6 mt-xs-1">
            <m-radio
              data-is-input-boolean="true"
              data-ng-model="$ctrl.frm.exoneraDenuncia"
              data-ng-change="$ctrl.changeExoneracionDenunciaDosaje()"
              data-ng-required="true"
              label="{label: 'Sí'}"
              name="nExoneracionDenuncia"
              value="true"
            >
            </m-radio>
          </div>
          <div class="col-xs-3 col-sm-4 col-md-6 mt-xs-1">
            <m-radio
              data-is-input-boolean="true"
              data-ng-change="$ctrl.changeExoneracionDenunciaDosaje()"
              data-ng-model="$ctrl.frm.exoneraDenuncia"
              data-ng-required="true"
              label="{label: 'No'}"
              name="nExoneracionDenuncia"
              value="false"
            >
            </m-radio>
          </div>
          <div
            class="g-error col-xs-12"
            data-ng-show="$ctrl.frmGeneralObj.nExoneracionDenuncia.$invalid && !$ctrl.frmGeneralObj.nExoneracionDenuncia.$pristine">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-xs-2 col-md-pull-4">
        <div class="row mb-xs-2">
          <div class="col-md-12"><span class="g-label">¿Existe denuncia del siniestro?</span></div>
          <div class="col-xs-3 col-sm-4 col-md-6 mt-xs-1 mt-md-1">
            <m-radio
              data-is-input-boolean="true"
              data-ng-model="$ctrl.frm.existeDenuncia"
              label="{label: 'Sí'}"
              name="nDenunciaSiniestro"
              value="true"
            >
            </m-radio>
          </div>
          <div class="col-xs-3 col-sm-4 col-md-6 mt-xs-1 mt-md-1">
            <m-radio
              data-is-input-boolean="true"
              data-ng-model="$ctrl.frm.existeDenuncia"
              label="{label: 'No'}"
              name="nDenunciaSiniestro"
              value="false"
            >
            </m-radio>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-ng-if="($ctrl.frm.existeDenuncia + '') == 'true'">
      <div class="col-sm-6 col-md-3 mb-xs-2">
        <wp-cbo-distrito
          data-depa="$ctrl.frm.tab1.depa"
          data-label="{label: 'Distrito de la comisaría', required: false}"
          data-ng-model="$ctrl.frm.tab1.comisariaDistrito"
          data-prov="$ctrl.frm.tab1.prov"
          data-set-model-by-this-key="$ctrl.frm.codigoDistritoComisaria"
          name="nComisariaDistrito"
        >
        </wp-cbo-distrito>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nComisariaDistrito.$invalid && !$ctrl.frmGeneralObj.nComisariaDistrito.$pristine">
          Este campo es obligatorio
        </div>
        <div
          class="g-error"
          data-ng-show="!$ctrl.frm.codigoDepartamento && !$ctrl.frmGeneralObj.nComisariaDistrito.$pristine">
          Primero elige un departamento
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-xs-2" data-ng-if="!$ctrl.showRegistroInputComisaria">
        <wp-cbo-comisaria
          data-depa="$ctrl.frm.codigoDepartamento"
          data-dist="$ctrl.frm.codigoDistritoComisaria"
          data-label="{label: 'Comisaría', required: false}"
          data-ng-model="$ctrl.frm.tab1.comisariaNombre"
          data-prov="$ctrl.frm.codigoProvincia"
          data-set-model-by-this-key="$ctrl.frm.codigoComisaria"
          name="nComisaria"
        >
        </wp-cbo-comisaria>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nComisaria.$invalid && !$ctrl.frmGeneralObj.nComisaria.$pristine">
          Este campo es obligatorio
        </div>
        <div
          class="mt-md-1 text-right"
          data-ng-hide="$ctrl.frm.codigoDepartamento === 15 || $ctrl.frm.codigoDepartamento === 7"
        >
          <a
            class="g-link green u-display--inline u-txt-size--8em"
            data-ng-click="$ctrl.toggleComisariaManual(true)"
          >
            Comisaría no registrada
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 mb-xs-2" data-ng-if="$ctrl.showRegistroInputComisaria">
        <mpf-input
          data-ng-model="$ctrl.frm.comisariaNoRegistrada"
          label="{label: 'Comisaría', required: false}"
          name="nComisariaNoRegistrada"
          data-ng-disabled="$ctrl.frm.codigoDepartamento === 15 || $ctrl.frm.codigoDepartamento === 7"
        >
        </mpf-input>
        <div class="mt-md-1 text-right">
          <a
            class="g-link green u-display--inline u-txt-size--8em"
            data-ng-click="$ctrl.toggleComisariaManual(false)"
          >
            Buscar comisarías registradas
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="g-border-bottom mt-xs-3 mt-md-5"></div>
  <div class="container pb-xs-4">
    <div class="row mt-xs-3 mt-md-5">
      <div class="col-md-12"><h2 class="g-sub-title">Detalles de atención</h2></div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-xs-2">
        <wp-cbo-lugar-atencion
          data-label="{label: 'Lugar de Atención', required: true}"
          data-ng-model="$ctrl.frm.tab1.codigoLugarAtencion"
          data-option-default="{enterData: true}"
          data-set-model-by-this-key="$ctrl.frm.codigoLugarAtencion"
          name="nLugarAtencion"
        >
        </wp-cbo-lugar-atencion>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nLugarAtencion.$invalid && !$ctrl.frmGeneralObj.nLugarAtencion.$pristine">
          Este campo es obligatorio
        </div>
      </div>
      <div class="col-md-6 mb-xs-2">
        <mpf-input
          data-ng-model="$ctrl.frm.lugarAtencion"
          label="{label: 'Lugar de accidente', required: false}"
          name="nOtroLugarAtencion"
        >
        </mpf-input>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmGeneralObj.nOtroLugarAtencion.$invalid && !$ctrl.frmGeneralObj.nOtroLugarAtencion.$pristine">
          Este campo es obligatorio
        </div>
      </div>
    </div>
    <div class="row pb-xs-4">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 mb-xs-2 u-h-xs--65-55">
            <mpf-input
              data-atrn-length="20"
              data-mpf-validation="onlyNumberNoSpace"
              data-ng-maxlength="20"
              data-ng-model="$ctrl.frm.numeroTelefono"
              label="{label: 'Teléfono', required: false}"
              name="nAtencionTelefono"
            >
            </mpf-input>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmGeneralObj.nAtencionTelefono.$invalid && !$ctrl.frmGeneralObj.nAtencionTelefono.$pristine">
              Ingrese un dato válido
            </div>
          </div>
          <div class="col-md-6 mb-xs-2 u-h-xs--65-55">
            <mpf-datepicker
              data-format="$ctrl.dateFormat"
              data-ng-model="$ctrl.objMock2"
              data-ng-required="true"
              data-parsear-to-date="true"
              data-readonly="false"
              data-set-model-by-this-data="$ctrl.frm.fechaAtencion"
              label="{label: 'Fecha de atención:', required: true}"
              name="nAtencionFecha"
            >
            </mpf-datepicker>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmGeneralObj.nAtencionFecha.$invalid && !$ctrl.frmGeneralObj.nAtencionFecha.$pristine">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-xs-2">
            <mpf-timepicker
              data-is-hh-mm="true"
              data-is-read-only="false"
              data-label-data="{label: 'Hora inicio de atención', required: true}"
              data-modelo="$ctrl.frm.horaInicioAtencion"
              data-requerido="true"
              name="nAtencionInicioHora"
            >
            </mpf-timepicker>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmGeneralObj.nAtencionInicioHora.$invalid && !$ctrl.frmGeneralObj.nAtencionInicioHora.$pristine">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-xs-2">
            <mpf-timepicker
              data-is-hh-mm="true"
              data-is-read-only="false"
              data-label-data="{label: 'Hora fin de atención', required: true}"
              data-modelo="$ctrl.frm.horaFinAtencion"
              data-requerido="true"
              name="nAtencionFinHora"
            >
            </mpf-timepicker>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmGeneralObj.nAtencionFinHora.$invalid && !$ctrl.frmGeneralObj.nAtencionFinHora.$pristine">
              Este campo es obligatorio
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 g-box2 noti-siniestro">
        <div class="col-md-12">
          <h3 class="g-sub-title2">
            <span class="ico-mapfre_141_notisiniestro ico-mapfre ico-info"></span>Notisiniestro Información
          </h3>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12"><span class="g-label">Llamada</span></div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <p>
                <span class="ico-mapfre_140_reloj ico-mapfre"></span>
                {{$ctrl.frm.horaLlamado | date:'h:mma'}}
              </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <p>
                <span class="ico-mapfre_127_calendar3 ico-mapfre"></span>
                {{$ctrl.frm.fechaLlamado | date:'dd/MM/yyyy'}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12"><span class="g-label">Quién llamó</span></div>
            <div class="col-md-12"><p>{{$ctrl.frm.quienLlamo}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
