<div class="container g-bg--black3 pt-xs-2 pb-xs-2 pl-xs-3 pr-xs-3 h-br--5">
    <div class="row">
        <div class="col-md-8">
            <div class="gH6 gCWhite1">{{$ctrl.config.titleCard}}</div>
            <div class="gH5 gCWhite1">{{$ctrl.card.title || '-'}}</div>
        </div>
        <div class="col-md-4 mt-xs-2 mt-md-0">
            <div class="d-flex align-items-center justify-content-space-between">
                <div class="g-cursor-pointer" ng-click="$ctrl.onSectionAddclick()">
                    <span class="ico-mapfre_345_myd-edit g-cl--green"></span>
                </div>
                <div class="g-cursor-pointer" ng-click="$ctrl.onSectionRemoveclick()">
                    <span class="ico-mapfre-363-myd-eliminar gCWhite1"></span>
                </div>
                <div>
                    <span class="gCWhite1">{{$ctrl.card.active ? 'Habilitada' : 'Inhabilitada'}}</span>
                    <mpf-checkbox-toggle style="transform: scale(.8);" ng-model="$ctrl.card.active" label=""
                        ng-change="$ctrl.fnCheckBox($ctrl.card)"></mpf-checkbox-toggle>
                </div>
                <div class="gCWhite1 d-flex">
                    <span class="ico-mapfre_283_circleleft mr-md-1 g-cursor-pointer"
                        ng-class="{'text-muted ': !$ctrl.card.orderUp}" style="font-size: 20px;
                    transform: rotate(90deg)" ng-click="$ctrl.onSectionOrderclick(true);"></span>
                    <span class="ico-mapfre_283_circleleft g-cursor-pointer"
                        ng-class="{'text-muted ': !$ctrl.card.orderDown}" style="font-size: 20px;
                    transform: rotate(-90deg)" ng-click="$ctrl.onSectionOrderclick(false);"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-transclude></div>