<div class="card-item-header flex-lg-row flex-md-row">
    <div class="card-item-header-left">
        <span class="card-item-header-subtitle">Titulo de la etiqueta</span>
        <span class="card-item-header-title">{{$ctrl.card.title}}</span>
    </div>
    <div class="card-item-header-rigth">
        <div class="card-item-header-action-1 g-cursor-pointer" ng-click="$ctrl.onSectionAddclick()">
            <span class="ico-mapfre_345_myd-edit" style="color: #749806;"></span>
        </div>
        <div class="card-item-header-action-2 g-cursor-pointer" ng-click="$ctrl.onSectionRemoveclick()">
            <span class="ico-mapfre-363-myd-eliminar"></span>
        </div>
        <div class="card-item-header-action-3" style="align-items: center;">
            <mpf-checkbox-toggle style="transform: scale(.8);" ng-model="$ctrl.card.active" label=""
                ng-change="$ctrl.fnCheckBox($ctrl.card)"></mpf-checkbox-toggle>
            <span class="ico-mapfre_283_circleleft mr-md-1 g-cursor-pointer" ng-class="{'text-muted ': !$ctrl.card.orderUp}" style="font-size: 20px;
            transform: rotate(90deg)" ng-click="$ctrl.onSectionOrderclick(true);"></span>
            <span class="ico-mapfre_283_circleleft g-cursor-pointer" ng-class="{'text-muted ': !$ctrl.card.orderDown}" style="font-size: 20px;
            transform: rotate(-90deg)" ng-click="$ctrl.onSectionOrderclick(false);"></span>
        </div>
    </div>
</div>
<div class="card-item-transclude flex-lg-row flex-md-row" ng-transclude></div>