<div class="clearfix">
	<button type="button" class="close g-close-modal" ng-click="close()">
		<span class="ico-mapfre_46_cancelaroff"></span>
	</button>
	<div class="container">
		<form name="frmConsultaLiquid">
			<div class="container">
	      <div class="row">
	        <div class="col-md-12 g-text-center-xs mb-xs-2">
	          <h2 class="gH3"><b>CONSULTA</b></h2>
	        </div>
	      </div>
	    </div>
	    <div class="container">
	    	<div class="row" ng-if="!message">
					<div class="col-md-10 mb-md-2 col-md-offset-1">
					
						<mpf-textarea label="{label:'Escriba sus consultas:', required: false}" ng-model="frmConsultaLiquid.mConsultaText" name="nConsultaText" ng-required="true" ng-Maxlength="400"></mpf-textarea>

					</div>
					<div class="col-md-10 mb-md-2 col-md-offset-1 g-error" ng-if="error">
						<p class="text-center mb-xs-0">Debe seleccionar alguna liquidación</p>
					</div>
					<!-- <div class="col-md-12 text-center"> -->
					<div class="col-md-10 col-md-offset-1 mt-md-2"">
						<button ng-click="enviar()" class="g-btn g-btn-verde block">Enviar</button>
					</div>
					<div class="col-md-10 col-md-offset-1 mt-md-2"">
						<button ng-click="limpiar()" class="g-btn g-btn-transparent block">Limpiar</button>
					</div>
				</div>			
				<div class="clearfix" ng-if="message">
					<div class="col-md-12 mb-md-1 text-center"> <h2 class="g-txt-center g-title-modal">CONSULTA</h2> </div>
					<div class="row mb-xs-3">
						<p class="text-center mb-xs-0">Se ha enviado el correo correctamente a su gestor de cobranza</p>
					</div>
					<div class="row mb-xs-3">
						<div class="col-md-4 col-md-offset-4">
							<a class="g-btn g-btn-transparent block" ng-click="close()">Cerrar</a>
						</div>
					</div>
				</div>
	    </div>
		</form>
	</div>
</div>