<section class="g-page page-inspeccion-autos page-inspeccion-autos__programaciones g-ui-view">
  <div fixed-section class="g-title" ng-class="{'fixed-section': boolChangeClass}">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-sm-5 col-md-9 no-mb-sm">
          <h1>Reglas de Asignación</h1>
        </div>
        <div class="col-md-3 col-xs-12 mt-xs-1 mt-md-0">
          <a href class="g-btn g-btn-verde block" ng-click="$ctrl.showModal()">AGREGAR REGLA</a>
        </div>
      </div>
    </div>
  </div>

  <div class="g-section-inner">
    <div class="container">
      <div class="row">
        <!-- Filtro -->
        <div class="col-md-3 mb-md-2">
          <form action="" name="frmDocuments">
            <div
              show-filter
              class="clearfix g-col-filter g-box-md fz14 gBgcGray5-md gBgcWhite1 g-myd-box g-myd-box--filter"
              ng-class="{'show': isFilterVisible}"
            >
              <div class="col-md-12 mb-xs-3 gH4 gCGray1">
                <h2 class="pb-xs-1 g-border-bottom-xs hidden-xs hidden-sm"><b>Filtro</b></h2>
                <div
                  id="show-filter"
                  class="row pt-xs-2 pb-xs-2 gBgcGray5 g-border-bottom-xs hidden-md hidden-lg"
                  ng-click="toggleFilter();"
                >
                  <div class="col-xs-10"><h2 class="cnt-title">Filtro</h2></div>
                  <div class="col-xs-2 g-text-right-xs">
                    <span class="glyphicon glyphicon-chevron-down" ng-if="isFilterVisible"></span>
                    <span class="glyphicon glyphicon-chevron-up" ng-if="!isFilterVisible"></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="g-col-filter__box">
                <div class="col-md-12 mb-xs-2">
                  <mpf-select
                    label="{label: 'Proveedor', required: true}"
                    name="nProvider"
                    ng-model="$ctrl.query.mProvider"
                    m-data-source="$ctrl.providers"
                    m-Empty-Option="{enterData:true}"
                    text-Field="providerName"
                    value-Field="documentCode"
                  ></mpf-select>
                </div>
                <div class="col-md-12 mb-xs-2">
                  <mp-data-seeker
                    behavior="{label:'Agente ', matchField:'CodigoNombre', placeholder: 'Ingresa nombre o código de agente'}"
                    m-data-source="$ctrl.getAgents($inputNeed)"
                    ng-model="$ctrl.query.mAgent"
                    name="nAgent"
                  >
                    <div ng-bind-html="$item.CodigoNombre | highlight: $select.search"></div>
                  </mp-data-seeker>
                </div>
                <inspec-ubigeo data="$ctrl.query.mUbigeo" fullwidth="true" not-required="true"></inspec-ubigeo>
                <div class="col-md-12 mb-xs-1">
                  <a href class="g-btn g-btn-verde block" ng-click="$ctrl.filter()">Filtrar</a>
                </div>
                <div class="col-md-12">
                  <a href class="g-btn g-btn-transparent block" ng-click="$ctrl.clearData()">Limpiar</a>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Resultados -->
        <div class="col-md-9 mb-xs-2">
          <!-- Mensaje de error si no hay resultados -->
          <div class="col-md-12 text-center g-box-noresult" ng-if="$ctrl.noResult">
            <div class="row">
              <div class="col-md-12 g-box-noresult-ico gCRed1"><span class="ico-mapfre_302_error"></span></div>
              <div class="col-md-12 g-box-noresult-text">
                No hay resultados para los filtros escogidos.<br />Intente nuevamente.
              </div>
            </div>
          </div>

          <div
            class="clearfix g-list-md g-box gBgcGray5 pt-xs-1 g-row-fz12 mb-xs-1"
            ng-if="!$ctrl.noResult"
            ng-repeat="rule in $ctrl.rules"
          >
            <!-- header -->
            <div class="col-md-10 g-col-md middle">
              <ul class="row">
                <li class="col-md-4 clearfix cnt-item">
                  <div class="col-xs-5 item-label">
                    Tipo doc.:
                  </div>
                  <div class="col-xs-7 item-dato g-text-uppercase">
                    {{ rule.providerDocumentTypeCode }}
                  </div>
                </li>
                <li class="col-md-4 clearfix cnt-item">
                  <div class="col-md-6 col-xs-5 item-label">
                    Agente:
                  </div>
                  <div class="col-md-6 col-xs-7 item-dato g-text-uppercase">
                    {{ rule.agent }}
                  </div>
                </li>
                <li class="col-md-4 clearfix cnt-item">
                  <div class="col-xs-5 item-label">
                    Distrito:
                  </div>
                  <div class="col-xs-7 item-dato g-text-uppercase">
                    {{ rule.district }}
                  </div>
                </li>
              </ul>
              <ul class="row">
                <li class="col-md-4 clearfix cnt-item">
                  <div class="col-xs-5 item-label">
                    Nro doc.:
                  </div>
                  <div class="col-xs-7 item-dato g-text-uppercase">
                    {{ rule.providerDocument }}
                  </div>
                </li>
                <li class="col-md-4 clearfix cnt-item">
                  <div class="col-md-6 col-xs-5 item-label">
                    Departamento:
                  </div>
                  <div class="col-md-6 col-xs-7 item-dato g-text-uppercase">
                    {{ rule.department }}
                  </div>
                </li>
                <li class="col-md-4 clearfix cnt-item">
                  <div class="col-xs-5 item-label">
                    Estado:
                  </div>
                  <div class="col-xs-7 item-dato g-text-uppercase">
                    {{ rule.status }}
                  </div>
                </li>
              </ul>
              <ul class="row">
                <li class="col-md-4 clearfix cnt-item">
                  <div class="col-xs-5 item-label">
                    Cod. agente:
                  </div>
                  <div class="col-xs-7 item-dato g-text-uppercase">
                    {{ rule.agentId }}
                  </div>
                </li>
                <li class="col-md-4 clearfix cnt-item">
                  <div class="col-md-6 col-xs-5 item-label">
                    Provincia:
                  </div>
                  <div class="col-md-6 col-xs-7 item-dato g-text-uppercase">
                    {{ rule.province }}
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-2 g-col-md middle gCGray3 g-text-center-xs">
              <div class="row g-row">
                <li class="col-xs-4 g-col-xs middle cnt-item add-border-left">
                  <a class="h-myd--none" ng-click="$ctrl.showModal(rule)">
                    <span class="gnIcon-md ico-mapfre_228_editar"></span>
                  </a>
                  <a
                    class="ico-mapfre_345_myd-edit ico-mapfre h-myd--show h-oim-none h-myd-color--green h-myd-ico--large"
                    ng-click="$ctrl.showModal(rule)"
                  ></a>
                </li>
                <li class="col-xs-6 col-sm-1 clearfix cnt-item gnIcon-md g-text-center-xs">
                  <a class="h-myd--none" ng-click="$ctrl.deleteRule(rule)">
                    <span class="gnIcon-md ico-mapfre_307_tacho"></span>
                  </a>
                  <a
                    class="ico-mapfre-363-myd-eliminar ico-mapfre h-myd--show h-oim-none h-myd-color--green h-myd-ico--large"
                    ng-click="$ctrl.deleteRule(rule)"
                  ></a>
                </li>
              </div>
            </div>
          </div>
          <!-- Fin: Resultados -->
          <div class="row" ng-if="$ctrl.pagination.totalRecords > $ctrl.pagination.maxSize && !$ctrl.noResult">
            <div class="col-md-12">
              <ul
                uib-pagination
                class="g-pagination"
                ng-model="$ctrl.pagination.currentPage"
                max-size="$ctrl.pagination.maxSize"
                total-items="$ctrl.pagination.totalRecords"
                ng-change="$ctrl.pageChanged()"
                boundary-link-numbers="true"
              ></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
