<section>
  <form name="grabar">
    <div class="g-title">
      <div class="container">
        <div class="row ">
          <!-- <div class="col-md-6 ">
                    <h3 style="font-weight: 600;">Generar Referencia</h2>
                </div> -->
          <div class="col-md-10 ">
            <p style="font-weight: bold; font-size: 25px;">Generar Referencia</p>
          </div>
          <div class="col-md-1">
            <a class=" gCGray3 glyphicon glyphicon-remove" style="margin-left: 20px; margin-top: 10px;"
              ng-click="$ctrl.cerrar()"></a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12 mb-xs-2">
            <mpf-input label="{label: 'Observaciones', required: false}" name="nObservaciones"
              ng-model="$ctrl.observaciones" ng-required="true">
            </mpf-input>
          </div>
          <div class="col-md-12 mb-xs-2">
            <mpf-input label="{label: 'Otros requerimientos', required: false}" name="nRequerimientos"
              ng-model="$ctrl.requerimientos" ng-required="false">
            </mpf-input>
          </div>
          <div class="col-md-6 col-sm-4 mb-xs-1 no-mb-sm">
            <a ng-click="$ctrl.cerrar()" class="g-btn g-btn-white second-design block">Cancelar</a>
          </div>
          <div class="col-md-6 col-sm-4">
            <button class="g-btn g-btn-verde second-design block"
              ng-click="$ctrl.generarRef(); $ctrl.dwLoadPDF()">Generar referencia</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>