<section class="">
  <button type="button" class="close g-close-modal" ng-click="vm.dismiss()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <form name="frmRegistro">
    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>Nueva plantilla</b></h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 mb-xs-2">
            <mpf-input label="{label: 'Código compañia', required: true}" name="nCodigoCompania"
              ng-model="vm.item.CodigoCompania" ng-required="true" mpf-validation="onlyNumber"></mpf-input>
            <ul class="g-error">
              <li ng-show="frmRegistro.nCodigoCompania.$invalid && !frmRegistro.nCodigoCompania.$pristine">
                * Ingrese un Código de compañia
              </li>
            </ul>
          </div>
          <div class="col-md-12 mb-xs-2">
            <mpf-input label="{label: 'Código de ramo', required: true}" name="nCodigoRamo"
              ng-model="vm.item.CodigoRamo" ng-required="true" mpf-validation="onlyNumber"></mpf-input>
            <ul class="g-error">
              <li ng-show="frmRegistro.nCodigoRamo.$invalid && !frmRegistro.nCodigoRamo.$pristine">
                * Ingrese un Código de ramo
              </li>
            </ul>
          </div>
          <div class="col-md-12 mb-xs-2">
            <mpf-input label="{label: 'Nombre', required: true}" name="nNombre" ng-model="vm.item.Nombre"
              ng-required="true" ng-maxlength="250"></mpf-input>
            <ul class="g-error">
              <li ng-show="frmRegistro.nNombre.$invalid && !frmRegistro.nNombre.$pristine">
                * Ingrese un nombre
              </li>
            </ul>
          </div>
          <div class="col-md-12 mb-xs-2">
            <mpf-input label="{label: 'Descripción', required: true}" name="nDescripcion" ng-model="vm.item.Descripcion"
              ng-required="true" ng-maxlength="300"></mpf-input>
            <ul class="g-error">
              <li ng-show="frmRegistro.nDescripcion.$invalid && !frmRegistro.nDescripcion.$pristine">
                * Ingrese una descripción
              </li>
            </ul>
          </div>
          <div class="col-md-12 mb-xs-2">
            <div class="g-input-design"><label class="g-placeholder animated">Plantilla<span>*</span></label></div>
            <ng-quill-editor ng-model="vm.item.Template"><toolbar></toolbar></ng-quill-editor>
            <ul class="g-error">
              <li ng-show="frmRegistro.nPlantilla.$invalid && !frmRegistro.nPlantilla.$pristine">
                * Ingrese una plantilla
              </li>
            </ul>
            <div style="display: none;"><!-- se oculta para validar el formulario -->
              <mpf-input label="{label: '', required: true}" name="nPlantilla" ng-model="vm.item.Template"
              ng-required="true"></mpf-input>
            </div>
          </div>
        </div>
        <div class="row mt-xs-2">
          <div class="col-md-4 col-md-offset-2 mb-xs-1 no-mb-md">
            <a href="" class="g-btn g-btn-transparent block" ng-click="vm.close()">Cancelar</a>
          </div>
          <div class="col-md-4">
            <a href="" class="g-btn g-btn-verde block" ng-click="vm.saveDigitalBusiness()">Guardar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
