<section class="typeLoad lifeLaw g-section-inner">

	<div ng-form name="frmTypeLoad">

		<div class="container">
		
			<div class="row g-row">
				<div class="col-md-8 col-sm-8 col-ms-6 g-col-ms bottom mb-xs-1-5">
					<h2 class="g-sub-title c-red g-myd-subtitle">Planilla</h2>
				</div>
				<div class="col-md-4 col-sm-4 col-ms-6 g-col-ms bottom g-text-right-ms mb-xs-2">
					<a 
						href="javascript:void(0)" 
						class="gCGreen1 g-text-uppercase" 
						ng-click="$ctrl.replacePayroll.fnDownloadTemplateInsured()">
						<span class="g-icon">
							<span class="icon ico-mapfre_139_excel"></span>
							<span class="g-link"><b>Descargar Planilla</b></span>
						</span>
					</a>
				</div>
			</div>

			<div class="row mb-xs-1">
				<div class="col-md-3 col-sm-6 mb-xs-1">
					<a 
						href="javascript:void(0)" 
						class="g-btn g-btn-white block" 
						ng-class="{active: fnActiveTabPayroll('M')}" 
						ng-click="$ctrl.replacePayroll.fnClickTabPayroll('M', false)">
						Carga masiva
					</a>
				</div>
				<div class="col-md-3 col-sm-6 mb-xs-1">
					<a 
						href="javascript:void(0)" 
						class="g-btn g-btn-white block" 
						ng-class="{active: fnActiveTabPayroll('I')}" 
						ng-click="$ctrl.replacePayroll.fnClickTabPayroll('I', false)">
						Cargar individual
					</a>
				</div>
			</div>

			<div 
				class="row g-text-center-xs" 
				ng-if="fnActiveTabPayroll('M')">

				<div 
					class="col-md-4 col-sm-6" 
					ng-if="$ctrl.replacePayroll.selectMassiveLoad">
					
					<div class="clearfix g-box fz14 gBgcGray5 pt-xs-2 pb-xs-2">
						<div class="col-md-12 mb-xs-1">
							<span>Planilla en Excel</span>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<label class="g-btn g-btn-white second-design block g-btn-input-file">
								<span class="g-icon">
									<span class="icon icon-plus ico-mapfre_56_visitasalmedico"></span>
									<span>Escoger archivo</span>
								</span>
								<input 
									type="file" 
									data-show-preview="false" 
									id="iImportarPlanilla" 
									name="nImportarPlanilla" 
									file-model="$ctrl.replacePayroll.fmImportarPlanilla" 
									ng-model="$ctrl.replacePayroll.mImportarPlanilla" 
									ng-required="false" 
									custom-on-click="fnValidateRisks" 
									onclick="angular.element(this)[0].value=null;" 
									onchange="angular.element(this).scope().fnChangeLoadFile()">
							</label>
							<ul class="g-error g-text-left-xs">
								<li ng-show="$ctrl.replacePayroll.errorAttachFile">* Este campo es obligatorio</li>
							</ul>
						</div>
					</div>

				</div>

				<div 
					class="col-md-4 col-sm-6" 
					ng-if="!$ctrl.replacePayroll.selectMassiveLoad">
					<div class="clearfix g-box fz14 gBgcGray5 pt-xs-2 pb-xs-2">
						<div class="col-md-12 mb-xs-0-5">
							<span class="ico-mapfre_314_archivos gnIcon-lg gCGray3"></span>
						</div>
						<div class="col-md-12">
							<b>{{$ctrl.replacePayroll.nameMassiveLoad}}</b>
						</div>
						<div class="col-md-12 mb-xs-1">
							Planilla cargada exitosamente
						</div>
						<div class="col-sm-12">
							<label class="g-btn-input-file">
								<span class="g-icon gCGreen1">
									<span class="icon ico-mapfre_311_arrowRight"></span>
									<span class="g-link"><b>Volver a cargar documento</b></span>
								</span>
								<input 
									type="file" 
									data-show-preview="false" 
									id="iImportarPlanilla" 
									name="nImportarPlanilla" 
									file-model="$ctrl.replacePayroll.fmImportarPlanilla" 
									ng-model="$ctrl.replacePayroll.mImportarPlanilla" 
									ng-required="false" 
									onclick="angular.element(this)[0].value=null;" 
									onchange="angular.element(this).scope().fnChangeLoadFile()">
							</label>
						</div>
					</div>
				</div>

			</div>

			<div 
			class="row" 
			ng-if="fnActiveTabPayroll('I')">
				<ul class="col-md-12">
					<li 
						class="clearfix g-box pt-xs-1 mb-xs-1 g-relative" 
						ng-repeat="itemWorker in $ctrl.replacePayroll.itemWorkers">
						<ul class="clearfix">
							<li class="col-md-1 mb-xs-2">
								<span class="g-placeholder block mb-xs-2">Nro. Fila</span>
								<span class="g-placeholder block">{{$index + 1}}</span>
							</li>
							<li class="col-md-2 mb-xs-2">
								<mpf-select 
									label="{label: 'Tipo de documento', required: true}" 
									name="nTipoDocumento{{$index}}" 
									ng-model="itemWorker.mTipoDocumento" 
									m-data-source="$ctrl.replacePayroll.documentTypeData" 
									text-field="typeDescription" 
									value-field="typeId" 
									m-Empty-Option="{enterData:true}" 
									ng-required="true" 
									ng-change="fnChangeDocumentType(itemWorker)">
								</mpf-select>
								<ul class="g-error">
									<li ng-show="frmTypeLoad.nTipoDocumento{{$index}}.$invalid && !frmTypeLoad.nTipoDocumento{{$index}}.$pristine">* Seleccione un tipo de documento</li>
								</ul>
							</li>
							<li class="col-md-2 mb-xs-2">
								<mpf-input 
									label="{label: 'Nro. Documento', required: true}" 
									name="nNroDocumento{{$index}}" 
									ng-model="itemWorker.mNroDocumento.model" 
									mpf-validation="{{itemWorker.mNroDocumento.FIELD_TYPE}}" 
									mpf-validation-disabled="{{itemWorker.mNroDocumento.FIELD_TYPE_DISABLED}}" 
									ng-maxlength="itemWorker.mNroDocumento.MAX_LENGTH" 
									ng-required="true">
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmTypeLoad.nNroDocumento{{$index}}.$viewValue && (frmTypeLoad.nNroDocumento{{$index}}.$error.onlyNumber || frmTypeLoad.nNroDocumento{{$index}}.$error.maxlength) && !frmTypeLoad.nNroDocumento{{$index}}.$pristine">* Nro de documento incorrecto</li>
									<li ng-show="frmTypeLoad.nNroDocumento{{$index}}.$invalid && frmTypeLoad.nNroDocumento{{$index}}.$error.required && !frmTypeLoad.nNroDocumento{{$index}}.$pristine">* Ingrese nro de documento</li>
								</ul>
							</li>
							<li class="col-md-2 mb-xs-2">
								<mpf-input 
									label="{label: 'Apellido Paterno', required: false}" 
									name="nApellidoPaterno{{$index}}" 
									ng-model="itemWorker.mApellidoPaterno" 
									mpf-validation="onlyLetter" 
									ng-required="false" 
									ng-maxlength="65">
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmTypeLoad.nApellidoPaterno{{$index}}.$invalid && !frmTypeLoad.nApellidoPaterno{{$index}}.$pristine">* Ingrese un apellido paterno</li>
								</ul>
							</li>
							<li class="col-md-2 mb-xs-2">
								<mpf-input 
									label="{label: 'Apellido Materno', required: false}" 
									name="nApellidoMaterno{{$index}}" 
									ng-model="itemWorker.mApellidoMaterno" 
									mpf-validation="onlyLetter" 
									ng-required="false" 
									ng-maxlength="65">
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmTypeLoad.nApellidoMaterno{{$index}}.$invalid && !frmTypeLoad.nApellidoMaterno{{$index}}.$pristine">* Ingrese un apellido materno</li>
								</ul>
							</li>
							<li class="col-md-2 mb-xs-2">
								<mpf-input 
									label="{label: 'Nombres', required: false}" 
									name="nNombres{{$index}}" 
									ng-model="itemWorker.mNombres" 
									mpf-validation="onlyLetter" 
									ng-required="false" 
									ng-maxlength="65">
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmTypeLoad.nNombres{{$index}}.$invalid && !frmTypeLoad.nNombres{{$index}}.$pristine">* Ingrese un nombre</li>
								</ul>
							</li>
							<li class="g-close-modal">
								<a 
									href="javascript:void(0)" 
									ng-click="fnDeleteItemWorker($index)">
									<span 
										class="ico-mapfre_231_cancelaroff" 
										title="Eliminar">
									</span>
								</a>
							</li>
						</ul>
						<ul class="clearfix">
							<li class="col-md-offset-1 col-md-4 mb-xs-2">
								<mpf-input 
									label="{label: 'Nombre Completo', required: false}" 
									name="nNombreCompleto{{$index}}" 
									ng-model="itemWorker.mNombreCompleto" 
									mpf-validation="onlyLetter" 
									ng-required="false" 
									ng-maxlength="65">
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmTypeLoad.nNombreCompleto{{$index}}.$invalid && !frmTypeLoad.nNombreCompleto{{$index}}.$pristine">* Ingrese un nombre completo</li>
								</ul>
							</li>
							<li class="col-md-2 mb-xs-2">
								<div class="input-group g-date-picker">
									<label class="g-placeholder animated">Fecha Nacimiento<span>*</span></label>
									<input 
										type="text" 
										class="form-control" 
										name="nFechaNacimiento{{$index}}" 
										ng-model="itemWorker.mFechaNacimiento.model" 
										model-view-value="true" 
										datepicker-options="itemWorker.mFechaNacimiento.options" 
										is-open="itemWorker.mFechaNacimiento.open" 
										close-text="Close" 
										uib-datepicker-popup="{{itemWorker.mFechaNacimiento.FORMAT_DATE}}" 
										alt-input-formats="itemWorker.mFechaNacimiento.ALT_INPUT_FORMATS" 
										ui-mask="{{itemWorker.mFechaNacimiento.FORMAT_MASK}}" 
										ng-pattern="itemWorker.mFechaNacimiento.FORMAT_PATTERN" 
										ng-required="true" 
										ng-disabled="false" 
										mpf-validate-date="itemWorker.mFechaNacimiento.validate"/>
									<!-- <span class="input-group-btn">
										<button 
											type="button" 
											class="btn btn-default" 
											ng-click="itemWorker.mFechaNacimiento.setOpen(true)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span> -->
								</div>
								<ul class="g-error">
									<li ng-show="(frmTypeLoad.nFechaNacimiento{{$index}}.$error.pattern || frmTypeLoad.nFechaNacimiento{{$index}}.$error.maxDate) && !frmTypeLoad.nFechaNacimiento{{$index}}.$pristine">* Fecha de nacimiento incorrecta</li>
									<li ng-show="frmTypeLoad.nFechaNacimiento{{$index}}.$invalid && frmTypeLoad.nFechaNacimiento{{$index}}.$error.required && !frmTypeLoad.nFechaNacimiento{{$index}}.$pristine">* Ingrese una fecha de nacimiento</li>
								</ul>

							</li>
							<li class="col-md-2 mb-xs-2">
								<mpf-input 
									label="{label: 'Ocupación', required: true}" 
									name="nOcupacion{{$index}}" 
									ng-model="itemWorker.mOcupacion" 
									mpf-validation="onlyLetter" 
									ng-required="true">
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmTypeLoad.nOcupacion{{$index}}.$invalid && !frmTypeLoad.nOcupacion{{$index}}.$pristine">* Ingrese una ocupación</li>
								</ul>
							</li>
							<li class="col-md-2 mb-xs-2">
								<mpf-input 
									label="{label: 'Sueldo', required: true}" 
									name="nSueldo{{$index}}" 
									ng-model="itemWorker.mSueldo" 
									mpf-validation="onlyNumberDecimal" 
									ng-required="true">
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmTypeLoad.nSueldo{{$index}}.$invalid && !frmTypeLoad.nSueldo{{$index}}.$pristine">* Ingrese un sueldo</li>
								</ul>
							</li>
						</ul>
						<ul class="clearfix">
							<li class="col-md-offset-1 col-md-2 mb-xs-2">
								<mpf-select ng-model="itemWorker.mTipoRiesgo" name="nTipoRiesgo{{$index}}"
									label="{label: 'Tipo de riesgo', required: true}"
									m-data-source="$ctrl.replacePayroll.typeRiego" text-field="name"
									value-field="name" m-Empty-Option="{enterData:true}" ng-required="true">
								</mpf-select>
								<ul class="g-error">
									<li
										ng-show="frmTypeLoad.nTipoRiesgo{{$index}}.$invalid && !frmTypeLoad.nTipoRiesgo{{$index}}.$pristine">
										* Seleccione un tipo de riego</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
					
				<div 
					class="col-md-3 col-sm-4 col-ms-5 col-xs-7 pull-right" 
					ng-if="$ctrl.replacePayroll.MAX_NUM_WORKERS > $ctrl.replacePayroll.itemWorkers.length">
					<a 
						href="javascript:void(0)" 
						class="g-btn g-btn-white second-design block" 
						ng-click="fnAddRow()">
						<span class="g-icon">
							<span class="icon icon-plus ico-mapfre_56_visitasalmedico"></span>
							<span>Agregar Fila</span>
						</span>
					</a>
				</div>

			</div>

		</div>

	</div>

</section>