.page-consultas-gestion {
	position: relative;
	&.page-modal__doc__pago { position: static;}
	.g-btn {
		.ico-btn { font-size: $fz20; }
	}

	.menu-responsive {
		position: absolute; top: 18px; right: 25px; z-index: 1010; display: block;
		>span { font-size: 30px; color: $cGray4; }
	}
	.menu-wrapper {
		background-color: $cGray5;
		float: none; position: absolute; top: 60px; right: 15px; width: 90%; z-index: 1010; display: none;
		.panel-group {
			.panel {
				border: 0; @include prefix(box-shadow,0 0 0 $cWhite1); border-radius: 0; margin: 0; background-color: $cGray5;
				.panel-heading {
					padding: 15px; border: 0; border-radius: 0; border-bottom: 1px solid $cGray4;
					>h4 {
						font-size: $fz17; font-weight: $bold; color: $cGray1; text-transform: uppercase;
						>a {
							i {
								background-color: $cGray6; color: $cGray4; border-radius: 50%; width: 35px; height: 35px; text-align: center; top: -8px;
								&:after { @include inlineblock; content: ''; height: 35px; vertical-align: middle; }
							}
						}
					}
				}
				&.active {
					border-bottom: 1px solid $cGray4;
					.panel-heading {
						>h4 { color: $cGreen1; }
					}
				}
			}
			.panel+.panel { border-radius: 0; margin: 0;}
		}
		&.open { display: block; }
	}
	.menu-list {
		margin-top: 15px; margin-bottom: 5px;
		&-link {
			margin-bottom: 20px;
			a {
				&.active { font-weight: $bold; }
			}
		}
	}
	// h2 { font-size: $fz17; font-weight: $bold; }
	&.page-consultas-gestion-cartera {
		.ico-mapfre_102_buscar {
			font-size: $fz20;
			&:before { position: relative; top: 4px; }
		}
		.g-tbl-wrapper {
			.tbl-main {
				min-width: 1440px;
				.tbl-body {
					>li {cursor: pointer;}
				}
			}
		}
	}
	&.page-consultas-gestion-cartera-detalle {
		.g-tbl-wrapper {
			.tbl-main {
				min-width: 1440px;
				.tbl-body {
					>li {cursor: auto;}
				}
			}
		}
	}
	&.page-consultas-gestion-cobranza-documentosPagar, &.page-consultas-gestion-siniestros-auto,&.page-consultas-gestion-comisiones-ramoCliente{
		.ico-mapfre_102_buscar {
			font-size: $fz20;
			&:before { position: relative; top: 4px; }
		}
		.g-tbl-wrapper {
			.tbl-main { min-width: 1300px; }
		}
	}
	&.page-consultas-gestion-mapfredolar{
		.ico-mapfre_102_buscar {
			font-size: $fz20;
			&:before { position: relative; top: 4px; }
		}
		.seccionGanado{
			.cajaValor{
				display: inline-block;
				width: 45%;
				float: left;
			}
			.cajaMedia{
				display: inline-block;
				width: 10%;
				float: left;
				padding-top: 37px;
			}
		}
	}
	&.page-consultas-gestion-cobranza-cronogramaPagos{
		.ico-mapfre_102_buscar {
			font-size: $fz20;
			&:before { position: relative; top: 4px; }
		}
	}
	&.page-consultas-gestion-cobranza-anuladas, &.page-consultas-gestion-cobranza-estadoDocumento{
		.ico-mapfre_102_buscar {
			font-size: $fz20;
			&:before { position: relative; top: 4px; }
		}
		.g-tbl-wrapper {
			.tbl-main { min-width: 1200px; }
		}
	}
	.g-box-label{
		display: block; text-align: center; max-width: 140px; margin: 0; font-weight: $normal; margin-top: 5px; padding: 3px 5px;
		&.c-green { background-color: $cGreen1; }
		&.c-yellow { background-color: $cYellow1; }
    &.c-red{ background-color: $cRed1; }
    &.c-griss{ background-color: $gris35; }
    &.c-blue{ background-color: $c-blue1; }
		&.fontz11 { font-size: $fz11; }
	}
	&.page-modal__documentoPago{
		.md-documento-pago{
			.g-tbl-wrapper{
				.tbl-main{
					min-width: 820px;
				}
			}
		}
	}
}

// .table__820 { min-width: 820px!important; }
// .table__1024 { min-width: 1024px!important; }
// .table__1280 { min-width: 1280px!important; }
// .table__1360 { min-width: 1280px!important; }
// .table__1440 { min-width: 1440px!important; }

.list-adjuntos{
	max-height: 225px;overflow: auto;
	li{
		background-color: $cGray5;margin-top: 5px;margin-bottom: 5px;padding: 7px;
	}
	.close{
		float: right; cursor: pointer;font-size: $fz20;
	}
}

// FILTRO Y BUSQUEDA

.consultaGestion{
  .g-radio {
  	.ico-radio{
	  	// width: 7px;
	  	float: left;
	  }
	  input { position: absolute; left: 0; }
  }
}
.fond-griss{
	background-color: $cGray5;padding-top: 20px;padding-bottom: 20px;
}

.g-pagination{
	>li{
		>a{
			&.active{
				color: $cWhite1;
				background-color: $cRed1;
				border-color: $cRed1;
			}
		}
	}
}

.c-tag {
  color: $cWhite1;line-height: 1.5;padding: 2px 8px;text-align: center;font-size: $fz13; @include inlineblock;
	&.gris35 { background-color: $cGray6; }
	&.c-yellow4 { background-color: #d0a718; }
	&.c-yellow5 { background-color: #7d7e4d; }
	&.cGreen1 { background-color: $cGreen1; }
	&.c-orange5 { background-color: $cOrange3; }
}
.u-bg--gris-3{
	background-color: $cGray6;
}
.u-bg--verde-2{
	background-color: $cGreen1;
}

@media (min-width: $break-xxxsmall){
	.page-consultas-gestion {
		.menu-wrapper {
			width: 92%;
		}
	}
}

@media (min-width: $break-xxsmall){
	.page-consultas-gestion {
		.menu-wrapper {
			width: 75%;
		}
	}
}

@media (min-width: $break-small){
	.page-consultas-gestion {
		.menu-wrapper {
			width: 50%;
		}
	}
}

@media (min-width: $break-medium){
	.page-consultas-gestion {
		.menu-responsive { display: none; }
		.menu-wrapper {
			float: left; position: relative; top: auto; right: auto; width: 25%; display: block;
		}
	}
}

@media (min-width: $break-xmedium){
	.page-consultas-gestion {

	}
}

@media (min-width: $break-large){
	.page-consultas-gestion {

	}
}

.u-z--2 {
	position: relative;
	z-index: 2;
}
.u-bg--rojo-primario{
	background-color: $cRed1;
}
.u-bg--yellow-2{ background-color: $cYellow1; }
.u-bg--gris-3{ background-color: $cGray3; }
.u-bg--verde-2{ background-color: $cGreen1; }

.consultaGestion {
	.g-tbl-wrapper {
		.tbl-main {
			.tbl-body {
				max-height: none;
			}
		}
	}
	.width-filtro{
		.link{
			a{
				font-size: 14px;
				color: #749806;
				margin-right: 6px;
				display: block;
			}
		}
	}
}
.bc-gris-requerido{
	background-color: $cGray5;padding: 15px 35px;
}
.g-tbl-wrapper{
	&.tlb-asignacion{
		.tbl-body {
			>li {
				border-bottom: 0px solid $cGray4; padding: 8px 0;
				&:nth-child(odd) { background: $cWhite1; border-left: 0; border-right: 0; }
				&:nth-child(even) { background: $cWhite1; border-left: 0; border-right: 0; }
				&:first-child { padding-top: 8px; border-top: 0; }
				&:last-child { padding-bottom: 8px; margin-bottom: 0px; border-bottom: 0; }
				&:hover { background-color: $cGray4; }
			}
		}
	}
}
.sub-title-tb{
	font-size: 18px; font-weight: 500;
}

//Filtro
@media (min-width: $break-medium){
	.g-tbl-topbar {
		.g-row-filter__box {
			.g-filter-col {
				&.select_150 {
					.g-select-horz {
						.g-select-desing { select { max-width: 150px; } }
					}
				}
			}
		}
	}
}
.camp-docPagar{
	.cont{
		display:block;
	}
	.separador-text{
		border-left: 0;padding-left: 0;margin-left: 0;
	}
}

@media (min-width: $break-small){
	.camp-docPagar{
		.cont{
			display: inline-block;
		}
		.separador-text{
			border-left: 1px solid $cGray4;padding-left: 10px;margin-left: 10px;
		}
	}
}
.listMapDol{
	.titleMapDol{
		display: inline-block;
		width: 60%;
		font-weight: bold;
		font-size: 12px;
	}
	.numMapDol{
		display: inline-block;
		width: 40%;
		text-align: right;
		font-size: 12px;
	}
}

.font-11-tabla{
	li{
		font-size: 11px;
	}
}
.tbl-altoMinimo{
	.tbl-row{
		li{
			min-height: 53px;
		}
	}
}

.fex-consulting {

  &--link {
    color: $cGreen1;
  }

  @media (min-width: $break-large) {
    margin-top: 10px;
  }
}

.g-new-box {
	padding: 20px;
}

.g-new-box-info {
	padding: 20px;
	@media (min-width: $break-small) {
		padding: 15px 20px;
	}
	@media (min-width: $break-medium) {
		padding: 30px;
	}
}

.consultaGestion-gcw-cliente {
	.des-user {
		.top-text {
			padding-top: 20px;
		}
	}
}

.self-settlement{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 80px;
	z-index: 1050;
	background-color: #749806;
	color: #FFFFFF;
	padding-top: 15px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
}

.d-gap--24 {
	gap: 24px;
  }
  
  .d-flex--wrap {
	flex-wrap: wrap;
  }
  
  .consultaGestion .g-tbl-wrapper .title {
	font-weight: 800;
  }
  
  .modal__wrapper {
	.modal__title {
	  text-align: left !important;
	}
  
	.modal__text {
	  color: #4a4a4a;
	  font-family: Roboto;
	  font-size: 14px;
	  font-style: normal;
	  font-weight: 400;
	  line-height: normal;
	  letter-spacing: 0.231px;
	  word-break: break-word;
	}
  
	.modal__box--gray {
	  width: 100%;
	  padding: 16px;
	  gap: 16px;
	  border-radius: 8px;
	  background: #f8f8f8;
	}
  
	.modal__icon--wrapper {
	  width: 56px;
	  min-width: 56px;
	  height: 56px;
	  background-color: #fff;
	  border-radius: 24px;
	  font-size: 24px;
	  color: #797b7f;
	}
  
	.modal__tag {
	  display: flex;
	  padding: 4px 6px;
	  align-items: flex-start;
	  gap: 4px;
	  border-radius: 2px;
	  color: #fff;
	  font-family: Roboto;
	  font-size: 12px;
	  font-style: normal;
	  font-weight: 500;
	  line-height: 16px;
  
	  &.tag--green {
		border: 1px solid var(--status-success, #8db602);
		background: var(--status-success-bg-oim, #c3d86e);
	  }
  
	  &.tag--rounded {
		padding: 8px 16px;
		color: #4a4a4a;
		font-weight: 400;
		border-radius: 16px;
		background-color: #f8f8f8;
  
		&.tag--white {
		  background-color: #fff;
		}
	  }
	}
  
	.modal__box-total {
	  border-top: 1px solid #8e8e8e;
	  padding-top: 24px;
	}
  
	.modal__buttons-wrapper {
	  gap: 24px;
	  max-width: 600px;
	  margin: auto;
	}
  
	.modal__btn--small {
	  padding: 8px 24px;
	  height: 32px;
	  color: #fff;
	  text-align: center;
	  font-family: Roboto;
	  font-size: 12px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: 1;
	  border-radius: 5px;
	  border: 0;
	  outline: none;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  gap: 8px;
  
	  .btn--icon {
		font-size: 20px;
  
		&::before {
		  color: #fff;
		}
	  }
  
	  &.modal__btn--dark {
		background-color: #797b7f;
	  }
	}
  
	.modal__icon-text {
	  .icon {
		font-size: 100px;
		color: #8db602;
		display: block;
	  }
  
	  .title {
		color: #4a4a4a;
		font-family: Roboto;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 12px;
	  }
	}
  
	.modal__box--border {
	  border-top: 1px solid #ddd;
	  padding-top: 8px;
  
	  .modal__box-total {
		border-color: #ddd;
	  }
	}
  
	.modal__form {
	  .modal__form--col {
		width: 100%;
	  }
  
	  .g-date-picker {
		padding-top: 10px;
	  }
  
	  .g-select-desing {
		.g-placeholder {
		  top: 50%;
		}
  
		select {
		  margin-top: 0;
		}
	  }
	}
  }
  
  @media (max-width: 768px) {
	.consultaGestion {
	  .modal__box--gray, .d-col--mobile {
		flex-direction: column;
	  }
	}
  }
  
  @media screen and (min-width: 767px) {
	.modal__wrapper {
	  .modal__box--gray {
		padding: 24px;
	  }
  
	  .modal__box--center {
		max-width: 530px;
		width: 100%;
		margin: auto;
	  }
  
	  .modal__form .modal__form--col {
		width: calc((50% - 24px/2));
	  }
  
	  .modal__buttons-wrapper button {
		width: 240px;
	  }
	}
  }
  
  /* tabla custom */
  
  .tabla-custom-new {
	* {
	  box-sizing: border-box;
	}
  
	.title {
	  color: #4A4A4A;
	  font-family: Roboto;
	  font-size: 12px;
	  font-style: normal;
	  font-weight: 800;
	  line-height: 16px;
	}
  
	ul {
	  list-style: none;
	  padding: 0;
	}
  
	li::marker {
	  display: none;
	}
  
	.tabla__text {
	  color: #4A4A4A;
	  font-family: Roboto;
	  font-size: 14px;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 16px;
	}
  
	.tabla-custom__toggle {
	  color: #d81e05;
	  font-size: 20px;
	}
  
	.tabla-custom__details {
	  display: block;
	  max-height: 354px;
	  overflow-y: auto;
	}
  
	.tabla-custom__details-box {
	  background-color: #f2f2f2;
	  display: flex;
	  width: 100%;
	  padding: 12px 16px;
	  align-items: center;
	  gap: 10px;
	}
  
	.tabla-custom__bar {
	  margin: 15px 0;
	  position: relative;
	  text-align: center;
	}
  
	.tabla-custom__bar-text {
	  display: inline-block;
	  padding: 8px 16px;
	  border-radius: 8px;
	  background-color: #F8F8F8;
	  position: relative;
	}
  
	.tabla-custom__bar-line {
	  position: absolute;
	  left: 0;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 100%;
	  height: 4px;
	  background-color: #F8F8F8;
	}
  
	.tabla-custom__details-info {
	  display: flex;
	  padding: 20px 24px 0 24px;
	  border-radius: 4px;
	  background-color: #F8F8F8;
	  position: relative;
  
	  &.yellow .tabla-custom__icon {
		background-color: #FCC500;
	  }
  
	  &.orange .tabla-custom__icon {
		background-color: #EF9454;
	  }
  
	  &.gray .tabla-custom__icon {
		background-color: #DDDDDD;
	  }
	}
  
	.tabla-custom__text {
	  margin-bottom: 14px;
	  padding-left: 16px;
  
	  .icon {
		margin-right: 4px;
		font-size: 8px;
	  }
	}
  
	.tabla-custom__details-date p {
	  color: #797B7F;
	}
  
	.tabla-custom__tag {
	  padding: 6px 8px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  font-weight: 600;
	}
  
	.tabla-custom__row {
	  padding-bottom: 20px;
	  position: relative;
  
	  &:last-child {
		padding-bottom: 0;
	  }
	}
  
	.tabla-custom__box-border {
	  position: relative;
  
	  &::before {
		content: '';
		display: block;
		width: 1px;
		background: #DDD;
		height: 100%;
		position: absolute;
		z-index: 1;
		top: 20px;
	  }
	}
  
	.tabla-custom__details-info:last-child .tabla-custom__box-border::before {
	  display: none;
	}
  }
  
  .tabla-custom__icon {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 6px;
	color: white;
	font-size: 12px;
	border-radius: 50%;
  }
  
  .tabla-custom-new {
	.tabla__text--bold {
	  font-weight: 700;
	}
  
	.mv--0 {
	  margin-top: 0;
	  margin-bottom: 0;
	}
  
	.mt--0 {
	  margin-top: 0;
	}
  
	.pl--16 {
	  padding-left: 16px;
	}
  
	.pb--20 {
	  padding-bottom: 20px;
	}
  
	.text--yellow {
	  color: #FCC500;
	}
  
	.text--orange {
	  color: #EF9454;
	}
  
	.d-flex-center {
	  display: flex;
	  align-items: center;
	}
  }
  