<section>
    <div class="g-section contenido-center">
        <div class="container centrado-vert">
            <div class="row">
                <div class="col-md-12 text-center"   >
                    <h2 class="title">Este rol no tiene acceso al módulo de referencias</h2>
                </div>
            </div>
            <div class="row mb-md-3" >
                <div class="col-md-12 text-center">
                    <span class="parrafo" >Contactar al administrador del sistema</span>
                </div>
            </div>
            <div class="row mb-md-1">
                <div class="col-md-12 text-center"  >
                    <img src="/images/accessDenaid.png" />
                </div>
            </div>
        </div>
    </div>
</section>
