.content-acordion-inspec {
    .panel-group {
        > .panel {
            margin-bottom: 25px;
            border: 1px solid $gris4;
        }
    }
    .panel-default {
        box-shadow: 1px 1px 1px #b9baba;
    }
    .panel-heading {
        border-bottom-color: #f5f5f5;
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .btn-acordion {
            width: 25px;
            height: 25px;
            display: block;
            color: $cWhite1;
            line-height: 25px;
            text-align: center;
            background-color: $cGreen1;
            i {
                line-height: 1;
                font-size: 16px;
                vertical-align: middle;
            }
        }
        .check-acordion-heading {
            padding-right: 8px;
        }
    }
    .panel-body {
        background-color: #f5f5f5;
        border-top-color: #f5f5f5 !important;
        .panel {
            border: none;
            box-shadow: none;
            background-color: #f5f5f5;
            .children {
                padding-left: 20px;
                @media only screen and (min-width: $break-xsmall) {
                    padding-left: 35px;
                }
                label {
                    float: right;
                }
                .grandchildren {
                    padding-left: 35px;
                }
            }
        }
    }
}