// Scroll horizontal para las fotos
.cont-photo{
	width: 1200px;
	.scroll-horizontal{
		overflow-x: scroll;height: 180px;overflow-y: hidden;white-space: nowrap;
	}
}
.fixed-margin { margin-top: 96px; }
.g-title-nroCotiza{font-size: $fz11; font-weight: 400 !important}
.g-title {
	.btns-box {
		>.row {
			div {
				float: none; @include inlineblock; margin-left: -4px; vertical-align: top; padding-left: 5px; padding-right: 0;
				&:first-child { padding-left: 15px; }
				&:last-child { padding-right: 15px; }
				.g-btn { margin-bottom: 10px; }
			}
		}
	}
}
.title-details {
	>span {
		display: inline-block; border-right: 1px solid $cGray4; padding-right: 10px;
		&:first-child { padding-left: 0; }
		&:last-child { border-right: 0; }
	}
}
.more-filters {
	height: 0; opacity: 0; overflow: hidden;
	// transition: all 1s ease-in-out;
	>div { height: 0; visibility: hidden; @include prefix(transition, all 1s ease-in); }
	&.active {
		height: auto; opacity: 1; overflow: visible;
		>div { height: auto; visibility: visible; }
	}
	&-link {
		color: $cGreen1; border-bottom: 1px solid $cGreen1;
		&:after { content: '\e94b'; font-family: $Mapfre; position: relative; top: 2px; left: 2px; }
		&.active {
			&:after { content: '\e94c'; font-family: $Mapfre; }
		}
	}
}
.tag-solicitudes, .tag-programaciones,{
	&.g-box {
		// .g-box-content {
			 // background-color: $cGray5;
		// }
		.cnt-item {
			// border-left: 0; border-right: 1px solid $cGray4; margin-bottom: 0; padding-bottom: 10px;
			// float: none; display: inline-block; margin-left: -4px; vertical-align: top;
			// &:first-child{  }
			// &:last-child { border-right: 0; }
			// &:nth-child(3n) { border-right: 0; }
			// .item {
			// 	&-label {
			// 		text-transform: uppercase;
			// 		.ico-bullet { left: 0; }
			// 		// &.solicitud-numero { font-size: $fz17; padding-bottom: 5px; }
			// 	}
			// 	&-dato { text-transform: uppercase; }
			// }
			.g-box-label {
				display: inline-block; text-align: center; padding-left: 5px; padding-right: 5px;
				&.c-green { background-color: $cGreen1; }
				&.c-orange { background-color: $cOrange2;}
				&.c-purple { background-color: $cRed3; }
				&.c-green2 { background-color: $cGreen7; }
				&.c-blue { background-color: $cBlue1; }
				&.c-gray { background-color: $cGray6; }
				&.c-green3 { background-color: $cGreen6; }
				&.c-green4 { background-color: $cGreen4; }
				&.c-green5 { background-color: $cGreen1; }
				&.c-yellow { background-color: $cYellow1; }
			}
		}
	}
	.g-horizontal-list {
		text-align: center; padding-right: 15px; padding-left: 15px;
		>li {
			padding-left: 10px; position: relative; margin-left: -4px;
			>span[class*='ico-mapfre'] { font-size: 32px; color: $cGray3; @include inlineblock; margin-top: 3px; }
			>.g-btn { height: 38px; line-height: 38px; min-width: 165px; }
			>span.chat-number {
				position: absolute; top: 0; right: -3px; text-align: center; padding-top: 1px;
				background-color: $cGray3; color: $cWhite1; width: 20px; height: 20px; @include prefix(border-radius, 50%);
			}
		}
	}
	.badge-notify {
		width: 17px; height: 17px; line-height: 16px;
		background: $cGray3; padding: 0;
		font-family: "Roboto", sans-serif; font-weight: 400; font-size: 0.40em; text-align: center;
		position: absolute; top: -2px; right: -4px;
	}
	.g-checkbox { margin-top: 20px; }
	.g-sec-information {
		.g-sec-day {
			padding-right: 15px;
			border-right: 1px solid $cGray4;
		}
		.g-sec-date {
			margin-left: 15px;
		}
	}
}
.g-solicitud-checkboxes {
  .g-checkbox {
    font-weight: normal !important;
  }
}
.cotizaciones {
	&.g-box {
		.g-box-header {  }
		.g-box-content {
			background-color: $cGray5;
			&.producto {
				background-color: $cWhite1;
				.producto {
					&__box {
						border: 1px solid $cGray4;
						border-radius: 6px;
						>.row {
							>div { min-height: 85px; }
						}
					}
					&__name {
						background-color: $cGray5; height: 125px;
						&:before { content: ''; @include inlineblock; height: 100%; vertical-align: middle; }
						h4 { @include inlineblock; vertical-align: middle; margin:0; font-size: $fz17; font-weight: $bold; }
					}
					&__data {
						background-color: $cWhite1;  height: 125px;
						&:before { content: ''; @include inlineblock; height: 100%; vertical-align: middle; margin-left: -4px; }
						ul {
							@include inlineblock; vertical-align: middle;
							.cnt-item {
								font-size: $fz12;
								.item-label, .item-dato { font-weight: $normal; }
								&:first-child {
									.item-label, .item-dato { font-size: $fz17; font-weight: $bold; }
								}
								&:last-child { padding-bottom: 0; }
							}
						}
					}
				}
			}
		}
		.cnt-item {
			// border-left: 0; border-right: 1px solid $cGray4; margin-bottom: 0; padding-bottom: 10px;
			// float: none; display: inline-block; margin-left: -4px; vertical-align: top;
			&:first-child{  }
			&:last-child { border-right: 0; }
			&:nth-child(3n) { border-right: 0; }
			.item {
				&-label {
					.ico-bullet { left: 0; }
					//&.solicitud-numero { font-size: $fz17; padding-bottom: 5px; }
				}
				&-dato { text-transform: uppercase; }
			}
		}
	}
}
.page-inspeccion-autos__nueva-solicitud{
	.title-details{
		.separacion-linea{border-left: 1px solid $cGray4;padding-left: 5px;margin-left: 5px;}
	}
	.g-title{
		h2{
			// padding-left: 0;
			p{
				font-size: $fz12;
			}
		}
	}
	.g-tap-mobile{
		.nav-tabs {
			> li{
				width: 50%; float: left; height: 80px;
			}
		}
	}
	.tab-content{
	}
	.nuevaAlerta{
		.title{
			font-size: $fz20;display: block;
		}
	}
}
.u-scroll-v--450{
	overflow: scroll;max-height: 450px;
}
.page-inspeccion-autos__nueva-solicitud {
	.g-title { padding-bottom: 10px; }
}
.g-input-design__wp--squash input {
	height: auto;line-height: 1;text-align: right;margin: 0px;padding: 5px;
}
.ico-buscar{
	font-size: $fz17;padding-right: 3px;font-weight: 600;
	&:before{
		position: relative; top: 2px;
	}
}
.inspec-attach__wp{
	.cgw-attach__box{
		max-width: initial;padding: 0;
	}
}
// Inpeccion tab alerta
.inspec-alert{
	.g-tab-vertical{
		overflow: hidden;border: 1px solid $cGray4;padding-top: 0;padding-bottom: 0;min-height:690px;
		.nav{
			width: 100%;float: left;
		}
		.tab-content{
			width: 100%;float: left;border-left: 1px solid $cGray4;
			&:before{
				left: 0;background-color: transparent;
			}
			.cont-alert{
				overflow: hidden;padding-bottom: 20px;min-height: 400px;
				.fond-griss{
					padding-bottom:0;padding-top:10px;
				}
				.g-list{
					.item-dato, .item-label{
							font-size: $fz13;
					}
				}
			}
		}
		.nav-tabs{
			>li{
				margin-top: 0;border-left: 2px solid $cWhite1;border-right: 0;background-color: $cWhite1;width: 100% !important; height: auto !important;
				&.active{
					border-bottom: 1px solid $cGray4;border-left: 2px solid $cGreen1;
					>a{
						background-color: $cGray5;
					}
				}
				&:hover{
					background-color: $cGray5;border-left: 2px solid $cGreen1;
				}
				>a{
					font-size: $fz13;margin-right: 0;border-radius: 0;
				}
			}
			span{
				padding-left: 20px; display: inline-block;
				&.ico-bullet{
					position: absolute; left: 15px; padding-left: 0; top: 9px; font-size: 18px;
					&.red{
						color: $cRed1;
					}
					&.green{
						color: $cGreen1;
					}
				}
			}
		}
	}
}
.page-inspeccion-autos__programacion-detalle{
	.g-title {
		h2{
			padding-left: 0;
		}
	}
	.list-inspectores{
		.title{
			text-align: center;background-color: $cGray5;padding: 15px;
		}
	}
	.cont-inspectores{
		background-color: $cGray5;display: inline-block;height: 700px;overflow: scroll; width: 100%;
		li{
			border-bottom: 1px solid $cGray4;
		}
		.cont{
			padding: 15px;position: relative;padding-right: 40px;
			.borde, .badge{
				&.marron{
					background-color: #ad725c;
				}
				&.marron2{
					background-color: #d26a61;
				}
				&.rojo{
					background-color: #fb380e;
				}
				&.anaranjado{
					background-color: #ff7529;
				}
				&.anaranjado2{
					background-color: #ffae38;
				}
				&.verde{
					background-color: #38d790;
				}
				&.verde2{
					background-color: #00a863;
				}
				&.verde3{
					background-color: #78d23c;
				}
				&.verde4{
					background-color: #b2de65;
				}
				&.amarillo{
					background-color: #fceb7c;
				}
				&.amarillo2{
					background-color: #fbd25b;
				}
				&.celeste{
					background-color: #8fe2bf;
				}
				&.celeste2{
					background-color: #9de1e8;
				}
			}
			.borde{
				width: 4px;height: 28px;position: absolute;display: block;left: 0;top: 50%;transform: translateY(-50%);
			}
			.badge{
				padding: 4px 8px;font-size: 10px;font-weight: 300;color: $cWhite1;line-height: normal;border-radius: 13px;right: 10px;position: absolute;
			}
		}
		label{
			float: left;
		}
	}
	.cgw-attach__box{
		max-width: inherit
	}
}
.tabs-box {
	position: relative;z-index: 2;
	ul{
		width: initial !important;
	}
	.tabs-fotos{
		li{
			position: relative;
			float: none;
			display: inline-block;
			vertical-align: top;
			zoom: 1;
			width: 130px;
			border: 1px solid $cGray4;
			border-bottom-width: 0;
			margin-left: -4px;
			background-color: $cGray4;
			cursor: pointer;
			&.active{
				background-color: $cGray4 !important;
			}
		}
		.tabs-box-mainview{
			background-color: $cGray4;clear: both;padding: 30px 0;
		}
	}
}
.g-photo-close{
	span {
		background-color: $cWhite1;
		border-radius: 50%;
		width: 14px;
		height: 14px;
		font-size: 20px;
	}
}
.g-photo-inner-box {
	position: relative;
	background-color: $cGray5;
	border: 1px dashed $cGray4;
	border-radius: 5px;
	width: 100%;
	height: 150px;
	padding: 2px;
	overflow: hidden;
}
.g-photo-title {
	position: absolute;
	top: 15px;
	width: 100%;
	text-align: center;
	font-weight: 700 !important;
	white-space: initial;
}
.g-photo-img {
  // vista-lateral-derecha.png
  // vista-lateral-izquierda.png
  // vista-maletera.png
  // vista-tablero.png
  // serie-vin.png
  // tarj-propiedad-frontal.png
  // tarj-propiedad-posterior.png
  &.loaded {
    background: none !important;
  }
  &.vista-lateral-derecha {
	  background: url(../../images/vista-lateral-derecha.png) no-repeat center 70%;
  }
  &.vista-lateral-izquierda {
	  background: url(../../images/vista-lateral-izquierda.png) no-repeat center 70%;
  }
  &.vista-maletera {
	  background: url(../../images/vista-maletera.png) no-repeat center 70%;
  }
  &.serie-vin {
	  background: url(../../images/serie-vin.png) no-repeat center 70%;
  }
  &.vista-tablero {
	  background: url(../../images/vista-tablero.png) no-repeat center 70%;
  }
  &.tarj-propiedad-frontal {
	  background: url(../../images/tarj-propiedad-frontal.png) no-repeat center 70%;
  }
  &.tarj-propiedad-posterior {
	  background: url(../../images/tarj-propiedad-posterior.png) no-repeat center 70%;
  }
	// width: 100%;
	// height: 100%;
	// overflow: hidden;
	// background: url(../../images/background_photo.png) no-repeat center 70%;
	// border-radius: 5px;
	// cursor: pointer;
	&:before {
		content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    text-align: center;
	}
	img { display: inline-block; vertical-align: middle; margin-left: -4px; }
}
.g-photo-name {
	display: block;
	font-weight: 700 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	padding: 10px 5px;
}
.page-inspeccion-registro{
	.tb-fotos{
		.nav-tabs{
			border-bottom: 1px solid $cGray4;
		}
		.tab-content{
			&:before{
				background-color: transparent;
			}
			&:after{
				background-color: transparent;
			}
		}
		.tab-pane{
			background-color: $cGray5;
			clear: both;
			padding: 30px 0px;
			border-left: 1px solid $cGray4;
			border-bottom: 1px solid $cGray4;
			border-right: 1px solid $cGray4;
      #viewOneFoto, #viewTwoFoto {
        height: auto;
      }
		}
		li{
			width: 50%;
			background-color: $cWhite1;
			margin-bottom: -1px;
			float: left;
			display: inline-block;
			z-index: 8;
			&.active{
				border-bottom: 1px solid $cGray5;
				a{
					background-color: $cGray5;margin-bottom: 0;
				}
			}
			a{
				margin-bottom: 0;height: 70px;
			}
		}
	}
	.g-cont-foto{
		background-color: $cGray5;
		clear: both;
		padding: 30px 0px;
		border: 1px solid $cGray4;
	}
	.obs-timestamp {
		li {
			background-color: inherit;
			width: 100%;
			&::before {
				content: '';
				background-color: $cGray3;
				border-radius: 50%;
				height: 15px;
				left: 15px;
				position: absolute;
				top: 5px;
				width: 15px;
			}
			&::after {
				content: '';
				border: 1px solid $cGray3;
				bottom: -5px;
				left: 21px;
				position: absolute;
				top: 5px;
			}
			.timestamp--header {
				background-color: $cWhite1;
				font-weight: bold;
				margin-left: 25px;
				padding: 5px 0;
				.highlight {
					background-color: $cGray2;
					border-radius: 30px;
					color: $cWhite1;
					margin-right: 10px;
					padding: 7px 10px;
					span {
						font-weight: normal;
					}
				}
			}
			.timestamp--body {
				margin: 20px 0 60px 40px;
			}
		}
	}
	.obs-lights {
		color: $cWhite1;
		font-weight: bold;
		padding: 2px 5px;
		&.observed {
			background-color: $cRed1;
		}
		&.pending {
			background-color: $cYellow1;
		}
		&.resolved {
			background-color: $cGreen1;
		}
	}
}
.g-box-label {
	display: inline-block; text-align: center; padding-left: 5px; padding-right: 5px;
	&.c-green { background-color: $cGreen1; }
	&.c-orange { background-color: $cOrange2;}
	&.c-purple { background-color: $cRed3; }
	&.c-green2 { background-color: $cGreen7; }
	&.c-blue { background-color: $cBlue1; }
	&.c-gray { background-color: $cGray6; }
	&.c-green3 { background-color: $cGreen6; }
	&.c-green4 { background-color: $cGreen4; }
	&.c-green5 { background-color: $cGreen1; }
	&.c-yellow { background-color: $cYellow1; }
}
.page-inspeccion-autos__nueva-solicitud {
	.g-title {
		h2{
			padding-left: 0px;
		}
		.title-ico{
			padding-left: 0px;
		}
	}
}
// TOGGLE
.g-toggle{
	.lbl {
	  position: relative;
	  height: 20px;
	  width: 44px;
	  background: #898989;
	  border-radius: 100px;
	  cursor: pointer;
	  transition: all 0.3s ease;
			&:after {
		  position: absolute;
		  left: -2px;
		  top: -3px;
		  display: block;
		  width: 26px;
		  height: 26px;
		  border-radius: 100px;
		  background: $cGray5;
		  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
		  content: '';
		  transition: all 0.3s ease;
		  border: 1px solid $cGray4;
		}
		&:active:after {
		  transform: scale(1.15, 0.85);
		}
	}
	.cbx{
		&:checked ~ label {
	  	background: $cGreen1;
		}
		&:checked ~ label:after {
	  	left: 20px;
	  	background: $cGray5;
		}
		&:disabled ~ label {
	  	background: $cGray4;
	  	pointer-events: none;
		}
		&:disabled ~ label:after {
	  	background: #bcbdbc;
		}
	}
	.cntr{
		span{
			vertical-align: top;
			margin-top: 2px;
			display: inline-block;
		}
	}
}
.input__file {
  left: -9999%;
  opacity: 0;
  position: absolute;
}
.cargar-archivo{
	display: block;background-color: $cGray5;padding: 10px;border: 1px solid $cGray4;border-radius: 5px;
}
.page-inspeccion-autos{
	.scroll-y{
		height:450px; overflow-y:scroll;
	}
	.tbl-wrapper {
		overflow: hidden; overflow-x: auto;
		&.noscroll-sm { overflow-x: auto; }
		&.noscroll-md { overflow-x: auto; }
		.tbl-main {
			min-width: 1170px;
			.tbl-header {
				background-color: $cGray5;
				font-size: $fz12; font-weight:$bold;
				// color: $cGray2;
				border-left: 0; border-top: 0; border-right: 0;
				li {
					margin: 8px 0; margin-left: -4px; padding: 7px 15px; @include inlineblock(); border-right: 1px solid $cGray4;
					&:last-child { border-right: 0; }
				}
			}
			.tbl-body {
				// text-transform: uppercase;
				overflow: auto;
				>li { border-bottom: 1px solid $cGray4; padding: 8px 0; }
				// >li:nth-child(odd) { background: $cWhite1; border-left: 1px solid $cGray4; border-right: 1px solid $cGray4; }
				// >li:nth-child(even) { background: $cWhite1; border-left: 1px solid $cGray4; border-right: 1px solid $cGray3; }
				>li:first-child { padding-top: 8px; border-top: 0; }
				>li:last-child { padding-bottom: 8px; margin-bottom: 24px; border-bottom: 1px solid $cGray4; }
				li {
					.tbl-row {
						color: $cGray2;
						.cell {
							@include inlineblock; font-size: $fz13; padding: 7px 15px; margin-left: -4px; border-right: 1px solid $cGray4;
							&:last-child { border-right: 0; }
							&-title { display: block; text-transform: uppercase; font-weight: $bold; }
							&-label {
								display: block;
								&-data {}
							}
						}
					}
				}
			}
		}
	}
}
.g-box-add-item {
	&-1 {
		>span { @include inlineblock; width: 100%; margin-bottom: 15px;}
		>a {
			>span.glyphicon:before { margin-right: 10px; }
		}
	}
	&-2 {
		text-align: left;
		.g-label3 {
			padding-left: 4px;
		}
		>.row-add-item {
			text-align: right; margin-bottom: 10px;
			// &:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
			&:before { content: none;}
			.col-add-item {
				@include inlineblock; vertical-align: middle; float: none; margin-left: -4px;
				// display: block; vertical-align: middle; float: none; margin-left: -4px;
				.g-border-right { border-color: $cGray4; }
				&-general { text-align: left; &:before  {content: "\e951"; font-family: $Mapfre; color:$cGray4;} }
				&-btns {
					@include inlineblock; text-align: center; margin-top: 0px; padding-top: 0px; padding-bottom: 3px;
					.ico-mapfre { @include inlineblock; margin: 0; font-size: $fz30; color: $cGray6; }
				}
			}
			&:last-child { margin-bottom: 0; }
		}
	}
	&-3 {
		text-align: left; background-color: transparent; padding: 25px 20px 35px 20px;
		h3 {font-size: 19px; border-bottom: 1px solid $cGray4; padding-bottom: 10px; }
	}
}
.g-col-filter{z-index: 1020;}
.cont-export{
	background-color: $cGray5;display: inline-block;float: right;padding: 7px 10px;border-radius: 5px; font-size: 14px;
	.txt{
		display: inline-block;vertical-align: top;padding-top: 7px;padding-right: 5px;
	}
}
.role-target{
	.g-select-desing{
		padding-top: 0;
		select {
			margin-top: 0;
		}
	}
}
@media (min-width: $break-small){
	.page-inspeccion-registro{
		.tb-fotos{
			li{
				width: 300px;
				a{
					height: 50px;
				}
			}
		}
		.obs-timestamp {
			li {
				width: 100%;
			}
		}
	}
	// .menu-main {
	// 	margin-top: 48px;
	// 	position: relative; top: auto; right: auto;
	// 	text-align: justify; font-size: 0.1px; background-color: transparent;
	// 	&:after { content: ''; width: 100%; display: inline-block; }
	// 	>span {
	// 		>li {
	// 			display: block; font-size: $fz17;
	// 			@include inlineblock; width: 16.6%;
	// 			&.submenu {
	// 				.sbm-main {
	// 					position: absolute; top: 100%; z-index: -1; width: 195px;
	// 					>span {
	// 						>li.sbm-link  {
	// 							a { text-align: left; }
	// 						}
	// 					}
	// 				}
	// 			}
	// 			&.active {
	// 				.sbm-main {
	// 					top: 53px; z-index: 1100;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	.g-title {
		.btns-box {
			>.row {
				div {
					padding-left: 5px; padding-right: 0;
					&:last-child { padding-right: 15px; }
				}
			}
		}
	}
	// Inpeccion tab alerta
	.inspec-alert{
		.g-tab-vertical{
			.nav{
				width: 30%; overflow-y: auto; overflow-x: auto; height:690px;
			}
			.tab-content{
				width: 70%; min-height: 690px;
      }
      .alert-date{
        text-transform: capitalize;
      }
      .cont-mensaje{
      	overflow: hidden;max-height: 180px;
      	.scroll-msn{
      		overflow: hidden;height: 180px;overflow-y: auto;
      	}
      }
		}
	}
	.page-inspeccion-autos__nueva-solicitud {
		.g-title {
			padding-bottom: 10px;
			h2{
				padding-left: 0px;
			}
			.title-ico{
				padding-left: 55px;
			}
		}
		.g-tap-mobile{
			.nav-tabs {
				> li{
				 height: auto !important;
				}
			}
		}
	}
}
.filterOrderBy .g-select-horz select {
  max-width: 100%;
}
.g-text-capitalize{
  display: block;
  text-transform: lowercase;
  &:first-letter{
    text-transform: uppercase;
  }
}
@media (min-width: $break-medium){
	.page-inspeccion-registro{
		.tb-fotos{
			li{
				width: 300px;
			}
		}
		.obs-timestamp {
			li {
				width: 100%;
			}
		}
	}
	.g-title {
		.btns-box {
			>.row {
				div {
					padding-left: 15px; padding-right: 0;
					&:last-child { padding-right: 15px; }
					.g-btn { margin-bottom: 10px; }
				}
			}
		}
	}
	.title-details {
		>span {
			padding-left: 10px;
		}
	}
	.tabs-box{
		ul{
			li {
				position: relative;
				float: left;
				display: block;
				width: 16.66667%;
				border: 1px solid $cGray4;
				border-bottom-width: 0;
				margin-left: -1px;
				background-color: $cGray4;
				cursor: pointer;
				div{
					&.tab-title{
						height: 50px;
					}
				}
			}
		}
	}
	// .g-section-tabs{
	// 	.nav-tabs{
	// 		>li{
	// 			&.active{
	// 				&:after{
	// 					width: 26px;
	// 					content: " ";
	// 					background: -moz-linear-gradient(90deg, #dde7eb 0, $cGray4 100%);/* FF3.6+ */
	// 					background: -webkit-gradient(linear, 90deg, color-stop(0, dde7eb), color-stop(100%,$cGray4));/* Chrome,Safari4+ */
	// 					background: -webkit-linear-gradient(90deg, #dde7eb 0, $cGray4 100%);/* Chrome10+,Safari5.1+ */
	// 					background: -o-linear-gradient(90deg, #dde7eb 0, $cGray4 100%);/* Opera 11.10+ */
	// 					background: -ms-linear-gradient(90deg, #dde7eb 0, $cGray4 100%);/* IE10+ */
	// 					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	// 					background: linear-gradient(90deg, #dde7eb 0, $cGray4 100%);/* W3C */
	// 					height: 98%;
	// 					position: absolute;
	// 					right: -27px;
	// 					top: 0;
	// 				}
	// 				&:last-child {
	// 					&:after{
	// 						background-image: none;
	// 					}
	// 				}
	// 				&:before{
	// 					width: 26px;
	// 					content: " ";
	// 					// background-image: url(../../images/sombra-l.png);
	// 					// background-repeat: repeat-x;
	// 					background: -moz-linear-gradient(260deg, #dde7eb 0, $cGray4 100%);/* FF3.6+ */
	// 					background: -webkit-gradient(linear, 260deg, color-stop(0, dde7eb), color-stop(100%,$cGray4));/* Chrome,Safari4+ */
	// 					background: -webkit-linear-gradient(260deg, #dde7eb 0, $cGray4 100%);/* Chrome10+,Safari5.1+ */
	// 					background: -o-linear-gradient(260deg, #dde7eb 0, $cGray4 100%);/* Opera 11.10+ */
	// 					background: -ms-linear-gradient(260deg, #dde7eb 0, $cGray4 100%);/* IE10+ */
	// 					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	// 					background: linear-gradient(260deg, #dde7eb 0, $cGray4 100%);/* W3C */
	// 					height: 98%;
	// 					position: absolute;
	// 					left: -27px;
	// 					top: 0;
	// 				}
	// 				&:first-child {
	// 					&:before{
	// 						background-image: none;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	// .g-section-tabs{
	// 	.tb-fotos{
	// 		.nav-tabs{
	// 			>li{
	// 				&.active{
	// 					&:after{
	// 						width: 26px;
	// 						content: " ";
	// 						background: -moz-linear-gradient(90deg, #ececec 0, $cWhite1 100%);/* FF3.6+ */
	// 						background: -webkit-gradient(linear, 90deg, color-stop(0, ececec), color-stop(100%,$cWhite1));/* Chrome,Safari4+ */
	// 						background: -webkit-linear-gradient(90deg, #ececec 0, $cWhite1 100%);/* Chrome10+,Safari5.1+ */
	// 						background: -o-linear-gradient(90deg, #ececec 0, $cWhite1 100%);/* Opera 11.10+ */
	// 						background: -ms-linear-gradient(90deg, #ececec 0, $cWhite1 100%);/* IE10+ */
	// 						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	// 						background: linear-gradient(90deg, #ececec 0, $cWhite1 100%);/* W3C */
	// 						height: 100%;
	// 						position: absolute;
	// 						right: -27px;
	// 						top: 0;
	// 					}
	// 					&:last-child {
	// 						&:after{
	// 							background-image: none;
	// 						}
	// 					}
	// 					&:before{
	// 						width: 26px;
	// 						content: " ";
	// 						background: -moz-linear-gradient(260deg, #ececec 0, $cWhite1 100%);/* FF3.6+ */
	// 						background: -webkit-gradient(linear, 260deg, color-stop(0, ececec), color-stop(100%,$cWhite1));/* Chrome,Safari4+ */
	// 						background: -webkit-linear-gradient(260deg, #ececec 0, $cWhite1 100%);/* Chrome10+,Safari5.1+ */
	// 						background: -o-linear-gradient(260deg, #ececec 0, $cWhite1 100%);/* Opera 11.10+ */
	// 						background: -ms-linear-gradient(260deg, #ececec 0, $cWhite1 100%);/* IE10+ */
	// 						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	// 						background: linear-gradient(260deg, #ececec 0, $cWhite1 100%);/* W3C */
	// 						height: 100%;
	// 						position: absolute;
	// 						left: -27px;
	// 						top: 0;
	// 					}
	// 					&:first-child {
	// 						&:before{
	// 							background-image: none;
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	.inspec-alert{
		.g-tab-vertical {
			&.g-section-tabs{
				.nav-tabs{
					>li{
						&.active{
							&:after{
								width: 0;
							}
							&:last-child {
								&:after{
									background-image: none;
								}
							}
							&:before{
								width: 0;
							}
							&:first-child {
								&:before{
									background-image: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
.fond-griss{
	background-color: $cGray5;padding-top: 20px;padding-bottom: 20px;
}
.iconInfo{
	position: absolute;top: 35px;right: 20px;z-index: 1020;
}
.opt-modo-inspec{
	text-align:center;
	.cont{
		background-color: $cGray5;border-radius:6px;border:2px solid $cGray4;padding:25px;cursor:pointer;
		&.actv{
			border:2px solid $cGreen1;
			.ico{
				display: block; font-size:40px;color: $cGreen1;
			}
		}
		.ico{
			display: block; font-size:40px;color: $cGray3;
		}
		.title{
			font-size: 14px; font-weight:bold;
		}
		p{font-size:14px;}
	}
}
/*#################
# Calendar
#################*/
.fc-toolbar{
	h2{
		margin: 0;display: inline-block;padding-left: 15px;border-left: 1px solid #ccc;margin-left: 10px
	}
	&.fc-header-toolbar{
		margin-bottom: 0;background-color: $cGray5;border: 1px solid $cGray4; border-bottom: 0;border-radius: 7px 7px 0px 0px;
		.fc-right{
			.fc-button-group{
				.fc-state-default{
					background-color: transparent; border: 0 ;box-shadow: none;background-image: none; border-bottom: 2px solid $cGray5; height: 39px;padding: 0 15px;
					&.fc-state-active{
						border-bottom: 2px solid $cRed1;border-radius: 0;
					}
				}
			}
		}
		.fc-left{
			padding: 5px 0;
			.fc-state-default{
				background-color: transparent; border: 0 ;box-shadow: none;background-image: none;
			}
		}
	}
}
.fc-view-container{
	.fc-basic-view{
		.fc-day-top{
			.fc-day-number{
				background-color: $cGray5;margin: 1px;min-width: 22px;text-align: center
			}
		}
	}
	.fc-more-cell{
		.fc-more{
			color: $cGreen1;
		}
	}
}
.fc-unthemed {
	td{
		.fc-today	{
			background-color: $cGray5;
		}
	}
}
.fc-day-grid-event{
	border-radius: 0;border: 0;margin: 0;padding: 3px;
}
.fc-time-grid {
	.fc-event{
		border: 0;border-radius: 0;
	}
}
.fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-full);
}
.g-valor-riesgo {
  .g-valorauto-label {display:block;}
  // .g-valorauto-fix {height:24px; /*min-width:190px; max-width:190px;*/ margin-top:13px; margin-right: 10px; color: $gris2; font-size:$fz17; @include inlineblock; vertical-align:top;}
  .g-valorauto-fix{
  	font-size:$fz17;
  	font-weight: $bold;
  }
  .g-valorauto-rango {
  	color: $cGray4;
  	// margin-top: 10px;
  	// display:block;
  }
  .g-valorauto-btnvariacion {max-width:300px; margin-top:10px;}
  .g-valorauto-modificar {@include inlineblock; vertical-align:bottom; margin-top: 10px;}
  .g-valorauto-input {
  	.g-input-design {min-width:190px; max-width:190px;display: inline-block;vertical-align: bottom;}
  }
  .g-valorauto-warning {
  	@include inlineblock; border:1px solid $cGray4; padding:10px; position:relative; padding-left:50px;
  	&-ico {
  		color:$cGreen7; font-size:40px; position:absolute; top:5px; left:7px;
  	}
  }
  &-text {
  	.g-valorauto-modificar {margin-top: 0; width: 110px;}
  }
  .g-input-design {width: 150px; @include inlineblock;}
}
.g-valor-riesgo {
	.g-valorauto-label {display:block;}
	// .g-valorauto-fix {height:24px; /*min-width:190px; max-width:190px;*/ margin-top:13px; margin-right: 10px; color: $gris2; font-size:$fz17; @include inlineblock; vertical-align:top;}
	.g-valorauto-fix{
		font-size:$fz17;
		font-weight: $bold;
	}
	.g-valorauto-rango {
		color: $cGray3
		// margin-top: 10px;
		// display:block;
	}
	.g-valorauto-btnvariacion {max-width:300px; margin-top:10px;}
	.g-valorauto-modificar {width:70px; @include inlineblock; vertical-align:bottom; margin-top: 10px;}
	.g-valorauto-input {
		.g-input-design {min-width:190px; max-width:190px;display: inline-block;vertical-align: bottom;}
	}
	.g-valorauto-warning {
		@include inlineblock; border:1px solid $cGray4; padding:10px; position:relative; padding-left:50px;
		&-ico {
			color:$cGreen7; font-size:40px; position:absolute; top:5px; left:7px;
		}
	}
	&-text {
		.g-valorauto-modificar {margin-top: 0; width: 110px;}
	}
	.g-input-design {width: 150px; @include inlineblock;}
}
.viewer-photo-array { width: 92%; vertical-align: middle;}
.toLeft, .toRight { width: 4%; vertical-align: middle; }
.array-foto-box { overflow: auto; }
.g-comment {
  color:$cGray3;
  font-size:$fz11;
  // font-weight: bold;
}
.filter-exclusiones {
	.g-autocomplete-desing {
		.select2-drop {
			background: $cWhite1;
			@media only screen and (min-width: $break-medium) {
				background: $cGray5;
			}
		}
	}
}
