<div class="col-md-12 g-box3 g-box-add-item-1 box-add-damage-1 clearfix" ng-if="$ctrl.data.length === 0 && !$ctrl.showAddFrm">
    <p class="text-center">No hay ningún contenido registrado.</p>
    <a class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 g-btn g-btn-white mt-xs-1" data-ng-click="$ctrl.showFrmAdd()">
        <span class="glyphicon glyphicon-plus"></span>Agregar sección
    </a>
</div>

<div ng-repeat="section in $ctrl.data track by $index">
    <wp-section section="section" data-index="$index" data-on-editar="$ctrl.editSection($event,$index)" data-on-delete="$ctrl.deleteSection($index)"></wp-section>
    
</div>
<div ng-if="$ctrl.data.length && !$ctrl.showAddFrm">
    <a class="col-12 col-md-4 col-md-offset-8  mt-md-2 g-btn g-btn-white" data-ng-click="$ctrl.showAddFrm = true;">
        <span class="glyphicon glyphicon-plus"></span>Agregar sección
    </a>
</div>
<wp-add-edit-section 
    data-is-frm-add="true" 
    data-ng-if="$ctrl.showAddFrm"
    data-on-cancel="$ctrl.showAddFrm=false"
    data-on-save="$ctrl.addSection($event)"
>
</wp-add-edit-section>