<mpf-cotizacion-resumen show-contratante="true"></mpf-cotizacion-resumen>

<form name="frmSecondStep">
  <div class="g-section g-sec-information">
    <div class="container">
      <mpf-duracion-declaracion-seguro form='frmContratante'>
      </mpf-duracion-declaracion-seguro>
    </div>
  </div>

  <div class="g-section h-myd-pt--0">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 mb-xs-3">
          <span class="g-comment">*Campos obligatorios</span>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <a class="g-btn g-btn-verde block" ng-class="{'disabled': !vm.activeBotonSiguiente()}" ng-click="vm.showModalConfirmation()">Siguiente</a>
        </div>
      </div>
    </div>
  </div>

</form>
