<ul
  class="g-pagination"
  data-boundary-link-numbers="true"
  data-items-per-page="$ctrl.itemsXPage"
  data-max-size="$ctrl.itemsXPage"
  data-ng-change="$ctrl.setPage($ctrl.paginaActual)"
  data-ng-if="$ctrl.totalItems && $ctrl.areTherePages"
  data-ng-model="$ctrl.paginaActual"
  data-total-items="$ctrl.totalItems"
  data-uib-pagination
></ul>
<div class="col-md-12 text-center g-box-noresult mt-xs-1 mb-xs-1" data-ng-if="$ctrl.datos && !$ctrl.datos.length">
  <div class="row">
    <div class="col-md-12 g-box-noresult-ico gCBlue2 h-myd-mt--20">
      <span class="ico-mapfre_145_informacion"></span>
    </div>
    <div class="col-md-12 g-box-noresult-text" data-ng-bind-html="::$ctrl.msgVacio"></div>
  </div>
</div>
