<div class="clearfix modal-container u-fx-ac modal-fin modal__wrapper">
  <div class="container">
    <div class="row u-mb-30">
      <div class="modal-client-detail__header modal-box-content">
        <button type="button"
                class="close g-close-modal"
                data-ng-click="$ctrl.close()">
          <span class="ico-mapfre_46_cancelaroff"></span>
        </button>
        <h2 class="modal-title modal-spec-title">Guardar auditoría</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-sm-6">
          <button class="c-btn btn btn--default btn-block" data-ng-click="$ctrl.save()">Guardar y continuar</button>
        </div>
        <div class="col-sm-6">
          <button class="c-btn btn btn--secundary btn-block" data-ng-click="$ctrl.saveExit()">Guardar y salir</button>
        </div>
      </div>
    </div>
  </div>
</div>
