<div class="clearfix modal-container u-fx-ac modal-audits modal__wrapper">
  <dl class="container">
    <div class="row">
      <div class="modal-client-detail__header modal-box-content">
        <button type="button"
                class="close g-close-modal"
                data-ng-click="$ctrl.close()">
          <span class="ico-mapfre_46_cancelaroff"></span>
        </button>
        <h2 class="modal-title modal-spec-title">Historial de auditorías</h2>
      </div>
    </div>
    <div class="row">
      <ul class="audit-list">
        <li ng-repeat="audit in $ctrl.audits"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false">
          <a ng-click="$ctrl.onSelectAudit({id: audit.idAuditoria})">
            <div class="date">
              <span class="day">{{ ::audit.day }}</span>
              <span class="month">{{ ::audit.month }}</span>
            </div>
            <div class="author-state">
              <span class="author">{{ ::audit.nombresAutor }}</span>
              <span class="label label-success bordered"
                    ng-if="audit.auditado">
                FINALIZADA
              </span>
            </div>
            <div class="score-action">
              <dl>
                <dt>Total calificación</dt>
                <dd>{{ ::audit.valoracion }}/10</dd>
              </dl>
            </div>
            <span class="c-btn btn--icon">
              <span class="ico-mapfre_79_chevroneright"></span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
