<div class="cleaner modal__wrapper u-fx-ac">
  <button type="button" class="close g-close-modal" data-ng-click="$ctrl.close()">
    <span class="ico-mapfre_46_cancelaroff"></span>
  </button>
  <div class="modal__box">
    <div class="modal__link-box">
      <a class="btn btn-lg modal__link" data-ng-click="$ctrl.openClientes()">
        <span class="iconref-person modal-home__ico--big"></span>
        <span class="mpit">Buscar <span class="u-color-primary">Clientes</span></span>
      </a>
    </div>
    <div class="modal__link-box">
      <a class="btn btn-lg modal__link" data-ng-click="$ctrl.openProveedores()">
        <span class="iconref-botiquin modal-home__ico--big"></span>
        <span class="mpit">Buscar <span class="u-color-primary">Proveedores</span></span>
      </a>
    </div>
  </div>
</div>
