<div style="display: flex;
width: 170px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
border-radius: 5px;
background: #FCFCFC;
box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);">
    <div style="display: flex;
    padding: 16px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px 5px 0px 0px;
background: #F4F4F4;">
        <span style="color: #000;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;">Sección</span>
    </div>
    <div style="display: flex;
    height: 64px;
    padding: 24px 0px;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #D5D5D5;">
        <span style="display: flex;
        flex-direction: column;
        flex: 1 0 0;
        color: #4C4C4C;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;" data-ui-sref="adminPolicySection.WhatYouWantToDo">¿Que Quieres Hacer?</span>
    </div>

    <div style="display: flex;
        padding: 24px 19px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-bottom: 1px solid #D5D5D5;"><span style="display: flex;
flex-direction: column;
flex: 1 0 0;color: #4C4C4C;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;">Seguro por ramos</span></div>

</div>