<div class="card-section">
    <div class="card-section-header">
        <span class="card-section-header-title">Sección</span>
    </div>
    <div ng-repeat="item in $ctrl.sections" ng-click="$ctrl.onSectionItemClick(item)" class="g-cursor-pointer"
        ng-class="{'card-section-item-active': item.selected, 'card-section-item': !item.selected}">
        <span ng-class="{'card-section-item-text-active': item.selected, 'card-section-item-text': !item.selected}"
            data-ui-sref="item.url">
            {{item.name}}
        </span>
    </div>
</div>