<div class="row">
    <div class="col-xs-12 ">
        <div class="gBgcGray5 pt-xs-2 pb-xs-2 pl-xs-2">
            <p class="g-cl--black2 gH8 no-margin-xs">SECCIÓN</p>
            <p class="g-cl--black gH2 no-margin-xs">Contenido</p>
        </div>
    </div>
    <div class="col-xs-12 mt-xs-2">
        <div class="container gBgcGray2">
            <div class="row d-flex mt-xs-2 mb-xs-2">
                <div class="col-xs-8">
                    <div class="gCWhite1 gH6">Título de producto</div>
                    <div class="gCWhite1 gH5 fwMedium">{{$ctrl.content.title}}</div>
                </div>
                <div class="col-xs-4 d-flex-center mr-xs-2 d-flex align-items-center justify-content-end">
                    <span class="ico-mapfre_345_myd-edit g-cl--green g-cursor-pointer"
                        ng-click="$ctrl.openModal()"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="g-border container pb-xs-2 pt-xs-2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="gCBlack1 gH4 fwMedium">Descripción de producto</div>
                    <div class="gCBlack1 gH5 fwNormal mt-xs-0-5">{{$ctrl.content.description}}</div>
                </div>
                <div class="col-xs-12 mt-xs-2">
                    <div class="gCBlack1 gH4 fwMedium">Imágenes de producto</div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 mt-xs-2" ng-repeat="item in $ctrl.content.images">
                    <div class="container g-border h-br--5 pt-xs-2 pb-xs-2">
                        <div class="gCBlack1 gH5 fwBold">Imagen {{item.posicion}}</div>
                        <img src="{{item.rutaImagen}}" height="150px" width="210px" alt="">
                    </div>
                </div>
                <div class="col-xs-12 mt-xs-1">
                    <mpf-checkbox label="Añadir aviso" ng-disabled="true" name="check" ng-model="$ctrl.content.activeNotice"></mpf-checkbox>
                </div>
                <div class="col-xs-12 mt-xs-1">
                    <div class="container pt-xs-1 pb-xs-1" style="background-color: #FFF6CE;">
                        {{$ctrl.content.detailNotice}}
                    </div>
                </div>
                <div class="col-xs-12 mt-xs-2 g-text-right-xs">
                    <span class="label-last-modification">
                        <i class="ico-mapfre-350-myd-user mr-md-1"></i>
                        <span class="gH7 g-cl--gray3">Última actualización:</span>
                        <span class="gH7 g-cl--gray3 fwBold ng-binding">{{ $ctrl.content.lastModification }} - {{$ctrl.content.modificationDateLabel}} </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>