<section class="g-page g-home-inner-polizas">
  <page-title info="{title: productCtrl.gLblTitle}"></page-title>
  <!-- Poliza: Salud -->
  <div class="g-section-inner">
    <div class="container">
      <div class="row">
        <div class="">
            <div class="g-box-content pt-xs-2 pl-xs-2 pr-xs-2">
              <div class="clearfix g-box g-overflow-hidden-xs mb-xs-2" ng-repeat="item in productCtrl.productsList">
                <div class="col-xs-12 pt-xs-1 pb-xs-1 gBgcGray5">
                  <h3 class="text-left g-text-uppercase gH4 gCBlack1 no-margin-xs">{{item.name}}</h3>
                </div>

                <div class="col-xs-12 g-box-content">

                  <div class="clearfix g-list-md g-box gBgcWhite1 g-row-fz12 mb-xs-1 ng-scope">
                    <div class="col-md-9 g-col-md middle pt-xs-1 pb-xs-1 g-border-xs-bottom g-border-md-bottom-no g-border-md-right">
                      <ul class="row">
                        <li class="col-md-6 clearfix cnt-item no-padding-xs">
                          <div class="col-xs-5 col-md-3 item-label">
                            Producto:
                          </div>
                          <div class="col-xs-7 col-md-9 item-dato">
                            {{item.NombreProducto}}
                          </div>
                        </li>
                        <li class="col-md-6 clearfix cnt-item no-padding-xs">
                          <div class="col-xs-5 col-md-7 item-label">
                            Cod. Fracionamiento:
                          </div>
                          <div class="col-xs-7 col-md-2 item-dato" ng-repeat="fraccionamiento in item.Financiamientos">
                            {{fraccionamiento.Codigo}}
                          </div>
                        </li>
                      </ul>
                      <ul class="row">
                        <li class="col-md-6 clearfix cnt-item no-padding-xs">
                          <div class="col-xs-5 col-md-3 item-label">
                            Validez:
                          </div>
                          <div class="col-xs-7 col-md-9 item-dato">
                            {{item.Archivo.FechaValidez}}
                          </div>
                        </li>
                        <li class="col-md-6 clearfix cnt-item no-padding-xs">
                          <div class="col-xs-5 col-md-3 item-label">
                            Edad:
                          </div>
                          <div class="col-xs-7 col-md-2 item-dato" ng-repeat="edad in item.ValidaEdades">
                            {{edad.EdadMaxima}}
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 pt-xs-1 pb-xs-1 g-col-md middle gCGray3 g-text-center-xs actions-salud">
                      <div class="row g-border-xs-bottom">
                        <div class="col-xs-12 mb-xs-1 no-padding-xs">
                          <a ng-click="productCtrl.editPlan(item)"><p class="gCGreen1 gH6 g-text-uppercase no-margin-xs"><span class="gnIcon-xsm ico-mapfre_228_editar mr-xs-2"></span>Editar</p></a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 mt-xs-1 no-padding-xs">
                          <a ng-click="productCtrl.showHistory(item)"><p class="gCGreen1 gH6 g-text-uppercase no-margin-xs"><span class="gnIcon-xsm ico-mapfre_204_listado mr-xs-2"></span>Ver historial</p></a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>

</section>
