<ap-card-section-header ng-if="$ctrl.content" card="$ctrl.content" section="$ctrl.section" ramo="$ctrl.ramo"></ap-card-section-header>
<div class="card-item-conteiner" ng-repeat="card in $ctrl.content.contenido" style="margin-top: 15px;">
    <ap-card-item class="card-item" card="card" section="$ctrl.section" ramo="$ctrl.ramo">
        <div class="card-item-left">
            <div class="card-item-left-section">
                <span class="card-item-left-text">URL de etiqueta</span>
                <span class="card-item-left-url">{{ card.link }}</span>
            </div>
        </div>
        <div class="card-item-rigth" ng-click="$ctrl.openModal()">
            <i class="ico-mapfre-350-myd-user mr-md-1"></i>
            <div class="card-item-rigth-section">
                <span class="card-item-rigth-text">Última actualización:</span>
                <span class="card-item-rigth-date">{{ card.lastModification }} - {{card.modificationDateLabel}} </span>
            </div>
        </div>
    </ap-card-item>
</div>