@font-face {
  font-family: 'referencia';
  font-style: normal;
  font-weight: normal;
  src:
    url('../assets/fonts/referencia.eot?wyvcsx#iefix') format('embedded-opentype'),
    url('../assets/fonts/referencia.ttf?wyvcsx') format('truetype'),
    url('../assets/fonts/referencia.woff?wyvcsx') format('woff'),
    url('../assets/fonts/referencia.svg?wyvcsx#icomoon') format('svg');
}

[class^='iconref-'],
[class*=' iconref-'] {
  font-family: 'referencia';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.iconref-plus {
  &::before {
    content: "\ea0a";
  }
}
.iconref-minus {
  &::before {
    content: "\ea0b";
  }
}



.iconref-estrella {
  &::before {
    content: "\e9d9";
  }
}

.iconref-menu_contextual {
  &::before {
    content: "\e9a1";
  }
}

.iconref-tabla-notas {
  &::before {
    content: '\e900';
  }
}

.iconref-botiquin {
  &::before {
    content: '\e901';
  }
}

.iconref-cama {
  &::before {
    content: '\e902';
  }
}

.iconref-carpeta {
  &::before {
    content: '\e903';
  }
}

.iconref-icon-person {
  &::before {
    content: '\e904';
  }
}

.iconref-person {
  &::before {
    content: '\e905';
  }
}


