<div class="row" data-ng-form="frmVehiculoSoat">
  <div ng-if="$ctrl.showForm">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 mb-xs-2">
          <mpf-input data-ng-model="$ctrl.frmVehiculo.placaVehiculo" 
            data-ng-minlength="6"
            data-ng-maxlength = "6"
            data-mpf-validation="onlyLetterNumber"
            label="{label: 'Placa', required: $ctrl.isRequired ? true : false }"  name="nPlaca" ng-change="$ctrl.getPlaca();">
          </mpf-input>
          <div class="g-error"
            data-ng-show="frmVehiculoSoat.nPlaca.$invalid && !frmVehiculoSoat.nPlaca.$pristine && $ctrl.frmVehiculo.placaVehiculo">
            Este campo es obligatorio
          </div>
        </div>

        <div class="col-md-6 mb-xs-2">
          <wp-cbo-soat data-label="{label: 'SOAT', required: $ctrl.isRequired ? true : false }"
            data-ng-model="frmVehiculoSoat.codigoSoatVehiculo" data-option-default="{enterData: true}"
            data-set-model-by-this-key="$ctrl.frmVehiculo.codigoSoatVehiculo" data-set-model-by-this-text="$ctrl.frmVehiculo.descripcionSoatVehiculo" name="nCodigoSoatVehiculo" >
          </wp-cbo-soat>
          <div class="g-error"
            data-ng-show="frmVehiculoSoat.nCodigoSoatVehiculo.$invalid && !frmVehiculoSoat.nCodigoSoatVehiculo.$pristine && $ctrl.frmVehiculo.placaVehiculo">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-xs-2">
          <wp-cbo-tipo-vehiculo data-label="{label: 'Tipo de vehículo', required: $ctrl.isRequired ? true : false }"
            data-ng-model="frmVehiculoSoat.codigoTipoVehiculo" data-option-default="{enterData: true}"
            data-set-model-by-this-key="$ctrl.frmVehiculo.codigoTipoVehiculo" data-set-model-by-this-text="$ctrl.frmVehiculo.descripcionTipoVehiculo" name="nTipoVehiculo">
          </wp-cbo-tipo-vehiculo>
          <div class="g-error"
            data-ng-show="frmVehiculoSoat.nTipoVehiculo.$invalid && !frmVehiculoSoat.nTipoVehiculo.$pristine && $ctrl.frmVehiculo.placaVehiculo">
            Este campo es obligatorio
          </div>
        </div>
        <div class="col-md-6 mb-xs-2" ng-if="!$ctrl.isUa">
          <wp-cbo-uso-vehiculo data-label="{label: 'Uso del vehículo', required: false}"
            data-ng-model="frmVehiculoSoat.codigoUsoVehiculo" data-option-default="{enterData: true}"
            data-set-model-by-this-key="$ctrl.frmVehiculo.codigoUsoVehiculo" name="nUsoVehiculo">
          </wp-cbo-uso-vehiculo>
          <div class="g-error"
            data-ng-show="$ctrl.nUsoVehiculo.codigoUsoVehiculo.$invalid && !$ctrl.nUsoVehiculo.codigoUsoVehiculo.$pristine">
            Este campo es obligatorio
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="gBgcGray5 col-md-12">
        <h2 class="mt-xs-2 gCGreen1">{{ $ctrl.frmVehiculo.modeloVehiculo}} </h2>
        <hr>
        <div class="row">
          <div class="col-md-6 mb-xs-2">
            #Motor
          </div>
          <div class="col-md-6 mb-xs-2">
            {{$ctrl.frmVehiculo.motorVehiculo}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-xs-2">
            Año de vehículo
          </div>
          <div class="col-md-6 mb-xs-2">
            {{$ctrl.frmVehiculo.anioVehiculo}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-xs-2">
            #Serie
          </div>
          <div class="col-md-6 mb-xs-2">
            {{$ctrl.frmVehiculo.serieVehiculo}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>