//SE AGREGO PORQUE SE ESTA AGREGANDO NUEVOS BLOQUES EN VIDA,
//PERO SOBRE COSAS QUE YA EXISTEN EN EL CSSGENERAL QUE ESTA HOMOLOGADO



//cssMainGeneral
/*###################
# mixin
###################*/
@mixin propertyIcommon{
	speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*###################
# fontSize
###################*/
$fz11: 11px; //necesario error
$fz12: 12px; //necesario
$fz13: 13px; //breadcrumbs
$fz14: 14px;
// $fz16: 16px; // Nro. MP/2016/1243 => declrationGenerated // subitulos de declarationGenerated
$fz17: 17px;
// $fz18: 18px; //cantidad de polizas tabPolizas //titulo interno declarationGenerated
$fz20: 20px;
$fz24: 24px;
$fz30: 30px;
/*###################
# colors
###################*/
//black
$cBlack1: #000000;
$cWhite1: #FFFFFF;
//gray
$cGray1: #1f1f1f;
$cGray2: #4c4c4c;
$cGray3: #888383;
$cGray4: #d5d5d5;
$cGray5: #f4f4f4;
$cGray6: #8f8f8f;
//red
$cRed1: #d81e05;
$cRed2: #ff0000;
$cRed3: #e25271;
$cRed4: #ec533f;
$cRed5: #c71a03;

//orange
$cOrange1: #ff7800;
$cOrange2: #ed7839;
$cOrange3: #eba602;
$cOrange4: #c39109;
//yellow
$cYellow1: #eec100;
//green
$cGreen1: #749806;
$cGreen2: #6b8a01;
$cGreen3: #09c3a7;
$cGreen4: #2eb19d;
$cGreen5: #039234;
$cGreen6: #727e4d;
$cGreen7: #8db602;
// $cCyan1:
//blue
$cBlue1: #37ace2;
$cBlue2: #008aff;
//purple
$cPurple1: #6676ee;
$cPurple2: #7e51a0;
$cPurple3: #8f1585;
// $cMagenta:

.mb-xs-0-1{margin-bottom: 1px;}

/* ### FONT WEIGHT ### */
.fwThin { font-weight: $thin; }
.fwLight { font-weight: $light; }
.fwNormal { font-weight: $normal; }
.fwMedium { font-weight: $medium; }
.fwBold { font-weight: $bold; }
.fwUltraBold { font-weight: $ultra-bold; }

/*###################
# text-transform
###################*/
.g-text{
  &-uppercase{
    text-transform: uppercase;
  }
  &-lowercase{
    text-transform: lowercase;
  }
  &-capitalize{
    text-transform: capitalize;
  }
  &-none {
    text-transform: none !important;
  }
}
/*###################
# g-pull-right
###################*/
.g-pull-right{
  &-xs{
    float: right;
  }
}
/*###################
# h
###################*/
.gH1{
  font-size: $fz30;
}
.gH2{
  font-size: $fz24;
}
.gH3{
  font-size: $fz20;
}
.gH4{
  font-size: $fz17;
}
.gH5{
  font-size: $fz14;
}
.gH6{
  font-size: $fz13;
}
.gH7{
  font-size: $fz12;
}
.gH8{
  font-size: $fz11;
}
/*###################
# colors
###################*/
.gCBlack1{color: $cBlack1;}
.gCWhite1{color: $cWhite1;}

.gCGray1{color: $cGray1;}
.gCGray2{color: $cGray2;}
.gCGray3{color: $cGray3;}
.gCGray4{color: $cGray4;}
.gCGray5{color: $cGray5;}
.gCGray6{color: $cGray6;}

.gCRed1{color: $cRed1;}
.gCRed2{color: $cRed2;}
.gCRed3{color: $cRed3;}
.gCRed4{color: $cRed4;}

.gCOrange1{color: $cOrange1;}
.gCOrange2{color: $cOrange2;}
.gCOrange3{color: $cOrange3;}
.gCOrange4{color: $cOrange4;}

.gCYellow1{color: $cYellow1;}

.gCGreen1{color: $cGreen1;}
.gCGreen2{color: $cGreen2;}
.gCGreen3{color: $cGreen3;}
.gCGreen4{color: $cGreen4;}
.gCGreen5{color: $cGreen5;}
.gCGreen6{color: $cGreen6;}
.gCGreen7{color: $cGreen7;}

.gCBlue1{color: $cBlue1;}
.gCBlue2{color: $cBlue2;}

.gCPurple1{color: $cPurple1;}
.gCPurple2{color: $cPurple2;}
.gCPurple3{color: $cPurple3;}

.gCTransparent{color: transparent;}
/*###################
# background-color
###################*/
.gBgcBlack1{background-color: $cBlack1;}
.gBgcWhite1{background-color: $cWhite1;}

.gBgcGray1{background-color: $cGray1;}
.gBgcGray2{background-color: $cGray2;}
.gBgcGray3{background-color: $cGray3;}
.gBgcGray4{background-color: $cGray4;}
.gBgcGray5{background-color: $cGray5;}
.gBgcGray6{background-color: $cGray6;}

.gBgcRed1{background-color: $cRed1;}
.gBgcRed2{background-color: $cRed2;}
.gBgcRed3{background-color: $cRed3;}
.gBgcRed4{background-color: $cRed4;}

.gBgcOrange1{background-color: $cOrange1;}
.gBgcOrange2{background-color: $cOrange2;}
.gBgcOrange3{background-color: $cOrange3;}
.gBgcOrange4{background-color: $cOrange4;}

.gBgcYellow1{background-color: $cYellow1;}

.gBgcGreen1{background-color: $cGreen1;}
.gBgcGreen2{background-color: $cGreen2;}
.gBgcGreen3{background-color: $cGreen3;}
.gBgcGreen4{background-color: $cGreen4;}
.gBgcGreen5{background-color: $cGreen5;}
.gBgcGreen6{background-color: $cGreen6;}
.gBgcGreen7{background-color: $cGreen7;}

.gBgcBlue1{background-color: $cBlue1;}
.gBgcBlue2{background-color: $cBlue2;}

.gBgcPurple1{background-color: $cPurple1;}
.gBgcPurple2{background-color: $cPurple2;}
.gBgcPurple3{background-color: $cPurple3;}

.gBgcTransparent{background-color: transparent;}

/*##################
MARGIN
###################*/
.mb-xs-0-1 { margin-bottom: 1px}
.mr-xs-1 { margin-right: 10px}
.ml-xs-1 { margin-left: 10px}


@media (min-width: $break-medium){
  /*###################
  # text-transform
  ###################*/
  .g-text{
    &-uppercase-md{
      text-transform: uppercase;
    }
    &-lowercase-md{
      text-transform: lowercase;
    }
    &-capitalize-md{
      text-transform: capitalize;
    }
  }
  /*###################
  # g-pull-right
  ###################*/
  .g-pull-right{
    &-md{
      float: right;
    }
  }
  /*###################
  # colors
  ###################*/
  .gCBlack1-md{color: $cBlack1;}
  .gCWhite1-md{color: $cWhite1;}

  .gCGray1-md{color: $cGray1;}
  .gCGray2-md{color: $cGray2;}
  .gCGray3-md{color: $cGray3;}
  .gCGray4-md{color: $cGray4;}
  .gCGray5-md{color: $cGray5;}
  .gCGray6-md{color: $cGray6;}

  .gCRed1-md{color: $cRed1;}
  .gCRed2-md{color: $cRed2;}
  .gCRed3-md{color: $cRed3;}
  .gCRed4-md{color: $cRed4;}

  .gCOrange1-md{color: $cOrange1;}
  .gCOrange2-md{color: $cOrange2;}
  .gCOrange3-md{color: $cOrange3;}
  .gCOrange4-md{color: $cOrange4;}

  .gCYellow1-md{color: $cYellow1;}

  .gCGreen1-md{color: $cGreen1;}
  .gCGreen2-md{color: $cGreen2;}
  .gCGreen3-md{color: $cGreen3;}
  .gCGreen4-md{color: $cGreen4;}
  .gCGreen5-md{color: $cGreen5;}
  .gCGreen6-md{color: $cGreen6;}
  .gCGreen7-md{color: $cGreen7;}

  .gCBlue1-md{color: $cBlue1;}
  .gCBlue2-md{color: $cBlue2;}

  .gCPurple1-md{color: $cPurple1;}
  .gCPurple2-md{color: $cPurple2;}
  .gCPurple3-md{color: $cPurple3;}

  .gCTransparent-md{color: transparent;}
  /*###################
  # background-color
  ###################*/
  .gBgcBlack1-md{background-color: $cBlack1;}
  .gBgcWhite1-md{background-color: $cWhite1;}

  .gBgcGray1-md{background-color: $cGray1;}
  .gBgcGray2-md{background-color: $cGray2;}
  .gBgcGray3-md{background-color: $cGray3;}
  .gBgcGray4-md{background-color: $cGray4;}
  .gBgcGray5-md{background-color: $cGray5;}
  .gBgcGray6-md{background-color: $cGray6;}

  .gBgcRed1-md{background-color: $cRed1;}
  .gBgcRed2-md{background-color: $cRed2;}
  .gBgcRed3-md{background-color: $cRed3;}
  .gBgcRed4-md{background-color: $cRed4;}

  .gBgcOrange1-md{background-color: $cOrange1;}
  .gBgcOrange2-md{background-color: $cOrange2;}
  .gBgcOrange3-md{background-color: $cOrange3;}
  .gBgcOrange4-md{background-color: $cOrange4;}

  .gBgcYellow1-md{background-color: $cYellow1;}

  .gBgcGreen1-md{background-color: $cGreen1;}
  .gBgcGreen2-md{background-color: $cGreen2;}
  .gBgcGreen3-md{background-color: $cGreen3;}
  .gBgcGreen4-md{background-color: $cGreen4;}
  .gBgcGreen5-md{background-color: $cGreen5;}
  .gBgcGreen6-md{background-color: $cGreen6;}
  .gBgcGreen7-md{background-color: $cGreen7;}

  .gBgcBlue1-md{background-color: $cBlue1;}
  .gBgcBlue2-md{background-color: $cBlue2;}

  .gBgcPurple1-md{background-color: $cPurple1;}
  .gBgcPurple2-md{background-color: $cPurple2;}
  .gBgcPurple3-md{background-color: $cPurple3;}

  .gBgcTransparent-md{background-color: transparent;}
}

@media (min-width: $break-small){
  /*###################
  # text-transform
  ###################*/
  .g-text{
    &-uppercase-sm{
      text-transform: uppercase;
    }
    &-lowercase-sm{
      text-transform: lowercase;
    }
    &-capitalize-sm{
      text-transform: capitalize;
    }
  }
  /*###################
  # g-pull-right
  ###################*/
  .g-pull-right{
    &-sm{
      float: right;
    }
  }
  /*###################
  # colors
  ###################*/
  .gCBlack1-sm{color: $cBlack1;}
  .gCWhite1-sm{color: $cWhite1;}

  .gCGray1-sm{color: $cGray1;}
  .gCGray2-sm{color: $cGray2;}
  .gCGray3-sm{color: $cGray3;}
  .gCGray4-sm{color: $cGray4;}
  .gCGray5-sm{color: $cGray5;}
  .gCGray6-sm{color: $cGray6;}

  .gCRed1-sm{color: $cRed1;}
  .gCRed2-sm{color: $cRed2;}
  .gCRed3-sm{color: $cRed3;}
  .gCRed4-sm{color: $cRed4;}

  .gCOrange1-sm{color: $cOrange1;}
  .gCOrange2-sm{color: $cOrange2;}
  .gCOrange3-sm{color: $cOrange3;}
  .gCOrange4-sm{color: $cOrange4;}

  .gCYellow1-sm{color: $cYellow1;}

  .gCGreen1-sm{color: $cGreen1;}
  .gCGreen2-sm{color: $cGreen2;}
  .gCGreen3-sm{color: $cGreen3;}
  .gCGreen4-sm{color: $cGreen4;}
  .gCGreen5-sm{color: $cGreen5;}
  .gCGreen6-sm{color: $cGreen6;}
  .gCGreen7-sm{color: $cGreen7;}

  .gCBlue1-sm{color: $cBlue1;}
  .gCBlue2-sm{color: $cBlue2;}

  .gCPurple1-sm{color: $cPurple1;}
  .gCPurple2-sm{color: $cPurple2;}
  .gCPurple3-sm{color: $cPurple3;}

  .gCTransparent-sm{color: transparent;}
  /*###################
  # background-color
  ###################*/
  .gBgcBlack1-sm{background-color: $cBlack1;}
  .gBgcWhite1-sm{background-color: $cWhite1;}

  .gBgcGray1-sm{background-color: $cGray1;}
  .gBgcGray2-sm{background-color: $cGray2;}
  .gBgcGray3-sm{background-color: $cGray3;}
  .gBgcGray4-sm{background-color: $cGray4;}
  .gBgcGray5-sm{background-color: $cGray5;}
  .gBgcGray6-sm{background-color: $cGray6;}

  .gBgcRed1-sm{background-color: $cRed1;}
  .gBgcRed2-sm{background-color: $cRed2;}
  .gBgcRed3-sm{background-color: $cRed3;}
  .gBgcRed4-sm{background-color: $cRed4;}

  .gBgcOrange1-sm{background-color: $cOrange1;}
  .gBgcOrange2-sm{background-color: $cOrange2;}
  .gBgcOrange3-sm{background-color: $cOrange3;}
  .gBgcOrange4-sm{background-color: $cOrange4;}

  .gBgcYellow1-sm{background-color: $cYellow1;}

  .gBgcGreen1-sm{background-color: $cGreen1;}
  .gBgcGreen2-sm{background-color: $cGreen2;}
  .gBgcGreen3-sm{background-color: $cGreen3;}
  .gBgcGreen4-sm{background-color: $cGreen4;}
  .gBgcGreen5-sm{background-color: $cGreen5;}
  .gBgcGreen6-sm{background-color: $cGreen6;}
  .gBgcGreen7-sm{background-color: $cGreen7;}

  .gBgcBlue1-sm{background-color: $cBlue1;}
  .gBgcBlue2-sm{background-color: $cBlue2;}

  .gBgcPurple1-sm{background-color: $cPurple1;}
  .gBgcPurple2-sm{background-color: $cPurple2;}
  .gBgcPurple3-sm{background-color: $cPurple3;}

  .gBgcTransparent-sm{background-color: transparent;}
}

@media (min-width: $break-xsmall) {
// @media (min-width: $break-xsmall) and (max-width: 767px){
  /*###################
  # text-transform
  ###################*/
  .g-text{
    &-uppercase-ms{
      text-transform: uppercase;
    }
    &-lowercase-ms{
      text-transform: lowercase;
    }
    &-capitalize-ms{
      text-transform: capitalize;
    }
  }
  /*###################
  # g-pull-right
  ###################*/
  .g-pull-right{
    &-ms{
      float: right;
    }
  }
  /*###################
  # colors
  ###################*/
  .gCBlack1-ms{color: $cBlack1;}
  .gCWhite1-ms{color: $cWhite1;}

  .gCGray1-ms{color: $cGray1;}
  .gCGray2-ms{color: $cGray2;}
  .gCGray3-ms{color: $cGray3;}
  .gCGray4-ms{color: $cGray4;}
  .gCGray5-ms{color: $cGray5;}
  .gCGray6-ms{color: $cGray6;}

  .gCRed1-ms{color: $cRed1;}
  .gCRed2-ms{color: $cRed2;}
  .gCRed3-ms{color: $cRed3;}
  .gCRed4-ms{color: $cRed4;}

  .gCOrange1-ms{color: $cOrange1;}
  .gCOrange2-ms{color: $cOrange2;}
  .gCOrange3-ms{color: $cOrange3;}
  .gCOrange4-ms{color: $cOrange4;}

  .gCYellow1-ms{color: $cYellow1;}

  .gCGreen1-ms{color: $cGreen1;}
  .gCGreen2-ms{color: $cGreen2;}
  .gCGreen3-ms{color: $cGreen3;}
  .gCGreen4-ms{color: $cGreen4;}
  .gCGreen5-ms{color: $cGreen5;}
  .gCGreen6-ms{color: $cGreen6;}
  .gCGreen7-ms{color: $cGreen7;}

  .gCBlue1-ms{color: $cBlue1;}
  .gCBlue2-ms{color: $cBlue2;}

  .gCPurple1-ms{color: $cPurple1;}
  .gCPurple2-ms{color: $cPurple2;}
  .gCPurple3-ms{color: $cPurple3;}

  .gCTransparent-ms{color: transparent;}
  /*###################
  # background-color
  ###################*/
  .gBgcBlack1-ms{background-color: $cBlack1;}
  .gBgcWhite1-ms{background-color: $cWhite1;}

  .gBgcGray1-ms{background-color: $cGray1;}
  .gBgcGray2-ms{background-color: $cGray2;}
  .gBgcGray3-ms{background-color: $cGray3;}
  .gBgcGray4-ms{background-color: $cGray4;}
  .gBgcGray5-ms{background-color: $cGray5;}
  .gBgcGray6-ms{background-color: $cGray6;}

  .gBgcRed1-ms{background-color: $cRed1;}
  .gBgcRed2-ms{background-color: $cRed2;}
  .gBgcRed3-ms{background-color: $cRed3;}
  .gBgcRed4-ms{background-color: $cRed4;}

  .gBgcOrange1-ms{background-color: $cOrange1;}
  .gBgcOrange2-ms{background-color: $cOrange2;}
  .gBgcOrange3-ms{background-color: $cOrange3;}
  .gBgcOrange4-ms{background-color: $cOrange4;}

  .gBgcYellow1-ms{background-color: $cYellow1;}

  .gBgcGreen1-ms{background-color: $cGreen1;}
  .gBgcGreen2-ms{background-color: $cGreen2;}
  .gBgcGreen3-ms{background-color: $cGreen3;}
  .gBgcGreen4-ms{background-color: $cGreen4;}
  .gBgcGreen5-ms{background-color: $cGreen5;}
  .gBgcGreen6-ms{background-color: $cGreen6;}
  .gBgcGreen7-ms{background-color: $cGreen7;}

  .gBgcBlue1-ms{background-color: $cBlue1;}
  .gBgcBlue2-ms{background-color: $cBlue2;}

  .gBgcPurple1-ms{background-color: $cPurple1;}
  .gBgcPurple2-ms{background-color: $cPurple2;}
  .gBgcPurple3-ms{background-color: $cPurple3;}

  .gBgcTransparent-ms{background-color: transparent;}
}




//cssGeneral
.gnIcon{
  &-bg{
    font-size: 55px;
  }
  &-lg{
    font-size: 45px;
  }
  &-md{
    font-size: 30px;
  }
  &-sm{
    font-size: 25px;
  }
  &-xsm{
    font-size: 20px;
  }
}


.g-box{
  &.fz14{
    font-size: 14px;
  }
}


.g-icon{
  position: relative;
  &>span,
  &>a{
    vertical-align: middle;
    &.icon{
      position: relative;
      font-size: 20px;
      &-plus{
        top: -1px;
      }
    }
  }
}
/*#################
# mModalAlert
#################*/
.gSweetModal,
.swal2-modal{
  font-family: $font-family;
  min-height: auto !important;
  .swal2-close{
    color: $cGray3;
    font-size: 0;
    @include propertyIcommon();
    @include prefix(transition, all 0.25s linear);
    &:before{
      font-family: $Mapfre;
      content: '\e9e7';
      font-size: 30px;
    }
    &:hover,
    &:focus{
      color: $cGray3;
    }
  }
  .swal2-icon{
    text-align: center;
    border: 0;
    margin: 10px auto;
    @include propertyIcommon();
    *{
      display: none !important;
    }
    &.swal2-info,
    &.swal2-success,
    &.swal2-warning,
    &.swal2-error{
      font-size: 0;
      line-height: 80px;
      border-color: transparent;
      &:before{
        font-family: $Mapfre;
        font-size: 80px;
      }
    }
    &.swal2-info{
      color: $cBlue2;
      &:before{
        content: '\ea16';
      }
    }
    &.swal2-success{
      color: $cGreen7;
      &:before{
        content: '\ea18';
      }
    }
    &.swal2-warning{
      color: $cOrange1;
      &:before{
        content: '\ea19';
      }
    }
    &.swal2-error{
      color: $cRed1;
      &:before{
        content: '\ea17';
      }
    }
  }
  .swal2-title{
    font-size: $fz20;
    font-weight: $bold;
    color: $cGray2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    &.text-transform-none{
      text-transform: none;
    }
  }
  .swal2-content{
    font-size: $fz17;
    font-weight: $normal;
    color: $cGray2;
    text-align: center;
  }
  .swal2-buttonswrapper{
    margin-top: 15px;
  }
  .swal2-styled{
    text-transform: uppercase;
    font-size: $fz14;
    border-style: solid;
    border-width: 2px;
    @include prefix(border-radius, 6px);
    margin: 10px 5px 0;
    padding: 10px 32px;
    @include prefix(transition, all 0.25s linear);
  }
  .swal2-cancel{
    background-color: $cWhite1 !important;
    border-color: $cGray3;
    color: $cGray3;
    &.active,
    &:hover{
      background-color: $cGray3 !important;
      color: $cWhite1;
    }
  }
  .swal2-confirm{
    background-color: $cGreen1 !important;
    border-color: $cGreen1 !important;
    color: $cWhite1;
    &.active,
    &:hover{
      background-color: $cGreen2 !important;
    }
  }
}
.gSweetModal{
  .cntContent{
    padding: 0 20px;
  }
}
@-webkit-keyframes pulse-warning {
  0% {
    border-color: $cOrange1;
  }
  100% {
    border-color: $cOrange1;
  }
}
@keyframes pulse-warning {
  0% {
    border-color: $cOrange1;
  }
  100% {
    border-color: $cOrange1;
  }
}


.g-btn {
  @include inlineblock();
  line-height: normal;
  background-color: transparent;
  font-family: $font-family;
  font-size: $fz14;
  font-weight: $bold;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-width: 2px;
  @include prefix(border-radius, 6px);
  padding: 13px 5px;
  overflow: hidden;
  @include prefix(transition, all 0.25s linear);
  &.block{
    display: block;
    width: 100%;
  }
  &.second-design{
    padding-top: 9px;
    padding-bottom: 9px;
  }
  &:hover,
  &:focus{
    outline:0;
    .ico-plus,
    .ico-download,
    .ico-email{
      color: inherit;
    }
  }
  &.disabled,
  &:disabled{
    background-color: $cWhite1;
    border-color: $cGray4;
    color: $cGray4;
    &:hover{
      background-color: $cWhite1;
      border-color: $cGray4;
      color: $cGray4;
    }
  }
  .g-icon-text{
    .icon{
      color: inherit;
    }
  }
  &-verde {
    background-color: $cGreen1;
    border-color: $cGreen1;
    color: $cWhite1;
    &.active,
    &:hover{
      background-color: $cGreen2;
    }
  }
  &-rojo {
    background-color: $cRed1;
    border-color: $cRed1;
    color: $cWhite1;
    &.active,
    &:hover{
      background-color: $cRed5;
    }
  }
  &-transparent,
  &-white{
    border-color: $cGray3;
    color: $cGray3;
    &.active,
    &:hover{
      background-color: $cGray3;
      color: $cWhite1;
    }
  }
  &-white{
    background-color: $cWhite1;
  }
  &-green-border {
    background-color: $cWhite1;
    border-color: $cGreen1;
    color: $cGreen1;
    &.active,
    &:hover{
      background-color: $cGreen1;
      color: $cWhite1;
    }
  }
  &-title{
    display: block;
    width: 230px;
    font-family: $font-family;
    font-size: $fz17;
    text-align: center;
    color: $cGray2;
    text-transform: none;
    border: 2px solid $cGray3;
    padding: 10px 0;
    @include prefix(border-radius, 5px);
    @include prefix(transition, 0.25s);
    .ico{
      @include inlineblock;
      font-size: $fz24;
      color: $cGray3;
      vertical-align: middle;
      @include prefix(transition, 0.25s);
    }
    &:hover{
      border: 2px solid $cGray2;
      @include prefix(transition, 0.25s);
      .ico{
        color: $cGray2;
        @include prefix(transition, 0.25s);
      }
    }
  }
  &-ico {
    font-size: 22px; margin-right: 7px;
    &:before { position: relative; top: 3px; }
  }
  /*#################
  # Icono siguiente
  #################*/
  &.add-ico{
    position: relative;
    .ico-next{
      display: block;
      width: 25px;
      height: 25px;
      font-size: $fz24;
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      z-index: 1;
      margin: auto;
    }
  }
  .ico-plus,
  .ico-download,
  .ico-email,{
    font-size: $fz20;
    text-align: center;
    position: relative;
    top: 3px;
    margin-right: 2px;
  }
}
/*#################
# Modal
#################*/
.g-close-modal{
  color: $cGray3;
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  @include prefix(transition, all 0.25s linear);
  span{
    font-size: $fz30;
  }
  &:hover,
  &:focus{
    color: $cGray3;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/*#############################
# CALCULAR PRIMA
#############################*/
.g-calcular-prima{
  .valor{
    .g-input-design{
      padding-top: 0;
      input{
        margin-top: 0; height:25px;
      }
    }
  }
  .row:nth-child(odd) {
    background: $cGray5;
  }
}
.g-box-label{ display: inline-block!important; }
.g-box-attachment {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  position: relative;
  background-color: transparent;
  border: 0;
}
.g-sec-menu{
  margin-bottom: 30px;
  &.second-design{
    .grid-menu{
      border-top: 0;
    }
    .cnt-link{
      border-top: 1px solid $cGray4; padding-left: 5px; padding-right: 5px;
    }
  }
  .grid-menu{
    border-left: 1px solid $cGray4;
    border-top: 1px solid $cGray4;
  }
  .cnt-link{
    display: block;
    text-align: center;
    border-right: 1px solid $cGray4;
    border-bottom: 1px solid $cGray4;
    padding-top: 30px;
    padding-bottom: 30px;
    span{
      display: block;
      @include prefix(transition, all 0.25s linear);
    }
    &:hover{
      span{
        color: $cRed1;
      }
    }
  }
  .cnt-ico{
    font-size: 65px;
    color: $cGray3;
  }
  .cnt-label{
    font-size: $fz20;
    color: $cRed1;
  }
}
/*#####################
# secInformation
#####################*/
.g-sec-information,
.g-sec-information-md,
.g-sec-information-sm,
.g-sec-information-ms,
.g-list,
.g-list-md,
.g-list-sm,
.g-list-ms,
.g-tbl-row{
  &.no-border-left{
    .cnt-item{
      border-left: 0;
    }
  }
  .sec-item{
    background-color: $cGray5;
    padding: 15px 0;
    border-top: 1px solid $cGray4;
    border-bottom: 1px solid $cGray4;
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
    &.no-border-left{
      .cnt-item{
        border-left: 0;
      }
    }
  }
  .cnt-title{
    margin-bottom: 10px;
  }
  .cnt-item,
  .tbl-item{
    border-left: 0;
    margin-bottom: 10px;
    &:first-child{
      border-left: 0;
    }
    &.no-border-left{
      border-left: 0;
    }
  }
  .ico-bullet{
    color: $cGray4;
    position: absolute;
    top: 2px;
    left: -3px;
  }
  .item-title,
  .item-label{
    font-weight: $bold;
  }
  .item-edit{
    text-align: right;
    color: $cGray3;
    a{
      position: relative;
      padding-left: 25px;
      text-decoration: underline;
    }
    .ico-edit{
      font-size: $fz24;
      position: absolute;
      top: -5px;
      left: 0;
      z-index: 1;
    }
  }
}
.g-sec-information,
.g-list,
.g-tbl-row{
  .cnt-item,
  .tbl-item{
    border-left: 1px solid $cGray4;
    &.add-border-left{
      border-left: 1px solid $cGray4;
    }
    &.add-border-right{
      border-right: 1px solid $cGray4;
    }
  }
}
@media (min-width: $break-medium){
  .g-sec-information-md,
  .g-list-md{
    .cnt-item{
      border-left: 1px solid $cGray4;
      &.add-border-left{
        border-left: 1px solid $cGray4;
      }
      &.add-border-right{
        border-right: 1px solid $cGray4;
      }
    }
  }
}
@media (min-width: $break-small){
  .g-sec-information-sm,
  .g-list-sm{
    .cnt-item{
      border-left: 1px solid $cGray4;
      &.add-border-left{
        border-left: 1px solid $cGray4;
      }
      &.add-border-right{
        border-right: 1px solid $cGray4;
      }
    }
  }
}
@media (min-width: $break-xsmall){
  .g-sec-information-ms,
  .g-list-ms{
    .cnt-item{
      border-left: 1px solid $cGray4;
      &.add-border-left{
        border-left: 1px solid $cGray4;
      }
      &.add-border-right{
        border-right: 1px solid $cGray4;
      }
    }
  }
}


.g-tbl-wrapper {
  overflow: hidden; overflow-x: auto;
  &.noscroll-sm { overflow-x: auto; }
  &.noscroll-md { overflow-x: auto; }
  .tbl-main {
    @include prefix(border-radius, 6px);
    min-width: 1170px;
    .tbl-header {
      background-color: $cGray5;
      font-size: $fz12;
      font-weight:$bold;
      border-left: 0; border-top: 0; border-right: 0;
      padding: 0;
      li {
        margin: 8px 0;
        margin-left: -4px;
        padding: 7px 8px;
        @include inlineblock();
        border-right: 1px solid $cGray4;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
    .tbl-body {
      max-height: 450px;
      overflow: auto;
      overflow-y: auto;
      >li {
        font-size: $fz12;
        border-bottom: 1px solid $cGray4;
        padding: 0 !important;
        &:nth-child(odd) { background: transparent !important ; border-left: 0 !important; border-right: 0 !important; }
				&:nth-child(even) { background: transparent; border-left: 0 !important; border-right: 0 !important; }
				&:first-child { padding-top: 0 !important; border-top: 0; }
				&:last-child { padding-bottom: 0 !important; margin-bottom: 0 !important; border-bottom: 0 !important; }
				&:hover { background-color: transparent !important; }
      }
      li {
        .tbl-row {
          padding: 10px 0;
          &:hover{
            background-color: $cGray5;
          }
          .cell {
            @include inlineblock;
            font-size: $fz12;
            padding: 0 8px;
            margin-left: -4px;
            border-right: 1px solid $cGray4;
            @include prefix(box-sizing, border-box);
            &:first-child {
              margin-left:0;
            }
            &:last-child {
              border-right: 0;
            }
            &-title {
              display: block;
              text-transform: uppercase;
              font-weight: $bold;
            }
            &-label {
              display: block;
            }
          }
        }
      }
      .tbl-icon {
        font-size: 30px;
        color: $cGray3;
      }
    }
    .pos-relat{
      position: relative;
      .g-box-label{
        position: absolute;
        bottom: 0;
      }
    }
  }
}
@media (min-width: $break-small){
  .g-tbl-wrapper {
    &.noscroll-sm { overflow-x: hidden; }
  }
}
@media (min-width: $break-medium){
  .g-tbl-wrapper {
    &.noscroll-md { overflow-x: hidden; }
  }
}
@media (min-width: $break-xmedium){
  .g-tbl-wrapper {
    &.noscroll-xmd { overflow-x: hidden; }
  }
}
@media (min-width: $break-large){
  .g-tbl-wrapper {
    &.noscroll-lg { overflow-x: hidden; }
  }
}
.table__820 { min-width: 820px!important; }
.table__860 {
  min-width: 860px;
  margin: 0 auto;
}
.table__970 {
  min-width: 970px;
  margin: 0 auto;
}
.table__1000 {
  min-width: 1000px;
  margin: 0 auto;
}
.table__1024 { min-width: 1024px!important; }
.table__1170 {
  min-width: 1170px;
  margin: 0 auto;
}
.table__1280 { min-width: 1280px!important; }
.table__1360 { min-width: 1280px!important; }
.table__1400 {
  min-width: 1400px;
  margin: 0 auto;
}
.table__1440 { min-width: 1440px!important; }
.title-buscar{font-size: 18px;font-weight: 700}


.g-box,
.g-box-ms,
.g-box-sm,
.g-box-md{
  font-size: 12px;
  &.fz14{
    font-size: 14px;
  }
  &.no-btl-radius{
    border-top-left-radius: 0;
  }
  &.no-btr-radius{
    border-top-rigth-radius: 0;
  }
  &.no-bbl-radius{
    border-bottom-left-radius: 0;
  }
  &.no-bbr-radius{
    border-bottom-right-radius: 0;
  }
  &-body {
    padding-top: 15px; padding-bottom: 10px;
    &:before {content: ''; display: inline-block; vertical-align: middle; height: 100%;}
    .search-result {
      color:$cGray3;
      float: none; @include inlineblock; margin-left: -4px; vertical-align: middle;
      &-label {@include inlineblock;}
      &-data {@include inlineblock; font-weight:$normal;}
      &-ico {font-weight: $normal}
    }
  }
  &-content{
    padding-top: 10px;
  }
  &-noresult {
    &-ico {
      font-size: 80px;
      max-height: 95px;
    }
    &-text {
      font-size: $fz17;
    }
  }
  &-white { background-color: $cWhite1!important; }
  &-gray1 { background-color: $cGray5!important; }
  &2 { margin-top: 20px; padding-top: 15px; padding-bottom: 15px; background-color: $cGray5; }
  &3 { margin-top: 20px; padding-top: 15px; padding-bottom: 15px; background-color: $cGray5; border: 1px solid $cGray4; border-radius: 4px; }
  &.no-mb{
    margin-bottom: 0;
  }
}
.g-box{
  border: 1px solid $cGray4;
  @include prefix(border-radius, 6px);
}
@media (min-width: $break-medium) {
  .g-box-md{
    border: 1px solid $cGray4;
    @include prefix(border-radius, 6px);
  }
}
@media (min-width: $break-small) {
  .g-box-sm{
    border: 1px solid $cGray4;
    @include prefix(border-radius, 6px);
  }
}
@media (min-width: $break-xsmall) and (max-width:($break-small - 1px)){
  .g-box-ms{
    border: 1px solid $cGray4;
    @include prefix(border-radius, 6px);
  }
}

.g-border {
  border:1px solid $cGray4;
  &-top {border-top:1px solid $cGray4;}
  &-right {border-right:1px solid $cGray4;}
  &-bottom {border-bottom:1px solid $cGray4;}
  &-left {border-left:1px solid $cGray4;}
  &-noborder {border:0!important;}
}
.ico-mapfre_30_buscar {
  font-size:$fz17;
  &:before {position: relative;top: 2px;}
}

.modal-dialog{
  margin-bottom: 0;
}
.modal-content{
  background: $cWhite1;
  padding-bottom:35px;
  padding-top:35px;
  border: 0;
  @include prefix(border-radius, 6px);
}
/*#################
# Modal
#################*/
.g-close-modal{
  color: $cGray3;
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  @include prefix(transition, all 0.25s linear);
  span{
    font-size: $fz30;
  }
  &:hover,
  &:focus{
    color: $cGray3;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.g-row{
  font-size: 0;
  &-fz12{
    font-size: 0;
    .g-col,
    .g-col-5pd,
    .g-col-xs,
    .g-col-sm,
    .g-col-ms,
    .g-col-md,
    .g-col-lg{
      font-size: $fz12;
    }
  }
}
.g-col{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  &-5pd{
    padding-left: 5px;
    padding-right: 5px;
  }
  &-xs,
  &-sm,
  &-ms,
  &-md,
  &-lg{
    font-size: $fz14;
    &.top{
      vertical-align: top;
    }
    &.middle{
      vertical-align: middle;
    }
    &.bottom{
      vertical-align: bottom;
    }
  }
}
.g-col-xs{
  float: none;
  @include inlineblock();
}
@media (min-width: $break-large) {
  .g-col-lg{
    float: none;
    @include inlineblock();
  }
}
@media (min-width: $break-medium) {
  .g-col-md{
    float: none;
    @include inlineblock();
  }
}
@media (min-width: $break-small) {
  .g-col-sm{
    float: none;
    @include inlineblock();
  }

  .g-steps{
    height: 110px;
  }
}
@media (min-width: $break-xsmall) {
  .g-col-ms{
    float: none;
    @include inlineblock();
  }
}
.g-overflow{
  &-auto-xs{
    overflow: auto;
  }
  &-hidden-xs{
    overflow: hidden;
  }
  &-visible-xs{
    overflow: visible;
  }
  &-scroll-xs{
    overflow: scroll;
  }
}
@media (max-width: $break-medium){
  .g-overflow{
    &-auto-md{
      overflow: auto;
    }
    &-hidden-md{
      overflow: hidden;
    }
    &-visible-md{
      overflow: visible;
    }
    &-scroll-md{
      overflow: scroll;
    }
  }
}
@media (max-width: $break-small){
  .g-overflow{
    &-auto-sm{
      overflow: auto;
    }
    &-hidden-sm{
      overflow: hidden;
    }
    &-visible-sm{
      overflow: visible;
    }
    &-scroll-sm{
      overflow: scroll;
    }
  }
}
@media (max-width: $break-xsmall){
  .g-overflow{
    &-auto-ms{
      overflow: auto;
    }
    &-hidden-ms{
      overflow: hidden;
    }
    &-visible-ms{
      overflow: visible;
    }
    &-scroll-ms{
      overflow: scroll;
    }
  }
}
.gnContentAuto{
  &-bg,
  &-lg,
  &-xlg,
  &-md,
  &-sm,
  &-ms,
  &-xs{
    // @extend .g-overflow-auto-xs;
    @extend .g-overflow-hidden-xs;
    overflow-y: auto;
  }
  &-bg{
   max-height: 570px;
  }
  &-lg{
   max-height: 270px;
  }
  &-xlg{
   max-height: 230px;
  }
  &-md{
    max-height: 190px;
  }
  &-sm{
    max-height: 170px;
  }
  &-ms{
    max-height: 150px;
  }
  &-xs{
    max-height: 70px;
  }
}
.g-nowrap { white-space: nowrap; }

/*##########################################################
# Para alinear grupos de elementos verticalmente
##########################################################*/
$elements: 'span', 'div', 'li';
@each $ele in $elements {
  .g-#{$ele}-middle, .g-#{$ele}-top, .g-#{$ele}-bottom  {
    &:before, > #{$ele} { display: inline-block; margin-left: -4px; }
    &:before { content: ''; height: 100%; }
    > #{$ele} { float: none; padding-left: 4px; }
  }
  .g-#{$ele}-middle {
    &:before, > #{$ele} { vertical-align: middle; }
  }
  .g-#{$ele}-top {
    &:before, > #{$ele} { vertical-align: top; }
  }
  .g-#{$ele}-bottom {
    &:before, > #{$ele} { vertical-align: bottom; }
  }
}
