//SE AGREGO PORQUE SE ESTA AGREGANDO NUEVOS BLOQUES EN VIDA, 
//PERO SOBRE COSAS QUE YA EXISTEN EN EL CSSGENERAL QUE ESTA HOMOLOGADO

//AQUI SE EDITARAN CSS DE CSSOLD, PORQUE QUIZAS ESTOS YA ESTEN RESUELTOS EN LOS CSS HOMOLOGADOS, 
//PERO POLIZAS AUN NO SE UNE A LOS CSS HOMOLOGADOS

.g-link{
	&.no-uppercase{
		text-transform: none;
	}
}
.u-float-center {
  display: inline-block;
  float: none;
  font-size: 0;
}
.g-box-attachment{
  background-color: $cGray5;
  border: 1px solid $cGray4;
}
.col-66-dktp { width: 66%; }
.col-60-dktp { width: 60%; }
  
.g-btn-mini {
  height:30px;
  line-height:30px;
  font-size:$font-size;
  padding-top: 0;
  padding-bottom: 0;
}