<form name="frmContratante" class="mt-xs-2 mt-md-0">
<section class="g-section-inner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="g-sub-title red">Detalle de cotización : {{$ctrl.detalleCotizacion.ramo}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-6 col-md-6 mb-xs-1 g-text-right-md">
        <h2><b>Nro cotizacion: </b>{{$ctrl.detalleCotizacion.numeroCotizacion || '------'}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="g-list-md g-box gBgcGray5 pt-xs-1 mb-xs-1 pr-xs-1 pl-xs-1">
          <ul class="row g-list-md mb-xs-1">
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Contratante
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombre}} {{$ctrl.detalleCotizacion.paterno}} {{$ctrl.detalleCotizacion.materno}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span> {{$ctrl.detalleCotizacion.idDocumento}}
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.numDocumento}}
              </div>
            </li>
          </ul>
          <ul class="row g-list-md mb-xs-1"> 
            <li class="col-md-4 clearfix cnt-item" ng-if="$ctrl.detalleCotizacion.idDocumento !=='RUC'">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Estado civil
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreEstadoCivil}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item" ng-if="$ctrl.detalleCotizacion.idDocumento !=='RUC'">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Edad
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{ $ctrl.detalleCotizacion.edad }}
              </div>
            </li>
          </ul>
          <ul class="row g-list-md mb-xs-1">
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Agente
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreAgente}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Camposanto
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreCampoSanto}}
              </div>
            </li>
          </ul>
          <ul class="row g-list-md mb-xs-1">
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Modalidad
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreModalidad}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Producto
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreProducto}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de Contrato
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreTipoProducto}}
              </div>
            </li>
          </ul>
          <ul class="row g-list-md mb-xs-1">
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Moneda
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                Nuevos Soles
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Precio Final
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.costoFinal | currency : "S/." : 2}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Número de Cuotas
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.numeroCuotas}}
              </div>
            </li>
          </ul>
          <ul class="row g-list-md mb-xs-1">
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Correo
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase" style="word-break: break-word;">
                {{$ctrl.detalleCotizacion.correoElectronico}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Teléfono de casa
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.celular1}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Teléfono móvil
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.celular2}}
              </div>
            </li>
          </ul>
          <ul class="row g-list-md mb-xs-1">
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Departamento
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreDepartamento}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Provincia
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreProvincia}}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Distrito
              </div>
              <div class="col-xs-7 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.nombreDistrito}}
              </div>
            </li>
          </ul>
          <ul class="row g-list-md mb-xs-1">
            <li class="col-md-12 clearfix cnt-item">
              <div class="col-xs-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Dirección
              </div>
              <div class="col-xs-7 col-md-12 item-dato g-text-uppercase">
                {{$ctrl.detalleCotizacion.direccion}}
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  
    <div class="row" ng-if="$ctrl.detalleCotizacion.estado!=='CERRADO'">
      <div class="col-md-12">
        <div class="g-list-md g-box gBgcGray5 pt-xs-1 mb-xs-1 pr-xs-1 pl-xs-1 pb-xs-1">
          <div class="box-white">
            <div class="row">
              <div class="col-md-4">
                <p><b>Precio Final</b></p>
                <p class="mb-md-0">{{$ctrl.detalleCotizacion.costoFinal | currency : "S/." : 2}} </p>
              </div>
              <div class="col-md-4">
                <p><b>Importe</b></p>
                <p class="mb-md-0"> {{$ctrl.detalleCotizacion.ConceptoDesglose.impPrimaTotal | currency : "S/." : 2}}</p>
              </div>
              <div class="col-md-4">
                <p><b>Descuento</b></p>
                <p class="mb-md-0">{{$ctrl.detalleCotizacion.descuento | currency : ""}} % </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-xs-2 mb-xs-3 mt-md-6">
      <div class="col-md-3 mb-xs-1">
        <button class="g-btn g-btn-white block" ng-click="$ctrl.enviarCotizacion($ctrl.detalleCotizacion)" ng-disabled="$ctrl.btnEnviarCorreo" ng-if="$ctrl.detalleCotizacion.estado!=='CERRADO'">ENVIAR COTIZACIÓN A CLIENTE</button>
      </div>
      <div class="col-md-3 mb-xs-1">
        <a class="g-btn g-btn-white block" ng-click="$ctrl.descargarPDF()" ng-if="$ctrl.detalleCotizacion.estado!=='CERRADO'">DESCARGAR PDF</a>
      </div>
      <div class="col-md-3 mb-xs-1 col-md-offset-3">
        <a class="g-btn g-btn-verde block" ng-click="$ctrl.irBandejaPoliza()">IR A BANDEJA</a>
      </div>
    </div>
  </div>
</section>
