/* Global Reembolso */
.box-total {
    @include prefix(border-radius, 5px);
}
.g-border-dotted {
    border: 2px dotted #d5d5d5;
    @include prefix(border-radius, 6px);
}
.g-border-right {
    border-right: 1px solid #d5d5d5;
}
.g-checkbox__reembolso {
  .ico-checkbox {
    display: block;
    &:after{
      display: none;
      content: "\e950";
      height: 40px;
      width: 40px;
      font-size: 21px;
      color: $verde1;
      position: absolute;
      top: 0;
      left: -6px;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 5;
    }
  }
  &.active {
    .ico-checkbox {
      &:after{
        display: block;
      }
    }
  }
}
.upload-files {
    .file {
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 15px;
        .file-name {
            margin-top: 5px;
        }
        &:not(:first-child) {
            padding-top: 15px;
        }
    }
}
.date-timer--wrapper {
  position: relative;
  padding: 30px 10px;
  border: 1px solid #bebebe;
}
.date-timer--label {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -75px;
  background-color: #fff;
  padding: 0 20px;
  font-weight: 700;
}
.g-content-outer {
	display: table;
	height: 100%;
    width: 100%;
    .g-content-inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}

.r-acordion__header {
  background-color: #fff;
}
.r-acordion__body {
  background-color: #fdfdfd;
}
.no-hidden {
  overflow: visible !important;
}

.alert-section {
  color: #ef9454;
  border-color: #ef9454;
  background-color: #fff4ec;
  .alert-text {
    border-bottom: 1px solid #ef9454;
    padding: 15px;
    @media (min-width: $break-small) {
      border-bottom: 0;
      border-right: 1px solid #ef9454;
      padding: 0 15px;
    }
  }
  .alert-create {
    padding: 0 15px;
  }
}

// AlertModal
.error-alert-reembolso {
  .error-icon {
    color: #d81e05;
    font-size: 70px;
    margin-bottom: 20px;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0 10px;
  }
  p {
    font-size: 16px;
  }
}

/* Pasos */
.body-pasos, .page-detalle-reembolso {
    .acordion {
        .panel-heading {
            padding: 20px;
            background-color: #fff;
            h4 {
                font-size: 14px;
                font-weight: 700;
            }
        }
        .panel-collapse {
            .panel-body {
                padding: 30px 15px;
                background-color: #fdfdfd;
                .cont-btn-editar {
                    margin-top: -15px;
                    span {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .tbl-reembolsos-comprobantes {
        .tbl-body {
            height: auto;
            max-height: 100%;
        }
        .tbl-footer {
            background-color: #f4f4f4;
            > li {
                width: 100%;
                .tbl-row {
                    .cell {
                        border-right: none;
                    }
                }
            }
        }
    }
    .content-add-comprobante {
        background-color: #fdfdfd;
        .add-comprobante-title {
            border-top-left-radius: 6px;
            background-color: #ffffff;
            border-top-right-radius: 6px;
            border-bottom: 1px solid #d5d5d5;
        }
        .content-procedimiento, .content-file-comprobante {
            padding-left: 15px !important;
        }
        .content-procedimiento {
            margin-left: 0;
        }
        .content-file-comprobante {
            margin-left: 0;
            @media (min-width: $break-small) { margin-left: 6.33333%; }
        }
        .content-alert {
            color: #ef9454;
            border-color: #ef9454;
            background-color: #fff4ec;
            .alert-text {
                padding-top: 15px;
                border-right: none;
                padding-bottom: 15px;
                border-bottom: 1px solid #ef9454;
                @media (min-width: $break-small) {
                    padding-top: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                    border-right: 1px solid #ef9454;
                }
            }
        }
    }
}

/* Acordions */
.acordion-comprobante {
    .acordion {
        .panel-collapse {
            .panel-body {
                padding: 0px;
            }
        }
    }
}

/* Modal */
.g-reembolso-popup {
    .g-modal-header {
        border-bottom: 1px solid #ddd;
    }
    .g-autocomplete-desing {
        padding-top: 0;
    }
    .g-modal-body {
        .content-modal-montos {
            height: 450px;
            overflow: auto;
            min-height: 450px;
        }
    }
    .box-search-afiliado, .box-search-procedimiento {
        height: 300px;
        overflow: auto;
        min-height: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
        .g-content-outer {
            display: table;
            height: 100%;
            width: 100%;
            .g-content-inner-middle {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
            }
        }
        .content-afiliado, .content-procedimiento {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .content-procedimiento {
            &.active {
                background-color: #eeeeee;
            }
        }
        &--no-height {
          height: inherit;
        }
    }
    .tag {
        width: auto;
        padding: 5px 10px;
        margin-bottom: 10px;
        display: inline-block;
        background-color: #eeeeee;
        border: 1px solid #797b7f;
        @include prefix(border-radius, 6px);
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &.popup-editar-solicitud-body {
        .g-autocomplete-desing {
            padding-top: 20px;
        }
    }
}

/* Success */
.solicitud-success {
    .icon-success {
        font-size: 90px;
    }
}

// input-modal
.input-modal {
  a {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4c4c4c;
    border: none;
    border-radius: 0;
    outline: none;
    padding: 0;
    box-shadow: none;
    position: relative;
    z-index: 5;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
  }
  &__container {
    word-break: break-all;
    height: 100%;
    overflow: hidden;
  }
}
/* Consultar Reembolso y Asignar Broker */
.page-consultar-reembolso,
.page-broker-reembolso {
    .g-tbl-wrapper {
        // overflow-y: auto;
        // overflow: inherit;
        .tbl-main {
            .tbl-body {
                overflow-y: auto;
                overflow: inherit;
            }
        }
    }
    .content-filter {
        @include prefix(border-radius, 6px);
        .g-autocomplete-desing {
            .select2-drop {
                background: #f4f4f4;
            }
        }
    }
    .tbl-consultar-reembolsos,
    .tbl-broker-reembolsos {
        .tbl-body {
            height: auto;
            max-height: 100%;
        }
        .doc-pendiente, .doc-info {
            padding: 10px;
            width: 70px;
            margin-right: 5px;
            position: relative;
            label {
              font-size: 10px;
              line-height: 11px;
              i {
                display: block;
              }
            }
            input[type=file] {
              bottom: 0;
              cursor: pointer;
              left: 0;
              opacity: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }
            .doc-pendiente-text {
                margin: 0;
                line-height: 1;
                font-size: 10px;
                span {
                    font-size: 14px;
                }
            }
        }
        .doc-info {
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 0;
            .doc-modal-info {
                right: 0;
                top: 100%;
                z-index: 99;
                width: 300px;
                padding: 15px;
                position: absolute;
                background-color: #fff;
                border: 1px solid #cccccc;
                p {
                    margin: 0;
                    text-transform: none;
                }
            }
        }
    }
}

/* Detalle Reembolso */
.page-detalle-reembolso {
    .comment-text {
        border-bottom: 2px solid $cGray4;
    }
}

/* Etiquetas */
.indicador {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.etiqueta {
  &.reProcesoAuditoria {
    color: $cWhite1;
    border: 1px solid $cWhite1;
    background-color: #CDC703;
  }
  &.rePagado {
    color: $cWhite1;
    border: 1px solid $cWhite1;
    background-color: $cGray2;
  }
}
.indicador, .etiqueta {
    &.rePreliquidada {
        color: $cWhite1;
        border: 1px solid $cWhite1;
        background-color: #47048A;
    }
    &.reObservada {
        color: $cWhite1;
        border: 1px solid $cWhite1;
        background-color: $cOrange3;
    }
    &.reObsLevantada {
        color: $cWhite1;
        border: 1px solid $cWhite1;
        background-color: $cGreen5;
    }
    &.reLiquidado {
        color: $cWhite1;
        border: 1px solid $cWhite1;
        background-color: $cBlue1;
    }
    &.reRechazado {
        color: $cWhite1;
        border: 1px solid $cWhite1;
        background-color: $cRed1;
    }
}

// medical-procedures
.numeric-wrapper {
  .g-input-design {
    padding-top: 0;
    input {
      height: 20px;
    }
  }
}

// toogle maintenance
.g-toggle .lbl {
  position: relative;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.g-toggle .cbx:checked ~ label {
  background: #749806;
}

.g-toggle .lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #f4f4f4;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 0.3s ease;
  border: 1px solid #d5d5d5;
}

.reembolso-maintenance {
  li {
    &.title {
      height: 31px !important;
      margin-left: -1px !important;
    }
    &.cell {
      height: 35px !important;
    }
  }
}

.liquidation-power-mask {
  span {
    font-size: 15px;
    position: absolute;
    top: 37px;
  }
  input {
    padding-left: 30px;
  }
}
