<div class="clearfix page-rrgg__modal mb-xs-3 mb-md-4">
  <button type="button" class="close g-close-modal" ng-click="$ctrl.close()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <div class="row no-margin-xs">
    <div class="col-md-12">
      <h2 class="g-sub-title g-myd-subtitle">Editar producto clonado</h2>
      <p class="fwLight">A continuación modifica los datos del producto</p>
    </div>
    <div class="col-sm-6 col-md-6 mb-xs-2">
      <mpf-input label="{label: 'Nuevo nombre del producto',required: false}" name="nombreProducto"
        ng-model="$ctrl.clonar.nombreProducto" ng-required="false"></mpf-input>
    </div>
  </div>
</div>
<div class="h-myd-pt--0">
  <div class="container">
    <div class="row row-footer">
      <div class="col-sm-3 mb-xs-2 mb-md-0"></div>
      <div class="col-sm-4 col-sm-offset-1">
        <a class="g-btn g-btn-verde block" ng-click="$ctrl.editClonacion()">GUARDAR CAMBIOS</a>
      </div>
    </div>
  </div>
</div>
