<div class="container kpi-filtros__container">
  <form>

    <!--Periodo máximo de consulta de indicadores-->
    <div class="row">
      <div class="col-md-12">
        <div class="g-box kpi-filtros__form">
          <h1 class="pb-xs-1">
            <b>Periodo máximo de consulta de indicadores</b>
          </h1>
          <div class="row">
            <div class="col-md-2">
              Periodo máximo
            </div>
            <div class="col-md-1">
              <mpf-input label="{label: '', required: true}" name="" data-ng-model="$ctrl.config.rangeSearchDate"
                data-ng-required="true" mpf-validation="onlyNumber" class="kpi-setting__control_onlyNumber"></mpf-input>
            </div>
            <div class="col-md-1">
              mes(es)
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              <a class="g-btn second-design g-btn-verde block" ng-click="$ctrl.applyUpdateConfig(1)" ng-class="{disabled: $ctrl.validEqual(1, $ctrl.config.rangeSearchDate, $ctrl.configCopy.rangeSearchDate, 0, 0) }">GUARDAR</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Tiempo (días) promedio de atención por forma de reclamo-->
    <div class="row">
      <div class="col-xs-12">
        <div class="g-box kpi-filtros__form">
          <h1 class="pb-xs-1">
            <b>Tiempo (días) promedio de atención por forma de reclamo</b>
          </h1>
          <div class="row">
            <div class="col-md-2">
              Atención de créditos
            </div>
            <div class="col-md-1">
              <mpf-input label="{label: '', required: true}" name="" data-ng-model="$ctrl.config.tiempoPromedioAtencion.umbral.credito"
                data-ng-required="true" mpf-validation="onlyNumber" class="kpi-setting__control_onlyNumber"></mpf-input>
            </div>
            <div class="col-md-1">
              día(s)
            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              Atención de reembolsos
            </div>
            <div class="col-md-1">
              <mpf-input label="{label: '', required: true}" name="" data-ng-model="$ctrl.config.tiempoPromedioAtencion.umbral.reembolso"
                data-ng-required="true" mpf-validation="onlyNumber" class="kpi-setting__control_onlyNumber"></mpf-input>
            </div>
            <div class="col-md-1">
              día(s)
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              <a class="g-btn second-design g-btn-verde block" ng-click="$ctrl.applyUpdateConfig(2)" ng-class="{disabled: $ctrl.validEqual(2,$ctrl.config.tiempoPromedioAtencion.umbral.credito,$ctrl.configCopy.tiempoPromedioAtencion.umbral.credito,$ctrl.config.tiempoPromedioAtencion.umbral.reembolso,$ctrl.configCopy.tiempoPromedioAtencion.umbral.reembolso) }">GUARDAR</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Costo (S/) promedio por atención-->
    <div class="row">
      <div class="col-xs-12">
        <div class="g-box kpi-filtros__form">
          <h1 class="pb-xs-1">
            <b>Costo (S/) promedio por atención</b>
          </h1>
          <div class="row">
            <div class="col-md-2">
              Umbral positivo
            </div>
            <div class="col-md-1">
              S/
            </div>
            <div class="col-md-1">
              <m-Numeric-Textbox ng-model="$ctrl.config.costoPromedioAtencionPaciente.umbralAtencion.umbralMax"
                label="{label: '', required: false}" ng-required="true" class="kpi-setting__control_moneda"></m-Numeric-Textbox>
            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              Umbral negativo
            </div>
            <div class="col-md-1">
              S/
            </div>
            <div class="col-md-1">              
                <m-Numeric-Textbox ng-model="$ctrl.config.costoPromedioAtencionPaciente.umbralAtencion.umbralMin"
                label="{label: '', required: false}" ng-required="true" class="kpi-setting__control_moneda"></m-Numeric-Textbox>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              <a class="g-btn second-design g-btn-verde block" ng-click="$ctrl.applyUpdateConfig(3)" ng-class="{disabled: $ctrl.validEqual(3,$ctrl.config.costoPromedioAtencionPaciente.umbralAtencion.umbralMax ,$ctrl.configCopy.costoPromedioAtencionPaciente.umbralAtencion.umbralMax ,$ctrl.config.costoPromedioAtencionPaciente.umbralAtencion.umbralMin , $ctrl.configCopy.costoPromedioAtencionPaciente.umbralAtencion.umbralMin ) }">GUARDAR</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Costo (S/) promedio por paciente-->
    <div class="row">
      <div class="col-xs-12">
        <div class="g-box kpi-filtros__form">
          <h1 class="pb-xs-1">
            <b>Costo (S/) promedio por paciente</b>
          </h1>
          <div class="row">
            <div class="col-md-2">
              Umbral positivo
            </div>
            <div class="col-md-1">
              S/
            </div>
            <div class="col-md-1">              
                <m-Numeric-Textbox ng-model="$ctrl.config.costoPromedioAtencionPaciente.umbralPaciente.umbralMax"
                label="{label: '', required: false}" ng-required="true" class="kpi-setting__control_moneda"></m-Numeric-Textbox>
            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              Umbral negativo
            </div>
            <div class="col-md-1">
              S/
            </div>
            <div class="col-md-1">              
                <m-Numeric-Textbox ng-model="$ctrl.config.costoPromedioAtencionPaciente.umbralPaciente.umbralMin"
                label="{label: '', required: false}" ng-required="true" class="kpi-setting__control_moneda"></m-Numeric-Textbox>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              <a class="g-btn second-design g-btn-verde block" ng-click="$ctrl.applyUpdateConfig(4)" ng-class="{disabled: $ctrl.validEqual(4,$ctrl.config.costoPromedioAtencionPaciente.umbralPaciente.umbralMax ,$ctrl.configCopy.costoPromedioAtencionPaciente.umbralPaciente.umbralMax ,$ctrl.config.costoPromedioAtencionPaciente.umbralPaciente.umbralMin ,$ctrl.configCopy.costoPromedioAtencionPaciente.umbralPaciente.umbralMin ) }">GUARDAR</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Costo (S/) paciente mes-->
    <div class="row">
      <div class="col-xs-12">
        <div class="g-box kpi-filtros__form">
          <h1 class="pb-xs-1">
            <b>Costo (S/) paciente mes</b>
          </h1>
          <div class="row">
            <div class="col-md-2">
              Valor de ticket promedio
            </div>
            <div class="col-md-1">
              S/
            </div>
            <div class="col-md-1">
                <m-Numeric-Textbox ng-model="$ctrl.config.costoPacienteMes.umbral.umbral"
                label="{label: '', required: false}" ng-required="true" class="kpi-setting__control_moneda"></m-Numeric-Textbox>              
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              <a class="g-btn second-design g-btn-verde block" ng-click="$ctrl.applyUpdateConfig(5)" ng-class="{disabled: $ctrl.validEqual(5,$ctrl.config.costoPacienteMes.umbral.umbral ,$ctrl.configCopy.costoPacienteMes.umbral.umbral ,0,0) }" >GUARDAR</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Tiempo (días) promedio de atención por forma de reclamo SOAT-->
    <div class="row">
      <div class="col-xs-12">
        <div class="g-box kpi-filtros__form">
          <h1 class="pb-xs-1">
            <b>Tiempo (días) promedio de atención por forma de reclamo SOAT</b>
          </h1>
          <div class="row">
            <div class="col-md-2">
              Atención de créditos
            </div>
            <div class="col-md-1">
              <mpf-input label="{label: '', required: true}" name="" data-ng-model="$ctrl.config.tiempoPromedioAtencion.umbral.creditosoat"
                data-ng-required="true" mpf-validation="onlyNumber" class="kpi-setting__control_onlyNumber"></mpf-input>
            </div>
            <div class="col-md-1">
              día(s)
            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              Atención de reembolsos
            </div>
            <div class="col-md-1">
              <mpf-input label="{label: '', required: true}" name="" data-ng-model="$ctrl.config.tiempoPromedioAtencion.umbral.reembolsosoat"
                data-ng-required="true" mpf-validation="onlyNumber" class="kpi-setting__control_onlyNumber"></mpf-input>
            </div>
            <div class="col-md-1">
              día(s)
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2 kpi-dashboard__download-report">
              <a class="g-btn second-design g-btn-verde block" ng-click="$ctrl.applyUpdateConfig(6)" ng-class="{disabled: $ctrl.validEqual(6,$ctrl.config.tiempoPromedioAtencion.umbral.creditosoat,$ctrl.configCopy.tiempoPromedioAtencion.umbral.creditosoat,$ctrl.config.tiempoPromedioAtencion.umbral.reembolsosoat,$ctrl.configCopy.tiempoPromedioAtencion.umbral.reembolsosoat) }">GUARDAR</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </form>
</div>