<form name="frmbodistrictItemMaintenance" action="">
    <div class="col-md-12 g-list-md g-boxRb pt-xs-2 mb-xs-2 ng-scope">
        <div class="row">
            <div class="col-md-11" style="font-size:18px">
                {{$ctrl.title}}
            </div>
            <div class="col-md-1 gH4" ng-if="$ctrl.type===2">
                <a href="" class="pull-right" ng-click="$ctrl.delete($ctrl.bodistrict)">
                    <i class="glyphicon glyphicon-trash nvt-btn-crud"></i>
                </a>
            </div>
        </div>
        <div class="row g-list-sm clearfix" >
            <div class="col-md-4 clearfix mb-xs-2 mt-xs-2">
                <mpf-select
                    ng-if="$ctrl.type===1"
                    data-m-data-source="$ctrl.districts"
                    data-ng-model="$ctrl.frm.districts"
                    data-text-field="description"
                    data-value-field="id"
                    label="{label: 'Distrito ', required: true}"
                    m-Empty-Option = "{enterData : true}"
                    name="ndistrito"
                    ng-required="true">
                </mpf-select>
                <mpf-input
                    ng-if="$ctrl.type===2"
                    label="{label: 'Distrito', required: false}"
                    name="nDistrito"
                    ng-model="$ctrl.frm.district.description"
                    ng-disabled="true"
                    ng-required="true">
                </mpf-input>
            </div>
            <div class="col-md-4 clearfix mb-xs-2 mt-xs-2">
                <mpf-select
                    ng-if="$ctrl.type===1"
                    data-m-data-source="$ctrl.bodispatchs"
                    data-ng-model="$ctrl.frm.bodispatchs"
                    data-text-field="description"
                    data-value-field="id"
                    label="{label: 'BO Despacho relacionado ', required: true}"
                    m-Empty-Option = "{enterData : true}"
                    name="nbodespacho"
                    ng-required="true">
                </mpf-select>
                <mpf-select
                    ng-if="$ctrl.type===2"
                    data-m-data-source="$ctrl.bodispatchs"
                    data-ng-model="$ctrl.frm.bodispatch"
                    data-text-field="description"
                    data-value-field="id"
                    label="{label: 'BO Despacho relacionado ', required: true}"
                    m-Empty-Option = "{enterData : true}"
                    name="nbodespacho"
                    ng-required="true">
                </mpf-select>
            </div>
            <div class="col-md-12 clearfix mb-xs-2 mt-xs-2" style="text-align: right;">
                <a class="g-btn second-design g-btn-transparent" ng-click="$ctrl.cancel()">CANCELAR</a>
                <a class="g-btn second-design g-btn-verde"
                    ng-class="{disabled: !frmbodistrictItemMaintenance.$valid}"
                    ng-click="$ctrl.save()"
                >{{$ctrl.action}}</a>
            </div>
        </div>
    </div>
</form>
