.containerBusqueda {
  position: relative;

  @include breakpoint(md) {
    &::before {
      background: $gris13;
      bottom: 0;
      content: '';
      left: 24%;
      position: absolute;
      top: 0;
      width: 2px;
    }
  }
}

.cli-busqueda__col {
  padding: 35px 10px 35px 20px;
  position: relative;
}

.modal-cpd {
  .modal-content {
    display: block;
    margin: 0 auto;
    max-width: 836px;
    width: 100%;

    @include breakpoint(md) {
      padding: 20px 35px 50px;
    }
  }
}

.modal-client-detail {
  height: 100%;
  width: 100%;

  &__header {
    border-bottom: 1px solid $gris20;
    padding-bottom: 13px;
  }

  &__btn {
    display: inline-block;
    opacity: 1;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  &__btn-txt {
    color: $modal-btn-color;
    font-weight: 300;
    position: relative;
    top: -2px;
  }

  &__btn-ico {
    font-size: 28px;
    font-weight: 500;
    opacity: 0.5;
  }

  &__user-ico {
    border-radius: 15px;
    color: $gris20;
    font-size: 28px;
    padding: 7px 7px 7px 0;
    text-align: center;
  }

  &__user-name {
    color: $verde2;
    font-size: 16px;

    @include breakpoint(sm) {
      margin-right: 15px;
    }
  }

  &__body {
    padding: 0;
  }

  &__info-block {
    p {
      font-size: 14px;
    }
  }

  &__body-title {
    font-size: 14px;
    margin: 10px auto 20px;
  }

  &__table-wp {
    border: none;
    overflow-x: auto;
  }

  &__table {
    margin-top: 20px;
    width: 100%;

    .modal-client-detail__td {
      border-top: none;
      padding: 20px 0 5px;
    }

    th {
      font-weight: bold;
      padding: 15px 0;
    }
  }

  &__state,
  &__user-name {
    padding-bottom: 10px;
    position: relative;
    top: -5px;
  }

  &__state {
    display: block;

    @include breakpoint(md) {
      display: inline-block;
    }
  }
}

.lista-title__txt-2--ubi {
  margin-top: 10px;
}
