.modal-datepicker {
  &.fade {
    .modal-dialog {
      transform: translate(0, -75%);
    }
  }

  &.in {
    .modal-dialog {
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .modal-dialog {
    max-width: 295px;

    @include breakpoint(sm) {
      max-width: 665px;
    }
  }

  .modal-content {
    background: $gris13;
    padding: 20px;
  }
}

.rep-modal-dp__box {
  .col-item {
    padding: 0;
  }

  @include breakpoint(sm) {
    .col-item {
      padding: 0 15px;

      &:last-child {
        border-left: 1px solid $gris23;
      }
    }
  }
}

.mighty-picker__holder {
  margin: auto auto 20px;
  max-width: 260px;
  position: relative;

  @include breakpoint(sm) {
    margin: auto;
  }

  .mighty-picker__next-month,
  .mighty-picker__prev-month {
    background: none;
    border: none;
    border-radius: 5px;
    color: transparent;
    padding: 4px;
    position: absolute;
    top: 0;

    &:hover {
      &::before {
        color: $verde2;
      }
    }

    &::before {
      color: $negro2;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .mighty-picker__prev-month {
    left: 10px;

    &::before {
      color: $negro2;
      content: '\e94d';
      font-family: 'Mapfree-iconss';
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .mighty-picker__next-month {
    left: 228px;

    &::before {
      content: '\e94e';
      font-family: 'Mapfree-iconss';
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .mighty-picker__month {
    margin: 0 auto;
    text-align: center;
  }

  .mighty-picker__month-name {
    background: $gris30;
    font-weight: bold;
    padding: 5px 30px 11px;
  }

  .mighty-picker-calendar__days {
    background: $gris30;
  }

  .mighty-picker-calendar__weekday {
    font-weight: bold;
    text-align: center;
  }

  .mighty-picker-calendar__day {
    color: $negro2;

    &.mighty-picker-calendar__day--disabled {
      color: $gris28;
    }

    &.mighty-picker-calendar__day--selected {
      background: $rojo-primario;
      border-radius: 50%;
      color: $white;
    }
  }

  .mighty-picker-calendar__day-wrapper {
    height: 37px;
    line-height: 24px;
    min-width: 27px;
    padding: 6px 10px;
    text-align: center;
  }
}

.rep-modal__btn-wp {
  text-align: right;

  @include breakpoint(sm) {
    margin-top: 15px;
    padding-right: 24px;
  }
}
