@charset "UTF-8";
.panel__wrapper {
  margin-bottom: 15px;
  position: relative;

  .btn--close {
    background-color: transparent;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.panel__link-more,
.panel__dropdown {
  margin: 0;
}

.panel__link-more {
  color: $gris2;
}

.panel__dropdown {
  padding-right: 25px;
  position: relative;

  &::before {
    content: '\e956';
    font-family: 'Mapfree-iconss';
    font-size: 1.2em;
    line-height: 1.5;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
}

.panel__dropup {
  padding-right: 25px;
  position: relative;

  &::before {
    content: '\e957';
    font-family: 'Mapfree-iconss';
    font-size: 1.2em;
    line-height: 1.5;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
}

.panel__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.panel__title {
  font-size: 1.3em;
  font-weight: 700;

  &.big {
    font-size: 1.4em;
    font-weight: normal;
  }
}

.panel__caption {
  line-height: 1.55;
  opacity: 0.55;
}

.panel__header {
  background: $gris24;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1;
  padding: 18px 25px 16px 20px;

  &.u-bg--grey {
    background: $gris9;
  }

  & > span {
    margin: 0;
  }
}

.panel__gray {
  background: $gris24;
}

.lista__content {
  @include breakpoint(md) {
    padding-left: 37px;
  }
}

.lbl-title {
  font-size: 1.25em;
}

.lista__item {
  padding: 0 20px;
  position: relative;

  &:not(:last-child) {
    &::before {
      background: $gris13;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 92%;
      z-index: 2;
    }
  }

  &.lista__item--bullet {
    padding-left: 28px;

    &::after {
      color: $gris13;
      content: '•';
      font-size: 3em;
      left: 3px;
      line-height: 1;
      position: absolute;
      top: 7px;
    }
  }

  &.lista__item--card {
    &::before {
      content: none;
    }
  }
}

.lista__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.lista-header__col {
  padding: 18px 0;

  &:first-child {
    @media(max-width: 991px) {
      padding-bottom: 5px;
    }
  }

  &:last-child {
    @media(max-width: 991px) {
      padding-top: 0;
    }
  }

  p {
    &:last-child {
      margin-bottom: auto;
    }
  }

  &.lista-header__col-link-more {
    width: 100%;

    @include breakpoint(sm) {
      width: auto;
    }
  }

  &.lista-header__col--collapse {
    width: 100%;

    @include breakpoint(sm) {
      width: auto;
    }
  }
}

.lista-title__txt {
  display: inline-block;
  font-weight: 500;
  margin: auto;
}

.lista-title__txt-2 {
  display: inline-block;
  margin: 15px auto auto;
  width: 100%;

  @include breakpoint(sm) {
    margin: 0 0 0 15px;
    width: auto;
  }
}

.lista-title__ico {
  align-self: flex-start;
  color: $gris23;
  font-size: 2.3em;
  font-weight: 500;
  margin: 0 5px 0  0;
}

.panel__btn--edit {
  margin: 0;
}

.lista__collapse {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.lista-collapse__item {
  margin: 0;
  padding: 0 0 20px;
  width: 100%;

  &:not(:last-child) {
    padding: 0 0 10px;
  }

  @include breakpoint(sm) {
    margin: 0;
    padding: 0 0 20px;
    width: auto;
  }
}

.lista-body__wp {
  border-top: 1px solid $gris20;
}

.lista__body {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.lista-body__item {
  margin: 0 0 15px;
  position: relative;
}

.lista__item--card {
  background: $gris25;
  border: 1px solid $gris13;
  border-radius: 5px;
  margin-bottom: 25px;
}

.panel__body {
  padding: 0 14px 14px;
}

.panel__card {
  background-color: $white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  margin-bottom: 5px;

  .card__header {
    border-bottom: 1px solid $border-color;
    padding: 18px 18px 16px;
    position: relative;

    p {
      margin-bottom: 0;
    }

    .card__title {
      font-weight: 700;

      @media(max-width: 767px) {
        margin-bottom: 5px;
      }
    }
  }

  .card__body {
    padding: 10px 18px 8px;
  }
}

