%padico {
  font-size: xx-large;
  padding-right: 25px;
  vertical-align: inherit;
}

// .title-r {
//   color: $title-color;
//   font-family: 'Roboto';
//   font-size: 3.1rem;
//   font-style: normal;
//   font-weight: lighter;
//   line-height: 1.1;

//   .state-checked {
//     margin-left: 15px;
//     position: relative;
//     top: -4px;
//   }
// }

.padt-60 {
  padding-top: 60px;
}

.padico {
  @extend %padico;
}

.padicomod {
  @extend %padico;

  display: block;
  padding-bottom: 20px;
}

.g-close-modal {
  font-weight: normal;
}

.mpi {
  padding-top: 20px;
}

.mpit {
  font-family: 'Roboto';
  font-size: x-large;
}

.dropdown-menu {
  border-color: $green-gray;
  box-shadow: none;
}

.ddmenup {
  padding: 12px 0;
}

.ddmenui {
  padding-bottom: 8px;
}

// .containerMapa {
//   .c-input-txt {
//     @include placeholder {
//       font-size: 16px;
//     }
//   }
// }

.grupo {
  border-bottom: 2px solid $border-color;
  width: 200px;
}

.no-spin {
  // sass-lint:disable-block no-vendor-prefixes
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
  }
}

.animate-show {
  background: $white;
  opacity: 1;

  &.ng-hide {
    line-height: 0;
    opacity: 0;
  }

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: linear 0.2s;
  }
}
