.map-search__title-box {
  border-bottom: 1px solid $gris13;
  padding-bottom: 15px;
}

.frm-search__input-box {
  .select-box {
    margin-right: 25px;
  }
}

.frm-search__col {
  margin-bottom: 30px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(lg) {
    &:not(:last-child) {
      margin: 0 25px 0 0;
    }
  }
}

.title-frm-search {
  font-weight: 300;
}

.title-select-search {
  .lbl-title {
    display: inline-block;
    margin-left: 0;
    margin-right: 10px;
  }

  .select-box {
    display: inline-block;
    width: auto;
  }

  select {
    border: none;
    color: $verde2;
    font-size: 1.3em;
    font-weight: 400;
    padding-right: 20px;
  }
}

.ico-arrow--down {
  color: $gris2;
  font-size: 1.2em;
  pointer-events: none;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.frm-search__lbl-select {
  font-size: 0.8em;
  left: 0;
  position: absolute;
  top: -7px;
}

.provee-form {
  .collapsed {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.typeahead__wp {
  @include breakpoint(md) {
    margin-bottom: 180px;
  }
}
