.panel__caption--ubi {
  margin: 10px 0;

  @include breakpoint(md) {
    margin-top: 0;
  }
}

.panel__link-more {
  &.panel__link-more--search-provee {
    display: inline-block;
    margin: 0 0 20px;

    @include breakpoint(md) {
      margin: 0;
      position: absolute;
      right: 20px;
      top: 25px;
    }
  }
}

.frm-seemore__ico {
  display: inline-block;
  position: relative;
  transform: rotate(180deg);

  &.is-collapse {
    transform: rotate(0deg);
  }
}
