.reg-origin__r-btn-wp {
  @include breakpoint(lg) {
    &:not(:last-child) {
      padding-right: 0;
    }
  }
}

.register-form__tipo-ref {
  background: $white;
  border: 3px solid transparent;
  border-radius: 8px;
  box-shadow: 0 1px 0 2px $gris20;
  color: $title-color;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  &:hover {
    border: 3px solid $verde2;
  }

  &--active {
    border: 3px solid $verde2;
  }

  input {
    display: none;
  }
}

.frm-reg__btn {
  display: inline-block;
  width: 100%;

  .frm-search__txt-box {
    margin: auto;
    max-width: 200px;
  }
}

.register-form {
  padding: 20px 0;

  @include breakpoint(lg) {
    padding: 20px 15px;
  }

  &__submit {
    text-align: right;
  }
}
