//  steps
.reg-step {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.4;
  padding: 0;
  text-align: center;

  @include breakpoint(sm) {
    font-size: 14px;
    line-height: 30px;
  }

  @include breakpoint(lg) {
    font-size: 15px;
    line-height: 40px;
  }

  &:not(:last-child) {
    padding: 0 15px 0 0;
  }

  &.reg-step--summary {
    color: $verde2;
    opacity: 1;

    .reg-step__circle {
      background: $verde2;
      border-color: $verde2;
      color: $white;
      height: 35px;
      line-height: 31px;
      margin: 0 10px 0 0;
      width: 35px;
    }

    .register-step__title {
      color: $verde2;
      display: inline-block;
    }
  }

  &.reg-step--current {
    color: $verde2;
    opacity: 1;

    .reg-step__circle {
      border-color: $verde2;
    }

    .register-step__title {
      color: $verde2;
    }
  }

  &.reg-step--filled {
    .reg-step__circle {
      background: $verde2;
      border-color: $verde2;
      color: transparent;
      font-size: 0;

      &::before {
        color: $white;
        content: '\e950';
        font-family: 'Mapfree-iconss';
        font-size: 2.5rem;
      }
    }

    .register-step__title {
      color: $verde2;
    }
  }
}

.reg-step__circle {
  border: 2px solid $title-color;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  line-height: 46px;
  width: 50px;

  @include breakpoint(sm) {
    height: 30px;
    line-height: 28px;
    margin: 0 10px 0 0;
    width: 30px;
  }

  @include breakpoint(lg) {
    height: 40px;
    line-height: 38px;
    width: 40px;
  }
}

.reg-step-wp--origen {
  .register-step {
    padding: 0;
  }
}

.register-step {
  margin: 30px auto;
  padding: 0 20px;

  @include breakpoint(sm) {
    padding: 0;
  }

  @include breakpoint(md) {
    margin: 0 auto 30px;
  }

  &__item {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    @include breakpoint(md) {
      font-size: 14px;
      text-align: left;
    }
  }

  &__number {
    border: 2px solid $title-color;
    border-radius: 28px;
    color: $title-color;
    font-weight: 500;
    padding: 13px 20px;

    @include breakpoint(md) {
      border-radius: 18px;
      font-weight: bold;
      padding: 7px 11px;
    }
  }

  &__ico {
    background: $verde2;
    border: 2px solid $verde2;
    border-radius: 28px;
    color: $white;
    font-weight: bold;
    margin-right: 3px;
    padding: 11px 23px;
    position: relative;

    @include breakpoint(md) {
      border-radius: 18px;
      padding: 5px 13px;
    }

    &--checkmark {
      font-size: 30px;
      position: absolute;
      right: 8px;
      top: 6px;

      @include breakpoint(md) {
        font-size: 22px;
        right: 2px;
        top: 2px;
      }
    }
  }

  &__sub-title {
    font-size: 1.97em;

    @include breakpoint(md) {
      font-size: 3.1em;
    }
  }

  &__title {
    color: $title-color;
    display: none;
    font-weight: bolder;
    margin-left: 0;

    @include breakpoint(sm) {
      display: inline-block;
    }
  }

  &--active {
    .register-step__number {
      border-color: $verde2;
      color: $verde2;
    }

    .register-step__title {
      color: $verde2;
    }
  }

  &--aprove {
    .register-step__number {
      background: $verde2;
      border-color: $verde2;
      color: $white;
    }

    .register-step__title {
      color: $verde2;
    }
  }
}

//  summary

.register-progress-block {
  border: 1px solid $border-color;
  margin: 20px 0;
  position: relative;

  &__btn--title {
    position: relative;
    top: -9px;
  }
}

.pro-summary-box--left,
.pro-summary-box--right {
  background: $gris9;
  padding: 15px;
}

.pro-summary-box--right {
  @include breakpoint(md) {
    &.animate-show {
      &.ng-hide {
        display: block !important;
        line-height: inherit;
        opacity: 1;
      }
    }
  }
}

.pro-summary__options {
  position: absolute;
  right: 10px;
  top: 15px;
}

.reg-summary--edit {
  display: none;

  @include breakpoint(sm) {
    display: inline-block;
  }
}

.c-mf-collapse--summary {
  top: -5px;

  @include breakpoint(md) {
    display: none;
  }
}

.pro-summary__txt {
  padding-left: 0;

  &:last-child {
    p {
      margin: 0;
    }
  }

  .lista-body__item {
    padding: 0;
  }

  @include breakpoint(md) {
    &:not(:last-child) {
      padding: 0 30px 0 0;
    }

    p {
      margin: 0;
    }
  }
}

.reg-summary-data-extra {
  display: none;

  &.animate-show {
    display: block;
  }

  @include breakpoint(md) {
    display: block;

    &.animate-show {
      &.ng-hide {
        display: block !important;
        line-height: inherit;
        opacity: 1;
      }
    }
  }
}

form {
  &[name='registerForm'] {
    .select__lbl {
      position: static;
    }
  }
}
