.reg-card-resumen {
  padding: 0;
}

.reg-resumen__header {
  padding: 15px 40px 15px 15px;
}

.reg-resumen__box-header {
  padding: 15px 15px 5px;
}

.reg-resumen__box {
  padding: 18px 15px;
  position: relative;
}

.reg-resumen__btn--edit {
  .register-progress-block__btn--title {
    display: none;

    @include breakpoint(md) {
      display: inline-block;
    }
  }
}

.register-preview {
  &__title {
    font-family: 'roboto', regular;
    font-size: 25px;
    margin-bottom: 20px;
  }

  &__sub-title {
    font-family: 'roboto', regular;
    font-size: 18px;
    font-weight: 300;
  }

  &__text-area {
    border: 1px solid $border-color;
    height: 155px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }

  &__header {
    padding: 15px 0;
  }

  &__block-title {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    width: 82%;

    &.cuantity {
      margin-top: 13px;
    }
  }

  &--cuantity {
    background: $white;
    border: 1px solid $border-color;
    border-radius: 10px;
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 13%;
  }
}

.u-pvh-20 {
  padding: 20px;
}

.registro-receip {
  &--title {
    font-size: 18px;
    font-weight: 300;
  }

  &__sub-title {
    font-size: 20px;
    font-weight: 500;
  }

  &-request {
    font-size: 25px;

    &--check {
      color: $verde2;
      display: block;
      font-size: 80px;
    }

    &--title {
      display: block;
      font-weight: 300;
    }

    &--link {
      text-decoration: underline;
    }
  }

  &--border {
    border-top: 1px solid $border-color;
  }
}

.reg-receipt__header {
  &.lista__header {
    margin-bottom: 10px;
  }
}
