.tbl-wrapper {
  overflow: hidden;
  overflow-x: auto;
  &.noscroll-sm {
    overflow-x: auto;
  }
  &.noscroll-md {
    overflow-x: auto;
  }
  .tbl-main {
    min-width: 1170px;
    .tbl-header {
      background-color: $cGray5;
      font-size: $fz12;
      font-weight: $bold;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      li {
        margin: 8px 0;
        margin-left: -4px;
        padding: 7px 15px;
        @include inlineblock();
        border-right: 1px solid $cGray4;
        &:last-child {
          border-right: 0;
        }
      }
    }
    .tbl-body {
      overflow: auto;
      > li {
        border-bottom: 1px solid $cGray4;
        padding: 8px 0;
      }
      > li:first-child {
        padding-top: 8px;
        border-top: 0;
      }
      > li:last-child {
        padding-bottom: 8px;
        margin-bottom: 24px;
        border-bottom: 1px solid $cGray4;
      }
      li {
        .tbl-row {
          color: $cGray2;
          .cell {
            @include inlineblock;
            font-size: $fz13;
            padding: 7px 15px;
            margin-left: -4px;
            border-right: 1px solid $cGray4;
            &:last-child {
              border-right: 0;
            }
            &-title {
              display: block;
              text-transform: uppercase;
              font-weight: $bold;
            }
            &-label {
              display: block;
            }
          }
        }
      }
    }
  }
}
