.tab-scroll {
  width: 100%;

  &::before {
    background-image: linear-gradient(
      to left,
      #ffffff,
      #ffffff,
      rgba(255, 255, 255, 0)
    );
    content: "";
    height: 75px;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
  }

  .item {
    align-items: center;
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.11);
    color: #979797;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-right: 20px;
    min-height: 50px;
    min-width: 200px;
    padding: 0 10px;

    &.active {
      color: #8db602;
      border-bottom: 2px solid #8db602;
    }
  }

  &--options {
    display: flex;
    overflow: scroll;
    padding: 10px 5px;
    width: 100%;
  }
}
