.reportDown{
	color: red;
}
.reportUp{
	color: green;
}

.reportEqual{
	color: orange;
}
a[title="JavaScript charts"]{
	display: none !important;
}
#chartConsultationsBySpecialty, #barChartConsultationsBySpecialty {
	width	: 100%;
	height	: 500px;
}
#chartStructureBillingByPortfolio {
  width: 100%;
  height: 500px;
}
#chartPortfolioRaising {
	width: 100%;
	height: 500px;
}
#chartMonthlyPuchases,  #chartPieMonthlyPurchases, #chartSalesByCustomer, #chartPieSalesByCustomer, #chartSalesToMapfreSeat{
	width: 100%;
	height: 550px;
}
#chartStructurePortfolioGrowth, #chartStructureSpecialityGrowth {
	width	: 100%;
	height	: 500px;
}

div[ng-dropdown-multiselect]{
	margin-top:10px !important;
	& button{
		background-color:transparent !important;
		color:#4c4c4c;
		width: 100% !important;
		height: 35px !important;
		font-family:"Roboto", sans-serif !important;
		font-weight:400 !important;
		font-size:14px !important;
		text-transform:uppercase;
		text-align: left !important;
		border: none;
		padding-right: 14px !important;
		padding-left: 0px !important;
		& span.caret{
			font-size:21px !important;
			font-weight: 700;
			color: #888383 !important;
			float: right !important;
			border-top: 0 solid !important;
			font-family:'Mapfree-iconss' !important;
			
		}
		& span.caret:before{
			content: "\ea20" !important; }
	}
	
	& > div,& > div > div  {
		
		width: 100% !important;
		height: 35px !important;
		
	}
	
	button:hover, button:active, button.dropdown-toggle{
		background-color:transparent !important;
		-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
	}

	ul.dropdown-menu{
		width: 100% !important;
		font-family:"Roboto", sans-serif !important;
		font-weight:400 !important;
		font-size:14px !important;
		z-index: 10000 !important;;
	}
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 6px 10px;
	line-height: 1.4615384615384615;
	vertical-align: top;
	border-top: 1px solid #e9ecf0;
	
}
.table > thead > tr {
	background-color: #D5D5D5;
	font-weight: 700 !important;
	border-top: 1px solid #e9ecf0;
	
}
tr.detailrow > td{
	font-weight: 700 !important;
	
}
.table > thead > tr > th, .table > tbody > tr > td:first-child, .table > tbody > tr:last-child > td {
	background-color: #D5D5D5;
	border-top: 1px solid #D5D5D5;
	font-weight: 700 !important;
}



.table{
	
	width: 100%;
	max-width: 100%;
	margin-bottom: 19px;
	font-size:  9pt;
	background-color: transparent;
	display: table;
	border: 1px solid #D5D5D5;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}	
.table {
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				vertical-align: middle;
			}
		}
	}
}

.table-flipscroll{
	overflow: auto;
}

@media (max-width: 767px) {
	.table-flipscroll table:before,
	.table-flipscroll thead:before,
	.table-flipscroll table:after,
	.table-flipscroll thead:after {
			content: " ";
			display: table
	}
	.table-flipscroll table:after,
	.table-flipscroll thead:after {
			clear: both
	}
	.table-flipscroll table:before,
	.table-flipscroll thead:before,
	.table-flipscroll table:after,
	.table-flipscroll thead:after {
			content: " ";
			display: table
	}
	.table-flipscroll table:after,
	.table-flipscroll thead:after {
			clear: both
	}
	.table-flipscroll table,
	.table-flipscroll caption,
	.table-flipscroll td,
	.table-flipscroll thead,
	.table-flipscroll thead tr,
	.table-flipscroll th,
	.table-flipscroll tbody {
			display: block
	}
	.table-flipscroll table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			position: relative
	}
	.table-flipscroll table th,
	.table-flipscroll table td {
			margin: 0;
			vertical-align: top
	}
	.table-flipscroll table th:last-child,
	.table-flipscroll table td:last-child {
			border-bottom: 1px solid #e9ecf0
	}
	.table-flipscroll table td {
			min-height: 1.25em;
			text-align: left;
			border-left: 0;
			border-right: 0;
			border-bottom: 0
	}
	.table-flipscroll table thead {
			float: left
	}
	.table-flipscroll table th {
			text-align: left;
			border-bottom-width: 1px!important;
			border-left: 0
	}
	.table-flipscroll table th:first-child {
			border-top: 1px solid transparent!important
	}
	.table-flipscroll table tbody {
			width: auto;
			position: relative;
			overflow-x: auto;
			white-space: nowrap
	}
	.table-flipscroll table tbody tr {
			display: inline-block;
			vertical-align: top;
			border-left: 1px solid #e9ecf0
	}
	.table-vertical table,
	.table-vertical caption,
	.table-vertical thead,
	.table-vertical tbody,
	.table-vertical th,
	.table-vertical td,
	.table-vertical tr {
			display: block
	}
	.table-vertical thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px
	}
	.table-vertical tr {
			border: 1px solid #ccc
	}
	.table-vertical td {
			border: none;
			border-bottom: 1px solid #e9ecf0;
			position: relative;
			padding-left: 50%!important;
			white-space: normal;
			text-align: left
	}
	.table-vertical td:before {
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
			text-align: left;
			font-weight: 700;
			content: attr(data-title)
	}
}





.g-title-modal{
  font-size: 21px;
  font-weight: 700 !important;
  text-align: center;
  color: $gris2;
}
.g-tag {
	@include inlineblock; width: 80px; color: $c-white; text-align: center; font-weight: $bold; padding: 2px 0;
	&.tag-green {background-color: $verde2;}
	&.tag-gray {background-color: $gris27;}
	&.tag-orange {background-color: #FF7800;}
	&.tag-blue {background-color: #6676EE;}
}
.page-medical-central {

	&-bandeja {
		.g-box {
			border:2px solid $gris4; margin-bottom: 10px;
			&-body {
				background-color: $gris6; border-radius: 10px;
				.search-result {
					color:$gris3;
					&-label {
						@include inlineblock; color: $gris2; font-weight: $bold;
						&.asistencia-label { font-size: $font-size4; }
						&.asistencia-date { color: $gris3; font-weight: $normal; }
					}
					&-data {
						@include inlineblock; font-weight:$normal; color: $gris2;
						&.asistencia-data { font-size: $font-size4; font-weight: $bold; }
						&.asistencia-date { color: $gris3; font-weight: $normal; }
					}
					&-tag {}
				}
			}
		}
	}

	/***************************
	* Asistencias
	****************************/
	&-asistencia {

    .g-section-tabs {
      .tab-content {
        &:after {
          background-color: transparent;
          @media (min-width: $break-large) {
            background-color: $gris4;
          }
        }
      }
    }

		.section-tabs { margin-top: -1px; padding-top: 0; }
		.tipo-siniestro {
			&-item { margin-top: 5px; margin-bottom: 5px; }
		}

		.g-title {
			position: relative; top: 0; width: 100%; background-color: $c-white; z-index: 1037;
			.ico-title { display: none; }
			h1 { font-size: $font-size2; padding-left: 0; }
			.g-tag { display: block; margin-top: 5px; margin-left: 0; font-size: $font-size; }
			.siniestro-box { @include inlineblock; margin-right: 10px; color: $gris3; font-size: $font-size; }
			.g-btn {
				background-color: transparent; border: 0; color: $gris26;
				&:hover, &:focus{ color:$gris2; }
			}
			.ico-save { font-size: $font-size5; }
			.menuMasOpc {
				position: absolute; top: 50px; right: 4px; width: 190px; background-color: $c-white; z-index: 1000; border: 1px solid $gris4;
				li {
					padding: 5px 10px; border-bottom: 1px solid $gris4;
					a { display: block; padding: 5px 0; color: $gris26; font-weight: $bold; font-size: 14px;}
					&:hover {
						background-color: $gris5;
						a { color: $gris2; }
					}
					&:last-child { border-bottom: 0; }
				}
			}
		}

		.g-sub-title2 {
			span.ico-mapfre { color: $verde2; }
		}

		.g-box3 {
			&.box-add-occupant {
				&-2 {
					text-align: left;
					.g-label3 {
						padding-left: 4px;
					}
					.row-add-item {
						.col-add-item {
							&-id, &-age { text-align: center; }
						}
					}
				}
			}
			&.box-add-damage {}
		}

		.vehiculo-box {
			.g-box2 {
				.g-sub-title2 { padding-left: 20px; }
			}
		}

		.inf-siniestro-box {
			.g-box2 { margin-top: 0; }
			.g-box3 {
				margin-top: 0;
				>.ico-mapfre_117_auto_crash2 {font-size: 70px;}
			}

		}

		.pdf_files_box {
			.ico-mapfre { font-size: 40px;}
			.ico-mapfre_124_download { color: $gris24; }
			.ico-name {
				>span { display: inline-block; vertical-align: middle; }
			}
		}
	}
}

// .page-cotizar {
	.g-home-inner-medicalCenter {
		.g-btn-ico{
			font-size: 30px;
			font-weight: $thin;
			margin-right: 3px;
			&:before{
				top: 6px;
			}
		}
		.grid-home-medicalCenter {
			.medicalCenter {
				&-item {
					text-align:center; padding-top:40px; padding-bottom:40px;
					// &-1 { border-top: 1px solid $gris13; border-bottom: 1px solid $gris13; }
					// &-2 { border-bottom: 1px solid $gris13; }
					// &-3 { border-bottom: 1px solid $gris13; }
				}
				&-link {@include inlineblock;}
				&-ico {display:block; text-align:center; font-size:50px; color:$gris12;}
				&-label {display:block; text-align:center; font-size:$font-size5; color:$cRed1;}
			}
		}
		.grid-elegido {
			padding-top: 30px;
			h2 {font-size:$font-size8; font-weight:$light;}
			.medicalCenter {
				&-item {text-align:center; padding-top:40px; padding-bottom:40px;}
				&-otros {padding-top:60px; padding-bottom:50px; padding-left:45px;}
				&-ico {display:block; text-align:center; font-size:50px; color:$cRed1;}
				&-label {display:block; text-align:center; font-size:$font-size5; color:$cRed1;}
			}
			&-btns {
				&-question {
					margin-top: 30px; //margin-bottom: 20px;
				}
				&-box {
					margin-top: 10px; margin-bottom: 10px;
					.g-btn {width:100%;}
				}
			}
		}
	}
	
	@media (min-width: $break-medium) {
		.g-home-inner-medicalCenter {
			.grid-home-medicalCenter {
				.medicalCenter {
					&-item {
						text-align:center; padding-top:40px; padding-bottom:40px;
					}
					&-link {@include inlineblock;}
					&-ico {display:block; text-align:center; font-size:50px; color:$gris12;}
					&-label {display:block; text-align:center; font-size:$font-size5; color:$cRed1;}
				}
			}
			.grid-elegido {
				h2 {font-size:$font-size8; font-weight:$light;}
				.medicalCenter {
					&-item {text-align:center; padding-top:40px; padding-bottom:40px;}
					&-otros {padding-top:60px; padding-bottom:50px; padding-left:45px;}
					&-ico {display:block; text-align:center; font-size:50px; color:$cRed1;}
					&-label {display:block; text-align:center; font-size:$font-size5; color:$cRed1;}
				}
				&-btns {
					&-question {
						margin-top: 40px; //margin-bottom: 30px;
					}
					// &-box {
					//  margin-top: 0; margin-bottom: 0;
					// }
				}
			}
		}
	}
