<div class="clearfix">
    <div class="container">
        <form name="frmModal" class="clearfix">
            <div class="col-md-12 g-text-center-xs mb-xs-2">
                <div class="col-md-12 mb-md-1" data-ng-if="$ctrl.data.title">
                    <h2 class="gH3"><b>{{$ctrl.data.title}}</b></h2>
                </div>
                <div class="col-xs-12 mb-xs-2 text-center" data-ng-if="$ctrl.data.subtitle"
                    data-ng-bind-html="$ctrl.data.subtitle"></div>
                <div class="col-xs-12 u-ph-0 u-float-center">
                    <div class="col-xs-12 col-md-2"></div>
                    <div class="col-xs-12 col-md-4"
                        data-ng-repeat="item in $ctrl.data.btns track by $index">
                        <button type="button" class="g-btn col-xs-12 mt-xs-1" data-ng-class="item.clases"
                            data-ng-click="item.accion()" prevent-default>{{item.lbl}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>