$rojo-primario: #d81e05;
$rojo2: #d81e05;
$gris20: #c9c9c9;
$verde2: #749806;
$gris2: #4c4c4c;
$gris9: #f1f5f7;
$gris23: #bdbebe;
$gris13: #e5e5e5;

$gris24: #edf0f1;
$gris25: #f7f7f7;
$gris26: #7c7c7c;
$gris27: #7f7f7f;
$gris28: #a7a3a4;
$gris29:  #e6e6e6;
$gris30: #ecedef;
$gris31: #ddd;

$negro1: #000;
$negro2: #484c45;

$yellow:#fdc200;

$title-color: #6f6f6b;
$border-color: #e6e6e6;

$green-gray: #888383;
$green-success: #749806;

$white: #ffffff;
$grayth1: #c0c0c0;
$grayth2: #999999;
$blueth1: #0097cf;
$red: #ff0000;
$box-th: rgba(0, 0, 0, 0.075);
$box-th-menu: rgba(0, 0, 0, 0.2);

$mask-loader: rgba(0, 0, 0, .65);
$modal-btn-color: #4c4c4c;
$modalbox-shadowcolor: rgba(0, 0, 0, 0.15);
$modal-link-color: #6f6f6b;
$modal-bg-overlay: rgba(0, 0, 0, 0.12);
$navtab-boxshadow: rgba(229, 229, 229, 0.55);

$panelbtn-shadowcolor: #e6e6e6;
$panelbtn-color: #6f6f6b;
$panelbtn-textcolor: #f7f7f7;

$containermap-bckcolor: #4a4a4a;
$containermap-color: #c4c4c4;

@mixin breakpoint($point) {
  @if ($point == xxs) { /* mobile L */
    @media (min-width: 425px) { @content; }
  }

  @else if ($point == sm) { /* tablets */
    @media (min-width: 768px) { @content; }
  }

  @else if ($point == md) { /* desktops */
    @media (min-width: 992px) { @content; }
  }

  @else if ($point == lg) { /* large desktops */
    @media (min-width: 1200px) { @content; }
  }
}
