<section class="g-security-crearUsuario">
  <button type="button" class="close g-close-modal" ng-click="closeModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <form name="frm">
    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>¿Qué tipo de usuario deseas crear?</b></h2>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="g-inlineblock col-80-xs mb-xs-4 g-div-middle">
        <div class="col-25-xs mt-xs-1 text-center">
          <mpf-radio-panel
            label="{label: 'Cliente Empresa'}"
            name="nTipoUsuario"
            ng-model="mTipoUsuario"
            value="ClienteEmpresa"
            icon="'ico-mapfre_136_cliente-empresa'"
          >
          </mpf-radio-panel>
        </div>
        <div class="col-25-xs mt-xs-1 text-center">
          <mpf-radio-panel
            label="{label: 'Ejecutivo Mapfre'}"
            name="nTipoUsuario"
            ng-model="mTipoUsuario"
            value="EjecutivoMapfre"
            icon="'ico-mapfre_138_ejecutivo-mapfre'"
          ></mpf-radio-panel>
        </div>
        <div class="col-25-xs mt-xs-1 text-center">
          <mpf-radio-panel
            label="{label: 'Proveedor'}"
            name="nTipoUsuario"
            ng-model="mTipoUsuario"
            value="Proveedor"
            icon="'ico-mapfre_138_proveedor'"
          ></mpf-radio-panel>
        </div>
        <div class="col-25-xs mt-xs-1 text-center">
          <mpf-radio-panel
            label="{label: 'Broker'}"
            name="nTipoUsuario"
            ng-model="mTipoUsuario"
            value="Broker"
            icon="'ico-mapfre_135_broker'"
          ></mpf-radio-panel>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-2 mb-xs-1 no-mb-md">
          <a href="" class="g-btn g-btn-transparent block" ng-click="closeModal()">Cancelar</a>
        </div>
        <div class="col-md-4">
          <a href="" class="g-btn g-btn-verde block" ng-click="fnGoCreateUser()">Crear usuario</a>
        </div>
      </div>
    </div>
  </form>
</section>
