<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="title">
        <span>Ahora ingresa el código enviado</span>
      </h2>
      <p ng-bind-html="vm.modality.value"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <a class="g-link gCGreen1" href="javascript:void(0)" ng-click="vm.onResend()">Volver a enviar</a>
    </div>
    <div class="col-xs-12">
      <button class="g-btn g-btn-green-border block" ng-click="vm.onSumitCode()">Comprobar</button>
    </div>
  </div>
</div>

