<form name="vm.formInputCodes">
  <div class="col-md-10 col-md-offset-1">
    <div class="row mb-xs-3">
      <div class="col-xs-12">
        <h2 class="title text-center mb-xs-2">
          <span>Ahora ingresa el código enviado</span>
        </h2>
        <div class="info-modality">
          <span class="info-modality__icon" ng-class="vm.modality.icon ? vm.modality.icon : ''"></span>
          <span class="info-modality__value" ng-bind-html="vm.modality.value"></span>
        </div>
      </div>
    </div>
    <div class="row mb-xs-3">
      <div class="col-xs-12">
          <login-input-codes ng-model="vm.mInputCode" input-codes-quantity="vm.inputCodesQuantity"></login-input-codes>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center mb-xs-3">
        <a class="g-link gCGreen1 gH4 fwBold" href="javascript:void(0)" ng-click="vm.onResend()">Volver a enviar</a>
      </div>
      <div class="col-xs-12">
        <button class="g-btn g-btn-green-border block" ng-click="vm.onSumitCode()" ng-disabled="vm.formInputCodes.$invalid">Comprobar</button>
      </div>
    </div>
  </div>
</form>

<script type="text/ng-template" id="tplModalAlertTimer.html">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
        <div class="swal2-content">
          {{modalAlertTimer.message}} <br>
          {{modalAlertTimer.timerMessage}}
        </div>
      </div>
		</div>
	</div>
</script>
