<div class="fourth-step" ng-form="fData">

	<div class="g-section-inner border-bottom">
  	<!-- Endosatorio(opcional -->
  	<div class="container">
			<!-- Título -->
			<div class="row">
				<div class="col-md-12">
			  	<h2 class="g-sub-title">Endosatorio (opcional)</h2>
			  </div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12 mb-2">
							<mpf-select label="{label: 'Seleccionar endosatario de la lista', required: false}" name="fEndosatario" ng-model="data.endosatario" m-data-source="endorseeData" text-field="Descripcion" value-field="Codigo" m-Empty-Option="{enterData:true}" ng-change="onEndorseeChange(data.endosatario)"></mpf-select>
						</div>
					</div>
				</div>
				<div class="col-md-5" ng-if="data.endosatario.Codigo !== null">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2 class="g-sub-title ng-binding">Datos personales</h2>
			</div>
			<div class="col-md-9" ng-if="data.isRucContratante">
				<mpf-Checkbox class="item-title mt-xs-1 gH5"
					style="color:red ;"
					ng-model="data.accionistasSocios"
					label="¿La empresa contratante cuenta con accionista/socio/asociado con participación mayor a 25%?">
				</mpf-Checkbox>
			</div>
		</div>
	</div>
	<mpf-person-component
		person-data="data.contractor"
    habilitar-validacion-telefonos="true"
		name="contractor"
		codigo-compania="companyCode"
		app-code="{{ appCode }}"
		form-code="{{ formCodeCN }}"
		outdata="getDataContratante(data)"
		editable="true">
	</mpf-person-component>
	<div class="container">
		<div class="row">
		  <div class="col-md-12 mb-xs-2">
		  </div>
		</div>
	</div>

	<div ng-if="data.accionistasSocios && data.isRucContratante">
		<div class="container">
		  <div class="row">
			<div class="col-md-5">
			  <h2 class="g-sub-title">Datos de los Accionistas/socios/asociado</h2>
			</div>
			<div class="col-md-7">
			  <a class="item-title mt-xs-1 gH3" href="" ng-click="addAccionista();">
				  <span class="ico-mapfre_45_agregarusuario"></span>
				  Agregar otro accionistas/socios/asociado
			  </a>

			</div>
		  </div>
		</div>
		<div ng-repeat="socio in data.accionistas">
		  <div class="container">
			<div class="row">
			  <div class="col-md-4 mb-xs-2 no-mb-md">
				<div class="row">
				  <div class="col-xs-10">
					<h2 class="g-sub-title gH3">Accionista {{ $index + 1 }} </h2>
				  </div>
				  <div ng-if="$index!=0" class="col-xs-2" >
					 <a class="item-title mt-xs-1 gH3" href="" ng-click="removeAccionista($index);">
					  <span class="ico-mapfre_48_cerrar ico-delete"></span>
					 </a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <mpf-person-component
		  text-clean="socio"
		  person-data="socio"
		  name="socio-{{$index}}"
		  codigo-compania="companyCode"
		  app-code="{{ appCode }}"
		  form-code="{{formCodeAccionista}}"
		  editable="true"
		  habilitar-validacion-telefonos="true">
		</mpf-person-component>
		</div>
	  </div>
	<!-- Datos personales y Contacto -->
	<!-- <mpf-Contractor-Data data="data.contractor" title="Datos personales" is-Valid="contractorValid" infer=true notify-Infer ="notifyContract" notify-Clean="cleanContract" enable-Block-Fileds = "false" email-Required=true celular-Required=false>
	</mpf-Contractor-Data> -->
	<!-- Dirección -->
	<!-- <mpf-contractor-address data="data.contractorAddress"  is-Valid="addressValid" setter-Ubigeo="setterUbigeo" clean-Ubigeo="cleanUbigeo">
	</mpf-contractor-address>	 -->
	
	<!-- Button -->
  <div class="g-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-xs-1">
          <span class="gCGray3">*Campos obligatorios</span>
        </div>
        <div class="col-md-4">
        	<a type='button' class="g-btn g-btn-verde block" ng-click="nextStep()">SIGUIENTE</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="paso4" ng-form="fData">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					Endosatorio(opcional)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12 mb-2">
						<mpf-select label="{label: 'Seleccionar endosatario de la lista', required: false}" name="fEndosatario" ng-model="data.endosatario" m-data-source="endorseeData" text-field="Descripcion" value-field="Codigo" m-Empty-Option="{enterData:true}" ng-change="onEndorseeChange(data.endosatario)"></mpf-select>
					</div>
				</div>
			</div>
			<div class="col-md-5" ng-if="data.endosatario.Codigo !== null">
			</div>
		</div>
	</div>
	<hr />
	<mpf-Contractor-Data data="data.contractor" title="Datos personales" is-Valid="contractorValid" infer=true notify-Infer ="notifyContract" notify-Clean="cleanContract" enable-Block-Fileds = "false" email-Required=true celular-Required=false>
	</mpf-Contractor-Data>
	<mpf-contractor-address data="data.contractorAddress"  is-Valid="addressValid" setter-Ubigeo="setterUbigeo" clean-Ubigeo="cleanUbigeo">
	</mpf-contractor-address>

  <div class="g-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-xs-1">
          <span class="gCGray3">*Campos obligatorios</span>
        </div>
        <div class="col-md-4">
        	<a type='button' class="g-btn g-btn-verde block" ng-click="nextStep()">SIGUIENTE</a>
        </div>
      </div>
    </div>
  </div>

</div> -->