<div class="g-menu-main__box">
  <div class="container">
    <div class="row">
      <div top-menu="" class="col-xs-12">
        <ul class="g-menu-main hidden-xs hidden-sm kpi-productos__container">
          <span class="ng-scope" ng-repeat="item in $ctrl.products">
            <li class="link ng-scope" ng-class="{'actived': (item.cdgo == $ctrl.selectItem && item.cod_cia == $ctrl.selectCia)}">
              <a ng-click="$ctrl.selectProduct(item)">{{item.dscrpcn}}</a>
            </li>
          </span>
        </ul>
        <ul id="g-menu-main__responsive" class="g-menu-main g-menu-main__responsive" ng-show="isPopupVisible">
          <span class="ng-scope" ng-repeat="item in $ctrl.products">
            <li class="link ng-scope" ng-class="{'actived': item.cdgo == $ctrl.selectItem}">
              <a ng-click="$ctrl.selectProduct(item)">{{item.dscrpcn}}</a>
            </li>
          </span>
        </ul>
        <span id="g-menu-main_ico" class="ico-mapfre_95_menuderecha g-menu-main_ico visible-xs visible-sm" ng-click="showTopMenu();"></span>
      </div>
    </div>
  </div>
</div>