/* override css general { */
.g-section-tabs .nav-tabs > li {
  z-index: 10;
}
/* } */

.g-title-modal{
  font-size: 21px;
  font-weight: 700 !important;
  text-align: center;
  color: $gris2;
}
.g-tag {
	@include inlineblock; width: 80px; color: $c-white; text-align: center; font-weight: $bold; padding: 2px 0;
	&.tag-green {background-color: $verde2;}
	&.tag-gray {background-color: $gris27;}
	&.tag-orange {background-color: #FF7800;}
	&.tag-blue {background-color: #6676EE;}
}

.page-web-proc-asistencia {
  .g-date-picker {
    .input-group  {
      // uso de important porque hay muchas anidaciones y han colocado la clase mt-xs-2
      margin-top: 0 !important;
    }
  }
}

.page-web-proc {
	/***************************
	* Bandeja de Asistencias
	****************************/
	&-bandeja {
		.g-title-btn-box { padding-top: 3px; padding-bottom: 3px; background-color: $cGray5; border-bottom: 1px solid $cGray4;}
		.g-box {
			border:2px solid $gris4; margin-bottom: 10px;
			&-body {
				background-color: $gris6; border-radius: 10px;
				.search-result {
					color:$gris3;
					&-label {
						@include inlineblock; color: $gris2; font-weight: $bold;
						&.asistencia-label { font-size: $font-size4; }
						&.asistencia-date { color: $gris3; font-weight: $normal; }
					}
					&-data {
						@include inlineblock; font-weight:$normal; color: $gris2;
						&.asistencia-data { font-size: $font-size4; font-weight: $bold; }
						&.asistencia-date { color: $gris3; font-weight: $normal; }
					}
					&-tag {}
				}
			}
		}
	}
	/***************************
	* Filtro Asistencias
	****************************/
	&-filtro-asistencia {
		.g-title-btn-box { padding-top: 3px; padding-bottom: 3px; background-color: $cGray5; border-bottom: 1px solid $cGray4;}
	}
	/***************************
	* Asistencias
	****************************/
	&-asistencia {
    .g-section-tabs {
      .tab-content {
        &:after {
          background-color: transparent;
          @media (min-width: $break-large) {
            background-color: $gris4;
          }
        }
      }
    }
		.section-tabs { margin-top: -1px; padding-top: 0; }
		.tipo-siniestro {
			&-item { margin-top: 5px; margin-bottom: 5px; }
		}
		.g-title {
      position: relative; top: 0; width: 100%;
      background-color: $c-white; z-index: 1037; padding-bottom: 0;
      @media (min-width: $break-medium) {
        padding-bottom: 15px;
      }

			.ico-title { display: none; }
			h1 { font-size: $font-size2; padding-left: 0; }
			.g-tag { display: block; margin-top: 5px; margin-left: 0; font-size: $font-size; }
			.siniestro-box { @include inlineblock; margin-right: 10px; color: $gris3; font-size: $font-size; }
			.g-btn {
				// background-color: transparent; color: $gris26;
				// &:hover, &:focus{ color:$gris2; }
			}
			.ico-save { font-size: $fz24; margin-left: 5px; margin-right: 5px; }
			.menuMasOpc {
				position: absolute; top: 50px; right: 4px; width: 190px; background-color: $c-white; z-index: 1000; border: 1px solid $gris4;
				li {
					padding: 5px 10px; border-bottom: 1px solid $gris4;
					a { display: block; padding: 5px 0; color: $gris26; font-weight: $bold; font-size: 14px;}
					&:hover {
						background-color: $gris5;
						a { color: $gris2; }
					}
					&:last-child { border-bottom: 0; }
				}
			}
		}
		.g-sub-title2 {
			span.ico-mapfre { color: $verde2; }
		}
		.g-box3 {
			&.box-add-occupant {
				&-2 {
					text-align: left;
					.g-label3 {
						padding-left: 4px;
					}
					.row-add-item {
						.col-add-item {
							&-id, &-age { text-align: center; }
						}
					}
				}
			}
			&.box-add-damage {}
		}
		.vehiculo-box {
			.g-box2 {
				.g-sub-title2 { padding-left: 20px; }
			}
		}
		.inf-siniestro-box {
			.g-box2 { margin-top: 0; }
			.g-box3 {
				margin-top: 0;
				>.ico-mapfre_117_auto_crash2 {font-size: 70px;}
			}
		}
		.pdf_files_box {
			.ico-mapfre { font-size: 40px;}
			.ico-mapfre_124_download { color: $gris24; }
			.ico-name {
				>span { display: inline-block; vertical-align: middle; }
			}
		}
	}
}
.wp-menu-cabecera__ico {
  display: inline-block;
  font-size: $fz24;
  position: relative;
  top: 3px;
  transform: rotate(90deg);
}
.tabs-box {
	position: relative;
	.fixed-sm { display: none; border-top: 1px solid #ccc; position: fixed; top: 132px; width: 110%; background-color: $c-white; height: 10px; z-index: 1000; }
	ul.g-error li{
		border: 1px solid transparent;
		background-color: transparent;
	}
	ul {
		list-style: none; padding: 0; margin: 0; width: 1200px !important;
		&.main-tabs { position: relative; background-color: $c-white; z-index: 1000; top: 0; left: 31px; }
		li {
			position: relative; float: none; @include inlineblock; width: 130px;
			border: 1px solid $gris4; border-bottom-width: 0; margin-left: -4px;
      background-color: $gris9;
      min-height: 50px;
			cursor: pointer;
			div.tab-title {
				height: 50px;
				&:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
			}
			span { @include inlineblock; width:auto; vertical-align: middle; }
			&.active {
				background-color: $c-white !important; margin-bottom: -1px;
				span { color: $gris2; }
			}
		}
	}
	&-mainview { clear: both; }
	&-title { font-size: $font-size; font-weight: $light; text-align: center; color: $gris28; }
	&-subtitle {}
	&-navigate {
		&__left, &__right{ display: block; height: 51px; background-color: $c-white; padding: 15px 7px; position: absolute; top: 0; z-index: 1036;}
		&__left { left: 15px; }
		&__right { right: 15px; }
	}
	&.tabs-fotos {
		li {
			background-color: $c-white;
			&.active { background-color: $gris9!important; }
		}
		.tabs-box-mainview {
			background-color: $gris9; clear: both; padding: 0 0 0;
		}
	}
	&.tabs_modal {
		>ul {
			width: 100%;
			li { width: 33.33333% }
		}
	}
}
.wp-tabs-detalle__wp {
  left: 0;
  width: 100%;
  &:before {
    background-color: #fff;
    content: '';
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
    top: -30px;
  }
  ul {
    font-size: 0;
    width: 1200px !important;
    @media(min-width: $break-medium) {
      max-width: 1170px !important;
      width: 100% !important;
    }
    li {
      .nav-link {
        padding: 10px 10px 10px 0!important;
        font-size: 10px !important;
        margin-bottom: 0 !important;
        @media(min-width: $break-medium) {
          font-size: 12px !important;
        }
      }
    }
  }
}
.g-photo-box {
  margin: 20px;
}
.tabs-box-mainview-wrapper {
  text-align: center;
  .g-photo-box {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  @media (min-width: $break-xsmall) {
    text-align: left;
    .g-photo-box {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
// .g-viewer-photo {
// 	height: 199px; overflow-y: auto;
// 	> .container { height: auto; max-width: none; width: auto; white-space : nowrap; }
// }
// .g-photo {
// 	&-box { @include inlineblock; position: relative; width: 200px; height: 100%; margin-right: 15px; margin-top: 10px; }
// 	&-close {
// 		@include inlineblock; position: absolute; top: -8px; right: -7px; z-index: 20; cursor: pointer;
// 		span { background-color: $c-white; border-radius: 50%; width: 14px; height: 14px; font-size: $font-size5; }
// 	}
// 	&-inner-box { position: relative; background-color: $gris11; border: 1px dashed $gris4; border-radius: 5px; width: 100%; height: 150px; padding: 2px; overflow: hidden; }
// 	&-title { position: absolute; top: 15px; width: 100%; text-align: center; font-weight: $bold; white-space: initial; }
// 	&-img {
// 		width: 100%; height: 100%; overflow: hidden; background: url('../../images/background_photo.png') no-repeat center 70%;
// 		border-radius: 5px; cursor: pointer;
// 		img { width: 100%; height: auto; position: relative; z-index: 10; border-radius: 5px; }
// 	}
// 	&-name { display: block; font-weight: $bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; padding: 10px 5px; }
// }
@media (min-width: $break-xxxsmall) {
	.page-web-proc {
		&-asistencia {
			.g-title {
				.g-tag { @include inlineblock; margin-top: 0; margin-left: 0;  }
			}
		}
	}
	.wp-tabs-detalle__wp {
		ul { li {  width: 150px; } }
	}
}
@media (min-width: $break-xxsmall) {
	.page-web-proc {
		&-asistencia {}
	}
	.wp-tabs-detalle__wp {
		ul { li {  width: 170px; } }
	}
}
@media (min-width: $break-small) {
	.page-web-proc {
		&-asistencia {
			// .section-tabs { margin-top: 0; }
			.g-title {
				h1 {font-size: $font-size8; }
				.g-tag { @include inlineblock; margin-top: 10px; margin-left: 20px; font-size: $font-size1; }
				.siniestro-box { font-size: $font-size1; }
				.g-btn-verde {
					background-color: $verde2; border: 2px solid $verde2; color: $c-white;
					// min-height: 52px; line-height: 22px;
					&:hover, &:focus{background-color: $verde3;}
				}
				.g-btn-transparent {
					color: $gris26; border: 2px solid $gris4;
					&:hover, &:focus{border: 2px solid $gris5; background-color:$gris5; color:$gris2;}
				}
			}
		}
	}
	.wp-tabs-detalle__wp {
		ul {
			// width: auto;
			li { width: 14.285%; }
		}
	}
}

.tabs-box ul {
  text-align: left;

  @media (min-width: $break-medium) {
    text-align: center;
  }
}

@media (min-width: $break-medium) {
	.g-tag {
		width: 100px; padding: 3px 0;
		&.tag-green {background-color: $verde2;}
		&.tag-gray {background-color: $gris27;}
		&.tag-orange {background-color: #FF7800;}
		&.tag-blue {background-color: #6676EE;}
	}
	.page-web-proc {
		&-bandeja {
			.g-title-btn-box { padding-top: 20px; padding-bottom: 0; background-color: transparent; border-bottom: 0; }
		}
		&-filtro-asistencia {
			.g-title-btn-box { padding-top: 20px; padding-bottom: 0; background-color: transparent; border-bottom: 0; }
		}
		&-asistencia {
			.g-title {
				top: 0;
				h1 {font-size: $font-size8; }
				.g-tag { @include inlineblock; margin-top: 10px; margin-left: 20px; }
				.siniestro-box { color: $gris2; font-size: $font-size1; }
				.menuMasOpc {
					position: absolute; top: 50px; right: 15px; width: 100%; min-width: 190px; background-color: $c-white; z-index: 1000; border: 1px solid $gris4;
					li {}
				}
			}

		}
	}
	.tabs-box {
		.fixed-sm { top: 150px; }
		ul.g-error li{
			border: 1px solid transparent;
			background-color: transparent;
		}
		ul {
			list-style: none; padding: 0; margin: auto; width: 100%; max-width: 1200px;
			&.main-tabs { position: relative; background-color: $c-white; z-index: 1000; top: 0; left: 0; }
			li {
				position: relative; float: left; display: block; width: 14.285%;
				border: 1px solid $gris4; border-bottom-width: 0; margin-left: -1px;
				background-color: $gris9;
				cursor: pointer;
				div.tab-title {
					height: 50px;
					&:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
				}
				span { @include inlineblock; width:auto; vertical-align: middle; }
				&.active {
					background-color: $c-white !important; margin-bottom: -1px;
					span { color: $gris2; }
				}
			}
		}
		&-mainview { clear: both; padding: 0 30px 0; }
		&-title { font-size: $font-size10; font-weight: $light; text-align: center; color: $gris28; }
		&-subtitle {}
	}
}
.g-box-add-item {
	&-1 {
		>span { @include inlineblock; width: 100%; margin-bottom: 15px;}
		>a {
			>span.glyphicon:before { margin-right: 10px; }
		}
	}
	&-2 {
		text-align: left;
		.g-label3 {
			padding-left: 4px;
		}
		>.row-add-item {
			text-align: right; margin-bottom: 10px;
			// &:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
			&:before { content: none;}
			.col-add-item {
				@include inlineblock; vertical-align: middle; float: none; margin-left: -4px;
				// display: block; vertical-align: middle; float: none; margin-left: -4px;
				.g-border-right { border-color: $gris10; }
				&-general { text-align: left; &:before  {content: "\e951"; font-family: $Mapfre; color:$gris10;} }
				&-btns {
					@include inlineblock; text-align: center; margin-top: 7px; padding-top: 3px; padding-bottom: 3px;
					.ico-mapfre { @include inlineblock; margin: 0; font-size: $font-size8; color: $gris3; }
				}
			}
			&:last-child { margin-bottom: 0; }
		}
	}
	&-3 {
		text-align: left; background-color: transparent; padding: 25px 20px 35px 20px;
	}
}
@media (min-width: $break-medium){
	.g-box-add-item {
		&-2 {
			>.row-add-item {
				text-align: left;
				&:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
				.col-add-item {
					@include inlineblock; margin-left: -4px;
					&-btns {
						margin-top: 0; padding-top: 0; padding-bottom: 0;
					}
				}
			}
		}
	}
}
.back-drop{
	@include prefix(opacity, .15s linear);
	position: fixed; top: 0; bottom: 0; left: 0; right: 0;
	z-index: 50000;
	background:black;
	height:100%;
	opacity: 0.42;
}
.modal-box {
	overflow-x: hidden; overflow-y: auto;
	position: fixed; top: 0; bottom: 0; left: 0; right: 0;
	z-index: 99999
}
.modal-dialog-box {
	// position: relative; margin-top: 50px; padding-left: 30px; padding-right: 30px;
	// overflow: auto;
	// box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
	// background: $c-white;
	// z-index: 99999;
	&-header {
		// padding-top: 50px;
		.ico-close { position: absolute; right: 5px; top: 5px; font-size: $font-size8; cursor: pointer; color: $gris7; }
	}
	&-body {
		max-height: 350px; overflow:hidden; overflow-y: auto;
		.currentTabModal { max-height: 200px; overflow:hidden; overflow-y: auto; }
	}
	&-footer {
		padding-top: 30px;
		// padding-bottom: 50px;
	}
	.g-box-add-item {
		&-3 {
			padding: 15px 15px;
		}
	}
}
.g-textarea-design {
	textarea { height: auto; }
}
.vehiculo-box, .inf-siniestro-box {
	position: relative;
	.g-box2 {
		// position: absolute; z-index: 10; width: 100%;
		.g-sub-title2 { color: $verde2; }
		>ul {
			width: 92%; margin: 20px auto;
			li {
				width: 100%; border: 0; margin: 0; background-color: transparent; cursor: auto; margin-bottom: 10px;
				p { margin: 0; }
			}
		}
		.ico-down, .ico-up { position: absolute; top: -10px; right: 20px; font-size: $font-size7; cursor: pointer; color: $gris20; background-color: $gris5; border-radius: 50%; padding: 5px; width: 35px; height: 35px; text-align: center; padding-top: 3px; padding-left: 4px; }
		.ico-down {
			&:before { position: relative; top: 3px; }
		}
	}
}
@media (min-width: $break-medium){
	.modal-dialog-box {
		&-body {
			max-height: 450px;
			.currentTabModal { max-height: 300px; }
		}
	}
  .vehiculo-box, .inf-siniestro-box {
		.g-box2 {
			.ico-down, .ico-up { font-size: $font-size7; width: 35px; height: 35px;}
		}
	}
	.inf-siniestro-box {
		.g-box3 {
			padding: 15px;
			>.ico-mapfre_117_auto_crash2 {font-size: 70px;}
		}
	}
	.pdf_files_box {
		.ico-mapfre { font-size: 40px; }
	}
	.modal {
		.modal-dialog {
			.modal-content {
        overflow: hidden;
				.page-modal {
					.container {
						&__head, &__body { padding-left: 50px; padding-right: 50px; }
					}
					&__tercervehiculo, &__tercerbien, &__tercerpeaton {
						.container {
							&__head, &__body { padding-left: 0; padding-right: 0; }
						}
					}
				}
			}
		}
	}
}
@media (min-width: $break-large){
	.float-box {
		.g-box2 {
			>ul { width: 82%; }
		}
	}
}
.wp-inputSearchList__ico-search {
  bottom: 10px;
  color: $gris2;
  font-size: 24px;
  font-weight: bold;
  pointer-events: none;
  position: absolute;
  right: 15px;
}
.u-scroll-v-h--400 {
  max-height: 400px;
  min-height: 400px;
  overflow-y: auto;
}
.relive {
  position: relative;
}
.u-z--1035 {
  z-index: 1035 !important;
}
.u-bg--white {
  background: $c-white;
}
.wp-tabModal__item {
  a {
    font-size: 10px !important;
    padding: 10px 0 !important;
    text-align: center;
    @media (min-width: $break-medium) {
      font-size: 16px !important;
    }
  }
}
.u-scroll-v--450 {
  max-height: 450px;
  overflow-y: auto;
}
.wp-check__lst {
  .checkbox-label {
    font-weight: normal;
  }
}
.chk__ico {
  display: inline-block;
  font-family: $Mapfre;
  font-size: 27px;
  height: 20px;
  line-height: 1;
  margin-right: 5px;
  position: relative;
  top: 6px;
  width: 20px;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before {
    color: $gris3;
    content: '\e94f';
    font-size: 27px;
    top: -3px;
  }
}
.chk__input {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  &:checked {
    & + .chk__ico {
      &::after {
        color: $verde1;
        content: '\e950';
        font-size: 21px;
        left: 3px;
      }
    }
  }
}
.chk--is-checked {
  .chk__ico {
    &::after {
      color: $verde1;
      content: '\e950';
      font-size: 21px;
      left: 3px;
    }
  }
}
.u-float-align {
  display: inline-block;
  float: none;
  font-size: 0;
}
.u-txt--bold {
  font-weight: bold;
}
.wp-link--disable {
  position: relative;
  .g-link {
    color: $gris7;
  }
  .wp-mask__link {
    display: block;
  }
}
.wp-mask__link {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.u-bt-plomo {
  border-top: 1px solid $gris4;
}
.u-ph-0 {
  padding-left: 0;
  padding-right: 0;
}
.u-pb-0 {
  padding-bottom: 0;
}
.u-mb-2 {
  margin-bottom: 20px !important;
}
.u-ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.u-cursor--pointer {
  cursor: pointer;
}
.u-pt-xs-0 {
  padding-top: 0 !important;
}
.wp-no-bb {
  border-bottom: 0 !important;
}
@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wp-autosave__wrap {
  left: -15px;
  position: absolute;
  top: 35px;
}
.wp-autosave__box {
  display: none;
  font-size: 14px;
  opacity: 0;
  padding-left: 25px;
  position: relative;
  transition: all .4s ease;
  &.is--cabecera {
    top: -14px;
  }
  &.is--visible {
    display: inline-block;
    opacity: 1;
  }
}
.wp-autosave__ico {
  left: 0;
  position: absolute;
  top: 0;
  &.is-saving {
    animation: rotar 1s infinite;
    color: $c-orange1;
    display: inline-block;
    font-size: 18px;
  }
  &.is-saved {
    color: $verde2;
    display: inline-block;
    font-size: 18px;
  }
}
.u-display--inline {
  @include inlineblock;
}
.u-txt-size--8em {
  font-size: .8em;
}
.u-pl--13 {
  padding-left: 13px;
}
.wp-frm-tab__ico {
  color: $c-orange1 !important;
  display: inline !important;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  width: auto !important;
}
.wp-frm-msg-box {
  background: $gris11;
  border: 2px solid $gris4;
  padding: 20px 15px;
}
.wp-frm-msg-box__ico {
  color: $c-orange1;
  display: inline-block;
  font-size: 22px;
  transform: rotate(180deg);
}
.wp-frm-msg-box__txt {
  position: relative;
  top: -4px;
}
.modal--ovh {
  .modal-dialog {
    overflow: hidden;
  }
}
@media (min-width: $break-small) {
  .nav-justified>li, .nav-tabs.nav-justified>li {
    display: inline-block;
    width: 14.285%;
    min-height: 56px;
  }
}
.page-web-proc-asistencia {
  overflow: hidden;
}
.u-ml-xs-0 {
  margin-left: 0 !important;
}
.u-txt-size--18 {
  font-size: 18px;
}
.u-minheight--19 {
  min-height: 19px;
}
.input__file {
  left: -9999%;
  opacity: 0;
  position: absolute;
}
.u-height--auto {
  height: auto;
}
.u-bg--gris-9 {
  background: $gris9;
}
.u-bg--no {
  background: none !important;
}
.u-img--containt {
  height: 100% !important;
  width: auto !important;
}
.tabs-tercero-vehiculo {
	li > a { min-height: 50px; }
}
.u-h-xs--65-55 {
  height: 65.55px!important;
}
%mask {
  position: relative;
    &:before {
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
    }
}
.u-msk {
  @extend %mask;
}
.u-msk-block {
  cursor: not-allowed;
  @extend %mask;
}
.u-zi-xs--9999 {
  z-index: 9999;
}
.u-zi-xs--10 {
  position: relative;
  z-index: 10;
}
.wp-talleres__frm {
  z-index: 9999 !important;
  @media (min-width: $break-medium){
    z-index: 1 !important;
  }
}
.sk-circle {
  height: 60px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60px;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #adaaaa;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.modal-preview__img {
  max-height: 100%;
  max-width: 100%;
  width: 100% !important;
}
.u-font--50 {
  font-size: 50px !important;
}

/* overrite css general { */
.g-photo-img img {
  z-index: 2;
}

.g-photo-close {
  z-index: 3;
}

/* } */

.u-break-word {
  word-break: break-all;
}

.u-h-xs--53 {
  height: 53px;
}

.cabecera-asis__box-btn {
  @media (max-width: 767px) {
    position: absolute;
    top: 5px;
  }
}

.cabecera-asis__box-btn--save {
  @media (max-width: 767px) {
    right: 58px
  }
}

.cabecera-asis__box-btn--menu {
  @media (max-width: 767px) {
    right: 28px
  }
}

.wp-fl-col {
	min-height: auto;
	.wp-fl-inner-overflow { margin-top: 10px; max-height: auto; overflow: visible; }
	@media (min-width: $break-medium){
		min-height: 500px;
		.wp-fl-inner-overflow { margin-top: 10px; max-height: 400px; overflow: auto; }
	}
}
page-title.pr-xs-0 {
.col-xs-12 { padding-right: 0; }
}
page-title.hidden-md {
	.g-title {
		background-color: $cGray5; z-index: 1; padding-bottom: 10px;
		h1 { font-size: $fz17; padding-left: 40px; }
	}
	@media (min-width: $break-medium){
		.g-title { display: none; }
	}
}
div.border-tabs-fixed {
  position: fixed; left: 0; right: 0; top: 124px; height: 36px; z-index: 1; background-color: $cWhite1;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(204, 204, 204, 0.7);
  -moz-box-shadow: 0px 2px 5px 1px rgba(204, 204, 204, 0.7);
  box-shadow: 0px 2px 5px 1px rgba(204, 204, 204, 0.7);
  @media (min-width: $break-xxxsmall){
		top: 104px;
  }
  @media (min-width: $break-medium){
  	display: none;
  }
}
.modal-ov--visible {
  .modal-content {
    overflow: visible !important;
  }

  .modal-dialog-box-body {
    overflow: visible;
  }
}
