<ap-card-section-header ng-if="$ctrl.content" card="$ctrl.content" section="$ctrl.section"
    ramo="$ctrl.ramo" config="$ctrl.configView"></ap-card-section-header>

<div class="card-title">
    <div class="card-title-section">
        <div class="g-input-design" ng-disabled="!$ctrl.isEditTitle">
            <label class="animated fwBold" >Titulo principal de seguros</label>
            <input ng-disabled="!$ctrl.isEditTitle" class="g-cl--black"  type="text" name="nTitleContent" ng-required="true" ng-model="$ctrl.titleContent" style="text-transform: none;">
        </div>
    </div>
    <span class="gCGreen1 ico-mapfre_245_soat g-cursor-pointer gH2" ng-if="!$ctrl.isEditTitle" ng-click="$ctrl.onEditTitle()">
    </span>
    <span class="gCGreen1 g-cursor-pointer gH4" ng-if="$ctrl.isEditTitle" ng-click="$ctrl.onSaveTitle()">
        Guardar
    </span>
</div>

<div class="card-item-conteiner"  ng-repeat="card in $ctrl.content.contenido" style="margin-top: 15px;">
    <ap-card-item class="card-item" card="card" section="$ctrl.section" ramo="$ctrl.ramo" config="$ctrl.configView">
        <div class="row">
            <div class="col-md-4">
                <div class="gH6 fwBold g-cl--black2"> 
                    Subtitulo de producto:
                </div>
                <div class="gH6 g-cl--black2 mt-xs-1"> 
                    {{card.header.subTitle ||'-'}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="gH6 fwBold g-cl--black2"> 
                    Detalle de producto:
                </div>
                <div class="gH6 g-cl--black2 mt-xs-1"> 
                    {{card.header.detail ||'-'}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="gH6 fwBold g-cl--black2 "> 
                    Información adicional del producto:
                </div>
                <div class="gH6 g-cl--black2 mt-xs-1"> 
                    {{card.header.additionInformation ||'-'}}
                </div>
            </div>
        </div>

        <div class="row mt-xs-2">
            <div class="col-xs-12 mb-xs-1">
                <div class="gH6 fwBold g-cl--black2"> 
                   Contenido de producto:
                </div>
                <div class="gH6 g-cl--black2 mt-xs-1" ng-if="!card.sections.length"> 
                   -
                </div>
            </div>
            <div class="col-md-6" ng-repeat="section in card.sections">
                <div class="g-border" style="padding: 16px;">
                    <div class="gH6 fwBold g-cl--black2 mb-xs-1"> 
                        Sección {{$index+1}}:
                     </div>
                    <div ng-repeat="item in section.items" class="mb-xs-1">
                        <span class="gCGreen1 ico-mapfre_260_checkmark mb-xs-1"></span>
                        <span class="g-cl--black" >{{item}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-xs-2">
            <div class="col-md-6">
                <div class="gH6 fwBold g-cl--black2"> 
                    Precio de producto:
                </div>
                <div class="gH6 g-cl--black2 mt-xs-1"> 
                    {{card.footer.productPrice ||'-'}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="gH6 fwBold g-cl--black2"> 
                    Detalle de producto:
                </div>
                <div class="gH6 g-cl--black2 mt-xs-1"> 
                    {{card.footer.detail ||'-'}}
                </div>
            </div>
            <div class="col-md-6 mt-xs-1">
                <div class="gH6 fwBold g-cl--black2"> 
                    Titulo de botón:
                </div>
                <div class="gH6 g-cl--black2 mt-xs-1"> 
                    {{card.footer.titleButton ||'-'}}
                </div>
            </div>
            <div class="col-md-6  mt-xs-1">
                <div class="gH6 fwBold g-cl--black2"> 
                    URL de botón:
                </div>
                <div class="gH6 g-cl--black2 mt-xs-1"> 
                    {{card.footer.urlButton ||'-'}}
                </div>
            </div>
            <div class="col-xs-12 mt-xs-2" >
                <span class="label-last-modification">
                    <i class="ico-mapfre-350-myd-user mr-md-1"></i>
                    <span class="gH7 g-cl--gray3">Última actualización:</span>
                    <span class="gH7 g-cl--gray3 fwBold">{{ card.lastModification }} - {{card.modificationDateLabel}} </span>
                </span>
            </div>
        </div>
    </ap-card-item>
</div>