<ap-card-section-header ng-if="$ctrl.content" card="$ctrl.content" section="$ctrl.section"
    ramo="$ctrl.ramo"></ap-card-section-header>

<div style="display: flex;
padding: 16px 24px;
align-items: center;
gap: 16px;
align-self: stretch;border-radius: 5px;
border: 1px solid #D8D8D8;
background: #FCFCFC;">
    <div style="display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;">
        <span style="color: #1B1B1B;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;">Titulo principal de seguros</span>
        <span style="color: #1B1B1B;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;">SEGUROS TOP</span>
    </div>
    <span class="gCGreen1 ico-mapfre_245_soat" style="font-size: 24px;">
    </span>
</div>



<div class="card-item-conteiner" style="margin-top: 15px;"> <!--  ng-repeat="card in $ctrl.content.contenido" -->
    <ap-card-item class="card-item" card="card" section="$ctrl.section" ramo="$ctrl.ramo">
        <div style="display: flex;
        padding: 0px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        width: 100%;">

            <div style="display: flex;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;">
                <div style="display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 0;">
                    <span>Subtitulo de producto</span>
                    <span>EL MÁS COMPLETO</span>
                </div>
                <div style="display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 0;">
                    <span>Detalle del producto</span>
                    <span>Beneficio máximo anual</span>
                </div>
                <div style="display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex: 1 0 0;">
                    <span>Información adicional del producto</span>
                    <span>S/ 300.00 por persona</span>
                </div>
            </div>
            <div style="display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;">
                <span>Contenido de producto</span>
                <div style="display: flex;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;">
                    <div style="display: flex;
                    padding: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;
                    flex: 1 0 0;border: 1px solid #DDD;
                    background: #FFF;">
                        <span>Sección 1</span>
                        <div style="display: flex;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;">
                            <span class="gCGreen1 ico-mapfre_260_checkmark"></span>
                            <span>Servicio funerario Finisterre.</span>
                        </div>
                        <div style="display: flex;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;">
                            <span class="gCGreen1 ico-mapfre_260_checkmark"></span>
                            <span>Servicio funerario Finisterre.</span>
                        </div>
                        <div style="display: flex;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;">
                            <span class="gCGreen1 ico-mapfre_260_checkmark"></span>
                            <span>Servicio funerario Finisterre.</span>
                        </div>
                        <div style="display: flex;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;">
                            <span class="gCGreen1 ico-mapfre_260_checkmark"></span>
                            <span>Servicio funerario Finisterre.</span>
                        </div>
                    </div>
                    <div style="display: flex;
                    padding: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;
                    flex: 1 0 0;border: 1px solid #DDD;
                    background: #FFF;"></div>
                </div>
            </div>
            <div style="display: flex;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;"></div>
            <div style="display: flex;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;"></div>

        </div>
    </ap-card-item>
</div>