<div class="clearfix g-box g-overflow-hidden-xs mb-xs-2">
    <div class="row pt-xs-1-5 pb-xs-1-5">
      <ul class="clearfix">
        <li class="col-md-12 col-sm-12">
          <ul class="row">
            <li class="col-sm-1 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.tasa.tasaId}}
                </div>
            </li>
            <li class="col-sm-2 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.tasa.clase}}
                </div>
            </li>
            <li class="col-sm-3 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.tasa.nombreProducto}}
                </div>
            </li>
            <li class="col-sm-2 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.tasa.porcentajeAjuste}} %
                </div>
            </li>
            <li class="col-sm-3 text-center">
                <mpf-checkbox-toggle
                    id="mTasaEstado"
                    ng-model="vm.tasa.mcaActivo"
                    ng-true-value="'N'"
                    ng-false-value="'S'"
                    data-nodrag
                    ng-click="$event.stopPropagation()"
                    ng-change="vm.accionItemTasa('estado')"></mpf-checkbox-toggle>

                <span>
                    {{ vm.tasa.mcaActivo === 'N' ? 'Habilitado' : 'Deshabilitado' }}
                </span>
            </li>
            <li class="col-sm-1 pt-xs-0-5">
              <div class="col-xs-12 cnt-item text-center">
                <a ng-click="vm.accionItemTasa('editar')">
                  <span class="ico-mapfre_345_myd-edit"></span>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>