<section class="g-page g-home-inner-polizas">
  <div class="g-title g-border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="ng-binding">¿Qué quieres hacer?</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="g-section grid-elegido">
    <div class="row grid-elegido-btns">
      <div class="container">
        <div class="col-md-4 grid-elegido-btns-box" ng-repeat="module in $ctrl.availableModules">
          <a class="g-btn g-btn-verde" ui-sref="{{module.route}}">{{ module.description }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
