<div class="clearfix">
  <button type="button" class="close g-close-modal" ng-click="$ctrl.closeModal()">
    <span class="ico-mapfre_46_cancelaroff"></span>
  </button>
  <div class="container">
    <div class="row mb-xs-2">
      <div class="col-md-12 g-box-noresult-ico gCBlue2 text-center"><span class="ico-mapfre_303_informacion"></span></div>
      <div class="col-md-10 col-md-offset-1 modal-title__scroll">
        <p class="text-center mt-xs-2" style="font-size: 16px;">Autoinspección rehabilitada de la solicitud Nro. {{ $ctrl.requestId }}</p>
      </div>
    </div>
    <div class="g-text-center-xs">
      <a class="g-btn g-btn-transparent col-md-6 col-md-offset-3 col-xs-12 mt-xs-1" data-ng-click="$ctrl.closeModal()">OK</a>
    </div>
  </div>
</div>
