<section class="g-page page-modal page-modal__nueva-solicitud">
  <button type="button" class="close g-close-modal" ng-click="$ctrl.closeModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <form name="$ctrl.frmAnularSolicitud">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>ANULAR SOLICITUD</h2>
        </div>
        <div class="modal-body" id="">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 mt-xs-2 mb-xs-4">
              <mpf-textarea label="{label:'Motivo', required: true}" ng-model="$ctrl.mMotivo" name="nMotivo" ng-Maxlength="250" ng-required="true"></mpf-textarea>
              <div class="g-error" ng-show="$ctrl.frmAnularSolicitud.nMotivo.$invalid && !$ctrl.frmAnularSolicitud.nMotivo.$pristine">* Ingrese un motivo</div>
            </div>
            <div class="col-xs-12 clearfix">
              <div class="row">
                <div class="col-sm-4 col-sm-offset-2 mb-xs-1"><a class="g-btn g-btn-white block" ng-click="$ctrl.closeModal();">Cancelar</a></div>
                <div class="col-sm-4"><a class="g-btn g-btn-verde block" ng-click="$ctrl.voidRequests();">Anular</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
