@media (max-width: 992px){
	.referencias-dashboard__download-report {
		margin-top: 20px;
	}
}


.referencias-dashboard__box {
	text-align: center;
}

.chipCore{

    display: inline-block;
	margin-right: 8px;
	margin-top: 4px;
	

}

.bRevisar {

	// margin-right: 200px;
	display: list-item;    
    padding: 0 0 0 0;
    margin-left: 75px;

}

.steps .reg-step__circle
{
    color: #E3E1E1!important;
    border-color: #E3E1E1 !important;
    background: #fff!important;
}

.steps .register-step__title{
  color: #E3E1E1 !important;
}

.navSel {

    color: #d81e05 !important;
    background: #d81e0510;
    border-radius: 60px 60px 60px 60px;

}


.ContNav1 .Fin{
	border: 2px solid #999999;
	background: #999999;
}
.ContNav1 .Linea{
	width: calc(50% - 1px);
	height: 100%; 
	border-right: 2px DASHED #999999;
}
.ContNav1 .Icon{
	border-radius: 50%;
	display: table;
}



.referencias-dashboard__item {
	background: #ffffff;
	border: 1px solid #bdbebe;
	border-radius: 7px;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto';
	font-size: 19px;
	font-weight: normal;
	margin: 15px auto;
	max-width: 345px;
	padding: 40px 15px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 2px #f7f7f7;
	transition: 0.35s;
	width: 100%;
}

.referencias-dashboard__item:hover {
	color: #8DB602;
	border: 2px solid #8DB602;
	box-shadow: 0 1px 15px #e6e6e6;
}

.referencias-dashboard__item:hover i {
	color: #8DB602;
}

.referencias-title-divider {
	position: relative;
}

.referencias-title-divider::before {
	background: #8DB602;
	bottom: -15px;
	content: '';
	height: 2px;
	left: 0;
	margin: auto;
	max-width: 45px;
	position: absolute;
	right: 0;
	width: 100%;
}

.referencias-dashboard__item-label {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.referencias-dashboard__ico {
	color: #7f7f7f;
	display: block;
	font-size: 48px;
	margin: auto auto 15px;
	padding: 0;
	text-align: center;
	width: 100%;
}

@media (min-width: 768px) {
	.referencias-dashboard__ico {
		margin: 0 0 0 15px;
		width: auto;
	}
}

.referencias-productos__container {
	text-align: center !important;
}

.referencias-filtros__container{
	margin-top: 20px !important;
}

.referencias-filtros__form {
	padding: 30px 20px;
}

.referencias-filtros__form-title {
	
}

.referencias-filtros__combo  {
	margin-top: 50px;
	height: 66px;
}

.referencias-filtros__label {
	font-weight: 500;
	margin-top: 30px;
}

.referencias-filtros__checkbox {
	margin-top: 30px;
	height: 35px;
}

.referencias-filtros__label-combos {
	margin-top: 100px;
}

@media (max-width: 768px) {
	.referencias-filtros__label-combos {
		margin-top: 50px;
	}
}

.referencias-filtros__footer {
	margin-top: 40px;
}

.referencias-filtros__footer-link {
	margin: 15px 0;
}

.referencias-filtros__combo-modal {
	margin-top: 50px;
	height: 66px;
}

.referencias-filtros__container-parent {
	margin-top: 30px !important;
}

.referencias-filtros__container-modal {
	padding: 0 10px;	
}

.referencias-filtros__close-modal {
	color: black;
	left: 20px;
	top: 20px;
	right: initial;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	position: absolute;
	font-size: 18px;
}

.referencias-filtros__close-modal span {
	margin-right: 10px;
	font-weight: 200;
	position: relative;
	top: 6px;
}

.referencias-filtros__close-modal span i {
	color: #9e9e9e
}

@media (max-width: 768px){
	.referencias-dashboard__clean-modal {
		margin-top: 20px;
	}
}

.referencias-filtros__list-container {
	padding: 20px 10px;
}

.referencias-filtros__list-title {
	margin: 15px 0;
}

.referencias-dashboard__indicator-container {
	margin-top: 30px !important;
}

.referencias-chart__container {
	border: 1px #d5d5d5 solid;
	border-radius: 10px;
	padding: 15px;
	margin: 15px 0;
	height: 450px;
}

.referencias-chart__title {
	font-weight: bold; 
	margin-bottom: 20px;
	display: inline-block;
}

.referencias-chart__title-buttons {
	width: calc(100% - 190px);
}

.referencias-chart__title-only {
	width: calc(100% - 30px);
}

.referencias-chart__options {
	float: right;
}

.referencias-chart__filter {
	display: inline-flex;
}

.referencias-chart__filter a {
	text-transform: initial;
}

.referencias-chart__menu {
	display: inline-block;
}

.referencias-chart__menu ul {
	left: -145px;
	top: -3px;
}

.referencias-chart__menu-item {
	display: flex !important;
}

.referencias-chart__menu-item span {
	margin-left: 10px;
}

.referencias-chart__canvas {
	height: 350px;
	width: 100%;
}

.mpf-date-range-picker-container {
	display: flex;
}

.mpf-date-range-picker {
	width: 50% !important;
}

.mpf-date-range-picker input {
	text-transform: initial !important;
}

.referencias-modal-chart__close-modal {
	color: black;
	left: 20px;
	top: 20px;
	right: initial;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	position: absolute;
	font-size: 18px;
	font-weight: 500;
}

.referencias-modal-chart__close-modal span {
	margin-right: 10px;
	font-weight: 200;
	position: relative;
	top: 6px;
}

.referencias-modal-chart__close-modal span i {
	color: #9e9e9e;
}

.referencias-modal-chart__table {
	margin-top: 60px !important;
}

.referencias-modal-chart__table-header {
	font-weight: 800;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

.referencias-modal-chart__table-item {
	text-align: center;
}

.referencias-modal-chart__footer {
	margin-top: 40px;
}

.referencias-modal-chart__download-report {
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
}