<inspec-applicant anchor="'anchor-1'" data="$ctrl.formData.applicantData" copy-email="$ctrl.copyEmail" confirmation-email="$ctrl.confirmationEmail" from-quotation="true" agent-code="$ctrl.dataCotizacion.codigoAgente" agent-name="$ctrl.dataCotizacion.nombreAgente" agent-loaded="$ctrl.agentLoaded"></inspec-applicant>
<!-- DATOS DEL VEHÍCULO -->
<div class="g-section-inner" id="anchor-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="g-sub-title">Datos del vehículo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-xs-2 no-mb-md">
                <mpf-input ng-maxlength="6" ng-minLength="6" label="{label: 'Placa', required: true}" name="nPlaca" ng-model="$ctrl.formData.vehicleLicensePlate" ng-required="true" mpf-validation="placas"></mpf-input>
                <div class="g-error" ng-show="$ctrl.formData.nPlaca.$error.required && !$ctrl.formData.nPlaca.$pristine">* Ingrese una placa</div>
            </div>
        </div>
    </div>
</div>

<div class="g-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a class="g-btn g-btn-verde block" ng-click="$ctrl.goToNextStep()">siguiente</a>
            </div>
        </div>
    </div>
</div>
