<section class="">
  <button type="button" class="close g-close-modal" ng-click="$ctrl.closeModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <form name="$ctrl.frmProveedor">
    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3">
            <b ng-if="$ctrl.isEdit">EDITAR PROVEEDOR</b>
            <b ng-if="!$ctrl.isEdit">NUEVO PROVEEDOR</b>
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 mb-xs-2">
            <mpf-input
              label="{label: 'RUC ', required: true}"
              name="nRuc"
              ng-model="$ctrl.frmProveedor.mRuc"
              mpf-validation="number"
              ng-required="true"
              ng-minlength="11"
              ng-blur="$ctrl.searchByRuc()"
              ng-maxlength="11">
            </mpf-input>
            <ul class="g-error">
              <li ng-show="$ctrl.frmProveedor.nRuc.$invalid && !$ctrl.frmProveedor.nRuc.$pristine">* Ingrese un número de RUC</li>
            </ul>
          </div>
          <div class="col-md-4 mb-xs-2">
            <mpf-input
              label="{label: 'Razón Social ', required: true}"
              name="nRazonSocial"
              ng-model="$ctrl.frmProveedor.mRazonSocial"
              ng-required="true">
            </mpf-input>
            <ul class="g-error">
              <li ng-show="$ctrl.frmProveedor.nRazonSocial.$invalid && !$ctrl.frmProveedor.nRazonSocial.$pristine">* Ingrese una razón social</li>
            </ul>
          </div>
          <div class="col-md-4 mb-xs-2">
            <gcw-cbo-estados-general data="$ctrl.frmProveedor.mEstado" not-all="true"></gcw-cbo-estados-general>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-xs-2">
            <mpf-input
              label="{label: 'Telefono 1 ', required: true}"
              name="nTelefono1"
              ng-model="$ctrl.frmProveedor.mTelefono1"
              mpf-validation="number"
              ng-required="true">
            </mpf-input>
            <ul class="g-error">
              <li ng-show="$ctrl.frmProveedor.nTelefono1.$invalid && !$ctrl.frmProveedor.nTelefono1.$pristine">* Ingrese una teléfono</li>
            </ul>
          </div>
          <div class="col-md-4 mb-xs-2">
            <mpf-input
              label="{label: 'Telefono 2 ', required: true}"
              name="nTelefono2"
              ng-model="$ctrl.frmProveedor.mTelefono2"
              mpf-validation="number">
            </mpf-input>
            <ul class="g-error">
              <li ng-show="$ctrl.frmProveedor.nTelefono2.$invalid && !$ctrl.frmProveedor.nTelefono2.$pristine">* Ingrese una teléfono</li>
            </ul>
          </div>
          <div class="col-md-4 mb-xs-2">
            <mpf-input
              label="{label: 'Email ', required: true}"
              name="nEmail"
              ng-model="$ctrl.frmProveedor.mEmail">
            </mpf-input>
            <ul class="g-error">
              <li ng-show="$ctrl.frmProveedor.nEmail.$invalid && !$ctrl.frmProveedor.nEmail.$pristine">* Ingrese una email</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-xs-4">
            <mpf-input
              label="{label: 'Precio/Día ', required: true}"
              name="nPrecio"
              ng-model="$ctrl.frmProveedor.mPrecio"
              mpf-validation="number">
            </mpf-input>
            <ul class="g-error">
              <li ng-show="$ctrl.frmProveedor.nPrecio.$invalid && !$ctrl.frmProveedor.nPrecio.$pristine">* Ingrese un precio</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-xs-1 col-md-offset-2 no-mb-md">
            <a class="g-btn g-btn-transparent block" ng-click="$ctrl.closeModal()">Cancelar</a>
          </div>
          <div class="col-md-4">
              <a class="g-btn g-btn-verde block" ng-click="$ctrl.closeModal(true)" ng-class="{'disabled': $ctrl.disabled}" ng-disabled="$ctrl.disabled">Guardar</a>
            </div>
        </div>
      </div>
    </div>

  </form>

</section>
