<section class="g-page page-modal text-center modal-activities">

  <button type="button" class="close g-close-modal" ng-click="closeModal()">
    <span class="-mapfre_46_cancelaroff"></span>
  </button>

  <div class="row">
    <div class="col-md-12 mb-xs-1 g-title-modal text-uppercase">
      <h2>ACTIVIDAD</h2>
    </div>
    <form>
      <div class="container">
        <div class="clearfix">
          <div class="col-md-10 col-md-offset-1">
            <mpf-input ng-Maxlength="80" label="{label:'Busca por código o descripción de la actividad', required: true}" ng-model="searchActividadText" ng-change="searchActividadEco(searchActividadText)" ng-required="true" ng-disabled="formData.paso3Grabado"></mpf-input>
          </div>
          <div class="col-md-10 col-md-offset-1 mt-xs-2">
            <div class="cont-actividad" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
              
              <!-- <div class="g-box" ng-repeat="option in searchActividadOptions"> -->
              <div class="g-box">
                <!-- header -->
                <div class="clearfix g-box-header" ng-click="selectActividadEco(option)" ng-class="{active: option.CodigoCiiuEmp == formData.mActEco.CodigoCiiuEmp}">
                  <ul class="g-list second-design">
                    <li class="col-xs-12 col-md-5 mt-xs-1 mb-xs-2">
                      <div class="row"> 
                        <div class="col-sm-12 item-label text-left">123{{option.CodigoCiiuEmp}}</div>
                      </div>
                    </li>
                    <li class="col-xs-12 col-md-7 cnt-item mt-xs-1 mb-xs-2">
                      <div class="row"> 
                        <div class="col-sm-12 col-md-12 item-dato text-left">123{{option.DescripcionCiiuEmp}}
                          <span class="ico-mapfre_184_circleCheck ico-verde float-right ico-small"></span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <div class="clearfix">
              <div class="col-md-6 col-md-offset-3 mt-md-4 mt-xs-2">
                <button class="g-btn g-btn-verde btn-block g-btn-mediano" ng-click="closeModal()">guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>        
    </form>
  </div>



</section>
