<div class="row">
  <div class="col-md-12">
    <h2 class="g-sub-title g-myd-subtitle">Datos del contratante</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3 mb-xs-2">
    <mpf-input label="{label: 'Nombre del contratante', required: true}" name="nombreContratante" ng-maxlength="100"
      ng-model="$ctrl.producto.modelo.NombreContratante" m-Empty-Option="{enterData:false}"
      mpf-validation="onlyLetterNumCaracteres" ng-required="true">
    </mpf-input>
    <div class="g-error" ng-show="$ctrl.validControlForm('nombreContratante')">
      {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
    </div>
  </div>
  <div class="col-sm-6 col-md-3 mb-xs-2">
    <mpf-input label="{label: 'Corredor', required: true}" name="corredor" mpf-validation="onlyLetterNumCaracteres" ng-maxlength="100"
      ng-model="$ctrl.producto.modelo.NombreCorredor" ng-required="true">
    </mpf-input>
    <div class="g-error" ng-show="$ctrl.validControlForm('corredor')">
      {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="g-sub-title g-myd-subtitle">Datos de la demolicion</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3 mb-xs-2">
    <mpf-select ng-model="$ctrl.producto.modelo.Ramo" name="trabajoContratar" label="{label: 'Ramo',required: true}"
      m-data-source="$ctrl.ramo" text-field="Descripcion" value-field="Codigo" m-Empty-Option="{enterData:false}"
      mpf-validation="required" ng-required="true">
    </mpf-select>
    <div class="g-error" ng-show="$ctrl.validControlForm('trabajoContratar')">
      {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
    </div>
  </div>
  <div class="col-sm-6 col-md-3 mb-xs-2">
    <mpf-select ng-model="$ctrl.producto.modelo.Moneda" name="moneda" label="{label: 'Moneda',required: true}"
      m-data-source="$ctrl.monedas" text-field="Descripcion" value-field="Codigo"
      ng-change="$ctrl.tipoCambio($ctrl.producto.modelo.Moneda)" m-Empty-Option="{enterData:true}"
      mpf-validation="required" ng-required="true">
    </mpf-select>
    <div class="g-error" ng-show="$ctrl.validControlForm('moneda')">
      {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
    </div>
  </div>
  <div ng-click="$ctrl.OpenParametros()" ng-if="!$ctrl.isMydream" class="col-sm-6 col-md-3 mb-xs-2">
    <a href="" class="page-rrgg__link fwMedium"> <span class="ico-mapfre_222_informacion page-rrgg__link-icon"></span>
      Ver parámetros <span class="ico-mapfre_79_chevroneright page-rrgg__link-icon"></span></a>
  </div>
</div>

<div class="row mb-xs-3 mb-md-5">
  <div class="col-xs-12 mb-xs-2">
    <p class="fwMedium mb-xs-0">Vigencia</p>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-sm-6 mb-xs-2">
        <mpf-datepicker ng-change="$ctrl.changeDesde()"  label="{label: 'Desde', required: true}" ng-model="$ctrl.producto.modelo.FechaDesde"
          format="$ctrl.format" name="nFechaInicial" ng-required="true"
          ng-disabled="disabled" readonly="false">
        </mpf-datepicker>
        <div class="g-error" ng-show="$ctrl.validControlForm('nFechaInicial')">
          {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
        </div>
      </div>
      <div class="col-sm-6 mb-xs-2">
        <mpf-datepicker label="{label: 'Hasta',required: true}" ng-model="$ctrl.producto.modelo.FechaHasta"
          format="$ctrl.format" name="mFechaFinal" ng-required="true" 
          ng-disabled="disabled" readonly="false">
        </mpf-datepicker>
        <div class="g-error" ng-show="$ctrl.validControlForm('mFechaFinal')">
          {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3 mb-xs-2 mb-md-0">
    <mpf-input label="{label: 'Asegurado', required: true}" name="asegurado" mpf-validation="onlyLetterNumCaracteres" ng-maxlength="150"
      ng-model="$ctrl.producto.modelo.NombreAsegurado" ng-required="true">
    </mpf-input>
    <div class="g-error" ng-show="$ctrl.validControlForm('asegurado')">
      {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
    </div>
  </div>
  <div class="col-sm-6 col-md-3 mb-xs-2 mb-md-0">
    <mpf-input label="{label: 'Actividad a realizar', required: true}" name="ActividadRealizar" ng-maxlength="150"
      mpf-validation="onlyLetterNumCaracteres" ng-model="$ctrl.producto.modelo.ObraRealizar" ng-required="true">
    </mpf-input>
    <div class="g-error" ng-show="$ctrl.validControlForm('ActividadRealizar')">
      {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
    </div>
  </div>
</div>

<mpf-ubigeo
  data="$ctrl.producto.modelo.Ubigeo"
  ng-model="$ctrl.producto.modelo.Ubigeo"
  is-Valid="$ctrl.ubigeoValid"
  setter="$ctrl.producto.setter"
  all-Fields-Required="true"
  clean="$ctrl.producto.clean"
></mpf-ubigeo>

<div class="row">
  <div class="col-sm-6 col-md-3 mb-xs-2">
    <mpf-input label="{label: 'Dirección de riesgo', required: true}" name="ubicacion" ng-maxlength="150"
      mpf-validation="onlyLetterNumCaracteres" ng-model="$ctrl.producto.modelo.Ubicacion" ng-required="true">
    </mpf-input>
    <div class="g-error" ng-show="$ctrl.validControlForm('ubicacion')">
      {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
    </div>
  </div>
  <div class="col-sm-6 col-md-3 mb-xs-2">
    <mpf-input ng-blur="$ctrl.validateMonto($ctrl.producto.modelo.SumaAsegurada)"
      label="{label: 'Suma asegurada', required: true}" name="SumaAsegurada" mpf-validation="onlyDecimal" m-input-currency
      ng-model="$ctrl.producto.modelo.SumaAsegurada" ng-required="true">
    </mpf-input>
    <div class="g-error" ng-show="$ctrl.validControlForm('SumaAsegurada')">
      {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
    </div>
  </div>
  <div class="col-sm-6 col-md-3 mb-xs-2">
    <mpf-input label="{label: 'Tipo de cambio (referencial)', required: true}" ng-disabled="true" name="tipoCambio"
      ng-model="$ctrl.producto.modelo.tipoCambio" ng-required="true"></mpf-input>
  </div>
  <div class="g-error" ng-show="$ctrl.validControlForm('tipoCambio')">
    {{$ctrl.constantsRrgg.SMS_ERROR.REQUERIDO}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3 mb-xs-2">
    <mpf-input ng-blur="$ctrl.validateDescuentos()" label="{label: 'Agregar Descuentos % Director'}"
      name="descuentoDirector" ng-model="$ctrl.producto.modelo.DescuentoDirector" ng-disabled="false"
      ng-required="false" mpf-validation="onlyDecimalDescuento">
    </mpf-input>
  </div>
</div>
