<div class="container">
    <div ng-if="cotizacion.step.view === constantsCps.view.alternativas">
        <cps-cotizacion-alternativas cotizacion="cotizacion"></cps-cotizacion-alternativas>
    </div>
    <div ng-if="cotizacion.step.view === constantsCps.view.simulador">
        <cps-simulador-cotizacion cotizacion="cotizacion"></cps-simulador-cotizacion>
    </div>
    <div ng-if="cotizacion.step.view === constantsCps.view.detalleFina">
        <cps-detalle-cotizacion-finan cotizacion="cotizacion"></cps-detalle-cotizacion-finan>
    </div>
    <div ng-if="cotizacion.step.view === constantsCps.view.detalleConta">
        <cps-detalle-cotizacion cotizacion="cotizacion"></cps-detalle-cotizacion>
    </div>
</div>