<div class="clearfix g-box g-overflow-hidden-xs mb-xs-2">
  <div class="row pt-xs-1 gBgcGray5">
    <ul class="clearfix g-list-sm">
      <li class="col-md-12 col-sm-12">
        <ul class="row">
          <li class="col-sm-3 col-md-4 clearfix cnt-item">
            <div class="col-sm-12 item-label">Estado</div>
            <div class="col-sm-12 item-dato g-text-uppercase">
              <span class="g-box-label text-center ml-xs-1-5 ml-md-0 mb-xs-1" ng-class="{'g-new-label-green' : vm.documento.McaInh === 'N', 'g-new-label-gray' : vm.documento.McaInh !== 'N'}">
                {{vm.documento.McaInh === 'N' ? 'HABILITADO' : 'INHABILITADO'}}
              </span>
            </div>
          </li>
          <li class="col-sm-3 clearfix cnt-item">
            <div class="col-sm-12 item-label">Subcontrato Nuevo</div>
            <div class="col-sm-12 item-dato g-text-uppercase">{{vm.documento.NuevoSubContratoMigracion.nombreSubContratoMigracion}}</div>
          </li>
          <li class="col-sm-3 clearfix cnt-item">
            <div class="col-sm-12 item-label">Prioridad</div>
            <div class="col-sm-12 item-dato g-text-uppercase">
              {{vm.documento.Prioridad}}
            </div>
          </li>
          <li class="col-md-2 col-sm-3 clearfix mt-xs-1">
            <div class="col-xs-6 cnt-item text-center">
              <a href="" ng-click="vm.showModalConfigurarPlan()">
                <span class="ico-mapfre_345_myd-edit"></span>
              </a>
            </div>
            <div class="col-xs-6 cnt-item text-center">
              <a href="" ng-click="vm.eliminarDocumento()">
                <span ng-if="vm.documento.McaInh === 'N'" class="ico-mapfre-363-myd-eliminar"></span>
                <span ng-if="vm.documento.McaInh === 'S'" class="ico-mapfre-346-sucess"></span>
              </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="row g-box-content">
    <ul class="clearfix g-list-sm">
      <li class="col-md-4 col-sm-6 clearfix cnt-item">
        <div class="col-sm-12 item-label">Contrato</div>
        <div class="col-sm-12 item-dato g-text-uppercase">{{vm.documento.NombreContratoMigracion}}</div>
      </li>
      <li class="col-md-3 col-sm-6 clearfix cnt-item">
        <div class="col-sm-12 item-label">Subcontrato Continuidad</div>
        <div class="col-sm-12 item-dato g-text-uppercase">{{vm.documento.ContinuidadSubContrato.nombreSubContratoMigracion}}</div>
      </li>
      <li class="col-md-5 col-sm-6 clearfix cnt-item">
        <div class="col-sm-12">
          <a class="g-btn g-btn-verde second-design block" ng-click="vm.showModalConfigurarPlan()">CONFIGURAR</a>
        </div>
      </li>
    </ul>
  </div>
</div>
