<section class="g-page g-callerDashboard-home" ng-class="{'fullScreen' : $ctrl.isTvUser}">
  <div class="g-section-inner">
    <div class="container">
      <div class="row">
        <dash-menu count-call="$ctrl.data.countToCall" count-assing="$ctrl.data.countToAssign" ng-if="!$ctrl.isTvUser" ></dash-menu>
        <div class="col-md-12" ng-class="{'col-lg-8':!$ctrl.isTvUser,'col-lg-9':$ctrl.isTvUser}">
          <div class="row">
            <div class="col-md-6 pb-xs-1 pb-md-0">
              <summary-by-call object-value="$ctrl.data.summaryToCall" count-records="$ctrl.data.countToCall" object-options="$ctrl.options" ></summary-by-call>
            </div>
            <div class="col-md-6">
              <summary-by-assign object-value="$ctrl.data.summaryToAssign" count-records="$ctrl.data.countToAssign" object-options="$ctrl.options" ></summary-by-assign>
            </div>
          </div>
        </div>
        <div class="col-md-12" ng-class="{'col-lg-4':!$ctrl.isTvUser, 'col-lg-3':$ctrl.isTvUser}">
          <div class="row">
            <div class="col-md-6 col-lg-12 mt-xs-1 mb-xs-1">
              <alert-count object-value="$ctrl.data.alerts"></alert-count>
            </div>
            <div class="col-md-6 col-lg-12 mt-xs-1">
              <summary-statistics object-value="$ctrl.data.stadistics" object-options="$ctrl.options"></summary-statistics>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
