.app-my-dream {
  .myd-cotizacion-guardar {
    .g-cotiza-producto {
      align-items: center;
      display: flex;
      flex-wrap: wrap;

      &-descuento {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;

        label {
          padding: 0;
        }

        .g-select-desing {
          padding-top: 0;
        }
      }

      &-prima-neta {
        border: none;

        div {
          border-bottom: 1px solid $cGray4;
        }
      }

      &-prima-neta, &-prima-dcto {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;

        &-label {
          width: 50%;
        }
      }

      &-tipo {
        .g-cotiza-producto-msg-box {
          span {
            margin-left: 0;
          }
        }
      }
    }
  }

  .g-cotiza-producto-tipo {
    .cnt-check {
      label {
        color: $myd-gray5;
        font-size: 14px;
        font-weight: normal !important;
      }
    }
  }

  .g-cotiza-producto-prima-neta-data {
    font-size: 18px;
  }

  .emitir-totales {
    .g-box {
      > .row  {
        .info-dot {
          display: none;
        }
      }
    }
  }

  .g-tbl-wrapper .tbl-main .tbl-body .tbl-icon,
  .ico-liquiSoat {
    color: $myd-green;
  }

  .g-icon {
    .icon {
      color: $myd-green;
    }
  }

  .myd-btn-set {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 10px !important;
      padding: 5px 16px !important;

      span {
        &.g-btn-ico {
          line-height: 1;
          padding: 0;
  
          &::before {
            height: auto !important;
            left: initial;
            position: relative;
            top: initial !important;
          }
        }

        &:not(.g-btn-ico) {
          border-left: none !important;
        }
      }

      &#download {
        padding-bottom: 10px !important;
      }
    }
  }

  @media (min-width: $break-small) {
    .myd-cotizacion-guardar {
      .g-cotiza-producto {
        margin-bottom: 0;

        &-descuento {
          justify-content: center;
          margin-bottom: 0;

          label {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }

    .myd-btn-set {
      flex-direction: initial;

      button {
        margin-bottom: 0;
      }
    }
  }
}
