.app-my-dream {
  .page-empresa-cotizar {
    .tabs-box-mainview {
      border-top: 0;
    }

    .tab-title {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0;
    }

    .tabs-box {
      > ul {
        display: block;
        margin-top: 30px;

        > li {
          background-color: white;
          border: 0;
          box-shadow: $box-shadow;
          height: 60px;
          margin: 0;

          &.active {
            border-bottom: 3px solid $myd-green;

            .tabs-box-title {
              color: $myd-green;
              font-weight: bold;
            }

            .ico-close-tab {
              color: $myd-green;
            }
          }
        }

        .uib-tab {
          min-width: 90%;
        }

        .tabs-box-title {
          color: $myd-gray5;
          font-size: 16px;
        }

        .ico-close-tab {
          font-size: 20px;
          right: 15px;
          top: 18px;
        }
      }

      .tab-plus {
        color: $myd-green;
        padding-top: 14px;
      }
    }
  }

  .table-riesgo-row-content {
    padding: 20px 0;

    .g-border-left,
    .g-border-right {
      border: 0;
    }
  }

  @media (min-width: $break-small) {
    .page-empresa-cotizar {
      .tabs-box {
        > ul {
          .uib-tab {
            min-width: 228px;
          }
        }
      }
    }
  }
}
