.app-my-dream {
  .g-myd-box-coti {
    align-items: center;
    display: flex;
    flex-direction: column;

    &--info {
      padding: 0;
    }
  }

  .g-btn__dsctoHogar {
    font-size: 13px;
  }

  .g-btn {
    .ico-plus,
    .ico-download,
    .ico-email {
      margin-right: 5px;
      top: 0;
    }
  }

  @media (min-width: $break-xsmall) {
    .g-myd-box-coti {
      flex-direction: inherit;
    }
  }
}
