.app-my-dream {
  .g-inline-btn-row {
    .g-inline-btn-col {
      .g-btn {
        height: 36px;
        padding: 6px 20px;
      }
    }
  }

  .g-myd-btn-icon {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .myd-icon {
      padding: 0 10px;
      width: auto;
    }

    .myd-btn,
    inspec-action-button {
      padding-left: 10px;
      width: 100%;
    }
  }

  .tb-fotos {
    .nav-tabs {
      display: inline-block;
      width: auto;

      .uib-tab {
        a {
          height: auto;
        }

        &.active {
          a {
            background-color: white;
          }
        }
      }
    }

    .tab-pane {
      background-color: white;
      border: 0px;
      box-shadow: $box-shadow;
      margin-top: -4px;

      > .g-photo-box {
        background-color: $myd-gray13;
        border: 1px solid $myd-gray7;
        border-radius: 5px;
      }
    }
  }

  .g-section-tabs {
    .g-section-inner {
      &:before,
      &:after {
        background-color: $myd-gray3;
      }
    }
  }

  .producto__box {
    border: 0 !important;
    box-shadow: $box-shadow;
  }

  .iconInfo {
    top: 20px;
  }

  .cont-export {
    align-items: center;
    display: flex;

    .txt {
      padding-top: 0;
    }
  }

  .page-inspeccion-autos {
    .tbl-wrapper {
      .tbl-main {
        .tbl-header {
          background-color: $myd-gray3;
        }
      }

      .tbl-body {
        > li:last-child {
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    .scroll-y {
      height: auto;
      max-height: 450px;
    }
  }

  @media (min-width: $break-small) {
    .g-myd-btn-icon {
      .myd-btn,
      inspec-action-button {
        width: auto;
      }
    }
  }

  // tag
  .tag-programaciones,
  .tag-solicitudes {
    &.g-box {
      .g-checkbox {
        margin-top: 2px;
      }

      .item-label,
      .cnt-item {
        .g-box-label {
          &.c-green3 {
            background-color: $myd-green5;
            border-color: $myd-green6;
            color: white;
          }

          &.c-green4 {
            background-color: $myd-green2;
            border-color: $myd-green;
            color: white;
          }

          &.c-purple {
            background-color: $myd-red3;
            border-color: $myd-red2;
            color: white;
          }

          &.c-green5 {
            background-color: $myd-yellow2;
            border-color: $myd-yellow3;
            color: white;
          }

          &.c-blue {
            background-color: $myd-blue;
            border-color: $myd-blue2;
            color: white;
          }

          &.c-gray {
            background-color: $myd-gray10;
            border-color: $myd-gray11;
            color: white;
          }
        }
      }
    }
  }
}
