.app-my-dream {
  .gNsctr .gnSecToggle .icoToggle,
  .gNsctrModal .gnSecToggle .icoToggle {
    background: transparent;
    color: $myd-green;
    font-size: 26px;
  }

  .gNsctr .gnSecResultsFixed,
  .gNsctrModal .gnSecResultsFixed {
    box-shadow: $box-shadow;

    .secHeader {
      background-color: white;
      color: $myd-black;
    }
  }

  .modalManualProof .box {
    border: 0;
    box-shadow: $box-shadow;
  }
}

