.g-myd-payment {
  align-items: initial;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-between;

  &--form,
  &--summary,
  &--verification {
    padding: 15px;
    width: 100%;

    .g-section-tabs {
      padding: 15px;

      .content-tab {
        padding: 20px 0;
      }
    }

    .title {
      color: $myd-gray5;
      font-size: 18px;
      font-weight: $myd-fw-medium;
      margin-bottom: 20px;
    }

    .box-summary,
    .box-verification {
      display: flex;

      i {
        color: $myd-gray5;
        font-size: 20px;
      }

      .myd-info {
        flex: 1;
        padding-left: 10px;
        width: 90%;

        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .myd-title {
          color: $myd-gray5;
          font-size: 14px;
          font-weight: $myd-fw-regular;
          margin-bottom: 10px;
          text-transform: uppercase;
        }

        .myd-date {
          display: flex;
          margin-top: 10px;
          flex-direction: column;

          .myd-label {
            color: $myd-gray5;
            font-weight: $myd-font-book;
            margin: 0;
            padding-right: 5px;
          }

          .myd-item {
            color: $myd-gray5;
            font-weight: $myd-fw-regular;
            margin: 0;
          }

          &.price {
            font-size: 24px;
            display: none;
          }
        }
      }
    }

    .box-verification {
      padding: 20px;
    }

    .c-email {
      .description {
        color: $myd-gray5;
        font-size: 14px;
        font-weight: $myd-fw-medium;
      }
    }
  }

  &--summary {
    > .title {
      display: none;
    }
  }

  &.verification {
    flex-direction: column;
  }
}

@media (min-width: $break-small) {
  .g-myd-payment {
    &--form,
    &--summary,
    &--verification {
      padding: 20px 100px;
    }

    &--summary,
    &--verification {
      .box-summary,
      .box-verification {
        .myd-info {
          .myd-date {
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media (min-width: $break-medium) {
  .g-myd-payment {
    flex-direction: initial;

    &--form,
    &--summary,
    &--verification {
      padding: 20px 40px;
    }

    &--form {
      width: 50%;
    }

    &--summary,
    &--verification {
      width: 50%;

      > .title {
        display: block;
        margin-bottom: 35px;
      }

      .box-summary,
      .box-verification {
        .myd-info {
          .myd-date {
            &.price {
              display: flex;
              flex-wrap: wrap;
            }
          }
        }
      }
    }

    /* Para el resumen de pago */
    .g-myd-acordion {
      box-shadow: none;

      &--header,
      &--footer {
        display: none;
      }
      &--body {
        padding: 0;
        display: block !important;

        .box-summary,
        .box-verification {
          box-shadow: 0 1px 6px 0 rgba(27, 27, 27, 0.11);
          padding: 15px;
        }
      }
    }

    &.verification {
      flex-direction: initial;
    }
  }
}

@media (min-width: $break-large) {
  .g-myd-payment {
    &--form,
    &--summary,
    &--verification {
      padding: 20px 100px;
    }
  }
}
