.app-my-dream {
  .page-sctr-emitir {
    .g-btn-mini {
      margin: 0;
      margin-top: 10px;
      max-width: 200px;
    }
  }

  .g-box {
    background-color: white;
    border: 1px solid transparent;
    box-shadow: $box-shadow;

    .g-box-header {
      background-color: white;
    }
  }

  .risk-box {
    border: 0;
    box-shadow: $box-shadow;

    >.row {
      align-items: center;
    }

    &-inputs {
      .g-input-design {
        margin-bottom: 20px;
      }
    }

    .g-box-header {
      background-color: $myd-gray4;
      padding-top: 0;
    }

    .box-amount-data-total {
      font-weight: 700;
    }
  }

  .g-comment-box {
    background-color: $myd-gray4;
    border-radius: 5px;
    box-shadow: $box-shadow;
    margin-bottom: 20px;

    .g-comment-box-ico {
      .ico-mapfre_305_user {
        border: 0;
        font-size: 20px;
        height: 40px;
        width: 40px;
      }
    }
  }

  .g-comment-input {
    background-color: transparent;
    box-shadow: none;

    .g-comment-box-ico {
      .ico-mapfre_305_user {
        background-color: $myd-gray4;
        border: 0;
        font-size: 20px;
        height: 40px;
        width: 40px;
      }
    }

    .g-comment-box-data {
      .box-attachment {
        align-items: center;
        background-color: white;
        box-shadow: $box-shadow;
        display: flex;
        padding: 10px 0;
      }
    }
  }

  .g-box-label {
    border-radius: 2px;

    &.verde2,
    &.verde5 {
      background: $myd-green2;
      border: 1px solid $myd-green;
    }

    &.yellow {
      background-color: $myd-yellow;
      border: 1px solid $myd-yellow2;
    }

    &.verde4 {
      background: $myd-green3;
      border: 1px solid $myd-green4;
    }

    &.c-purple2 {
      background-color: $myd-purple;
      border: 1px solid $myd-purple2;
    }
  }

  .document-number {
    .cont-ico {
      line-height: 1;

      .chat-number__val {
        top: 3px;
      }
    }
  }

  @media (min-width: $break-medium) {
    .risk-box {
      >.row {
        align-items: center;
        display: flex;
      }

      &-inputs {
        .g-input-design {
          margin-bottom: 0;
        }
      }
    }
  }
}
