.app-my-dream {
  .sc-dashboard--fliter {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  .sc-dashboard-btn,
  .usuarios-buttons,
  .title-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .title-buttons {
    align-items: center;
  }

  .usuarios-buttons {
    padding-right: 15px;

    > span {
      padding: 0;
    }
  }
}
