<div ng-form name="frmVehicleDetails">
  <div class="g-section-inner border-top">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h2 class="g-sub-title g-myd-subtitle">Datos del vehículo</h2>
        </div>
      </div>

      <div class="row">
        <!-- Vehicle -->
        <!-- <div class="col-md-4 mb-xs-2">
          <mpf-select 
            label="{label: 'Tipo de vehículo', required: true}" name="ntypeVehicle" ng-model="$ctrl.data.mTypeVehicle" m-data-source="$ctrl.typeVehicle"
            text-field="Nombre" value-field="Codigo" m-Empty-Option="{text: '-Seleccionar-'}" mpf-validation="required">
          </mpf-select>
          <div class="g-error" ng-show="frmVehicleDetails.ntypeVehicle.$invalid && !frmVehicleDetails.ntypeVehicle.$pristine">* Seleccione un tipo de vehículo</div>
        </div> -->

        <!-- Frecuencia -->
        <div class="col-md-4 mb-xs-2">
          <mpf-select label="{label: 'Frecuencia de uso', required: true}" name="nUseVehicle" ng-model="$ctrl.data.mUseVehicle" m-data-source="$ctrl.useVehicle"
                      text-field="Nombre" value-field="Codigo" m-Empty-Option="{text: '-Seleccionar-'}" mpf-validation="required"></mpf-select>
          <div class="g-error" ng-show="frmVehicleDetails.nUseVehicle.$invalid && !frmVehicleDetails.nUseVehicle.$pristine">* Seleccione una frecuencia de uso</div>
        </div>

        <!-- Siniestros -->
        <div class="col-md-4 mb-xs-2">
          <mpf-select label="{label: 'Siniestros anteriores en los últimos 2 años', required: true}" name="nAccidentesVehicle" ng-model="$ctrl.data.mAccidentesVehicle" m-data-source="$ctrl.accidentesVehicle"
                      text-field="Nombre" value-field="Codigo" m-Empty-Option="{text: '-Seleccionar-'}" mpf-validation="required"></mpf-select>
          <div class="g-error" ng-show="frmVehicleDetails.nAccidentesVehicle.$invalid && !frmVehicleDetails.nAccidentesVehicle.$pristine">* Seleccione una opción</div>
        </div>

        <!-- Antigüedad -->
        <div class="col-md-4 mb-xs-2">
          <mpf-select label="{label: 'Antigüedad de licencia de conducir', required: true}" name="nAntiguedadLicencia" ng-model="$ctrl.data.mAntiguedadLicencia" m-data-source="$ctrl.antiguedadLicencia"
                      text-field="Nombre" value-field="Codigo" m-Empty-Option="{text: '-Seleccionar-'}" mpf-validation="required"></mpf-select>
          <div class="g-error" ng-show="frmVehicleDetails.nAntiguedadLicencia.$invalid && !frmVehicleDetails.nAntiguedadLicencia.$pristine">* Seleccione una antigüedad</div>
        </div>

      </div>

      <div class="row">
        

        <!-- Único conductor -->
        <div class="col-md-4 mb-xs-2 no-mb-md">
          <div class="row mb-sm-2 mb-xs-1">
            <div class="col-md-12">
              <span class="g-label">¿El auto es conducido por una sola persona?</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <m-radio label="{label: 'Sí'}" name="nUnicoConductor" ng-model="$ctrl.data.mUnicoConductor" value="S" ng-required="true" selected></m-radio>
            </div>
            <div class="col-xs-6">
              <m-radio label="{label: 'No'}" name="nUnicoConductor" ng-model="$ctrl.data.mUnicoConductor" value="N" ng-required="true"></m-radio>
            </div>
            <ul class="col-md-12 g-error">
              <li class="g-error" ng-show="frmVehicleDetails.nUnicoConductor.$invalid && !frmVehicleDetails.nUnicoConductor.$pristine">* Elija una de las opciones</li>
            </ul>
          </div>
        </div>

        <!-- Usa garaje -->
        <div class="col-md-4 mb-xs-2 no-mb-md">
          <div class="row mb-sm-2 mb-xs-1">
            <div class="col-md-12">
              <span class="g-label">¿Usualmente guarda el auto en un garaje?</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <m-radio label="{label: 'Sí'}" name="nGaraje" ng-model="$ctrl.data.mGaraje" value="S" ng-required="true" selected></m-radio>
            </div>
            <div class="col-xs-6">
              <m-radio label="{label: 'No'}" name="nGaraje" ng-model="$ctrl.data.mGaraje" value="N" ng-required="true"></m-radio>
            </div>
            <ul class="col-md-12 g-error">
              <li class="g-error" ng-show="frmVehicleDetails.nGaraje.$invalid && !frmVehicleDetails.nGaraje.$pristine">* Elija una de las opciones</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
