@import '../../admin-portal/styles/owl.carousel.min.css';
@import '../../admin-portal/styles/owl.theme.default.min.css';

.box-detail {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;

  &--img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    width: 100%;

    @media (min-width: $break-small) {
      height: 300px;
    }
  }

  &--text {
    padding: 20px;
    position: absolute;
    bottom: 0;
    background: white;
    left: 0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    p {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;
    }

    span {
      color: #c4c4c4;
      font-size: 10px;
      padding-bottom: 10px;
    }
  }

  &--nav {
    height: 0;
    overflow: hidden;

    li {
      margin-bottom: 5px;
      list-style: inside;

      &:hover {
        color: #8db602;
        text-decoration: underline;
      }
    }
  }

  &:hover {
    .box-detail--text .box-detail--nav {
      height: auto;
      overflow: initial;
      margin-top: 10px;
    }
  }
}

.sub-menu {
  font-size: 24px;
  line-height: 1;
  margin: 20px 0;

  span {
    color: #979797;
    font-size: 14px;
  }
}

.box-info {
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 15px;

  &--scoll {
    border-top: 1px solid #d8d8d8;
    max-height: 567px;
    overflow: auto;
    padding: 20px 5px 120px 5px;
  }

  &--degradado {
    position: relative;

    &::before {
      background-image: linear-gradient(to bottom, rgba(249, 249, 249, 0.04), #f9f9f9, #f9f9f9);
      bottom: 0;
      content: '';
      height: 150px;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }

  @media (min-width: $break-small) {
    flex-direction: inherit;
    min-height: 242px;

    &--small {
      align-items: center;
      border-radius: 6px;
      display: flex;
      min-height: auto;
    }
  }

  &--small {
    .dsc {
      max-height: 40px;
      overflow: hidden;
    }
  }

  &.disable {
    .box-info {
      &--img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.4;
      }

      &--text {

        .title,
        .nro-banner,
        .tag,
        .dsc,
        .fetch {
          opacity: 0.4;
        }

        .action {
          .sec-notification {
            opacity: 0.4;
          }
        }
      }
    }
  }

  &--img {
    height: 212px;
    object-fit: cover;
    width: 100%;

    @media (min-width: $break-small) {
      width: 350px;
    }
  }

  &--img-small {
    height: 122px;
    object-fit: cover;
    width: 100%;
    border-radius: 4px;

    @media (min-width: $break-small) {
      width: 177px;
      height: 140px;
      object-fit: cover;
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;

    @media (min-width: $break-small) {
      margin-top: 0;
      padding-left: 20px;
    }

    .title {
      color: #4a4a4a;
      font-size: 18px;
      margin-bottom: 2px;
    }

    .nro-banner {
      color: #9b9b9b;
      font-size: 12px;
    }

    .tag {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      span {
        background-color: #f7fbeb;
        border-radius: 2px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
        color: #8db602;
        font-size: 10px;
        margin-bottom: 10px;
        margin-right: 6px;
        padding: 6px 10px;
      }
    }

    .dsc {
      color: #4a4a4a;
      font-size: 14px;
      height: 100%;
      margin-bottom: 0;
    }

    .action {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: $break-small) {
        flex-direction: initial;
      }

      .sec-notification {
        align-items: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
        display: flex;
        font-size: 11px;
        margin-bottom: 10px;
        padding: 7px 10px;
        width: 100%;

        @media (min-width: $break-small) {
          margin-bottom: 0;
          width: auto;
        }

        i {
          font-size: 14px;
          margin-right: 5px;
        }

        span {
          color: #979797;
          line-height: 1;
        }
      }

      .sec-btn {
        display: flex;
        white-space: nowrap;
        width: 100%;

        @media (min-width: $break-small) {
          width: auto;
        }

        a {
          width: 100%;

          @media (min-width: $break-small) {
            min-width: 130px;
            margin-right: 20px;
            margin-top: 20px;
            width: max-content;
          }
        }
      }
    }
  }

  &--btn {
    padding-left: 20px;

    .g-btn-blanco {
      span {
        margin-right: 6px;
      }

      .ico-mapfre-384-navclose {
        font-size: 10px;
        transform: rotate(44deg);
      }
    }
  }
}

.box-form {
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.bgc-full-right {
  position: relative;

  &::before {
    background-color: #f9f9f9;
    bottom: 0;
    content: '';
    position: absolute;
    right: -1000px;
    top: 0;
    width: 1000px;
  }
}

.g-btn-blanco {
  background-color: white;
  border-color: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  color: $verde2;
}

.info-text {
  display: flex;
  flex-direction: column;

  .llamada {
    font-size: 16px;
    font-weight: bold;
  }

  .bajada {
    font-size: 14px;
    font-weight: 300;
  }
}

.tab-simple {
  border-radius: 10px;
  border: solid 1px #d8d8d8;
  padding: 20px 30px;
  position: relative;

  &--header {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;

    span {
      color: #8db602;
      font-size: 16px;
      width: 100%;
    }

    i {
      color: #8db602;
    }
  }

  &--content {
    overflow: auto;
    padding-left: 2px;
    max-height: 250px;
    flex-direction: column;

    @media (min-width: $break-small) {
      flex-direction: initial;
    }

    .checkbox-label {
      font-weight: initial;
    }

    div {
      width: 100%;
    }

    p {
      align-items: center;
      display: flex;
      font-size: 14px;
      margin-bottom: 10px;
      margin-top: 10px;

      i {
        font-size: 20px;
      }

      span {
        font-weight: bold;
        margin-left: 6px;
      }
    }
  }

  &--item {
    margin-top: 5px;
  }
}

.input-disabled {
  opacity: 0.25;
}

.row-height-138 {
  height: 138px;
}

.row-height-131 {
  height: 131px;
}

.row-height-149 {
  height: 149px;
}

.box-images {
  align-items: center;
  border: 1px dashed #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &--input {
    bottom: 0;
    cursor: pointer;
    left: 0 !important;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
  }

  &--img {
    position: relative;

    &-btn {
      display: flex;
      flex-direction: row !important;
      position: absolute;
      right: 0;
      top: 6px;
      opacity: 0;
      transition: all 0.3s ease;

      button,
      a {
        align-items: center;
        background-color: #8db602;
        border-radius: 4px;
        border: none;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.11);
        display: flex;
        height: 40px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 40px;
        margin: 0 10px;
        position: relative;
      }
    }

    &:hover {
      .box-images--img-btn {
        opacity: 1;
      }
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  i {
    font-size: 50px;
    margin-bottom: 10px;
  }

  span {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .icon-img {
    color: white;
    font-size: 24px;
    margin: 0;
  }
}

.ap-paginador {
  .g-pagination {
    @media (min-width: $break-small) {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &>li:last-child,
    &>li:first-child {
      align-items: center;
      background: white;
      border-radius: 5px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.11);
      display: flex;
      float: none;
      height: 50px;
      justify-content: center;
      margin: 5px;
      width: 50px;

      a {
        box-shadow: none;
        height: 20px;
        padding: 0;
        width: 16px;

        &:hover {
          color: #8db602;
        }
      }
    }

    &>li>a,
    &>li>span {
      align-items: center;
      background: white;
      border-radius: 5px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.11);
      color: #4c4c4c;
      display: flex;
      height: 50px;
      justify-content: center;
      width: 50px;

      &:hover {
        color: #8db602;
      }
    }

    &>.active>a,
    &>.active>span {
      background-color: white;
      border-color: none;
      color: #8db602;
    }
  }
}

.list-nro ul {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  li {
    border-right: 1px solid #4a4a4a;
    color: #d8d8d8;
    cursor: pointer;
    font-size: 16px;
    padding: 0 6px;

    &:last-child {
      border-right: none;
    }

    &:hover,
    &.active {
      color: #8db602;
    }
  }
}

.g-btn-blanco {
  align-items: center;
  display: flex !important;
  justify-content: center;

  i {
    font-size: 20px;
    margin-left: 6px;
    margin-top: 0;
  }
}

.owl-carousel {
  &:hover {
    .owl-nav {
      opacity: 1;
    }
  }

  .owl-nav {
    color: white;
    height: 30px;
    left: 50%;
    line-height: 1;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);
    transition: all 0.35s ease;
    width: 88%;

    button {
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), 2px 2px 15px rgba(0, 0, 0, 0.5), 3px 3px 30px rgba(0, 0, 0, 0.9);
      font-size: 42px !important;
      font-weight: bold !important;
      line-height: 1 !important;
      position: absolute;

      &:hover {
        background: transparent !important;
      }

      &.owl-prev {
        left: 0;
      }

      &.owl-next {
        right: 0;
      }
    }
  }
}

.h-br--5 {
  border-radius: 5px;
}

.h-ov--hidden {
  overflow: hidden;
}

.h-bg--loading {
  background-image: url('../../admin-portal/assets/img/ajax-loader.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.h-fw--bold {
  font-weight: bold !important;
}

.h-filter--black-white {
  filter: grayscale(100%);
}

.tab-scroll {
  .tab--ico {
    display: none;
  }

  .item {
    &.active {
      .tab--ico {
        display: block;
      }
    }
  }
}

.section-title {
  display: flex;

  .arrow {
    color: #749806;
    display: flex;
    font-size: 24px;

    i {
      cursor: pointer;
      padding: 0 5px;

      &.disable {
        color: #ccc;
        cursor: default;
      }
    }
  }
}

.w-100 {
  width: 100%;
}


.c-search-banners {
  position: relative;

  &--box {
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    height: 48px;

    input {
      border: none;
      font-size: 16px;
      padding: 0 22px;
      width: 100%;
    }

    span {
      color: #749806;
      cursor: pointer;
      font-size: 22px;
      padding-right: 20px;
    }
  }

  &--content {
    display: none;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 9999;
    padding: 15px 30px 15px 15px;
    max-height: 466px;
    overflow: scroll;

    &.active {
      display: initial;
    }
  }

  &--close {
    color: black !important;
    font-size: 14px !important;
  }
}

.search {
  &--close {
    cursor: pointer;
    font-size: 14px !important;
    padding-right: 18px !important;
  }
}



/*MISAS*/

.copy {
  background-image: url('../../admin-portal/assets/img/icon-copy-24.png');
  float: right;
  -moz-background-size: 20px 20px;
  -o-background-size: 20px 20px;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}


.nvtOptions {
  position: relative;
  padding: 24px 16px 24px 64px !important;
  border: 2px solid transparent;
  border-radius: 8px !important;
  color: #00000090;
  width: 100% !important;
  display: inline-block !important;
  box-sizing: border-box;
  text-decoration: none;
  min-height: 90px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

  .icon {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    margin: -24px 0 0 0;
    left: 16px;
    border-radius: 8px;
    background-size: cover;
    opacity: .6;
  }
}

#opt1 .icon {
  background-image: url('../../admin-portal/assets/img/icon-dm-backoffice.png');
}

.nvtOptions:hover .icon {
  opacity: 1;
}

#opt1:hover .icon {
  background-image: url('../../admin-portal/assets/img/icon-dm-backoffice-hover.png');
}

.nvtOptions {
  span {
    display: block;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 6px 20px 6px;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      border-radius: 2px;
      width: 48px;
      background-color: #749806;
      bottom: 3px;
      left: 50%;
      margin: 0 0 0 -24px;
    }
  }

  &:hover {
    border: 2px solid #749806;
    color: #749806;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
}

.wdMenuConsulta {
  min-width: 165px !important;
}

.styleMenuconsulta {
  font-size: 80%;
}

.lblNvt,
.lblTimeNvt {
  background-color: #ddd;
  border-radius: 4px;
  padding: 0 5px !important;
  font-size: 12px;
  font-weight: 600;
  min-width: 86px !important;
  max-width: 300px !important;
}


/*BG COLOR LABEL STATUS*/
/*---Recibido y Pendiente---*/
.bgPending {
  background-color: #727e4e;
}

/*---En atencion y En Camino---*/
.bgInAtention {
  background-color: #0189ff;
}

/*---Atendido---*/
.bgAttended {
  background-color: #08c3a6;
}

/*---Entregado---*/
.bgDelivered {
  background-color: #8db602;
}

/*---Anulado---*/
.bgCanceled {
  background-color: #d81e05;
}

/*BG COLOR LABEL TIME*/
.bgTimeHigh {
  background-color: #d81e05;
}

.bgTimeMedium {
  background-color: #ff7900;
}

.bgTimeLow {
  background-color: #8db602;
}

.g-boxRb {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 20px 10px 20px;
  margin-top: 10px;

  .g-btn {
    margin: 0 0 0 6px;
    width: 110px;
  }
}

.btn-verde-trn {
  font-family: $font-family;
  background-color: #607f03;
  font-size: $font-size3;
  color: #607f03;
  border-radius: 5px;
  border: 0;
  @include prefix(transition, 0.25s);
  @include inlineblock;
  text-align: center;
  padding: 0;
  line-height: 46px;

  &:hover,
  &:focus {
    background-color: #607f03;
    color: #fff;
    text-decoration: none;
    transition: 0.25s;
    outline: 0;
  }
}

.gBgcGray10 {
  background-color: #f1f5f7;
}

.quitUpperCase {
  input {
    text-transform: none !important;
  }
}

.button190 {
  width: 190px !important;
}


/* Admin Ramos */

.card-section {
  display: flex;
  width: 170px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FCFCFC;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
}

.card-section-header {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px 5px 0px 0px;
  background: #F4F4F4;
}

.card-section-header-title {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

.card-section-item {
  display: flex;
  padding: 24px 19px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid #D5D5D5;
}

.card-section-item-text {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: #4C4C4C;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-section-item-active {
  display: flex;
  height: 64px;
  padding: 24px 0px 24px 19px;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #D5D5D5;
}

.card-section-item-text-active {
  display: flex;
  padding: 6px 0px 6px 0px;
  flex-direction: column;
  flex: 1 0 0;
  color: #4C4C4C;
  font-family: Roboto;
  font-size: 14px;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  border-right: 3px solid #8db602;
}


/**/

.card-ramos {
  display: flex;
  flex-direction: row;
}

.card-ramos-arrow {
  width: 33px;
  font-size: 27px;
  display: flex;
  align-items: center;
}

.card-ramos-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow: hidden;
  padding-top: 3px;
  padding-bottom: 3px;
}

.card-ramos-item {
  border-radius: 5px;
  background: #FCFCFC;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
  display: flex;
  padding: 20px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 132px;
  height: 106px;
}

.card-ramos-item-text {
  color: var(--gray-3, #797B7F);
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-ramos-item-active {
  border-radius: 5px;
  border-bottom: 3px solid var(--green, #8DB602);
  background: #FCFCFC;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
  display: flex;
  padding: 20px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 132px;
  height: 106px;
}

.card-ramos-item-text-active {
  color: var(--green, #8DB602);
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-header {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 5px 5px 0px 0px;
  background: #F4F4F4;
  align-items: initial;
}

.card-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.card-header-rigth {
  display: flex;
  align-items: center;
  gap: 24px;
}

.card-header-subtitle {
  display: flex;
  width: 282px;
  flex-direction: column;
  color: #1B1B1B;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-hader-title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-header-action-add {
  display: flex;
  height: 40px;
  padding: 9px 28px;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.card-header-action-activate {
  display: flex;
  align-items: center;
  gap: 8px;
}


/***/

.card-item-conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.card-item {
  display: flex;
  padding-bottom: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  background: #FCFCFC;
}

.card-item-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

.card-item-left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.card-item-left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: #1B1B1B;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-item-left-url {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow-wrap: anywhere;
}

.card-item-rigth {
  display: flex;
  padding: 6px 10px;
  align-items: center;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
}

.card-item-rigth-section {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.card-item-rigth-text {
  color: var(--gray-3, #797B7F);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-item-rigth-date {
  color: var(--gray-3, #797B7F);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/**/

.card-item-header {
  display: flex;
  padding: 16px 32px 16px 24px;
  justify-content: center;
  align-items: initial;
  gap: 16px;
  align-self: stretch;
  border-radius: 5px 5px 0px 0px;
  background: var(--gray-2, #4A4A4A);

}

.card-item-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.card-item-header-subtitle {
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-item-header-title {
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-item-header-rigth {
  display: flex;
  align-items: center;
  gap: 24px;
}

.card-item-header-action-1 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  color: white;
}

.card-item-header-action-2 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.card-item-header-action-3 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: white;
}

.card-item-transclude {
  display: flex;
  // padding: 0px 24px;
  align-items: initial;
  gap: 24px;
  align-self: stretch;
}

@media (max-width: 992px) {
  .group-section-ramo {
    column-count: 1 !important;
  }

  .columns-image{
    column-count: 1 !important;
  }

  .overflow-visible-md {
    overflow: auto;
  }

  .flex-md-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card-item-align {
    align-items: baseline;
  }
}

@media (min-width: 992px) {
  .overflow-hidden-lg {
    overflow: hidden;
  }

  .flex-lg-row {
    display: flex;
    flex-direction: row;
  }

  .card-item-align {
    align-items: center;
  }
}

.g-toggle .cbx:checked~label {
  background: #8DB602 !important;
}

/*Administrador por ramos*/

.card-title {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  background: #FCFCFC;
}

.card-title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.card-title-section-text {
  color: #1B1B1B;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-title-section-title {
  color: #1B1B1B;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.g-text-none {
  input {
    text-transform: none !important;
    margin-top: 0;
  }
}

.g-cl {
  &--black {
    color: #000 !important;
  }

  &--black2 {
    color: #1B1B1B;
  }

  &--gray3 {
    color: #797B7F;
  }

  &--green {
    color: #749806;
  }
}

.group-section-ramo {
  column-count: 2;
  column-gap: 10px;

  &-column {
    break-inside: avoid;
  }
}

.columns-image{
  column-count: 2;
  column-gap: 10px;
}

.label-last-modification {
  padding: 7px 10px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
  display: inline-flex;
}

.tab-services {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  &--item {
    flex: 1;
    padding: 22px;
    text-align: center;
    background-color: #DBDBDB;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #DBDBDB;

    &:hover {
      background-color: white;
    }
  }

  .active {
    background-color: white;
    border-bottom: none;
  }
}

.lateral-menu {
  border-radius: 5px;
  background: #FCFCFC;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);

  .options {
    padding: 24px 0px;

    .text {
      padding: 0 19px;
    }

    .active {
      border-right: 3px solid #8DB602;
      font-weight: bold;
    }
  }

  .options:not(:last-child) {
    border-bottom: 1px solid #D5D5D5;
  }
}

//utils
.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items {
  &-center {
    align-items: center;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-start {
    justify-content: flex-start;
  }

  &-space-between {
    justify-content: space-between;
  }
}

//
.shedules-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .box {
    border-radius: 5px;
    border: 1px solid #8DB602;

    .s-icon {
      padding: 5px;
    }
  }
}

.g-pm-initial>P {
  margin: initial !important;
}

.gH18 {
  font-size: 18px;
}

.file-upload {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px dashed #ccc;
  padding: 20px;
  cursor: pointer;
  min-height: 160px;
}

input[type="file"].input-none {
  display: none;
}

label {
  cursor: pointer;
}

#preview-image {
  max-width: 100%;
  max-height: 300px;
  margin-top: 10px;
  display: none;
  border: 1px solid #ccc;
}

.tooltip-youtube {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 999;
  max-width: 320px;
}

.tooltip-youtube img {
  max-width: 100%;
  width: 300px;
  height: auto;
}

.tooltip-youtube p {
  margin-top: 10px;
}