/*

.c- (prefix cemetery)

.block{
}

.block__element{
}

.block__element-modifier{

}
*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
.c-bg-gray{
  background: #F2F2F2;
}

.c-btn-gray{
  border: 2px solid $gris31 !important;
  color: #828282 !important;
}

.c-btn-green{
  border: 2px solid $verde2 !important;
  color:  $verde2 !important;
}

.h-50{
  height: 50px;
}

.h-110{
  height: 110px;
}

.h-144{
  height: 144px;
}

.h-150{
  height: 150px;
}

.h-320{
  height: 320px;
}

.h-370{
  height: 370px;
}

.mb-4{
  margin-bottom: 4px;
}

.pb-0{
  padding-bottom: 0 !important;
}

.d-inline-block{
  display: inline-block;
}
/* ----------------------------------------------- */
/* SECTION */
/* ----------------------------------------------- */
.c-section{
  padding: 15px 15px;
}
  
.c-section__information{
  margin-bottom: 15px;
}

.c-section__title{
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.c-section__subtitle{
  font-size: 10px;
  font-weight: bold;
  color: #BDBDBD;
  margin-top: 0;
  margin-bottom: 0;
}

/* ----------------------------------------------- */
/* BUTTON */
/* ----------------------------------------------- */
.c-button__content{
  height: 120px;
  background: #F2F2F2;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
}

.c-button__upload-large{ 
  position: absolute;
  text-align: center;
}

.c-button__upload-large label{ 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.c-button__upload-small{ 
  position: absolute;
  text-align: center;
  width: 105px;
}

.c-button__upload-title-ligth{ 
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.c-button__upload-title-dark{ 
  font-size: 12px;
  text-align: center;
  color: #828282;
  display: block;
}

.c-button__upload{
  display: block;
  background: #FFFFFF;
  border: 1px solid #828282;
  border-radius: 3px;
  padding: 5px;
  line-height: 14px;
}

.c-span__upload{
  font-weight: bold;
  font-size: 12px;
  color: #828282;
}

/* ----------------------------------------------- */
/* INPUT */
/* ----------------------------------------------- */
.c-input__content-title{
  margin-top: 20px;
}

.c-input__content-input{
  width: 100%;
}

.c-input__text{
  height: 50px;
  width: 100%;
  padding: 15px;
  background: #FFFFFF;
  color: #4F4F4F;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.c-input__hidden{
  display: none !important;
}

.c-textarea__text{
  width: 100%;
  padding: 15px;
  background: #FFFFFF;
  color: #4F4F4F;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.c-input__text::placeholder {
  color: #AAA;
}

.c-input__text:focus {
  outline: none;
} 

.c-textarea__text:focus {
  outline: none;
} 

/* ----------------------------------------------- */
/* IMAGE */
/* ----------------------------------------------- */
.c-image__container-ligth{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.c-image__container-dark{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden !important;
}

.c-image__name{
  margin-right: 20px;
  font-size: 12px;
  color: #828282;
}

.c-image{
  object-fit: cover; 
  height: 100%; 
  width: auto;
}

.c-image-opacity{
  width: 100%;
  object-fit: cover;
  opacity: .5;
}

.c-image-relative{
  width: 100%; 
  position: relative;
}

.c-image-cover{
  object-fit: cover;
}

/* ----------------------------------------------- */
/*  MESSAGE */
/* ----------------------------------------------- */
.c-message__container{
  display: flex;
  justify-content: space-between; 
}

.c-message__character {
  font-weight: bold;
  font-size: 10px;
  line-height: 24px;
  color: #BDBDBD;
}

/* ----------------------------------------------- */
/* BANNER */
/* ----------------------------------------------- */
.c-banner__image img{
  height: 196px;
}

.c-banner__image-small img{
  height: 96px;
}

/* ----------------------------------------------- */
/* SERVICES CAROUSEL */
/* ----------------------------------------------- */
.c-carousel__content{
  margin-bottom: 20px;
}

.c-carousel__title{
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  height: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-carousel__image img{
  height: 196px;
}

/* ----------------------------------------------- */
/* GALLERY */
/* ----------------------------------------------- */
.c-gallery__content{
  border-radius: 4px;
  margin-bottom: 20px;
}

.c-gallery__image img{
  height: 196px;
}

/* ----------------------------------------------- */
/* ADDITIONAL SERVICES */
/* ----------------------------------------------- */
.c-service__content{
  height: 150px;
  width: 150px;
}

.c-service__icon{
  display: flex;
  justify-content: center;
}

.c-service__icon img{
  height: 50px;
  width: 50px;
}

.c-service__title{
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  height: 50px;
  padding-top: 10px;
}

/* ----------------------------------------------- */
/* SPACE */
/* ----------------------------------------------- */
.c-space__content{
  background: #F2F2F2;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}

.c-space__title{
  display: flex;
  justify-content: space-between;    
}

.c-space__image-content{
  height: 70px;
  display: flex; 
  align-items: end; 
}

.c-space__name {
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
/* ----------------------------------------------- */
/* SUBSPACE */
/* ----------------------------------------------- */
.c-subspace__container{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.c-subspace__content{
  height: 100px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  color: #828282;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}

.c-subspace__image{
  width: 25%;
}

.c-subspace__checkbox{
  width: 40%;
}

.c-subspace__edit{
  width: 35%;
  text-align: right;
}

.c-subspace__title{
  display: flex;
  align-items: center;
  color: #4F4F4F;
}

.c-permanence__content{
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-platform__content{
  height: 60px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-width: 1px 1px 0 1px;
  border-radius: 4px 4px 0 0;
  padding: 20px 10px 1px 30px;
}

.c-platform__name{
  font-size: 16px;
  font-weight: 300;
  color: #828282;
  margin-left: 30px;
}

/* ----------------------------------------------- */
/* PARAMETER */
/* ----------------------------------------------- */
.c-parameter__content {
  background: #F4F4F4;
  border-radius: 4px;
  border: 1px solid #E0E0E0;
}

.c-parameter__content-image{
  display: flex; 
  align-items: center; 
  justify-content: center;  
  padding: 20px;
}

.c-parameter__image-container{
  height: 180px;  
  width: 183px; 
  display: flex; 
  justify-content: center;
  overflow: hidden; 
}


/* ----------------------------------------------- */
/* RESET */
/* ----------------------------------------------- */
.c-btn{
  width: 180px;
  height: 40px;
}

.c-toggle .g-toggle .cbx:checked ~ label {
  background: #D22D2D;
  border: 1px solid #D22D2D;
}

.c-toggle .g-toggle .lbl:after{
  border: 1px solid #FFFFFF;
}

.c-toggle .g-toggle .lbl {
  background: #C4C4C4;
}

.c-toggle .g-toggle .lbl {
  border: 1px solid #C4C4C4;
}

.c-quill-editor > div{
  background: #FFFFFF;
  color: #4F4F4F;
}

.c-menu-main__box {
   border-bottom: 0 !important;
}

.c-menu-main > span > li {
  border-left: 0 !important;
  border-right: 0 !important;
}

.c-menu-main > span > li.link:hover > a {
  color: $verde2 !important;
  border-bottom: 2px solid $verde2 !important; 
}

.c-menu-main  > span > li.actived > a {
  color: $verde2;
  border-bottom: 2px solid $verde2 !important; 
}

.c-panel{
  background: #FFFFFF;
  border: 1px solid #E0E0E0 !important;
  border-width: 0px 1px 1px 1px !important;
  border-radius: 0 0 4px 4px !important;
  box-shadow: none !important;
}

.c-panel .panel-heading{
  padding: 0 !important;
}

.c-panel .panel-body{
  background: #FFFFFF;
  border: 0px !important;
}

.c-form-radio, .c-form-check{
  padding: 10px;
  color: #828282;
}
/* ----------------------------------------------- */
/* MEDIAS QUERY */
/* ----------------------------------------------- */
@media screen and (min-width: 768px){
  .c-section{
      padding: 15px 75px;
  }

  .c-section__subtitle{
    display: inline-block;
  }

  .c-btn__new{
    float: right!important;
    margin-top: -20px;
  }

  .c-iframe__map{
    width: 400px;
    height: 300px;
    border:0;
  }

}

.g-menu-main > .desktop-max {
    width: 20.66666%; 
}
		
@media (min-width: 1020px) {
    .g-menu-main > .desktop-max {
      max-width: 250px;
    } 
}