@font-face {
  font-family: 'admin-portal';
  src:  url('../../admin-portal/fonts/admin-portal.eot?hb4fcs');
  src:  url('../../admin-portal/fonts/admin-portal.eot?hb4fcs#iefix') format('embedded-opentype'),
    url('../../admin-portal/fonts/admin-portal.ttf?hb4fcs') format('truetype'),
    url('../../admin-portal/fonts/admin-portal.woff?hb4fcs') format('woff'),
    url('../../admin-portal/fonts/admin-portal.svg?hb4fcs#admin-portal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ap-ico-"], [class*=" ap-ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'admin-portal' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ap-ico-edit:before {
  content: "\e907";
}
.ap-ico-download:before {
  content: "\e908";
}
.ap-ico-trash:before {
  content: "\e906";
}
.ap-ico-add:before {
  content: "\e905";
}
.ap-ico-arrow-up:before {
  content: "\e903";
}
.ap-ico-arrow-down:before {
  content: "\e904";
}
.ap-ico-mapfre-388-historial:before {
  content: "\e900";
}
.ap-ico-mapfre-389-travel-insurance:before {
  content: "\e901";
}
.ap-ico-mapfre-386-administrador_portales:before {
  content: "\ea6c";
}
.ap-ico-mapfre-387-image-default:before {
  content: "\ea6d";
}
.ap-ico-mapfre-general:before {
  content: "\e902";
}
.ap-ico-mapfre_016_heart:before {
  content: "\e910";
}
.ap-ico-mapfre_017_house:before {
  content: "\e911";
}
.ap-ico-mapfre_019_car:before {
  content: "\e913";
}
.ap-ico-mapfre_020_cross:before {
  content: "\e914";
}
.ap-ico-mapfre_073_casco:before {
  content: "\e946";
}
.ap-ico-mapfre_148_bird:before {
  content: "\e991";
}
.ap-ico-mapfre_235_travel:before {
  content: "\e9e8";
}
