.g-valor-riesgo {
	.g-valorauto-warning {
		@include inlineblock; border:1px solid $cGray4; padding:10px; position:relative; padding-left:50px;
		&-ico {
			position:absolute; top:5px; left:7px;
		}
	}
	&-text {
		.g-valorauto-modificar {margin-top: 0; width: 110px;}
	}
	.g-input-design {width: 150px; @include inlineblock;}
}
// Poliza de grupo
.g-polizagrupo {
	&-input {@include inlineblock; width:100%;}
	.g-btn {
		margin-left:15px; vertical-align:bottom;
		>span {
			font-size: $fz17;
			&:before {position:relative; top:2px;}
		}
	}
	&-resultado {
		.g-label {display:block; margin-bottom:10px;}
		.ico-cerrar {
			font-size:$fz20; cursor:pointer;
			&:before {position:relative; top:5px;}
		}
	}
	&-error {
		display:block; padding:10px; position:relative; padding-left:50px; padding-bottom:0; margin-top:15px;
		&-ico {
			color:$cGreen1; font-size:40px; position:absolute; top:5px; left:7px;
		}
		.ico-cerrar {
			font-size:$fz20; cursor:pointer; margin-left:10px;
			&:before {position:relative; top:5px;}
		}
	}
	&-button{
		vertical-align: bottom;
	}
}
// Vigencia de Poliza
.g-vigencia {
	&-error {
		display:block; padding:10px; position:relative; padding-left:30px; padding-bottom:0; margin-top:15px;
		&-ico {
			color:$cGreen7; font-size:30px; position:absolute; top:4px; left:0;
		}
	}
	&-fin {
		.g-label {display:block; margin-bottom:10px;}
	}
}

.g-cotiza-producto {
	&-tipo {
		.cnt-check {
			margin-top:7px;
			label {color:$cGreen7; font-size:$fz17;}
		}
	}
	&-descuento {
		.g-placeholder {color:$cGray2; font-weight:$normal; position: relative; @include inlineblock; padding-top: 7px; vertical-align: middle; padding-right: 30px}
		.g-select-desing {
			max-width: 60px; @include inlineblock; vertical-align: middle; padding: 0;
			>select {margin:0;}
		}
	}
	&-prima {
		&-neta {
			border-bottom: 1px solid $cGray4; margin-bottom:10px;
			&-label{font-size:$fz14; color:$cBlack1; @include inlineblock; width:48%; padding-left:15px; padding-right:15px; vertical-align:middle;}
			&-data {font-size:$fz24; color:$cBlack1; @include inlineblock; width:50%; padding-left:15px; padding-right:15px; vertical-align:middle;}
		}
		&-dcto {
			&-label {color:$cGray2; font-size:$fz11; @include inlineblock; width:48%; padding-left:15px; padding-right:15px; vertical-align:middle;}
			&-data {color:$cGray2; font-size:$fz11; @include inlineblock; width:50%; padding-left:15px; padding-right:15px; vertical-align:middle;}
		}
	}
	&-msg-box {
		color: $cRed1; margin-top: 5px;
		.ico-alert {
			font-size: $fz17; margin-right: 5px; margin-left: 7px;
			&:before { position: relative; top: 2px; }
		}
	}
}
// Datos de contratante
.g-mpfdolar {
	&-search {
		.ico-select {background-color:$cWhite1;}
		.g-btn {margin-top:25px;}
		&-resultado {
			.resultado-label {display:block; margin-bottom:10px;}
			.resultado-data {font-weight:$normal;}
			.ico-cerrar {
				font-size:$fz20; cursor:pointer; margin-left:10px;
				&:before {position:relative; top:5px;}
			}
		}
	}
}
.page-automovil-variacion {
	.envio-ok {
		.ico-ok {color:$cGreen7; font-size:120px;}
		.text1 {font-size:$fz30; font-weight:$thin;}
	}
	.envio-btns {
		.g-btn {min-width:300px;}
	}
}

.g-date-picker .input-group {
    margin-top: 0px;
}

/*#################
# usedEmit - showModalConfirm
#################*/
.swal2-modal-custom{
	width: 100% !important;
}
@media (min-width: $break-small){
	.swal2-modal-custom{
		width: 600px !important;
	}
}
.g-input-design__wp--pt-0 {
  .g-input-design,
  .g-textarea-design,
  .g-select-desing,
  .g-date-picker,
  .g-time-picker,
  .g-autocomplete-desing {
    padding-top: 0;
  }
}
.g-input-design__wp--squash {
  input {
    height: auto;
    line-height: 1;
    margin: 0px;
    padding: 5px;
    text-align: right;
  }
}