.page-empresa-cotizar {

	&-step1 {
		div.g-input-design-mdolar{
			padding-top: 0px !important;
			input[type=text]{
				margin-top: 0px !important; height: 18px !important;
			}
		}
	}
	.tabs-box {
		ul.g-error li{
			border: 1px solid transparent;
			background-color: transparent;
		}
		>ul {
      list-style: none; padding: 0; margin: 0;
      >li {
        position: relative; float: left; min-width: 228px;
        border: 1px solid $cGray4; border-bottom-width: 0;
        margin: 0 3px;
        //padding-left: 15px; padding-right: 15px;
        background-color: $cGray4;
        cursor: pointer;
        height: 81px;
        span {display: block}
        .ico-close-tab {position: absolute; top: 3px; right: 3px; font-weight: $thin; color: $cGray2;}
      }
    }

		&-mainview {
			border-top: 1px solid $cGray4;
			clear: both;
			padding: 0;
		}
		.active {
				background-color: $cWhite1 !important; margin-bottom: -1px;
		}
		&-title { font-size: $fz24; font-weight: $light; }
		&-subtitle {margin-bottom: 25px;}
		.tab-plus {
			width: 30px; min-width:auto; height: 80px; font-size: 20px; color: $cGray3;
			padding: 0;padding-top: 25px;padding-left: 10px;
		}
		&-mainview {
			.prima-label {font-size: $fz20; font-weight: $bold; color: $cGray2;}
			.prima-data {font-size: $fz20; color: $cGray2;}
		}
	}
	.accordion-box {
		&.empresa{
			.accordion-box-item-title{
				background-color: transparent;
				height: auto;
			}
			.accordion-box-item{
				.panel-body{
					padding-top: 0;
					padding-bottom: 0;
				}
			}
			.acordion-tablet{
				padding: 0;
			}
			.edit-flecha-tablet{
				position: relative;
				top: 0;
			}
			.g-input-horz{
				.g-placeholder{
					width: 0%;
					padding-right: 0;
				}
			}
		}
		&-item {
			border: 1px solid $cGray4; border-radius: 5px; margin-bottom: 10px;
			transition: 0.6s ease-in-out;overflow: visible;box-shadow: none;
			.panel-heading{
				padding: 1px !important;
				border-radius: 5px !important;
        //border-top-left-radius: 5px !important;
        //border-top-right-radius: 5px !important;
        background-color: $cGray5;
			}
			&-title {
				display: block; background-color: $cGray5;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				height: 70px;
				&:before { content: ''; display: block; vertical-align: middle; height: 100%; }
				.accord {
					&-title {
						// text-transform: uppercase; font-weight: $bold;
						input {margin: 0; margin-right: 10px; position: relative; top: -1px;}
					}
				}
				.item-title {
					&-left, &-right {float:none; @include inlineblock; vertical-align: middle; margin-left:-10px;}
					&-left {
						span {display: block;padding-top: 5px;}
						&.isAccord { cursor: pointer; }
					}
					&-right {
						&:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
						div {float: none; @include inlineblock; vertical-align: middle; margin-left: -10px;
							&.input-box, .col-md-12{
								margin-left: 0px
							}
						}
						.box-valor {
							span {@include inlineblock; margin-left: -5px;}
							.valor-label {margin-right: 10px;}
							.valor-data {text-align: right;}
						}
						.input-box {
							@include inlineblock;

							&:first-child {
								margin-right: 15px;
								input {width: 85px;}
							}
						}
					}
				}
				.title-ico {
					@include inlineblock;
					cursor: pointer;
					background-color: $cGray4; color: $cGray2;
					border-radius: 50%; width: 35px; height: 35px;
					font-size: 20px;
					&:before {
						font-family: $Mapfre;
						content: '\e94b';
						position: relative; top: 9px;
					}
				}
				&.active-accord {
					.title-ico {
						&:before {
							font-family: $Mapfre;
							content: '\e94c';
						}
					}
				}
			}
			&-content {
				display: block; width: 100%; height: 0; min-height: 0; max-height: 0;
				overflow: hidden;
				padding: 0 15px;
				// opacity: 0;
				transition: 0.6s ease-in-out;
				&.show-content {height: auto; min-height: 100px; max-height: 500px; margin: 20px 0;}
				.g-sub-title {padding: 0;}
				.g-checkbox {font-weight: $normal;}

			}
			.g-warningcompany{  border: 0px none transparent !important; padding: 5px; padding-left: 38px; font-size: 12px;  }
			.g-warning-ico { font-size:28px}
		}
	}
	.g-sub-title {
		@include inlineblock;
		&-edit {
			@include inlineblock; margin-left:10px; color:$cGray2;
			a {
				color:$cGray2;
				>span {border-bottom:1px solid $cGray4;}
				>.ico-edit {font-size:25px; border:0; &:before{position:relative;top:5px;}}
			}
		}
	}

  .tab-title { height: 100%; padding-left: 15px; padding-top: 10px; }
}
.title-acordeon{
	display: inline-block !important; position: relative;
	.ico-acordeon{
		right: -30px;left: initial;top: -10px;
	}
}
.error-convention {
  position: absolute;
  top: 5px;
  right: 250px;
  font-size: 12px;
  width: 300px;
  color: #ff0000;
}

@media (min-width: $break-medium){
	.page-empresa-cotizar {
		&-step3 {
			.g-datastep-info-label {font-weight: $bold;}
			.g-datastep-info-dato {font-weight: $normal;}
		}
		.table-riesgo {
			&-title {
				border: 1px solid $cGray4;
			}
		}
	}
	.tabs-box {
		li.active {
			height: 81px;
		}
		.section-radio-btn{
			.active{
				height: auto !important;
			}
		}
  }
  .error-convention {
    right: -320px;
  }
}




