.g-ui-view{
    .g-steps{
        padding-top: 56px;
        padding-bottom: 100px;
    }
}

.left-form-trabajadores{
    border: 1px solid $cGray11;
    border-radius: 1%;
    overflow: hidden;
    margin: 20px 15px;
    .titles{
        background: $cGray9;
        margin-bottom: 20px;
        .left{
            margin: 13px 0 11px 0;
            &::after{
                content:"|";
                color: $cGray11;
                position: absolute;
                top: -3px;
                left: 100%;
            }
        }
        .rigth{
            margin: 13px 0 11px 0;
        }
        span{
            color: $cGray10;
            font-family: $font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    .line-content {
        span{
            color: $cGray10;
            font-family: $font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            width: 100%;
            display: block;
            text-align: start;
            padding-left: 44px;
            line-height: 36px;
            margin-bottom: 20px;
        }

        .g-input-design{
            padding-top: 0;
            input{
                margin-top:0;
                text-align: center;
            }
        }
    }
    .footer-grid{
        .message{
            display: block;
            margin: 20px 29px;

            color: $cGray10;
            font-family: $font-family;
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
        }
        .error{
            display: block;
            margin: 20px 29px;

            color: $cRed7;
            font-family: $font-family;
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.form-adicional{
    margin-top: 60px;
    .row{
        padding: 0 20%;
        .text-adicional{
            color: $cGray10;
            font-family: $font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            width: 100%;
            display: block;
            text-align: start;
            padding-left: 20px;
            line-height: 36px;
            margin-bottom: 20px;
        }
        .check-box{
            text-align: end;
        }

        .g-input-design{
            //padding-top: 0;
            input{
                //margin-top:0;
                text-align: center;
            }
        }

        .g-radio{
            // font-family:$font-family;
            // font-size: $font-size2;
            font-weight: $bold;
            input{
              display: none;
            }
            .ico-radio{
              @include inlineblock;
              width: 22px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              vertical-align: middle;
              position: relative;
              &:before,
              &:after{
                font-family: $Mapfre;
                color: $gris3;
              }
              &:before{
                display: block;
                content: "\e94f";
                font-size: 27px;
                position:relative;
                top: 0;
                left: -6px;
          
              }
              &:after{
                display: none;
                content: "\e950";
                font-size: 21px;
                color: $verde1;
                position: absolute;
                top: 0;
                left: -6px;
                right: 0;
                bottom: 0;
                margin: auto;
                z-index: 5;
              }
            }
            &.active{
              .ico-radio{
                &:after{
                  display: block;
                }
              }
            }
          }
    }
}

.form-final{
    .info{
        margin: 0 120px;
        padding-top: 26px;
        padding-bottom: 28px;
        p{
            color: $cGray10;
            font-family: $font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            width: 100%;
            display: block;
            text-align: start;
            margin-bottom: 5px;

            .text-simple{
                font-weight: normal;
            }
        }
    }
    .grid-no-generado{
        border: 1px solid $cGray11;
        border-radius: 1%;
        overflow: hidden;
        margin: 0 10% 20px 10%;
        .grid-title{
            background: $cGray9;

            p{
                color: $cGray10;
                font-family: $font-family;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 60px;
                width: 100%;
                display: block;
                height: 60px;
                text-align: center;
                margin: 0;
            }
        }
        .grid-body{
            padding: 30px 45px;
            p{
                color: $cGray10;
                font-family: $font-family;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                width: 100%;
                display: block;
                text-align: start;
            }
            .last{
                margin: 0;
            }
        }
    }
    .grid-generado{
        border: 1px solid $cGray11;
        border-radius: 1%;
        overflow: hidden;
        margin: 0 10% 20px 10%;
        .grid-title-top{
            background: $cGray9;
            border-bottom: 1px solid $cGray11;
            div{
                display: flex;
                height: 30px;
                align-items: end;
                p{
                    color: $cGray10;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin: 0;
                }
                &:last-child{
                    align-items: start;
                    p{
                        align-items: start;
                        color: $cGray6;
                        font-weight: normal;
                        font-size: 10px;
                    }
                }
            }
        }
        .grid-title-bottom{
            background: $cGray9;
            border-bottom: 1px solid $cGray11;
            .column{
                height: 40px;
                display: flex;
                align-items: center;
                border-right: 1px solid $cGray11;
                margin: 13px 0;
                padding: 0 10%;
                span{
                    color: $cGray10;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin: 0;
                }
                &:last-child{
                    border-right:0;
                }
            }
        }
        .grid-body{
            .grid-body-row{
                .line{
                    height: 0;
                    width: 96%;
                    border-bottom: 1px solid $cGray11;
                    margin: 0 2%;
                }
                .column{
                    height: 60px;
                    display: flex;
                    align-items: center;
                    span{
                        color: $cGray10;
                        font-family: $font-family;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        width: 100%;
                        display: block;
                        text-align: center;
                        margin: 0;
                    }
                }
                &:first-child{
                    .line{
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

.form-final-errores{
    .grid{
        border: 1px solid $cGray11;
        border-radius: 1%;
        overflow: hidden;
        margin: 0 120px;
        margin-top: 26px;
        .grid-title{
            background: $cGray9;

            p{
                color: $cGray10;
                font-family: $font-family;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 60px;
                width: 100%;
                display: block;
                height: 60px;
                text-align: center;
                margin: 0;
            }
        }
        .grid-details{
            padding: 30px 45px;
            p{
                color: $cGray10;
                font-family: $font-family;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                width: 100%;
                display: block;
                text-align: start;
            }
            .last{
                margin: 0;
            }
        }
    }
}

.bandeja{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    
    .filter{
        .filter-title{
            margin: 0 50px;
            padding-bottom: 5px;
                .titles{
                    margin-top: 45px;
                    h2{
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
        }
        .inputs{
            margin: 10px 50px;
        }
        .actions{
            margin: 25px 0 40px 35px;
        }
    }
    .grid-bandeja{
        border: 1px solid $cGray11;
        border-radius: 1%;
        overflow: hidden;
        margin: 0 50px;
        .grid-title{
            background: $cGray9;
            border-bottom: 1px solid $cGray11;
            .column{
                height: 40px;
                display: flex;
                align-items: center;
                border-right: 1px solid $cGray11;
                margin: 20px 0;
                span{
                    color: $cGray10;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin: 0;
                }
                &:last-child{
                    border-right:0;
                }
            }
        }
        .grid-body{
            .grid-body-row{
                .line{
                    height: 0;
                    width: 96%;
                    border-bottom: 1px solid $cGray11;
                    margin: 0 2%;
                }
                .column{
                    height: 60px;
                    display: flex;
                    align-items: center;
                    span{
                        color: $cGray10;
                        font-family: $font-family;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        width: 100%;
                        display: block;
                        text-align: center;
                        margin: 0;
                    }
                }
                .btnPdf{
                    margin: 0 15%;
                }
                &:first-child{
                    .line{
                        border-bottom: 0;
                    }
                }
            }
        }
        .grid-footer{
            background: $cGray9;
            border-top: 1px solid $cGray11;
            height: 50px;
        }
    }
    .grid-pagination{
        .g-pagination>li{
            &:first-child{
                float: none;
                margin: 5px 0 0 0;
            }
            &:last-child{
                float: none;
                margin: 5px 0 0 0;
            }
        }
    }
}

.mantenimiento{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;

    .filter{
        .filter-title{
            margin: 0 50px;
            padding-bottom: 5px;
            .titles{
                margin-top: 45px;
                h2{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            .sub-titles{
                margin-top: 52px;
                h2{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        .inputs{
            margin: 39px 50px 10px 50px;
            .new{
                margin-top: 11px;
            }
        }
        .mensaje{
            margin: 0 50px;
            span{
                font-family: $font-family;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                margin: 0;
            }
            .error{
                color: $cRed7;
            }
            .exito{
                color: $cGreen5;
            }
        }
        .actions{
            margin: 25px 0 40px 35px;
        }
    }

    .grid-bandeja{
        border: 1px solid $cGray11;
        border-radius: 1%;
        overflow: hidden;
        margin: 51px 50px 0 50px;
        .grid-title{
            background: $cGray9;
            border-bottom: 1px solid $cGray11;
            .column{
                height: 40px;
                display: flex;
                align-items: center;
                border-right: 1px solid $cGray11;
                margin: 20px 0;
                .row{
                    width: 100%;
                }
                span{
                    color: $cGray10;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin: 0;
                }
                .icon-eps{
                    display: inline;
                    font-size: 16px;
                    margin: 3px
                }
                &:last-child{
                    border-right:0;
                }
            }
        }
        .grid-body{
            .grid-body-row{
                .line{
                    height: 0;
                    width: 96%;
                    border-bottom: 1px solid $cGray11;
                    margin: 0 2%;
                }
                .column{
                    height: 60px;
                    display: flex;
                    align-items: center;
                    .row{
                        width: 100%;
                    }
                    span{
                        color: $cGray10;
                        font-family: $font-family;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        width: 100%;
                        display: block;
                        text-align: center;
                        margin: 0;
                    }
                    .icon-eps{
                        display: inline;
                        font-size: 16px;
                        margin: 3px
                    }
                    .accion-button{
                        color: $cGreen1;
                    }
                }
                .btnPdf{
                    margin: 0 15%;
                }
                &:first-child{
                    .line{
                        border-bottom: 0;
                    }
                }
            }
        }
        .grid-footer{
            background: $cGray9;
            border-top: 1px solid $cGray11;
            height: 50px;
        }
    }
}
.popup{
    padding-top: 150px;
}
.modal-parametros{
    padding: 0;
    h2{
        color: $cGray10;
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .formulario{
        margin: 30px 30px 0 30px;
        .action{
            margin-top: 20px;
        }
    }
}
.disabled-steps{
    pointer-events: none;
}