.cursor {
    cursor: pointer
}

.label-state-fola {
    width: 100px; 
    border-radius: 5px; 
    color: white; 
    padding-top: 2px;
}

.bg-state-fola-cotizado {
    background-color: orange;
}

.bg-state-fola-expirado {
    background-color: red;
}

.bg-state-fola-emitido {
    background-color: #749806;
}

.bg-content-file-name {
    background-color: aliceblue;
}

.color-cotizado {
    color: orange;
}

.color-emitido {
    color: #749806;
}

.align-vertical {
    vertical-align: middle !important;
}

.hgt-80 {
    height: 80px;
}

.hgt-70 {
    height: 70px;
}

.hgt-50 {
    height: 70px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-6 {
    padding-top: 6px;
}

.pl-25 {
    padding-left: 25px;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.font-family-text-icon{
    font-family: Roboto, Arial, sans-serif;
}

.font-size-text-icon{
    font-size: 12px;
}
.font-size-icon{
    font-size: 18px;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
    background-color: red;
}

.content-justify-center {
    justify-content: center;
}

.mt-10 {
    margin-top: 10px;
}

.file-upload-name {
    background-color: #F2F5E7;
    padding-top:5px;
    border-radius: 5px;
    height: 30px;
    color: #749806;
}
.g-btn-link{
    color: #749806;
    border-color: transparent;
}
.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-8{
    margin-left: 8px
}

.size-ico-arrow {
    font-size: xxx-large;
}

.list-observaciones {
    list-style: inside;
}
.g-section-error{
    .g-btn-rojo{
        width:100%;
    }
}
.page-fola-cotizar{
    .g-sub-title{
        color: #7b7b7b;
    }
    .table-riesgo-row{
        &:not(:last-child){
            border-bottom: 1px solid #d5d5d5;
        }
    }
    .g-box{
        overflow: initial;
        .g-input-design, .g-autocomplete-desing{
            padding-top: 0!important;
            input{
                margin-top: 0!important;
            }
        }
        .title-col{
            font-size: 14px;
        }
        .media-tablet{
            padding: 10px 0;
        }
        .gnIcon-md{
            color: #7b7b7b;
            font-size: 26px;
        }
        .g-autocomplete-desing{
            .select2-container .select2-choice{
                margin-top: 0!important;
            }
        }
    }
    
}
.app-my-dream {
    .label-state-fola {
        width: 100px; 
        border-radius: 5px; 
        color: white; 
        padding-top: 2px;
    }
    .font-family-text-icon{
    font-family: Roboto, Arial, sans-serif;
    }
    
    .font-size-text-icon{
        font-size: 12px;
    }
    .font-size-icon{
        font-size: 18px;
    }
    .bg-state-fola-cotizado {
        background-color: orange;
    }
    
    .bg-state-fola-expirado {
        background-color: red;
    }
    
    .bg-state-fola-emitido {
        background-color: #749806;
    }
    
    .bg-content-file-name {
        background-color: aliceblue;
    }
    
    .color-cotizado {
        color: orange;
    }
    
    .color-emitido {
        color: #749806;
    }
    
    .align-vertical {
        vertical-align: middle !important;
    }
    
    .hgt-80 {
        height: 80px;
    }
    
    .hgt-70 {
        height: 70px;
    }
    
    .hgt-50 {
        height: 70px;
    }
    
    .pt-20 {
        padding-top: 20px;
    }
    
    .pt-6 {
        padding-top: 6px;
    }
    
    .pl-25 {
        padding-left: 25px;
    }
    
    .fw-700 {
        font-weight: 700;
    }
    
    .fw-900 {
        font-weight: 900;
    }
    
    .display-flex {
        display: flex;
    }
    
    .content-justify-center {
        justify-content: center;
    }
    .ml-8{
    margin-left: 8px
    }
    .mt-10 {
        margin-top: 10px;
    }
    .mb-30 {
        margin-bottom: 30px;
    }
    
    .mt-30 {
        margin-top: 30px;
    }
    .g-btn-link{
        color: #D81E04;
        border-color: transparent;
    }
    .file-upload-name {
        background-color: #F2F5E7;
        padding-top:5px;
        border-radius: 5px;
        height: 30px;
        color: #749806;
    }
    .page-fola-cotizar{
        .g-box{
            overflow: initial;
            .g-input-design, .g-autocomplete-desing{
                padding-top: 0!important;
                input{
                    margin-top: 0!important;
                }
            }
            .media-tablet{
                padding: 10px 0;
            }
            .gnIcon-md{
                font-size: 26px;
            }
            .g-autocomplete-desing{
                .select2-container .select2-choice{
                    margin-top: 0!important;
                }
            }
        }
        
    }
}