.page-rrgg {
  &__not-selection {
    .icon {
      font-size: 68px;
      color: $gris2;
      transform: rotate(180deg);
      display: block;
      margin-bottom: 13px;
    }
    .text {
      font-size: 14px;
      color: #1b1b1b;
      font-weight: 300;
    }
  }
  &__link {
    color: $cGreen7;
    height: 66px;
    display: flex;
    align-items: center;
    &-icon {
      color: $cGreen1;
      &:first-child {
        font-size: 27px;
        margin-right: 5px;
      }
      &:last-child {
        font-size: 20px;
        margin-left: 8px;
      }
    }
  }
  &__col-border {
    padding-right: 0;
    @media (min-width: $break-small) {
      border-right: 1px solid $gris31;
      padding-right: 15px;
    }
  }
  &__col-padding {
    padding-left: 0;
    @media (min-width: $break-small) {
      padding-left: 15px;
    }
  }
  .text-help {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #797b7f;
  }
  .rg-btn-plus{
    padding: 2px 2px;
    margin: 0px 10px 0px 0px;
    border-radius: 6px;
    cursor: pointer;
    width: 30px;
  }
  .rg-btn-margin{
    margin-left: 8px;
    margin-top: 26px;
  }
  .rg-btn-chips{
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    padding: 8px 10px;
    margin: 5px 5px;
    display: inline-block;
  }
  .rg-chips--delete{
    font-size: 16px;
    color: #4C4C4C;
    cursor: pointer;
  }
  .rg-select-no-header{
    padding-top: 0px;
  }
  &__table-title {
    font-size: 24px;
    line-height: 28px;
    color: $cBlack1;
  }
  &__table-list {
    &-item {
      min-height: 34px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__tabs {
    counter-reset: item;
    @media (min-width: $break-small) {
      display: flex;
    }
    .nav-tabs {
      border: 0;
      display: none;
      flex-direction: column;
      width: 208px;
      @media (min-width: $break-small) {
        display: flex;
      }
    }
    &-item {
      width: 100% !important;
      margin-bottom: 10px !important;
      cursor: pointer;
      &.active {
        .nav-link {
          border: 0;
          background-color: #797b7f !important;
          color: $c-white !important;
          text-decoration: none;
        }
      }
      .nav-link {
        height: 40px;
        border: 1px solid #797b7f !important;
        border-radius: 5px !important;
        font-size: 13px;
        line-height: 15px;
        font-weight: 500;
        color: #797b7f;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;

        &::before {
          content: counter(item) '. ';
          counter-increment: item;
          padding-right: 5px;
        }
        &:hover {
          text-decoration: none;
        }
        &:hover,
        &:focus {
          background: #797b7f;
          color: $c-white;
        }
      }
    }
    .tab-content {
      padding: 8px 0 0 0;
      font-size: 13px;
      color: $gris2;
      @media (min-width: $break-small) {
        width: calc(100% - 208px);
        padding-left: 32px;
      }
    }
    &-content-list {
      padding: 0;
      li {
        display: flex;
        align-items: baseline;
        &::before {
          content: '';
          display: block;
          width: 4px;
          height: 4px;
          background-color: $gris2;
          border-radius: 50%;
          margin-right: 6px;
        }
      }
    }
  }
  &__table {
    br {
      display: none;
      @media (min-width: $break-small) {
        display: block;
      }
    }
    .row--flex {
      @media (min-width: $break-small) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 60px;
      }
    }
    .row--padding {
      @media (min-width: $break-small) {
        padding-left: 66px;
      }
    }
    .row--inner {
      @media (max-width: 767px) {
        margin: 0 0 10px;
      }
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      .row {
        margin: 0;
      }
    }
    .col--flex {
      @media (min-width: $break-small) {
        display: flex;
      }
    }
    .bg-dark,
    .bg-light {
      color: $c-white;
    }
    .bg-dark {
      background-color: #c73420;
    }
    .bg-light {
      background-color: #ab2614;
    }
    .bg-gray-dark {
      background-color: #e2e2e2;
    }
    .bg-gray-light {
      background-color: #f2f2f2;
    }
    .text-rotate {
      font-size: 12px;
      text-align: center;
      line-height: 14px;
      border-bottom: 1px solid #cecece;
      @media (min-width: $break-small) {
        position: absolute;
        left: -9px;
        top: 40%;
        transform: rotate(270deg);
        border-bottom: 0;
      }
      &--lg {
        @media (min-width: $break-small) {
          left: -23px;
        }
      }
    }
    .col-space {
      background-color: #c73420;
      height: 32px;
      width: 100%;
      display: block;
    }
  }

  .d-center {
    display: flex;
    align-items: center;
  }
  .table-center {
    div:first-child {
      text-align: center;
    }
  }
  .row-footer {
    @media (min-width: $break-small) {
      display: flex;
      align-items: center;
    }
  }
  .row-border {
    @media (max-width: 767px) {
      border-bottom: 1px solid #d8d8d8;
    }
    &:last-child {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .col-sm-4 {
      @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .g-box--list-icon {
    padding: 18px 24px;
    font-size: 14px;
    position: relative;
    @media (min-width: $break-small) {
      padding-right: 70px;
    }
  }
  .g-box--list {
    padding: 18px 24px;
    font-size: 14px;
    &-close {
      position: absolute;
      top: 18px;
      right: 24px;
      font-size: 34px;
      color: $gris2;
      cursor: pointer;
    }
    &-number {
      display: flex;
      @media (min-width: $break-medium) {
        display: block;
      }
    }
  }
  .centrodiv2{
    display: block;
    font-size: medium;
  }
  .g-box--check-number {
    display: flex;
  }
  .tabs__wrapper {
    .nav-tabs {
      margin-bottom: 20px;
    }
  }
  .g-box--delete {
    display: flex;
    align-items: center;
    .cnt-check {
      margin: 0 10px 0 24px;
    }
  }
  .g-tabs--list {
    .container:first-child {
      @media (max-width: 991px) {
        padding: 0;
      }
    }
    .uib-tab {
      height: 60px;
      @media (min-width: $break-small) {
        width: 250px;
      }
    }
    .nav-link {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
      position: relative;
      top: 129px;
      @media (min-width: $break-small) {
        top: 70px;
      }
    }
  }
  .g-box--details {
    padding-left: 24px;
    padding-right: 24px;
  }
  .g-input--icon {
    position: relative;
    .icon {
      position: absolute;
      font-size: 18px;
      top: 50%;
    }
    .right {
      right: 12px;
    }
  }
  .g-btn--height {
    height: 40px;
  }
  .g-box--mb {
    margin-bottom: 0 !important;
  }
  .g-box--double {
    border-radius: 6px;
    border: 1px solid $cGray4;
  }
  .g-box-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #d8d8d8;
  }
  &__modal {
    padding: 0 15px;
    .border-bottom {
      border-bottom: 1px solid #f2f2f2;
    }
  }
  .text-xs {
    font-size: 14px;
    line-height: 16px;
  }
  .text-sm {
    font-size: 15px;
    line-height: 19px;
  }
  .text-md {
    font-size: 24px;
    line-height: 28px;
  }
  .show-sm {
    display: block;
    @media (min-width: $break-small) {
      display: none;
    }
  }
  .show-md {
    display: none;
    @media (min-width: $break-small) {
      display: block;
    }
  }
  .g-justify-end--md{
    @media (min-width: $break-small) {
     justify-content: flex-end;
    }
  }
}
.modal--size {
  @media (min-width: $break-small) {
    max-width: 700px;
    width: 100%;
  }
}
.g-ellipsis-xs {
  @media (max-width: $break-small) {
    width: 150px !important;
  }
}
.g-modal-size .modal-dialog  {
  @media (min-width: $break-small) {
    width: 1100px;
  }
}
.list__flex{
  display: flex;
  align-items: center;
}
.no-margin{
  padding-top: 0;
 select {
   margin-top: 0;
 }
}
.g-ellipsis-lg{
  width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.g-transform-none{
  input{
    text-transform: none;
  }
}
