$direction: 'top', 'right', 'bottom', 'left';

.g-home-inner-polizas {
  .g-border-xs {
    border: 1px solid $cGray4;
    @each $direc in $direction {
      &-#{$direc} {
        border-#{$direc} : 1px solid $cGray4;
        &-no {
          border-#{$direc} : none;
        }
      }
    }
  }
  .cnt-item {
    .item-dato {
      span {
        font-weight: $bold;
      }
    }
  }
  .g-info-salud {
    h3, h4 { font-weight: bold; }
    .actions-salud {
      p {
        display: inline-block;
      }
    }
  }

  .editarPlan-body {
    .acordion {
      overflow: inherit;
      background-color: #fff;
      .panel-heading {
        padding: 20px;
        background-color: #fff;
        h4 {
          font-size: 14px;
          font-weight: 700;
          i {
            font-size: 20px;
          }
        }
      }
      .panel-collapse  {
        .panel-body {
          padding: 30px;
          background-color: #fdfdfd;
        }
      }
    }
  }

  .g-content-habilitarPlanes {
    .g-tbl-habilitarPlanes {
      .tbl-item-estado {
        p {
          margin-left: 20px;
        }
        .indicator {
          width: 15px;
          height: 15px;
          position: absolute;
          border-radius: 50%;
          background-color: $verde2;
        }

        .indicatorGray {
          width: 15px;
          height: 15px;
          position: absolute;
          border-radius: 50%;
          background-color: $gris3;
        }
      }
    }
  }

}
.g-page-popup {
	.g-table-popup {
		.g-box {
			overflow: auto;
			//table.minWidth { min-width: 990px;}
			table {
				width: 100%;
				tr.title-row {
					td.labelCampo { padding-top: 5px; padding-bottom: 5px; font-weight: $bold; }
				}
				td.labelCampo {
					padding-left: 5px; padding-right: 5px;
					p { margin: 0; }
					ul.list-disc {
						list-style: disc;
						li { list-style: inherit; }
					}
				}
      }
      &.scroll-popup {
        height: 600px;
        margin: 0px;
      }
		}
  }
  .g-title {
    padding-bottom: 0px;
    h2 {
      font-size: 20px;
    }
    .g-close-modal {
      right: 15px;
      top: 10px;
      span {
        font-size: 40px;
      }
    }
  }
  .g-modal-header {
    border-bottom: 1px solid #d5d5d5;
  }
  .g-modal-footer {
    border-top: 1px solid #d5d5d5;
  }
  .g-modal-body {
    .g-input-design {
      padding: 0;
      input {
        margin: 0;
      }
    }
    .check {
      margin-right: 15px;
      display: inline-block;
    }
  }
}

.suscripcion-paso2 {
  .panel-group {
    .panel {
      margin-bottom: 20px;
    }
  }
}

.g-security-habilitar {
  &:before { content: 'Habilitado'; }
}
.g-security-inhabilitar {
  &:before { content: 'Inhabilitado'; }
}
.textarea-uppercase-none{
  textarea{
    text-transform: none;
  }
}

.g-btn-gris {
  background-color: #888383;
  border-color: #888383;
  color: #FFFFFF;
}
.g-btn-gris-salud {
  background-color: #888383;
  border-color: #888383;
  color: #FFFFFF;
}
.text-span-eclipse{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (min-width: $break-medium) {
  .g-home-inner-polizas {
    .g-border-md {
      border: 1px solid $cGray4;
      @each $direc in $direction {
        &-#{$direc} {
          border-#{$direc} : 1px solid $cGray4;
          &-no {
            border-#{$direc} : none;
          }
        }
      }
    }
  }
}
.header-documents{
  display: flex;
  .g-btn{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
