.g-page-popup {
	.g-table-popup {
		.g-box { 
			overflow: auto;
			table.minWidth { min-width: 990px;}
			table {
				width: 100%;
				tr.title-row {
					td.labelCampo { padding-top: 5px; padding-bottom: 5px; font-weight: $bold; }
				}
				td.labelCampo {
					padding-left: 5px; padding-right: 5px;
					p { margin: 0; }
					ul.list-disc { 
						list-style: disc;
						li { list-style: inherit; }
					}
				}
			}
		}
	}
}