.page-sctr-emitir {
  .risk-box {
    border: 1px solid $cGray4;
    &-inputs {padding: 40px;}
    &-amounts {border-left: 1px solid $cGray4; padding: 35px 60px;}
    .box-amount {
      &-label {
        &-total {font-weight: $bold; font-size: $fz17;}
      }
      &-data {
        text-align: right;
        &-total {font-size: $fz17;}
      }
    }
  }
  .g-cell-middle{
    float: none;
  }
  .document-number{
    font-size: $fz24;
    color: $cGray3;
  }
}

.page-sctr-emitir-step4{
  .gErrorIco{
    li{
      .ico{
        color: $cRed1;
      }
    }
  }
  .ico-excel { font-size: 48px; }
}

.page-sctr-emitir-step5{
  .g-table{
    .g-cell-middle{
      &:first-child{
        padding-left: 50px;
      }
    }
  }
  .g-cell-middle{
    float: none;
    font-size: $fz20;
    font-weight: $bold;
    color: $cGray3;
    .ico{
      display: block;
      width: 30px;
      height: 30px;
      font-size: $fz30;
      position: absolute;
      top: 0;
      left: 15px;
      bottom: 0;
      margin: auto;
    }
  }
}
.text-addArchivo{line-height: 35px;margin-right: 10px;}

@media (min-width: $break-xmedium) {
  .page-sctr-emitir {
    .risk-box {
      &-inputs {padding: 10px;}
      &-amounts {padding: 35px 40px;}
      .box-amount {
        &-label {}
        &-data {}
      }
    }
  }
}
.modal-title__scroll {
  max-height: 180px;
  overflow-y: auto;
}

.sctr-emit__ico-msg-xls {
  font-size: 24px;
  color: $cRed1;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.sctr-emit__ico-xls {
  color: $cGray3;
}

.u-scroll-v--200 {
  max-height: 200px;
  overflow-y: auto;
}

.u-scroll-h {
  overflow-x: auto;
}

.u-w--930 {
  width: 930px;
}

.u-max-w--370 {
  max-width: 370px;
}

.u-txt--0 {
  font-size: 0;
}

.u-txt--14 {
  font-size: 14px;
}

.u-txt--18 {
  font-size: 18px;
}

.u-txt--bold {
  font-weight: bold;
}

.modal-title__scroll {
  max-height: 180px;
  overflow-y: auto;
}

.sctr-emit__ico-msg-xls {
  font-size: 24px;
  color: $cRed1;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.sctr-emit__ico-xls {
  color: $cGray3;
}

.u-scroll-v--200 {
  max-height: 200px;
  overflow-y: auto;
}

.u-scroll-h {
  overflow-x: auto;
}

.u-w--930 {
  width: 930px;
}

.u-max-w--370 {
  max-width: 370px;
}

.u-txt--0 {
  font-size: 0;
}

.u-txt--14 {
  font-size: 14px;
}

.u-txt--18 {
  font-size: 18px;
}

.u-txt--bold {
  font-weight: bold;
}

.sctr-table__body {
  .sctr-table__row {
    &:nth-child(odd) {
      background: $cGray4;
    }
  }
}

.u-txt--rojo-4 {
  color: $cRed2;
}
.cont-actividad{
  max-height: 300px; overflow-x: auto;
  .g-box{
    margin-bottom: 10px;
  }
}
.cont-subactividad{ max-height: 400px; overflow-x: auto; }
.mant-tasa{
  .cont-cb{
    display: inline-block;width: 30px;vertical-align: top
  }
  .cont-txt{
    display: inline-block;width: 160px;vertical-align: top;
  }
  .cent-ico{
    padding-top: 5px;display: inline-block;
  }
  .tab-content{
    padding-top: 30px;
  }
  .sub-title{
    font-size: 20px; font-weight: 500;
  }
  .cont-title{
    font-size: $fz17; font-weight: 500; margin-top: 7px;display: inline-block;
  }
  .box-blanco{
    background-color: $cWhite1;padding:15px; border-radius: 5px;
  }
  .cont-subActividades{
    border: 1px solid $cGray4; border-radius: 7px;
    .header{
      background-color: $cGray5; border-radius: 7px 7px 0px 0px;padding: 10px 0;border-bottom:0;margin-bottom:1px;
      span{
        font-size: $fz17; font-weight: 500; margin-top: 0px;display: inline-block;
      }
    }
    .cont{
      max-height: 307px;overflow-x: auto;
      li{
        a{
          padding: 12px 7px; padding-right: 25px; display: block; position: relative; border-bottom: 1px solid $cGray4; margin: 0 7px;
          &:hover{
            background-color: $cGray5;border-left: 3px solid $cGreen1;margin: 0;padding-left: 11px;
            span{
              position: absolute;right: 17px;font-size: 24px;top: 10px;
            }
          }
          span{
            position: absolute;right: 10px;font-size: 24px;top: 10px;
          }
        }
        &:last-child{
          a{
            border-bottom: 0;
          }
        }
      }
    }
  }
}
.volverCargar{
  .ico-archivo{
    font-size: 40px; padding: 10px 0;display: inline-block;
  }
  .g-link{
    text-transform: none; font-weight: bold;
  }
}
.filt-mant{
  .dropdown{
    margin-top: 7px; display: inline-block;
    .dropdown-menu{
      left: auto; right: 0;background-color: $cGray5;border-radius: 0;margin-top: 10px;
      .list-cb{
        display: block; text-align: right; padding: 5px 7px;
        .ico-checkbox{
          margin-left: 7px;
        }
      }
      li{
        position: relative;
        .ico-top{
          width: 20px;height: 20px;border-style: solid;border-width: 0 8.5px 10px 8.5px;border-color: transparent transparent $cGray5 transparent;position: absolute;top: -25px;right: 7px;
        }
      }
    }
  }
}
// TABLA
/******************** Inicio: Tabla ********************/
.g-tbl-wrapper {
  overflow: hidden; overflow-x: auto;
  &.noscroll-sm { overflow-x: auto; }
  &.noscroll-md { overflow-x: auto; }
  .tbl-main {
    min-width: 1170px;
    .tbl-header {
      background-color: $cGray5; font-size: $fz14; font-weight:$bold; color: $cGray2;
      border-left: 0; border-top: 0; border-right: 0;
      li {
        margin: 8px 0; margin-left: -4px; padding: 7px 15px; @include inlineblock; border-right: 1px solid $cGray4;
        &:last-child { border-right: 0; }
      }
    }
    .tbl-body {
      // text-transform: uppercase;
      max-height: 450px; overflow: auto;
      overflow-y: auto;
      >li {
        border-bottom: 1px solid $cGray4; padding: 8px 0;
        // &:nth-child(odd) { background: $cWhite1; border-left: 1px solid $cGray4; border-right: 1px solid $cGray4; }
        // &:nth-child(even) { background: $cWhite1; border-left: 1px solid $cGray4; border-right: 1px solid $gris34; }
        // &:first-child { padding-top: 8px; border-top: 0; }
        // &:last-child { padding-bottom: 8px; margin-bottom: 24px; border-bottom: 1px solid $cGray4; }
        // &:hover { background-color: $gris22; }
      }
      li {
        .tbl-row {
          color: $cGray2;
          .cell {
            @include inlineblock; font-size: 13px; padding: 7px 15px; margin-left: -4px; border-right: 1px solid $cGray4;
            &:last-child { border-right: 0; }
            &-title { display: block; text-transform: uppercase; font-weight: $bold; }
            &-label {
              display: block;
              &-data {}
            }
          }
        }
      }
    }
  }
}
@media (min-width: $break-small){
  .g-tbl-wrapper {
    &.noscroll-sm { overflow-x: hidden; }
  }
}
@media (min-width: $break-medium){
  .g-tbl-wrapper {
    &.noscroll-md { overflow-x: hidden; }
  }
}
@media (min-width: $break-xmedium){
  .g-tbl-wrapper {
    &.noscroll-xmd { overflow-x: hidden; }
  }
}
@media (min-width: $break-large){
  .g-tbl-wrapper {
    &.noscroll-lg { overflow-x: hidden; }
  }
}
// grillas tabla (reemplazar por pull-left)
// .col-10-dktp{width:10%; float: left;}
// .col-15-dktp{width:15%; float: left;}
// .col-20-dktp{width:20%; float: left;}
// .col-30-dktp{width:30%; float: left;}
// .col-40-dktp{width:40%; float: left;}
// .col-50-dktp{width:50%; float: left;}
// .col-60-dktp{width:60%; float: left;}
// .col-70-dktp{width:70%; float: left;}
// .col-80-dktp{width:80%; float: left;}
// .col-90-dktp{width:90%; float: left;}
// sub-tabla
.sub-tabla{
  padding: 0 !important;border-left: 1px solid $cGray4;
  .caja1{
    width: 25.4%; min-height: 50px;
  }
  .caja2{
    width: 12%; min-height: 50px;
  }
  .caja3{
    width: 19%; min-height: 50px;
  }
  .caja4{
    width: 18.3%; min-height: 50px;
  }
  .caja5{
    width: 12.1%; min-height: 50px;
  }
  .caja6{
    width: 12%; min-height: 50px;
  }
}
.tabla-fondo{
  background-color: #f8fafb;padding: 10px 0
}
/******************** Fin: Tabla ********************/

// ACORDEON
.g-acordeon{
  &.panel{
    margin-bottom: 0;border-radius: 5px;overflow: hidden;box-shadow: none;border-left: 1px solid $cGray4;border-right: 1px solid $cGray4;border-top: 1px solid $cGray4;border-bottom: 1px solid $cGray4;
  }
  .panel-heading{
    background-color: $cGray5;border-radius-bottom: 0;padding: 17px 15px;
    .panel-title{
      font-size: 17px;
      .glyphicon{
        color: $cGray3;background-color: $cGray4;border-radius: 50%;padding: 5px;top:-6px;
      }
    }
  }
}

.actividad-seleccionada{
  border-bottom: 1px solid $cGray3;padding-bottom: 7px;
  .cod{
    border-right: 1px solid $cGray3;padding-right: 15px;margin-right: 15px;
    display: inline-block; vertical-align: top;
    text-align: center;
  }
  .descAct { display: inline-block; margin-left: -4px; }
  .ico-opneAct{
    color: $cGray3;cursor: pointer;
    display: inline-block; margin-left: -4px; vertical-align: top; text-align: right;
  }
}

.subactividad-seleccionada {
  padding-bottom: 2px;
  .descAct { max-height: 19px; overflow-y: hidden; }
}

.g-comment-box-ico{
  .ico-mapfre_305_user{
    background-color: $cWhite1;border-radius: 50%;font-size: 40px;width: 60px;height: 60px;display: block;padding-top: 9px;padding-left: 1px;border: 2px solid $cGray4;
  }
  &.comentario{
    .ico-mapfre_305_user{
      font-size: 30px;width: 50px;height: 50px;padding-top: 7px;float: right
    }
  }
}
.numSctr{
  font-size: $fz17;
}
.box-griss{
  background-color: $cGray5; padding: 0;padding-top: 0;padding-bottom: 20px;transition: all 0.5s ease;border-radius: 7px;border: 1px solid $cGray4;
  .cnt-title{
    font-size: 18px;font-weight: 700 !important;
  }
}
.txt-bloqueo{
  padding-left: 10px;display: inline-block;vertical-align: top;margin-top: 5px
}
.document-number{
  .cont-text{
    display: inline-block;max-width: 500px;vertical-align: top;
    .title{
      font-size: 17px;display: block;color: $cBlack1;vertical-align: top;
    }
    .component{
      font-size: 12px;display: inline-block;padding-left: 15px;vertical-align: top;float: right;line-height: 1.5;
    }
  }
  .cont-ico{
    display: inline-block;position: relative;
    span{
      font-size: 36px;
      &.chat-number{
        position: absolute;top: 0;right: -3px;text-align: center;padding-top: 1px;background-color: $gris30;color: $c-white;width: 20px;height: 20px;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;
        &__val { display: block; font-size: $fz12; position: relative; text-align: center; top: 1px; }
      }
    }
  }
}
.g-comment-input {
  .g-btn-attach{
    padding: 1px 0px; height: 46px;
  }
}
.g-box-label{
  display: block;
  font-size: 12px;
  color: $cWhite1;
  padding: 2px 15px;
  &.verde2{
    background-color: $cGreen1;
  }
  &.verde4{
    background-color: $cGreen5;
  }
  &.c-orange2{
    background-color: $cRed4;
  }
  &.c-purple2{
    background-color: $cPurple2;
  }
  &.verde5{
    background-color: #89bf00;
  }
  &.yellow{
    background-color: $cYellow1;
  }
  &.c-purple3{
    background-color: $cPurple3;
  }
}

.msn-acordeon{
  display: inline-block;float: right;vertical-align: top;padding-right: 10px;
  .ico-excl{
    margin-top: -5px;display: inline-block;
  }
  .cont-text{
    font-size: 14px;vertical-align: top;display: inline-block;
  }
}

.msn-acordeon {
  margin-right: 20px; margin-top: -3px;
  .ico-naranja { color: $c-orange1; }
  .cont-text { position: relative; top: -5px; }
}
