.cotizador{
    .nav.nav-tabs{
        display: none;
    }
    .tab-content{
        display: table;
        width: 100%;
        & > .tab-pane{
            position: relative;
            bottom: -1px;
            vertical-align: bottom;
            &:first-of-type{
                width: 50%;
            }
            @media (min-width: 991px){
                padding: 0px 15px;
                display: table-cell;
            }
            @media (max-width: 991px){
                &:nth-child(1){
                    display: table-cell;
                    .col-coti-head{
                        display: none;
                    }
                }
                .g-box{
                    margin-bottom: 0px;
                    border-radius: 0px;
                }
            }
        }
        @media (max-width: 991px){
            .col-coti-head{
                position: absolute;
                width: 204%;
                left: -104%;
                top: 0;
            }
        }
    }
    @media (max-width: 991px){
        & > .container{
            padding: 0px;
        }
    }
    .col-coti-ampliar{
        cursor: pointer;
        @media (max-width: 991px){
            padding: 0px;
            .gH3 {
                font-size: 2.5vw;
            }
        }
        @media (max-width: 767px){
            .gH3 {
                font-size: 4vw;
            }
            .plus-icon{
                margin-left: 2%;
                width: 20px;
                height: 20px;
                top: 16px;
                font-size: 19.9px;
            }
        }
        @media (max-width: 450px){
            .gH3 {
                font-size: 5.5vw;
            }
        }
    }
}
.plus-icon{
    position: absolute;
    margin-left: 24px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 28px;
    line-height: 1;
    font-weight: bold;
}
.input-no-margin .input-group{
    margin: 0px!important;
}
.page-segurviaje-cotizar{
    .disabled{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.page-segurviaje-cotizar{
    .g-select-horz label{
        font-weight: bold!important;
    }
}
.page-segurviaje-cotizacion-guardada{
    .btn-set{
        button.g-btn{
            padding: 0px 16px 9px;
            min-width: 220px;
            text-align: left;
            & > span:not(.g-btn-ico){
                border-left: 1px solid;
                padding-left: 8px;
            }
            & > .g-btn-ico:before{
                top: 5px;
                height: 27px;
                display: inline-block;
            }
            &#download{
                padding-bottom: 11px;
                & > span{
                    position: relative;
                    top: 2px;
                }
                & > .g-btn-ico:before{
                    top: 3px;
                    border-bottom: 2px solid;
                    height: 24px;
                }
                @media screen and (max-width: 767px){
                    margin: 10px 0px;
                }
            }
            &.g-btn-verde{
                text-align: center;
                min-width: 190px;
                padding: 9px 0px 9px;
            }
            @media screen and (max-width: 767px){
                display: block;
                text-align: center;
            }
        }
    }
}