.page-sepelios {
  .g-box--tabs {
    background-color: #f7f8f9;
    padding: 20px;
    cursor: pointer;
    &-sm {
      height: 72px;
    }
    &-md {
      height: 88px;
    }
    .ico {
      font-size: $font-size16;
    }
    &.active {
      color: $cGreen1;
      border: 2px solid $cGreen1;
    }
  }
  .g-tags {
    height: 23px;
    display: inline-flex;
    align-items: center;
    border-radius: 2px;
    padding: 4px 8px;
    &--green {
      background-color: $cGreen1;
    }
    &--dark {
      background-color: #797b7f;
    }
    &--yellow {
      background-color: $cYellow2;
    }
    &--orange {
      background-color: #df7e49;
    }
    &--purple {
      background-color: #7b61ff;
    }
  }
  .rox-flex-end {
    @media (min-width: $break-medium) {
      display: flex;
      align-items: flex-end;
    }
  }
  .list-acordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrapper {
      .link {
        text-decoration: underline;
      }
      .delete {
        color: #797b7f;
      }
      .g-box {
        margin-bottom: 0;
        .row:last-child {
          margin-bottom: 0;
        }
      }
    }
    .title {
      font-size: 15px;
    }
    .info-detail {
      color: #797b7f;
    }
    .icon--rotate {
      transform: rotate(180deg);
    }
  }
  .icon--md {
    font-size: 16px;
  }
}

.g-ui-view{
  .g-steps{
      padding-top: 20px;
      padding-bottom: 20px;
  }
}

.g-section-tabs {
  .tab-content {
    &:before {
      left: -1000%;
      width: 1000%;
    }

    &:after {
      right: -1000%;
      width: 1000%;
    }
  }
}

.box-white {
  background: white;
  padding: 15px;
}

.overflow-x-hidden{
  overflow-x: hidden !important;
}

.select-bandeja{
  background-color: #51535B;
  color: white;
  padding-left: 20px;
  margin-top: 3px;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  width: 86%;
  ul{
    padding: 10px 5px;
  }
  .options{
    padding: 3px 10px;
    cursor: pointer;
  }
}

.pointer{
  cursor: pointer;
}

@media (min-width: 992px) {
  .col-md-20-pct {
    width: 20%;
  }
}

.item-doc-repository {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #d5d5d5;
  border-radius: 2px;
}

.g-section-tabs.tabs-responsive .tabs__more {
  top: 11px;
}

.dataSeekerDisabled{
  color: #8f8f8f !important;
}
.dataSeekerDisabled .select2-chosen{
  color: #8f8f8f !important;
}