
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
	.transportes {
		.paginator {
			>li {
				&.active {
					>a {
						background-color : transparent;
						color : $cRed1;
					}
				}

				>a {
					&:hover {
						background-color : transparent;
					}
					color : $cRed1;
				}
			}
		}
	}
}
