.page-vida-cotizar {
	.page-vida-cotizar-step1 {
		.g-box {}
	}
	// .title {
	// 	font-size : $font-size6;
	// 	color : $rojo1;
	// }
	.pasoFin {
		.transporte-title {
			font-size : $font-size8;
			font-weight : 300;
			padding-left : 50px;
			.ico-mapfre_118_ok {
				color : #8DB602;
				font-size : 50px;
				&:before {
					position : absolute;
					top : 12px;
					left : 10px
				}
			}
		}
		.fin-container {
			border : 1px solid $gris4;
			border-radius : 24px;
			padding-top : 24px;
			padding-bottom : 40px;

			.bold {
				font-size : $font-size4;
				font-weight : bold;
			}

			.grispalido {
				font-size : $font-size2;
				color : $gris3;
			}

			.g-gray-step {
				&.init-data {
					border: 1px solid $gris4;
				}
			}

			.title {
				font-size : initial;
				padding-left : 20px;
				margin-top : 26px;
			}

			hr {
				margin-top : 0px;
			}
			.item-title {
				font-weight : bold;
			}
		}
		.text-center {
			a {
				margin-top : 20px;
			}
		}
	}
}


@media (min-width: $break-medium){
	.page-vida-cotizar {

		.page-vida-cotizar-step1 {
			.g-box {
				// padding: 20px 35px;
				.row {padding-top: 7px; padding-bottom: 7px;}
				&-title {font-weight: $bold}
				&-rent {
					&.onlyInput {font-size: $font-size5; font-weight: $bold; width: 100%;}
				}
				.onlyInput {width: 100%;}
			}
			.box-cotizarpor {
				background-color: $gris9; padding-top: 15px; padding-bottom: 15px;
				.g-input-design {
					padding-top: 0;
					.g-placeholder { display: none; }
					input { margin-top: 0; }
				}
			}
		}
	}

	.page-vida-cotizar-step2 {
		> .g-section {
			padding-bottom: 10px;
		}
		.g-dot {color: $gris16; margin-right: 10px;}
		.vida-importes {
			ul {
				li {margin-bottom: 5px;}
			}
		}

		.g-datastep {
			.g-sub-title {color: $rojo4;}
		}

		.vida-corrida-header-1 {
			border: 1px solid $gris29;
			background-color: $gris9;
			.col-md-1 {
				padding-left: 5px;
				padding-right: 5px;
			}
			.col-md-4 {
				.row {
					margin-left: -5px;
					margin-right: -5px;
				}
				border-left: 1px solid $gris29;
				border-right: 1px solid $gris29;
				padding-left: 5px;
				padding-right: 5px;
			}
		}

		.vida-corrida-header-2 {
			border: 1px solid $gris29;
			background-color: $gris9;
			.col-md-1 {
				padding-left: 5px;
				padding-right: 5px;
			}
			.col-md-4 {
				.row {
					margin-left: -5px;
					margin-right: -5px;
				}
				border-left: 1px solid $gris29;
				border-right: 1px solid $gris29;
				padding-left: 5px;
				padding-right: 5px;
			}
		}

		.vida-corrida-items {
			.col-md-1 {
				padding-left: 5px;
				padding-right: 5px;
			}
			.col-md-4 {
				.row {
					margin-left: -5px;
					margin-right: -5px;
				}
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		.zebra {
			background-color: $gris9;
		}
	}
}


// .g-vida{
// 	.g-box{
// 		padding: 15px 0;
// 		border-width: 2px;
// 		&.first-design{
// 			background-color: $gris11;
// 		}
// 	}
// }

.page-vida-maintenance,
.page-vida-file-interest{
	// .g-box{
	// 	padding: 15px 0;
	// 	border-width: 2px;
	// 	&.first-design{
	// 		background-color: $gris11;
	// 	}
	// }
	&.page-modal{
		padding-left: 50px;
		padding-right: 50px;
		.cnt-title{
			font-size: $font-size9;
			font-weight: $bold;
			text-align: center;
		}
	}
}

.page-vida-maintenance{
	.ico-edit,
	.ico-delete{
		font-size: 40px;
		color: $gris8; //$gris4;
	}
}

.page-vida-file-interest,
.page-vida-summary-report{
	.btn-download-ico{
		span{
			font-size: 20px;
			position: relative;
			top: 3px;
			margin-right: 5px;
		}
	}
}

.page-vida-file-interest{
	.cnt-edit{
		font-size: 0;
		&>li{
			@include inlineblock();
			font-size: 12px; //14px;
			vertical-align: middle;
			strong{
				display: block;
			}
			.ico-edit{
				font-size: 40px;
				text-align: center;
			}
		}
	}
}

// .page-vida-emitir {
// 	.asegurado > .row,
// 	.container > .row {
// 		margin-top: 10px;
// 	}
// 	.pasoFin {
// 		.transporte-title {
// 			font-size : $font-size8;
// 			font-weight : 300;
// 			padding-left : 50px;
// 			.ico-mapfre_118_ok {
// 				color : #8DB602;
// 				font-size : 50px;
// 				&:before {
// 					position : absolute;
// 					top : 12px;
// 					left : 10px
// 				}
// 			}
// 		}
// 		.fin-container {
// 			border : 1px solid $gris4;
// 			border-radius : 24px;
// 			padding-top : 24px;
// 			padding-bottom : 40px;

// 			.bold {
// 				font-size : $font-size4;
// 				font-weight : bold;
// 			}

// 			.grispalido {
// 				font-size : $font-size2;
// 				color : $gris3;
// 			}

// 			.g-gray-step {
// 				&.init-data {
// 					border: 1px solid $gris4;
// 				}
// 			}

// 			.title {
// 				font-size : initial;
// 				padding-left : 20px;
// 				margin-top : 26px;
// 			}

// 			hr {
// 				margin-top : 0px;
// 			}
// 			.item-title {
// 				font-weight : bold;
// 			}
// 		}
// 		.text-center {
// 			a {
// 				margin-top : 20px;
// 			}
// 		}
// 	}
// 	.title {
// 		font-size : $font-size6;
// 		color : $rojo1;
// 	}
// }
.page-vida-emit{
	.third-step{
		.sectionSurvey{
			.contentSurvey{
				overflow: visible;
			}
		}
	}
}


.beneficiario-container {
	.beneficiario-step-1 {
		.container {
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: $gris9;
	    	border: 1px solid $gris4;

	    	.g-btn {
	    		span {
	    			vertical-align: middle;
	    			font-size: $font-size7;
	    		}
	    	}
		}
	}

	.beneficiario-step-2 {
		.container {
			&:first-child {
				border-top: 1px solid $gris4;
			}
			&:last-child {
				border-bottom: 1px solid $gris4;
				padding-bottom: 15px;
			}
			background-color: $gris9;
	    	border-left: 1px solid $gris4;
	    	border-right: 1px solid $gris4;

	    	.ico {
	    		vertical-align: middle;
	    		font-size: $font-size7;
	    	}
		}
		.g-section-inner {
			padding-top: 0px;
			padding-bottom: 0px;
			border : none;

			.container {
				border-top: none;
				border-bottom: none;
			}
		}
	}

	.beneficiario-step-3 {
		.container {
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: $gris9;
	    	border: 1px solid $gris4;

	    	.g-btn {
	    		span {
	    			vertical-align: middle;
	    			font-size: $font-size5;
	    		}
	    	}
	    	.items {
	    		padding : 5px;
	    		border-bottom: 1px solid $gris4;
	    	}

	    	.data {
	    		span {
	    			font-weight: bold;
	    		}
	    	}
		}
	}
}

.referido-container {
	margin-top : 15px;
	.referido-step-1 {
		.container {
			&:first-child {
				border-top: 1px solid $gris4;
			}
			&:last-child {
				border-bottom: 1px solid $gris4;
				padding-bottom: 15px;
			}
			background-color: $gris9;
	    	border-left: 1px solid $gris4;
	    	border-right: 1px solid $gris4;

	    	.ico {
	    		vertical-align: middle;
	    		font-size: $font-size7;
	    	}
		}
	}

	.referido-step-2 {
		.container {
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: $gris9;
	    	border: 1px solid $gris4;

	    	.g-btn {
	    		span {
	    			vertical-align: middle;
	    			font-size: $font-size5;
	    		}
	    	}
	    	.items {
	    		padding : 5px;
	    		border-bottom: 1px solid $gris4;
	    	}

	    	.data {
	    		span {
	    			font-weight: bold;
	    		}
	    	}
		}
	}
}
// .page-vida-summary-report{
// 	.g-date-picker .input-group-btn button.btn{
// 		padding: 0;
// 	}
// }

.g-component-beneficiary,
.g-component-referred{
	.g-btn{
		height: auto;
		line-height: normal;
		padding-top: 15px;
		padding-bottom: 15px;
		.text-ico{
			position: relative;
			padding-left: 25px;
		}
		.ico-plus,
		.ico-download,
		.ico-email,{
			font-size: 25px;
			position: absolute;
			top: -4px;
			left: 0;
			margin-right: 0;
		}
	}
	.g-box{
		position: relative;
		@include prefix(border-radius, 5px);
		.btn-close{
			font-size: 50px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
		}
		.ico-edit,
		.ico-delete{
			font-size: 30px;
			color: $gris8;
		}
	}
	.g-list{
		.cnt-item{
			font-size: 12px;
		}
	}

}
