<section class="gNsctr modalSearchPopup">

  <button
    type="button"
    class="close g-close-modal"
    ng-click="$ctrl.fnCancelModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>

  <form name="frmModalSearch">

    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3">
            <b>Búsqueda de {{$ctrl.data.lblTitle}}</b>
          </h2>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="col-md-12 mb-xs-4">

        <div class="clearfix g-box gBgcGray5 pt-xs-2 pb-xs-1">

          <div class="clearfix">
            <div class="col-md-4 mb-xs-2">
              <mpf-input
                label="{label: 'Código Empresa', required: false}"
                name="nCodigoEmpresa"
                ng-model="$ctrl.data.mCodigoEmpresa"
                mpf-validation="onlyNumber"
                ng-if="$ctrl.IS_COMPANY">
              </mpf-input>
              <mpf-select
                label="{label: 'Tipo de documento', required: false}"
                name="nTipoDoc"
                ng-model="$ctrl.data.mTipoDoc"
                m-data-source="$ctrl.data.documentTypeData"
                text-field="typeDescription"
                value-field="typeId"
                m-Empty-Option="{enterData:true}"
                ng-required="$ctrl.data.mNroDocumento.model && $ctrl.data.mNroDocumento.model != ''"
                ng-change="$ctrl.fnChangeDocumentType($ctrl.data.mTipoDoc)"
                ng-if="$ctrl.IS_COMPANY == false">
              </mpf-select>
            </div>
            <div class="col-md-4 mb-xs-2">
              <mpf-input
                label="{label: $ctrl.data.lblDocumentNumber, required: false}"
                name="nNroDocumento"
                ng-model="$ctrl.data.mNroDocumento.model"
                mpf-validation="{{$ctrl.data.mNroDocumento.FIELD_TYPE}}"
                mpf-validation-disabled="{{$ctrl.data.mNroDocumento.FIELD_TYPE_DISABLED}}"
                ng-maxlength="$ctrl.data.mNroDocumento.MAX_LENGTH"
                ng-required="$ctrl.data.mTipoDoc && $ctrl.data.mTipoDoc.typeId !== null" >
              </mpf-input>
              <ul class="g-error">
                <li ng-show="frmModalSearch.nNroDocumento.$viewValue && (frmModalSearch.nNroDocumento.$error.onlyNumber || frmModalSearch.nNroDocumento.$error.maxlength) && !frmModalSearch.nNroDocumento.$pristine">* Nro de documento incorrecto</li>
                <li ng-show="frmModalSearch.nNroDocumento.$invalid && frmModalSearch.nNroDocumento.$error.required && !frmModalSearch.nNroDocumento.$pristine">* Ingrese un nro de documento</li>
              </ul>
            </div>
            <div class="col-md-4 mb-xs-2">
              <mpf-input
                label="{label: $ctrl.data.lblName, required: false}"
                name="nNombre"
                ng-model="$ctrl.data.mNombre">
              </mpf-input>
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-4 col-md-offset-2 mb-xs-1">
              <a
                href="javascript:void(0)"
                class="g-btn g-btn-verde block"
                ng-click="$ctrl.fnSearch()">
                Buscar
              </a>
            </div>
            <div class="col-md-4 mb-xs-1">
              <a
                href="javascript:void(0)"
                class="g-btn g-btn-white block"
                ng-click="$ctrl.fnClear()">
                Limpiar
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>


    <div class="container">
      <div class="col-md-12">

        <nsctr-no-result-filter
          type="search"
          no-result-info="$ctrl.data.noResultFilter.noResultInfo"
          no-result="$ctrl.data.noResultFilter.noResult" >
        </nsctr-no-result-filter>

        <div
          class="row"
          ng-if="$ctrl.data.dataList.list.length > 0">
          <div class="col-md-12">
            <div class="clearfix g-tbl-wrapper">
              <div class="clearfix table__820">
                <ul
                  height-row
                  class="g-row-fz12 g-tbl-row gBgcGray5 pt-xs-1">
                  <li class="g-col g-col-xs col-33-dktp tbl-item item-title g-text-uppercase g-text-center-xs">
                    CÓDIGO
                  </li>
                  <li class="g-col g-col-xs col-33-dktp tbl-item item-title g-text-uppercase g-text-center-xs">
                    {{$ctrl.data.lblDocumentNumber}}
                  </li>
                  <li class="g-col g-col-xs col-33-dktp tbl-item item-title g-text-uppercase">
                    {{$ctrl.data.lblName}}
                  </li>
                </ul>
                <div class="mb-xs-1">
                  <ul
                    height-row
                    class="g-row-fz12 g-tbl-row pt-xs-1 g-border-bottom-xs g-u-cursor--pointer"
                    ng-repeat="item in $ctrl.data.dataList.list"
                    ng-click="$ctrl.fnSelectedItem(item)">
                    <li class="g-col g-col-xs col-33-dktp tbl-item g-text-uppercase g-text-center-xs">
                      {{item.enterpriseId || item.documentType}}
                    </li>
                    <li class="g-col g-col-xs col-33-dktp tbl-item g-text-uppercase g-text-center-xs">
                      {{item.enterpriseRuc || item.documentNumber}}
                    </li>
                    <li class="g-col g-col-xs col-33-dktp tbl-item g-text-uppercase">
                      {{item.enterpriseSocialReason || item.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row"
          ng-if="$ctrl.data.dataList.showPagination">
          <div class="col-md-8 col-md-offset-2">
            <ul
              uib-pagination
              class="g-pagination"
              ng-model="$ctrl.data.mPagination.currentPage"
              max-size="$ctrl.data.mPagination.maxSize"
              total-items="$ctrl.data.mPagination.totalItems"
              ng-change="$ctrl.fnChangePage()"
              boundary-link-numbers="true">
            </ul>
          </div>
        </div>
      </div>

    </div>

  </form>

</section>
