<div class="clearfix">
    <button type="button" class="mt-xs-2 close g-close-modal" data-ng-click="$ctrl.close()" prevent-default>
      <span class="ico-mapfre_231_cancelaroff"></span>
    </button>
    <div class="container g-section-tabs tab-modal">
      <form name="frmModalBeneficio" class="clearfix container">
        <div class="row">
          <div class="col-md-12 mb-xs-2">
            <h2 class="gH3"><b>Información del condicionado</b></h2>
          </div>
        </div>
        <div class="row">
            <div class="g-box u-bg--gris-9" 
                style="max-height: 530px;overflow-y: scroll;">
                <ng-quill-editor 
                    ng-model="$ctrl.data" 
                    theme="bubble"
                    placeholder="''"
                    read-only="true"
                    modules="{toolbar: false}">
                </ng-quill-editor>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
  