<wp-msg-box data-show-msg-error="$ctrl.isFrmRequire && !$ctrl.frmsValidationStates.vehiculo"></wp-msg-box>
<form name="$ctrl.frmVehiculoObj" class="pt-xs-2">
  <div class="container u-ph-0">
    <div class="row">
      <div class="col-md-12"><h2 class="g-sub-title">Datos del Vehículo</h2></div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 mb-xs-2">
            <mpf-input
              data-mpf-validation="onlyLetterNumber"
              data-ng-maxlength="15"
              data-ng-model="$ctrl.frm.placaProvisionalVehiculo"
              label="{label: 'Placa provisional', required: false}"
              name="nPlacaProvisional"
            >
            </mpf-input>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmVehiculoObj.nPlacaProvisional.$invalid && !$ctrl.frmVehiculoObj.nPlacaProvisional.$pristine">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-xs-2">
            <mpf-input
              data-ng-maxlength="15"
              ng-pattern="'(^[a-zA-Z0-9]+$)'"
              ng-Minlength="5"
              trn-Length="8"
              mpf-validation="onlyLetterNumber"
              data-ng-model="$ctrl.frm.placaVehiculo"
              label="{label: 'Placa', required: true}"
              name="nPlaca"
            >
            </mpf-input>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmVehiculoObj.nPlaca.$invalid && !$ctrl.frmVehiculoObj.nPlaca.$pristine">
              Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-xs-2">
            <wp-cbo-soat
              data-label="{label: 'SOAT', required: true}"
              data-ng-model="$ctrl.frm.tab3.soat"
              data-option-default="{enterData: true}"
              data-set-model-by-this-key="$ctrl.frm.codigoSoatVehiculo"
              name="nSoat"
            >
            </wp-cbo-soat>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmVehiculoObj.nSoat.$invalid && !$ctrl.frmVehiculoObj.nSoat.$pristine">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-xs-2">
            <wp-cbo-tipo-vehiculo
              data-label="{label: 'Tipo de vehículo', required: true}"
              data-ng-model="$ctrl.frm.tab3.tipoVehiculo"
              data-option-default="{enterData: true}"
              data-set-model-by-this-key="$ctrl.frm.codigoTipoVehiculoAsegurado"
              name="nTipoVehiculo"
            >
            </wp-cbo-tipo-vehiculo>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmVehiculoObj.nTipoVehiculo.$invalid && !$ctrl.frmVehiculoObj.nTipoVehiculo.$pristine">
              Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-xs-2">
            <wp-cbo-uso-vehiculo
              data-label="{label: 'Uso del vehículo', required: false}"
              data-ng-model="$ctrl.frm.tab3.usoVehiculoAsegurado"
              data-option-default="{enterData: true}"
              data-set-model-by-this-key="$ctrl.frm.codigoUsoVehiculo"
              name="nUsoVehiculo"
            >
            </wp-cbo-uso-vehiculo>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmVehiculoObj.nUsoVehiculo.$invalid && !$ctrl.frmVehiculoObj.nUsoVehiculo.$pristine">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col-md-6 mb-xs-2">
            <mpf-input
              data-mpf-validation="onlyLetter"
              data-ng-maxlength="25"
              data-ng-model="$ctrl.frm.colorVehiculo"
              label="{label: 'Color', required: false}"
              name="nColor"
            >
            </mpf-input>
            <div
              class="g-error"
              data-ng-show="$ctrl.frmVehiculoObj.nColor.$invalid && !$ctrl.frmVehiculoObj.nColor.$pristine">
              Ingrese un dato válido
            </div>
          </div>
          <div class="col-md-6 mb-xs-2" data-ng-show="$ctrl.frm.esModalidadKm">
            <mpf-input data-mpf-validation="onlyNumber"
              data-ng-model="$ctrl.frm.kilometrajeMomentoSiniestro"
              label="{label: 'Kilometraje al momento del siniestro', required: true}" name="nKilometrajeSiniestro">
            </mpf-input>
            <div class="g-error"
              data-ng-show="!$ctrl.frm.kilometrajeMomentoSiniestro || ($ctrl.frmVehiculoObj.nKilometrajeSiniestro.$invalid && !$ctrl.frmVehiculoObj.nKilometrajeSiniestro.$pristine)">
              Este campo es obligatorio
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <wp-auto-acor data-info="$ctrl.frm"></wp-auto-acor>
      </div>
    </div>
  </div>
  <div class="g-border-bottom mt-xs-3"></div>
  <div class="container">
    <wp-img-tab-upload
      data-fotos-docs="$ctrl.frm.documentosVehiculo"
      data-fotos-siniestros="$ctrl.frm.fotosSiniestroVehiculo"
      data-on-subir-foto-licencia="$ctrl.subirFotoLicencia($event)"
      data-on-subir-foto-soat="$ctrl.subirFotoSoat($event)"
      data-on-subir-foto-tarjeta="$ctrl.subirFotoTarjeta($event)"
      data-on-subir-foto-odometro="$ctrl.subirFotoOdometro($event)"
      data-on-subir-fotos-siniestro="$ctrl.subirFotosSiniestro($event)"
      data-on-view-image-modal="$ctrl.servicePhotoModal($event)"
      data-on-view-image="$ctrl.servicePhotoModal($event)"
      data-opt="$ctrl.optImgsTabs"
    >
    </wp-img-tab-upload>
  </div>
  <div class="g-border-bottom mt-xs-3"></div>
  <div class="container u-ph-0">
    <div class="row mt-xs-3">
      <div class="col-md-12"><h2 class="g-sub-title">Daños del vehículo</h2></div>
    </div>
    <div class="row mb-xs-2 mb-md-2">
      <div class="col-md-12 mb-md-1">
        <span class="g-label">Especifique cuál fue el nivel de daño del vehículo y agregue cada uno de los daños en la parte del detalle.</span>
      </div>
      <div class="col-md-3">
        <wp-cbo-nivel-danho
          data-label="{label: 'Nivel de daño', required: true}"
          data-ng-model="$ctrl.frm.tab3.nivelDanho"
          data-option-default="{enterData: true}"
          data-set-model-by-this-key="$ctrl.frm.codigoNivelDanioVehiculo"
          name="nNivelDanho"
        >
        </wp-cbo-nivel-danho>
        <div
          class="g-error"
          data-ng-show="$ctrl.frmVehiculoObj.nNivelDanho.$invalid && !$ctrl.frmVehiculoObj.nNivelDanho.$pristine">
          Este campo es obligatorio
        </div>
      </div>
    </div>
    <div class="row"><div class="col-md-12"><span class="g-label">Detalles del daño</span></div></div>
    <div class="gCRed2 gH5 mt-xs-1" data-ng-show="!$ctrl.isValidListDanhos">Debes añadir por lo menos 1 registro de daño</div>
    <wp-agregar-danho
      data-danhos="$ctrl.lstDanhos"
      data-on-agregar="$ctrl.agregarDanho($event)"
      data-on-editar="$ctrl.editarDanho($event)"
      data-on-eliminar="$ctrl.eliminarDanho($event)"
    >
    </wp-agregar-danho>
  </div>
</form>
