<div class="g-section-inner">
  <div class="row mb-xs-2">
    <div class="col-xs-12">
      <h2 class="gH4 gCGray1">
        <b class="ng-binding">Asignación de
          <span ng-if="isUserAdmin">Roles y </span>Accesos a aplicaciones</b>
      </h2>
    </div>
  </div>
  <div ng-if="showRoleAccess">
    <asig-rol is-create="isCreate" type-group="typeGroup" type-user="typeUser" num-user="numUser" code-user="codeUser" exist-role="existRole"></asig-rol>
    <div ng-if="existRole || (typeUser==1)">
      <asig-acceso type-user="typeUser" num-user="numUser" code-user="codeUser" exist-role="existRole" is-finalizar="isFinalizar" type-group="typeGroup"></asig-acceso>
    </div>
  </div>
</div>