<div class="row">
  <div class="col-md-12">
    <span class="g-label">{{::$ctrl.labelData.label}} <span data-ng-show="::$ctrl.labelData.required">*</span></span>
  </div>
  <div class="col-md-12">
    <div class="col-md-12 g-time-picker pr-xs-0 pl-xs-0">
      <p class="input-group" data-ng-class="$ctrl.ngDisabled ? 'u-msk' : ''">
        <input
          class="form-control"
          data-ng-model="$ctrl.mTimepickerInput"
          data-ng-required="{{::$ctrl.requerido}}"
          name="{{::$ctrl.name}}"
          readonly="readonly"
          type="text">
        <span class="input-group-btn">
          <button
            class="btn btn-default u-outline--no"
            data-ng-click="$ctrl.showTimepicker()"
            type="button">
            <i class="glyphicon glyphicon-time"></i>
          </button>
        </span>
      </p>
      <div class="timepicker__wp">
        <div
          data-ng-if="$ctrl.isVisibleTimepicker"
          data-hour-step="$ctrl.hstep"
          data-minute-step="$ctrl.mstep"
          data-ng-change="$ctrl.updateTime()"
          data-ng-model="$ctrl.mTimepicker"
          data-readonly-input="{{::$ctrl.isReadOnly}}"
          data-show-meridian="$ctrl.ismeridian"
          data-template-url="/scripts/mpf-main-controls/components/mpf-timepicker/timepicker.html"
          data-uib-timepicker>
        </div>
      </div>
    </div>
  </div>
</div>
