<table class="uib-timepicker">
  <tbody>
    <tr class="text-center" data-ng-show="::showSpinners">
      <td class="uib-increment hours">
        <a
          class="timepicker__arrow"
          data-ng-class="{disabled: noIncrementHours()}"
          data-ng-click="incrementHours()"
          data-ng-disabled="noIncrementHours()"
          tabindex="-1">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>
      <td>&nbsp;</td>
      <td class="uib-increment minutes">
        <a
          class="timepicker__arrow"
          data-ng-class="{disabled: noIncrementMinutes()}"
          data-ng-click="incrementMinutes()"
          data-ng-disabled="noIncrementMinutes()"
          tabindex="-1">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>
      <td data-ng-show="showSeconds">&nbsp;</td>
      <td data-ng-show="showSeconds" class="uib-increment seconds">
        <a
          class="timepicker__arrow"
          data-ng-class="{disabled: noIncrementSeconds()}"
          data-ng-click="incrementSeconds()"
          data-ng-disabled="noIncrementSeconds()"
          tabindex="-1">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>
      <td class="uib-increment" data-ng-show="showMeridian">
        <a
          class="timepicker__arrow"
          data-ng-class="{disabled: noToggleMeridian()}"
          data-ng-click="toggleMeridian()"
          data-ng-disabled="noToggleMeridian()"
          tabindex="-1">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>
    </tr>
    <tr>
      <td class="form-group uib-time hours timepicker__col" data-ng-class="{'has-error': invalidHours}">
        <input
          class="form-control text-center timepicker__box-data"
          data-data-ng-maxlength="2"
          data-mpf-validation="required, onlyNumber"
          data-ng-blur="blur()"
          data-ng-change="updateHours()"
          data-ng-disabled="noIncrementHours()"
          data-ng-model="hours"
          data-ng-readonly="::readonlyInput"
          maxlength="2"
          placeholder="HH"
          tabindex="{{::tabindex}}"
          type="text">
      </td>
      <td class="uib-separator">:</td>
      <td class="form-group uib-time minutes timepicker__col" data-ng-class="{'has-error': invalidMinutes}">
        <input
          class="form-control text-center timepicker__box-data"
          data-data-ng-maxlength="2"
          data-mpf-validation="required, onlyNumber"
          data-ng-blur="blur()"
          data-ng-change="updateMinutes()"
          data-ng-disabled="noIncrementMinutes()"
          data-ng-model="minutes"
          data-ng-readonly="::readonlyInput"
          maxlength="2"
          placeholder="MM"
          tabindex="{{::tabindex}}"
          type="text">
      </td>
      <td data-ng-show="showSeconds" class="uib-separator">:</td>
      <td
        class="form-group uib-time seconds timepicker__col"
        data-ng-class="{'has-error': invalidSeconds}"
        data-ng-show="showSeconds">
        <input
          class="form-control text-center timepicker__box-data"
          data-data-ng-maxlength="2"
          data-mpf-validation="required, onlyNumber"
          data-ng-blur="blur()"
          data-ng-change="updateSeconds()"
          data-ng-disabled="noIncrementSeconds()"
          data-ng-model="seconds"
          data-ng-readonly="readonlyInput"
          maxlength="2"
          placeholder="SS"
          tabindex="{{::tabindex}}"
          type="text">
      </td>
      <td data-ng-show="showMeridian" class="uib-time am-pm timepicker__col">
        <button
          class="btn btn-default text-center timepicker__box-data u-txt--uppercase pl-xs-0 pr-xs-0 u-outline--no"
          data-ng-class="{disabled: noToggleMeridian()}"
          data-ng-click="toggleMeridian()"
          data-ng-disabled="noToggleMeridian()"
          tabindex="{{::tabindex}}"
          type="button">{{meridian}}</button>
      </td>
    </tr>
    <tr class="text-center" data-ng-show="::showSpinners">
      <td class="uib-decrement hours">
        <a
          class="timepicker__arrow"
          data-ng-class="{disabled: noDecrementHours()}"
          data-ng-click="decrementHours()"
          data-ng-disabled="noDecrementHours()"
          tabindex="-1">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </td>
      <td>&nbsp;</td>
      <td class="uib-decrement minutes">
        <a
          class="timepicker__arrow"
          data-ng-class="{disabled: noDecrementMinutes()}"
          data-ng-click="decrementMinutes()"
          data-ng-disabled="noDecrementMinutes()"
          tabindex="-1">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </td>
      <td data-ng-show="showSeconds">&nbsp;</td>
      <td data-ng-show="showSeconds" class="uib-decrement seconds">
        <a
          class="timepicker__arrow"
          data-ng-class="{disabled: noDecrementSeconds()}"
          data-ng-click="decrementSeconds()"
          data-ng-disabled="noDecrementSeconds()"
          tabindex="-1">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </td>
      <td class="uib-decrement" data-ng-show="showMeridian">
        <a
          class="timepicker__arrow"
          data-ng-class="{disabled: noToggleMeridian()}"
          data-ng-click="toggleMeridian()"
          data-ng-disabled="noToggleMeridian()"
          tabindex="-1">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
