.app-my-dream {
  // My dream
  .g-myd-btn-primary {
    background-color: $myd-red;
    border-color: $myd-red;
    color: white !important;
    transition: .25s linear;

    &.active,
    &:hover {
      background-color: $myd-red2;
      color: white;
      transition: .25s linear;
    }
  }

  .g-myd-btn-secundary {
    background-color: $cWhite1 !important;
    border-color: $myd-red !important;
    color: $myd-red;
    transition: 0.25s linear !important;

    &:hover {
      background-color: $myd-red2 !important;
      border-color: $myd-red2 !important;
      box-shadow: 0 1px 6px rgba(121, 123, 127, 0.1);
      color: $cWhite1;
    }
  }

  .g-btn-myd-full {
    width: 100%;
  }

  // OIM
  .g-btn {
    align-items: center;
    border-radius: 24px;
    border-width: 1px;
    box-shadow: 0 1px 6px 0 rgba(121, 123, 127, .1);
    display: flex;
    font-weight: normal !important;
    justify-content: center;
    line-height: normal;
    min-height: 40px;
    padding: 9px;

    &.disabled,
    &:disabled {
      background-color: white;
      border-color: $myd-gray7;
      color: $myd-gray1;

      &:hover {
        background-color: white;
        border-color: $myd-gray7;
        color: $myd-gray1;
      }
    }

    span {
      margin: 0;
    }
  }

  .g-btn-verde {
    background-color: $myd-red;
    border-color: $myd-red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    transition: .25s linear;

    &.active,
    &:hover {
      background-color: $myd-red2;
      transition: .25s linear;
    }

    &.disabled {
      background-color: white;
      border-color: $myd-gray7;
      color: $myd-gray1;
    }
  }

  .g-btn-green-border,
  .g-btn-transparent,
  .g-btn-white {
    border-color: $myd-red;
    color: $myd-red;
    transition: .25s linear;

    &.active,
    &:hover {
      background-color: $myd-red2;
      border-color: $myd-red2;
      box-shadow: 0 1px 6px rgba(121,123,127,.1);
      color: $cWhite1;
      transition: .25s linear;

      .icon {
        color: white !important;
      }
    }

    .icon {
      color: $myd-red !important;
    }
  }

  .g-dropdown {
    &--btn {
      border-bottom: 1px solid $myd-gray2;
    }
  }

  .gSweetModal .swal2-confirm,
  .swal2-modal .swal2-confirm {
    background-color: $myd-red !important;
    border-color: $myd-red !important;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    transition: .25s linear;
    min-width: 200px;
    margin: 0 auto;

    &.active,
    &:hover {
      background-color: $myd-red2 !important;
      transition: .25s linear;
    }

    &.disabled {
      background-color: white !important;
      border-color: $myd-gray7 !important;
      color: $myd-gray1 !important;
    }
  }

  //link
  .more-filters-link {
    border-bottom: 0;
    color: $myd-green;
    font-size: 14px;
    font-weight: normal;
  }
}
