.app-my-dream {
  .g-checkbox {
    .checkbox-label {
      color: $myd-gray2;
      font-size: 14px;
      font-weight: 400;
      vertical-align: middle;
    }

    .ico-checkbox{
      &:after{
        content: "\ea3f";
        font-size: 27px;
        left: -8px;
      }
    }
  }

  .g-radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .ico-radio {
      width: auto;
      height: auto;
      margin: 0;
      line-height: 1;
      display: inline-block;
      margin-right: 4px;
    }
  }

  .g-check-box {
    align-items: center;
    background-color: white;
    border: 0;
    box-shadow: $box-shadow;
    display: flex;

    .g-check-box-input,
    .g-check-box-label {
      margin: 0;
    }
  }
}
