.app-my-dream {
  .g-date-picker {
    border-bottom: 1px solid $myd-gray2;
    padding-top: 16px;

    input {
      height: 31px !important;
      margin-top: 0;
      padding-right: 5px;
    }

    .input-group-btn {
      button {
        &.btn {
          top: 0;
        }
      }
    }
  }

  .input-group {
    margin-top: 0;
  }
}
