.app-my-dream {
  .ico-mapfre_145_informacion,
  .ico-mapfre_303_informacion {
    content: url(../../../images/alert.svg);
    height: 100px;
    width: 200px;
  }

  .ico-mapfre_302_error,
  .ico-mapfre_119_wrong {
    content: url(../../../images/error.svg);
    height: 100px;
    width: 200px;
  }

  .ico-mapfre_142_sucess {
    content: url(../../../images/ok.svg);
    height: 100px;
    width: 200px;
  }
}
