.app-my-dream {
  .g-input-design {
    border-bottom: 1px solid $myd-gray2;
    padding-top: 16px;

    input {
      color: $myd-gray2;
      font-size: 14px;
      height: 30px;
      margin-top: 0;
    }

    &.secondDesign {
      .g-placeholder {
        color: $myd-gray2;
        top: 20px;

        &.animated,
        &.block {
          color: $myd-gray1;
          font-size: 13px;
          font-weight: 300 !important;
          top: 0;
        }
      }
    }

    &.isHorizontal {
      border-bottom: 0;
      height: 30px;

      .g-placeholder {
        top: initial;
      }

      input {
        border-bottom: 1px solid $myd-gray2;
      }
    }
  }

  .g-placeholder {
    color: $myd-gray2;
    top: 20px;

    &.animated,
    &.block {
      color: $myd-gray1;
      font-size: 13px;
      font-weight: 300 !important;
      top: 0;
    }
  }

  .g-label {
    color: $myd-gray1;
    font-size: 13px;
    font-weight: 300 !important;
  }

  .g-error {
    font-weight: 300;
  }

  //autocompleate
  .g-autocomplete-desing {
    border-bottom: 1px solid $myd-gray2;
    padding-top: 6px;

    .select2-container {
      display: inherit;

      .select2-choice {
        height: 30px;
      }
    }

    .select2-search {
      height: 32px;

      input {
        line-height: 30px;
        margin-top: 0;
      }
    }

    .select2-results {
      border-top: 0;
    }

    .select2-drop {
      bottom: 0;
      height: 24px;
    }
  }

  .g-dataseeker-horz {
    vertical-align: initial;

    .g-placeholder {
      padding-right: 0;
      display: initial;
      float: none;
      padding-top: 0;
      position: relative;
      vertical-align: bottom;
      width: 100%;
    }

    .g-autocomplete-desing {
      display: inline-block;
      float: none;
      height: 32px;
      padding-top: 0;
      width: 100%;

      .select2-choice {
        height: 32px;
        margin-top: 0;

        input{
          height: 32px;
          margin-top: 0;
        }
      }
      .select2-search {
        height: 32px;

        input {
          height: 32px;
          margin-top: 0;
        }
      }
    }
  }

  .g-myd-label {
    strong {
      color: $myd-gray1;
      font-size: 13px;
      font-weight: 300;
    }
  }

  .g-input-horz {
    position: relative;

    .g-placeholder {
      color: $myd-gray1;
      font-size: 13px;
      font-weight: 300;
      position: absolute;
    }
  }

  .kr-embedded {
    .mf-input {
      border-bottom: 1px solid $myd-gray14;
      display: block;
      height: 35px;
      margin-bottom: 40px;
      position: relative;
      width: 100%;

      input {
        appearance: none;
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: $myd-gray5;
        font-size: 14px;
        height: 35px;
        left: 0;
        opacity: 0;
        outline: none;
        padding-left: 4px;
        position: absolute;
        top: 0;
        transition: all .1s linear;
        width: 100%;
        z-index: 1;

        /* sass-lint:disable no-vendor-prefixes */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          margin: 0;
        }

        /* scss-lint:enable no-vendor-prefixes */

        &:focus,
        &:valid {
          opacity: 1;

          ~ label {
            color: $myd-gray5 !important;
            font-size: .75em;
            transform: translate(0, -20px);
            width: auto;
            z-index: 2;
          }
        }
      }

      &__label {
        color: $myd-gray14;
        font-family: 'Roboto', sans-serif;
        font-size: .88em;
        left: 5px;
        position: absolute;
        top: 10px;
        transition: all .25s linear;
        z-index: 0;
      }
    }
  }
}
