.app-my-dream {
  .g-radio {
    align-items: center;
    display: flex;
    font-size: 14px;

    .ico-radio {
      margin: 0;

      &::before {
        color: $myd-gray1;
      }
    }

    &.active {
      .ico-radio {
        &::before {
          color: $myd-green;
        }
      }
    }
  }
}
