.app-my-dream {
  .g-select-desing {
    border-bottom: 1px solid $myd-gray2;
    padding-top: 16px;

    select {
      color: $myd-gray2;
      font-size: 14px;
      height: 30px;
      margin-top: 0;
      padding-right: 20px;
    }

    .ico-select {
      height: 28px;
      line-height: 30px;
    }

    &.isHorizontal {
      border-bottom: 0;

      .g-placeholder {
        top: initial;
      }

      select {
        border-bottom: 1px solid $myd-gray2;
      }

      .ico-select {
        height: 35px;
        line-height: 35px;
      }
    }
  }

  .g-select-horz {
    position: relative;

    .g-placeholder {
      color: $myd-gray1;
      font-size: 13px;
      font-weight: 300;
      position: absolute;
      top: -7px;
    }
  }

  .g-datepicker-horz {
    position: relative;

    .g-placeholder {
      color: $myd-gray1;
      font-size: 13px;
      font-weight: 300;
      padding: 0;
      position: absolute;
      top: 0;
    }

    .g-date-picker {
      float: none;
      height: initial;
      padding-top: 16px;
      width: 100%;
    }
  }

  .g-select-multiple {
    font-size: 13px;

    .placeholder {
      font-weight: $light;
    }

    .text {
      height: 29px;
      margin-top: 0;
    }
  }
}
