.app-my-dream {
  .c-tag,
  .g-box-label {
    border-radius: 2px;
    border: 1px solid $myd-gray5;
    color: $myd-gray5;

    // TODO: colors tag
    &.c-green3 {
      background-color: $myd-green5;
      border-color: $myd-green6;
      color: $myd-white;
    }

    &.gBgcOrange1,
    &.gBgcRed1,
    &.c-red,
    &.u-bg--rojo-primario,
    &.gBgcRed3,
    &.c-purple,
    &.secuFondoRojo {
      background: $myd-red3;
      border: 1px solid $myd-red2;
      color: $myd-white;
    }

    &.c-green,
    &.u-bg--verde-2,
    &.gBgcGreen1,
    &.c-green4 {
      background: $myd-green2;
      border: 1px solid $myd-green;
      color: $myd-white;
    }

    &.gBgcYellow1,
    &.gBgcOrange4,
    &.u-bg--yellow-2 {
      background: $myd-yellow;
      border: 1px solid $myd-yellow2;
      color: $myd-white;
    }

    &.gBgcBlue2,
    &.c-blue {
      background-color: $myd-blue;
      border-color: $myd-blue2;
      color: $myd-white;
    }

    &.gBgcPurple1 {
      background-color: $myd-red3;
      border-color: $myd-red2;
      color: $myd-white;
    }

    &.gBgcOrange3,
    &.secuFondoNaranja {
      background-color: $myd-yellow2;
      border-color: $myd-yellow3;
      color: $myd-white;
    }

    &.secuFondoVerde {
      background-color: $myd-green7;
      border-color: $myd-green5;
      color: $myd-white;
    }

    &.secuFondoGrisOscuro {
      border: 1px solid $myd-black;
      color: $myd-white;
    }
  }
}
