.app-my-dream {
  .g-time-picker {
    border-bottom: 1px solid $myd-gray2;
    margin-top: 0;
    padding-top: 0;

    input {
      &.form-control {
        height: 26px;
        margin: 0;
      }
    }

    .input-group-btn {
      button {
        &.btn {
          padding-bottom: 3px;
          padding-top: 0;
        }
      }
    }
  }
}
