<section class="g-page page-modal text-center">

    <button type="button" class="close g-close-modal" ng-click="$ctrl.closeModal()">
      <span class="ico-mapfre_46_cancelaroff"></span>
    </button>

    <div class="row">
      <div class="col-md-12 mb-xs-1 g-title-modal text-uppercase">
        <h2>SUBACTIVIDAD</h2>
      </div>
      <form>
        <div class="container">
          <div class="clearfix" >
            <div class="col-md-10 col-md-offset-1 mt-xs-2">
              <div class="cont-subactividad">
                  <div class="g-box" ng-repeat="subactivity in $ctrl.subactividades" ng-click="$ctrl.selectItem(subactivity)" ng-dblclick="$ctrl.selectItem(subactivity, true)">
                      <!-- header -->
                      <div class="clearfix g-box-header">
                        <ul class="g-list second-design">
                          <li class="col-xs-12 col-md-1 mt-xs-1 mb-xs-2">
                            <div class="row">
                              <div class="col-sm-12 item-label text-left">{{subactivity.Codigo}}</div>
                            </div>
                          </li>
                          <li class="col-xs-12 col-md-11 cnt-item mt-xs-1 mb-xs-2">
                            <div class="row">
                              <div class="col-sm-11 item-dato text-left">
                                {{subactivity.Descripcion}}
                              </div>
                              <div class="col-sm-1">
                                <span ng-show="subactivity.rowSelected == true" class="ico-mapfre_184_circleCheck ico-verde float-right ico-small"></span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                   </div>

              </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="clearfix">
                <div class="col-md-6 col-md-offset-3 mt-md-4 mt-xs-2">
                  <button class="g-btn g-btn-verde btn-block g-btn-mediano" ng-click="$ctrl.okItem()">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </section>
