<section class="g-page page-automovil-variacion">
	<page-title info="pgVariaAuto"></page-title>
		<div class="g-section">
			<div class="container">
				<form action="">
					<div class="row mb-md-5 envio-ok">
						<div class="col-md-12 text-center">
							<span class="ico-mapfre_118_ok ico-ok"></span>
							<div class="text1">Se ha enviado la la solicitud de variación.</div>
							<div class="text2">Te enviaremos al correo <strong>{{emailAgente}}</strong> una notificación cuando esté lista tu solicitud.</div>
						</div>
					</div>
					<div class="row envio-btns">
						<div class="col-md-12  mb-md-1 text-center">
							<a href="" class="g-btn g-btn-verde" ng-click="again()">Cotizar nueva póliza de autos</a>
						</div>
						<div class="col-md-12  mb-md-1 text-center">
							<a href="" class="g-btn g-btn-transparent" ui-sref="autosQuote.steps({step: 1})">Volver al inicio</a>
						</div>
					</div>
				</form>		
			</div>
		</div>
</section>