<div class="clearfix g-box g-overflow-hidden-xs mb-xs-2">
    <div class="row pt-xs-1-5 pb-xs-1-5">
      <ul class="clearfix">
        <li class="col-md-12 col-sm-12">
          <ul class="row">
            <li class="col-sm-2 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.restriccion.agentId}}
                </div>
            </li>
            <li class="col-sm-1 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.restriccion.userId}}
                </div>
            </li>
            <li class="col-sm-2 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.restriccion.vehicleTypeName}}
                </div>
            </li>
            <li class="col-sm-2 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    S/ {{vm.restriccion.historicalAmount}}
                </div>
            </li>
            <li class="col-sm-1 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.restriccion.totalEmissions}}
                </div>
            </li>
            <li class="col-sm-1 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.restriccion.dailyEmissions}}
                </div>
            </li>
            <li class="col-sm-1 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.restriccion.creditDays}}
                </div>
            </li>
            <li class="col-sm-1 pt-xs-0-5">
                <div class="col-sm-12 item-dato g-text-uppercase text-center">
                    {{vm.restriccion.state === 'N' ? 'ACTIVO' : (vm.restriccion.state === 'S' ? 'INACTIVO' : '')}}
                </div>
            </li>
            <li class="col-sm-1 pt-xs-0-5">
              <div class="cnt-item text-center">
                <a ng-click="vm.accionItemRestriction('editar')">
                    <span class="ico-mapfre_345_myd-edit"></span>
                </a>
                <a ng-click="vm.accionItemRestriction('eliminar')">
                    <span class="ico-mapfre-363-myd-eliminar"></span>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>