<div class="g-section" ng-form="frmUpdateRole" id="frmUpdateRoleF">
  <div class="container">
    <div class="row mb-xs-2">
      <!-- <div class="col-md-4 mb-xs-2 mb-md-0">
        <mpf-input label="{label: 'Código', required: false}" name="nCodigo" ng-model="$parent.roleDetail.codRol" ng-disabled="true" ></mpf-input>
      </div> -->
      <div class="col-md-4 mb-xs-2 mb-md-0">
        <mpf-input label="{label: 'Nombre largo', required: false}" name="nNombreLargo" ng-model="$parent.roleDetail.nomLargo" ng-required="true" 
        mpf-validation="onlyLetterNumberGuion" ng-maxlength="150"></mpf-input>
        <ul class="g-error">
          <li ng-show="frmUpdateRole.nNombreLargo.$error.required && !frmUpdateRole.nNombreLargo.$pristine">* Este campo es obligatorio</li>
          <li ng-show="!validateMinLength($parent.roleDetail.nomLargo, 2) && !frmUpdateRole.nNombreLargo.$pristine">* Mínimo de 2 carácteres</li>
        </ul>
      </div>
      <div class="col-md-4">
        <mpf-input label="{label: 'Nombre corto', required: false}" name="nNombreCorto" ng-model="$parent.roleDetail.nomCorto" 
        mpf-validation="onlyLetterNumberGuion" ng-maxlength="50"></mpf-input>
      </div>
      <div class="col-md-4 mb-xs-2 mb-md-0">
          <mpf-select
            label="{label: 'Estado: ', required: false}" name="nEstado" ng-model="$parent.codEstado" m-data-source="userCodes"
            text-field="descripcion" value-field="codigo" m-Empty-Option="{enterData:false}" ng-required="false" ng-change="$parent.updateStatusRole($parent.codEstado.codigo)"
          ></mpf-select>
        </div>
    </div>
    <div class="row mb-xs-4">
      <div class="col-md-4">
          <mpf-select
            label="{label: 'Tipo de usuario', required: false}" name="nNumTipoUsuario" ng-model="$parent.tipoGrupo" m-data-source="userTypes"
            text-field="descripcion" value-field="codigo" m-Empty-Option="{enterData:true}" ng-required="false" ng-change="$parent.updateTypesRole($parent.tipoGrupo.codigo)"
            ng-disabled="$parent.isDisabled"
          ></mpf-select>
          <ul class="g-error">
            <li ng-show="frmUpdateRole.nNumTipoUsuario.$error.required && !frmUpdateRole.nNumTipoUsuario.$pristine">* Este campo es obligatorio</li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a class="g-btn g-btn-verde block" ng-click="$parent.updateRole($event)">Guardar cambios</a>
      </div>
    </div>
  </div>
</div>
