 <!-- Step 4 -->
<form action="" name="frmEmmitData">
<div class="g-sec-information">
  <div class="sec-item h-myd-bg--gray4">
    <div class="container">
      <ul class="row cnt-title">
        <li class="col-xs-6 item-title g-myd-subtitle">Datos del vehículo</li>
        <li class="col-xs-6 item-edit">
          <a class="h-myd--none" href="" ui-sref="soatEmit.steps({step: 1})">
            <span class="ico-mapfre_43_editar ico-edit"></span>Editar datos del vehiculo
          </a>
          <a class="h-myd--show h-oim-none" href="h-myd--show h-oim-none" ui-sref="soatEmit.steps({step: 1})">
            <i class="ico-mapfre_345_myd-edit ico-edit"></i><span>Editar</span>
          </a>
        </li>
      </ul>
      <ul class="row h-myd-mt--30">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Nro. Placa:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mPlaca}}</div>
        </li>

        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Nro. Chasis:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mNumeroChasis}}</div>
        </li>

        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Nro. Motor:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mNumeroMotor}}</div>
        </li>
      </ul>
      <ul class="row">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de vehículo:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mTipoVehiculo.Descripcion}}</div>
        </li>

        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Año fabricación:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mYearFabric}}</div>
        </li>

        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Marca y Modelo:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.ModeloMarca.marcaModelo}} {{formData.mYearFabric}}</div>
        </li>
      </ul>
      <ul class="row">
        <!-- <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Submodelo:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mSubModelo.Descripcion}}</div>
        </li> -->

        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Cantidad de Asientos:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mNumAsientos}}</div>
        </li>

        <li class="col-md-4 clearfix cnt-item h-myd-pl--0"></li>
          <div class="col-sm-5 item-label" ng-if="formData.mModeloPrint!=''">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Modelo de impresión:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mModeloPrint}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Datos de poliza -->
<div class="g-sec-information mt-xs-1">
  <div class="sec-item h-myd-bg--gray4">
    <div class="container">
      <ul class="row cnt-title">
        <li class="col-xs-6 item-title g-myd-subtitle">Datos de la póliza</li>
        <li class="col-xs-6 item-edit">
          <a class="h-myd--none" href="" ui-sref="soatEmit.steps({step: 2})">
            <span class="ico-mapfre_43_editar ico-edit"></span>Editar datos de la póliza
          </a>
          <a class="h-myd--show h-oim-none" href="h-myd--show h-oim-none" ui-sref="soatEmit.steps({step: 2})">
            <i class="ico-mapfre_345_myd-edit ico-edit"></i><span>Editar</span>
          </a>
        </li>
      </ul>
      <ul class="row h-myd-mt--30">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Producto:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mProductoSoat.NombreProducto}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de uso:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mUsoRiesgo.Descripcion}}</div>
        </li>
      <!-- 	<li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Descuento comercial:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.descuentoComercial}} %</div>
        </li> -->
      </ul>
      <ul class="row">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Inicio de vigencia:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mConsultaDesdeF | date: 'dd-MM-yyyy'}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Fin de vigencia:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.mConsultaHasta | date: 'dd-MM-yyyy'}}</div>
        </li>
      </ul>
      <ul class="row" data-ng-if="formData.mProductoSoat.CodigoProducto === 23">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Fecha de llamada:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.fechaLlamada | date:"dd/MM/yyyy"}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Fecha de envío:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.fechaEnvio | date:"dd/MM/yyyy"}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de servicio:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.tipoServicio.DesItem}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Departamento:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.delivery.address.ubigeoData.mDepartamento.Descripcion}}
          </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Provincia:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.delivery.address.ubigeoData.mProvincia.Descripcion}}
          </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Distrito:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.delivery.address.ubigeoData.mDistrito.Descripcion}}
          </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Vía:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.delivery.address.mNombreVia}}
          </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Número:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.delivery.address.mNumeroDireccion}}
          </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Interior:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.delivery.address.mNumeroInterior}}
          </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Zona:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.delivery.address.mNombreZona}}
          </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Referencia:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.address.mDirReferencias}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Turno:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.turno.DesItem}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Rango de delivery:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.rangoDelivery.DesItem}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Forma de pago:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.formaPago.DesItem}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0" data-ng-if="formData.delivery.formaPago.CodItem === '0005'">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Código de Autorización Scotia Puntos:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.codScotiabank}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de llamada / solicitud:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.tipoLlamada.DesItem}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de póliza:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.tipoPoliza.DesItem}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Año:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.anho.DesItem}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Mes:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.delivery.mes.DesItem}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Datos del contratante -->
<div class="g-sec-information mt-xs-1">
  <div class="sec-item h-myd-bg--gray4">
    <div class="container">
      <ul class="row cnt-title">
        <li class="col-xs-6 item-title g-myd-subtitle">Datos del contratante</li>
        <li class="col-xs-6 item-edit">
          <a class="h-myd--none" href="" ui-sref="soatEmit.steps({step: 3})">
            <span class="ico-mapfre_43_editar ico-edit"></span>Editar datos del contratante
          </a>
          <a class="h-myd--show h-oim-none" href="h-myd--show h-oim-none" ui-sref="soatEmit.steps({step: 3})">
            <i class="ico-mapfre_345_myd-edit ico-edit"></i><span>Editar</span>
          </a>
        </li>
      </ul>
      <ul class="row h-myd-mt--30">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de documento:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mTipoDocumento.Codigo}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>No. Documento:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mNumeroDocumento}}</div>
        </li>
      </ul>
      <ul class="row">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-hide="formData.vShowNaturalRucPerson">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Razón Social:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
            {{formData.dataContractor.mRazonSocial}}
          </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="formData.vShowNaturalRucPerson">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Nombre:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">
          {{formData.dataContractor.mNomContratante}}
        </div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="formData.vShowNaturalRucPerson">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Apellido Paterno:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mApePatContratante}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="formData.vShowNaturalRucPerson">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Apellido Materno:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mApeMatContratante}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-hide="formData.vShowNaturalRucPerson">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Actividad económica:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">	{{formData.dataContractor.mActividadEconomica.Descripcion}}
          </div>
        </li>
      </ul>
      <ul class="row" ng-show="formData.vShowNaturalRucPerson">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Fecha de Nacimiento:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mDay.description}}/{{formData.dataContractor.mMonth.description}}/{{formData.dataContractor.mYear.description}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Sexo:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mSexo}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Profesión:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mProfesion.Descripcion}}</div>
        </li>
      </ul>
      <ul class="row">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Teléfono fijo:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mTelefonoFijo}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Teléfono móvil:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mTelefonoCelular}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Correo electrónico:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractor.mCorreoElectronico}}</div>
        </li>
      </ul>
      <ul class="row">
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Departamento:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractorAddress.ubigeoData.mDepartamento.Descripcion}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Provincia:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractorAddress.ubigeoData.mProvincia.Descripcion}}</div>
        </li>
        <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
          <div class="col-sm-5 item-label">
            <span class="ico-mapfre_82_circle ico-bullet"></span>Distrito:&nbsp;
          </div>
          <div class="col-sm-7 item-dato g-text-uppercase">{{formData.dataContractorAddress.ubigeoData.mDistrito.Descripcion}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="g-inner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="g-sub-title h-myd-mt--20 mb-1 g-myd-subtitle">Prima</h2>
      </div>
    </div>
  </div>
</div>

<!-- Calcular prima -->
<div class="g-section emitir-totales">
  <div class="container">
    <div class="col-md-12 g-box">
      <div class="row g-gray2-section">
        <div class="col-md-4 col-md-offset-3">
          <span class="ico-mapfre_82_circle info-dot"></span> Prima neta:
        </div>
        <div class="col-md-2 text-right">{{primaNeta | currency:currencyType}}</div>
      </div>
      <div
        class="row"
        data-ng-if="formData.dataContractor.saldoMapfreDolares > 0">
        <div class="col-md-4 col-md-offset-3 col-xs-6">
          <span class="ico-mapfre_82_circle info-dot u-txt--gris-10"></span> MAPFRE DÓLARES
          <span class="pl-xs-2 u-txt--bold" ng-hide="enSoles">
            ($ {{formData.dataContractor.saldoMapfreDolares | dropDigits}} disponibles)
          </span>
           <span class="pl-xs-2 u-txt--bold" ng-show="enSoles">
            (S/. {{formData.dataContractor.saldoMapfreDolares * formData.cambio | dropDigits}} disponibles)
          </span>
        </div>
        <div class="col-md-2 text-right col-xs-6 g-input-design__wp--pt-0 g-input-design__wp--squash" ng-hide="enSoles">
          <m-Numeric-Textbox ng-model="formData.mMapfreDolar" name="nMapfreDolar" label="{label: '', required: false}" ng-required="false" data-ng-keyup="addMapfreDollar(formData.mMapfreDolar)" options="formData.scale"></m-Numeric-Textbox>

          <span
            class="g-valorauto-warning g-error pl-xs-0 pr-xs-0"
            data-ng-if="montoValido">
              <span class="ico-mapfre_37_informacion g-valorauto-warning-ico"></span>
              Valor fuera de rango
          </span>
        </div>
        <div class="col-md-2 text-right col-xs-6 g-input-design__wp--pt-0 g-input-design__wp--squash" ng-show="enSoles">
          <m-Numeric-Textbox ng-model="formData.mMapfreDolar" name="nMapfreDolar" label="{label: '', required: false}" ng-required="false" data-ng-keyup="addMapfreSoles(formData.mMapfreDolar)" options="formData.scale"></m-Numeric-Textbox>
          <span
            class="g-valorauto-warning g-error pl-xs-0 pr-xs-0"
            data-ng-if="montoValido">
              <span class="ico-mapfre_37_informacion g-valorauto-warning-ico"></span>
              Valor fuera de rango
          </span>
        </div>
      </div>
      <div class="row g-gray2-section">
        <div class="col-md-4 col-md-offset-3">
          <span class="ico-mapfre_82_circle info-dot"></span> Derecho de emisión:
        </div>
        <div class="col-md-2 text-right">{{formData.derechoEmision | currency:currencyType}}</div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-3">
          <span class="ico-mapfre_82_circle info-dot"></span> IGV:
        </div>
        <div class="col-md-2 text-right">{{formData.montoIGV | currency:currencyType}}</div>
      </div>
      <div
        class="row g-gray2-section emitir-totales-total1"
        data-ng-hide="formData.mapfreDollarTotal">
        <div class="col-md-4 col-md-offset-3 total-label">
          <span class="ico-mapfre_82_circle info-dot"></span> Total
        </div>
        <div class="col-md-2 text-right total-mount">{{totalPrima | currency:currencyType}}</div>
      </div>
      <div
        class="row g-gray2-section emitir-totales-total1"
        data-ng-show="formData.mapfreDollarTotal">
        <div class="col-md-4 col-md-offset-3">
          <span class="ico-mapfre_82_circle info-dot"></span> Total con MAPFRE Dólares
        </div>
        <div class="col-md-2 text-right total-mount">{{totalPrimaMDolar | currency:currencyType}}</div>
      </div>
    </div>
  </div>
</div>

<div class="g-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4"
      ng-class="(isAgenteDigital()) ? 'col-md-offset-2' : 'col-md-offset-4'">
         <a class="g-btn g-btn-verde block"
         ga-click ga-category="'Emisa - SOAT'" ga-action="'MPF - Emisión'" ga-label="'Botón: Emitir'"
          data-ng-click="irAEmitir()">Emitir SOAT</a>
      </div>
       <div class="col-md-4" ng-if="isAgenteDigital()">
        <a class="g-btn g-btn-verde block"
          data-ng-click="irAEmitir()">Generar Recibo Bancario</a>
      </div>
    </div>
  </div>
</div>
</form>
