<form id="" action="" name="">
	<div class="g-title">
		<div class="container">
			<div class="row">
				<div class="col-sm-6"><h1 class="">Generar Ampliación</h1></div>
				<div class="col-sm-6 pt-xs-2 text-right">Nro. de Carta de garantía: <b>{{letterNumber}}</b></div>
			</div>
		</div>
	</div>

	<!-- Resumen -->
  <div class="g-section mb-md-2">
	  <div class="container">
	  	<!-- Paciente y titular -->
	    <div class="clearfix g-box mt-xs-1">
	      <div class="cgw-summary_box gBgcGray5 pb-xs-1 pt-xs-1">
	        <div class="clearfix">
	          <div class="col-xs-12 clearfix g-box-header">
	            <h2 class="gH4 gCGray1 col-sm-10 c-mf-collapse__title">
	              <a class="c-mf-collapse c-mf-collapse--summary" data-ng-class="{'c-mf-collapse--open': collapse1}" data-ng-click="collapse1 = !collapse1;">
	                <span class="ico-mapfre_76_chevrondown c-mf-collapse__ico"></span>
	              </a>
	              <b>Paciente y titular</b>
	            </h2>
	          </div>
	        </div>
	        <div class="u-animate-show ng-hide" data-ng-show="collapse1">
	          <div class="col-xs-12">
	            <div class="clearfix">
	              <div class="clearfix">
	                <div class="col-md-12 mb-xs-1 mt-xs-2">
										<h2 class="gH4 gCGray1 g-border-bottom-xs"><b>Datos del paciente</b></h2>
									</div>
	              </div>
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-4 clearfix cnt-item">
	                  <div class="col-xs-5 item-label">
	                    <span class="ico-mapfre_82_circle ico-bullet"></span>
	                    Nombre:
	                  </div>
	                  <div class="col-xs-7 item-dato g-text-uppercase">
	                    {{cartaGarantia.patientFullName}}
	                  </div>
	                </li>
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Sexo:
                    </div>
				            <div class="col-xs-7 item-dato g-text-uppercase" ng-if="cartaGarantia.sex == 'F'">
				              FEMENINO
				            </div>
				            <div class="col-xs-7 item-dato g-text-uppercase" ng-if="cartaGarantia.sex == 'M'">
				              MASCULINO
				            </div>
	                 </li>
	                 <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Edad:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase ">
                     {{cartaGarantia.age}}
                    </div>
	                </li>
	              </ul>
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Inicio de vigencia:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase ">
                      {{cartaGarantia.effectiveDate}}
                    </div>
	                </li>
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Plan de salud:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase ">
                      {{cartaGarantia.numberPlan}}
                    </div>
	                </li>
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Parentesco:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase ">
                      {{cartaGarantia.relationship}}
                    </div>
	                </li>
	              </ul>
	            </div>
	          </div>
	          <div class="col-xs-12">
	            <div class="clearfix">
	              <div class="clearfix">
	                <div class="col-md-12 mb-xs-1 mt-xs-2">
										<h2 class="gH4 gCGray1 g-border-bottom-xs"><b>Datos del titular</b></h2>
									</div>
	              </div>
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Nombre:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase">
                      {{cartaGarantia.patientFullName}}
                    </div>
	                </li>
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Nro. de contrato:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase">
                      {{cartaGarantia.clientNumber}}
                    </div>
	                </li>
									<li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      {{cartaGarantia.clientTypeDocument}}:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase">
                      {{cartaGarantia.clientDocumentNumber}}
                    </div>
	                </li>
	              </ul>
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Moneda:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase">
                      {{cartaGarantia.currency}}
                    </div>
	                </li>
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Empresa:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase">
                      {{cartaGarantia.company}}
                    </div>
	                </li>
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Tipo de afiliación:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase">
                      {{cartaGarantia.productName}}
                    </div>
	                </li>
	              </ul>
	            </div>
	          </div>
		          <div class="col-xs-12 mt-xs-2">
		            <a  class="col-sm-3 col-md-2 g-btn g-btn-verde second-design mb-xs-2 mr-xs-2"
		                data-ng-click="getPreexistencias()"
		                data-ng-show="showPreExistencias()">Pre-existencias</a>
		            <a  class="col-sm-3 col-md-2 g-btn g-btn-verde second-design mb-xs-2"
		                data-ng-click="getObservaciones()"
		                data-ng-show="showObservaciones()">Observaciones</a>
	         	 </div>
	        </div>
	      </div>
	    </div>

	    <!-- Cobertura -->
	    <div class="clearfix g-box mt-xs-1">
	      <div class="cgw-summary_box gBgcGray5 pb-xs-1 pt-xs-1">
	        <div class="clearfix">
	          <div class="col-xs-12 clearfix g-box-header">
	            <h2 class="gH4 gCGray1 col-sm-10 c-mf-collapse__title">
	              <a class="c-mf-collapse c-mf-collapse--summary" data-ng-class="{'c-mf-collapse--open': collapse2}" data-ng-click="collapse2 = !collapse2;"><span class="ico-mapfre_76_chevrondown c-mf-collapse__ico"></span></a>
	              <b>Cobertura</b>
	            </h2>
	          </div>
	        </div>
	        <div class="u-animate-show ng-hide" data-ng-show="collapse2">
	          <div class="col-xs-12">
	            <div class="clearfix mt-xs-2">
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-4 clearfix cnt-item">
	                  <div class="col-xs-5 item-label">
	                    <span class="ico-mapfre_82_circle ico-bullet"></span>
	                    Tipo de Cobertura:
	                  </div>
	                  <div class="col-xs-7 item-dato g-text-uppercase">
	                    {{cartaGarantia.benefit}}
	                  </div>
	                </li>
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Copago Fijo:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase">
                      {{cartaGarantia.fixedCopayment}}
                    </div>
	                </li>
	                <li class="col-md-4 clearfix cnt-item">
                    <div class="col-xs-5 item-label">
                      <span class="ico-mapfre_82_circle ico-bullet"></span>
                      Copago Variable:
                    </div>
                    <div class="col-xs-7 item-dato g-text-uppercase">
                      {{cartaGarantia.variableCopayment}}
                    </div>
	                </li>
	              </ul>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
			<!-- Diagnóstico principal y Beneficio/Copago -->
	    <div class="clearfix g-box mt-xs-1">
	      <div class="cgw-summary_box gBgcGray5 pb-xs-1 pt-xs-1">
	        <div class="clearfix">
	          <div class="col-xs-12 clearfix g-box-header">
	            <h2 class="gH4 gCGray1 col-sm-10 c-mf-collapse__title">
	              <a class="c-mf-collapse c-mf-collapse--summary" data-ng-class="{'c-mf-collapse--open': collapse3}" data-ng-click="collapse3 = !collapse3"><span class="ico-mapfre_76_chevrondown c-mf-collapse__ico"></span></a>
	              <b>Diagnóstico principal y Beneficio/Copago</b>
	            </h2>
	          </div>
	        </div>
	        <div class="u-animate-show ng-hide" data-ng-show="collapse3">
	          <div class="col-xs-12 mb-xs-1">
	            <div class="clearfix mt-xs-2">
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-6 clearfix cnt-item">
	                  <div class="col-xs-5 item-label">
	                    <span class="ico-mapfre_82_circle ico-bullet"></span>
	                    Código de diagnóstico:
	                  </div>
	                  <div class="col-xs-7 item-dato g-text-uppercase">{{cartaGarantia.diagnosticCode}} {{cartaGarantia.diagnostic}}</div>
	                </li>
	                <li class="col-md-6 clearfix cnt-item">
	                  <div class="clearfix">
	                    <div class="col-xs-5 item-label">
	                      <span class="ico-mapfre_82_circle ico-bullet"></span>
	                      Médico tratante:
	                    </div>
	                    <div class="col-xs-7 item-dato g-text-uppercase">{{cartaGarantia.doctorFullName}}</div>
	                  </div>
	                </li>
	              </ul>
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-6 clearfix">
	                  <div class="clearfix">
	                    <div class="col-xs-5 item-label">
	                      <span class="ico-mapfre_82_circle ico-bullet"></span>
	                      Observación médico:
	                    </div>
	                    <div class="col-xs-7 item-dato g-text-uppercase">{{cartaGarantia.doctorRemark | uppercase}}</div>
	                  </div>
	                </li>
	                <li class="col-md-6 clearfix cnt-item">
	                  <div class="clearfix">
	                    <div class="col-xs-5 item-label">
	                      <span class="ico-mapfre_82_circle ico-bullet"></span>
	                      Tipo Atención:
	                    </div>
	                     <div class="col-xs-7 item-dato g-text-uppercase" ng-if="cartaGarantia.typeAttention=='A'">
						            AMBULATORIO
						          </div>
						          <div class="col-xs-7 item-dato g-text-uppercase" ng-if="cartaGarantia.typeAttention=='P'">
						            PROCEDIMIENTO
						          </div>
						          <div class="col-xs-7 item-dato g-text-uppercase" ng-if="cartaGarantia.typeAttention=='H'">
						            HOSPITALARIO
						          </div>
	                  </div>
	                </li>
	              </ul>
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-6 clearfix" ng-if="cartaGarantia.userForced">
	                  <div class="clearfix">
	                    <div class="col-xs-5 item-label">
	                      <span class="ico-mapfre_82_circle ico-bullet"></span>
	                      Usuario Forzado:
	                    </div>
	                    <div class="col-xs-7 item-dato g-text-uppercase">{{cartaGarantia.userForced}}</div>
	                  </div>
	                </li>
	              </ul>
	              <ul class="clearfix g-list-md mb-xs-1">
	                <li class="col-md-6 clearfix">
	                  <div class="clearfix">
	                    <div class="col-xs-5 item-label">
	                      <span class="ico-mapfre_82_circle ico-bullet"></span>
	                      Días Hospitalización:
	                    </div>
	                    <div class="col-xs-7 item-dato g-text-uppercase">{{cartaGarantia.daysOfHospitalization}}</div>
	                  </div>
	                </li>
	              </ul>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  <!-- Presupuesto -->
  <div class="g-section-inner" ng-if="procedimientos">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><h2 class="g-sub-title">Presupuesto</h2></div>
      </div>

      <div class="row u-ph-15 mb-xs-1" style=""
              data-ng-repeat="item in procedimientos">
        <div class="item u-br-gris-4 clearfix">
          <div class="col-sm-2 g-text-center-xs g-border-right gBgcGray5 pt-xs-2 pb-xs-2">
            <span class="{{item.icon}} cgw-presupuesto__icon"></span>
          </div>
          <div class="col-sm-6 col-md-6 info cgw-presupuesto__info">
            <a class="gCGray3" data-ng-click="cargarPresupuesto(item.code)"><span class="g-link"><b>{{item.description}}</b></span></a>
          </div>
          <div class="col-sm-4 col-md-4 text-right mt-xs-2">
            <span><b>{{item.price | currency: 'S/.'}}</b></span>
          </div>
        </div>
      </div>

      <div class="clearfix">
        <div class="col-xs-12 col-md-4 gBgcGray5 g-box gBgcGray5 pt-xs-1 pull-right">
          <p class="row u-txt-weight">
            <span class="col-xs-4">Subtotal</span>
            <span class="col-xs-8 text-right pl-xs-0 ">{{subtotal | currency: 'S/.'}}</span>
          </p>
          <p class="row u-txt-weight">
            <span class="col-xs-4 ">IGV 18%</span>
            <span class="col-xs-8 text-right pl-xs-0">{{montoIGV | currency: 'S/.'}}</span>
          </p>
          <p class="row u-txt-weight">
            <span class="col-xs-4">Total</span>
            <span class="col-xs-8 text-right pl-xs-0 ">{{total | currency: 'S/.'}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Adjuntar archivo -->
  <div class="g-section-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="g-sub-title">Adjuntar Archivo</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="clearfix">
        <div class="cgw-attach__wp">
          <label class="cgw-attach__box g-text-center-xs">
            <div class="cgw-attach__box-body">
              <p class="u-txt-weight">Adjuntar archivo</p>
              <span class="ico-mapfre_170_archivos cgw-attach__icon u-color--gris-8"></span>
              <input type="file" file-model="myFile" ng-model="files" multiple="" class="input__file ng-pristine ng-untouched ng-valid ng-not-empty" accept=".jpg, .bmp, .gif, .jpeg, .txt, .zip, .rar, .doc, .docx, .xls, .xlsx, .zip, application/x-rar-compressed, application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed, application/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
            </div>
          </label>
        </div>
        <!-- ngRepeat: file in myFile -->
        <div class="cgw-attach__wp" ng-repeat="file in filesT" ng-if="filesT">
          <label class="cgw-attach__box g-text-center-xs">
            <span class="ico-mapfre_119_wrong u-color--gris-8 style-x-arch" ng-click="deleteFile($index, filesT)"></span>
            <div class="cgw-attach__box-body" uib-tooltip="{{file[0].name}}">
              <span class="ico-mapfre_170_archivos cgw-attach__icon u-color--gris-8"></span>
              <p class="u-txt-weight mb-xs-0 mt-xs-1 g-cut-text">{{file[0].name}}</p>
            </div>
          </label>
        </div>
      </div>
      <div class="g-error" data-ng-show="showFileError">* Seleccione un archivo</div>
      </div>
    </div>
  </div>

	<!-- Respuesta a la Observación -->
  <div class="g-section">
  	<div class="container">
  		<div class="clearfix">
        <h2 class="col-xs-12 col-md-6 g-sub-title red">Observación</h2>
      </div>
      <div class="clearfix mb-md-1">
        <div class="col-md-8">
        <!-- <div class="textarea-all-height"> -->
          <mpf-textarea label="{label:'Detalles', required: true}" ng-model="mObsExterna" name="nObsExterna" ng-required="true" ng-Maxlength="4000"></mpf-textarea>
          <div class="g-error" data-ng-show="!mObsExterna">* Ingrese observaciones</div>
        </div>
      </div>
  	</div>
  </div>

  <!-- Enviar Observación -->
  <div class="g-section g-step-action" ng-if="procedimientos">
    <div class="container">
      <div class="row">
        <span class="col-md-3 g-comment">Campos obligatorios *</span>
        <div class="col-md-4 col-md-offset-1">
          <a class="g-btn g-btn-verde" ng-click="crearAmpliacion()">Crear ampliación</a>
        </div>
      </div>
    </div>
  </div>
</form>
