ul#carousel.carousel.jcarousel-skin-tango(width='3700', aria-labelledby='carouselId')
    li(ng-repeat="carouselImg in images", mp-carousel-end)
        img(ng-src='{{carouselImg}}', width='360px', height='270px', alt='', name='')
