.mp-carousel-navigator.open
    .mp-owl-carousel-wrapper
        a.inner.prev {{'prev' | translate}}
        .mp-owl-carousel
        a.inner.next {{'next' | translate}}
    .mp-arrows-outter
        ul
            li.prev {{'prev' | translate}}
            li.next {{'next' | translate}}
    .mp-toggle
        a {{'toggle' | translate}}