.comboboxcontainer.clearfix
    //- button(type="button", ng-click="options = ['Primera opción', 'Segunda opción', 'Tercera opción']") Reset options
    //- button(type="button", ng-click="formCombo.myCombo = 'Primera opción'") Reset model
    //- button(type="button", ng-click="formCombo.myCombo = 'Primera opción'; options = ['Primera opción', 'Segunda opción', 'Tercera opción']") Reset model and options
    //- button(type="button", ng-click="disabled = !disabled") Toggle disabled
    //- button(type="button", ng-click="clase = undefined") Remove class
    select.combobox