header.mp-header.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mp-header')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #mp-header.collapse.navbar-collapse
            .navbar-brand-group
                a.navbar-brand(href='#') MAPFRE
                span.navbar-app(href='#', ng-bind="title")
            div(ng-transclude)
