label.text-indent(for="day")
input#day.date.form-control(type='text', maxlength='2', size='2')
span /
label.text-indent(for="month")
input#month.date.form-control(type='text', maxlength='2', size='2')
span /
label.text-indent(for="year")
input#year.date.form-control(type='text', maxlength='2', size='2')
