fieldset.loader
    label {{mpInputFile}}
    input.fileupload(type='file', name='files[]', data-url='server/php/', multiple='multiple')
    input(type='text', tabindex='8')
    .openloader
        img(src='gaiafrontend/img/ico-subir-on.png')