.darkness(ng-show="loading.show")
    .loading-area
        .loading-img
            img(ng-src="{{mpLoading}}",alt="{{mpLoadingAlt}}")
            div(ng-hide="loading.message", ng-transclude)
            div(ng-if="loading.message")
                label {{loading.message}}
