{{accTitle | translate}}
i.pull-right.panel-icon(ng-hide = "accordionIcon.isLoading || accordionIcon.isDisabled", ng-class="{'is-open': accordionIcon.isOpen, 'is-closed': !accordionIcon.isOpen}")
i.pull-right.glyphicon.red.glyphicon-refresh.gly-spin(ng-show= "accordionIcon.isLoading")
i.pull-right.glyphicon.red.glyphicon-ban-circle(ng-show= "accordionIcon.isDisabled")
