.modal-container
    .panel-body
        h2 {{'mpContactNormalizer.suggestions' | translate}} - {{'mpContactNormalizer.addresses' | translate}}
        .modal-body
            h3 {{'mpContactNormalizer.corrections' | translate}}
            .panel-body
                div(mp-grid="addressNormalizerGrid", mp-grid-options="grid.options", mp-grid-data="grid.data", mp-grid-model="grid.model")
                p.help-block {{'mpContactNormalizer.help_block' | translate}}
    .modal-footer
        .text-center
            button.btn.btn-navigation(ng-click="accept()")
                span {{'mpContactNormalizer.accept' | translate}}
