.col-sm-2.validable
    input.form-control(mp-name="{{mpDefaultValueListCodeName}}",
                        ng-model = "mpDefaultValueListCodeModel",
                        type="text",
                        maxlength = "5",
                        ng-disabled = "mpDefaultValueListCodeDis",
                        ng-required="mpDefaultValueListCodeRqr")
.col-sm-10
    .input-group.validable
        input.form-control(mp-name="{{mpDefaultValueListDescName}}",
                            ng-model = "mpDefaultValueListDescModel",
                            type="text",
                            maxlength = "50",
                            ng-disabled = "mpDefaultValueListDescDis",
                            ng-required="mpDefaultValueListDescRqr")
        span.input-group-btn
            button(mp-values-list="mpDefaultValueListData", mp-values-list-model="mpDefaultValueListModel", mp-values-list-config="mpDefaultValueListConfig", ng-click="onClick()", ng-disabled="mpDefaultValueListCodeDis")

