.modal-container
    .modal-body
        .row.C
            img(ng-if="!tipo || tipo=='warning'", src="gaiafrontend/img/icons/gridAction/modal/warning.png", alt="Warning")
            img(ng-if="tipo=='success'", src="gaiafrontend/img/icons/gridAction/modal/succes.png", alt="Success")
        .row.C
            label @@mpGridActions.modal.msg
    .modal-footer
        button.btn.btn-default(ng-click="cancel()", ng-show = "cancel", accesskey="@@btnCan.ack") @@mpGridActions.modal.cancel
        button.btn.btn-primary(ng-click="ok()", accesskey="@@BtnAcp.ack",  ng-disabled= "nextLoading") @@mpGridActions.modal.accept
