.mp-multi-file-upload.col-xs-12(style="padding:0px;")
    .mp-multi-file-upload-accordion.col-sm-10.col-xs-10
        span {{serverInfo.files.length}} Files
        i.glyphicon.glyphicon-chevron-down
    .mp-multi-file-upload-button.col-sm-2.col-xs-2
        button.btn.btn-primary.form-control(id="{{'upload-btn-' + mpMultiFileUpload}}")
            i.glyphicon.glyphicon-cloud-upload
            i.glyphicon.glyphicon-refresh.displayIE8
            .spinner-load.display
              .spinner1
              .spinner2
              .spinner3
              .spinner4
              .spinner5
              .spinner6
              .spinner7
              .spinner8
              .spinner9
              .spinner10
    .error-container.display
        img(src="gaiafrontend/img/icons/contrlAmrll_S.png", mp-tooltip="errormsg", mp-tooltip-type="error")
.files-container
    .files.col-sm-12.col-xs-12
        .file.col-sm-12.col-xs-12(ng-repeat="file in serverInfo.files", ng-class="['odd','even'][$index%2]")
            span.col-sm-8.col-xs-9 {{file.name}}
            .icons.col-sm-4.col-xs-3
                i.glyphicon.glyphicon-eye-open
                i.glyphicon.glyphicon-remove-circle
    .files-options.col-sm-12.col-xs-12(ng-show="serverInfo.files.length > 1")
        button.btn-delete-upload-items Delete All
