.input-group.nav.navbar-nav.navbar-vertical.sm
    ul(mp-navbar="items", mp-navbar-options="{showOnClick: true}")
    input(type="text", name="search", placeholder="Search in menu", ng-model="searchText")
    span.input-group-addon
        i.glyphicon.glyphicon-search
        i.glyphicon.glyphicon-chevron-left.display
ul.item-container.dropdown-menu.sm-nowrap
    li(ng-repeat="item in items.list | navbarFilter:searchText", ng-bind-html="createMenuItem(item)")
