.carousel-navigator-navigator
.new-carousel-navigator
    img.arrow-left-navigator(src="gaiafrontend/img/arrow-left-mp-carousel.png")
    .carousel-navigator-items
    img.arrow-right-navigator(src="gaiafrontend/img/arrow-right-mp-carousel.png")
