.sessionContainer()
    .sessionBlocker()
    .sessionWindow.panel()
        img.sessionTimerImg(src="gaiafrontend/img/timeRed_M.png")
        .counterCont
            p.sessionCounter() {{'mpSession.counterStr' | translate}}
            strong 1
            p.sessionCounterUnits {{'mpSession.minStr' | translate}}
            br
        p.sessionMsg() {{msg1}}
        img#sessionBtn(src="gaiafrontend/img/go_M.png")
