<div class="rep-modal__box u-txt-center">
  <h1 class="error__title">Algo no está bien</h1>
  <p class="u-mb-30 error__subtitle">Esperamos solucionarlo en breve</p>
  <div>
    <picture>
      <img src="/referencia/assets/error500logo.jpg" alt="Error">
    </picture>
  </div>
  <div>
    <button class="c-btn btn btn--secundary c-btn-large u-mb-20"
            data-ng-click="$ctrl.irInicio()">
      <span class="u-inline-b">
        <span class="">
          <span>Volver al inicio</span>
        </span>
      </span>
    </button>
  </div>
  <div>
    <a data-ng-click="$ctrl.recargarPagina()" class="error__enlace">Volver a cargar la p&aacute;gina</a>
  </div>
</div>
