<div class="u-pos-rela" tabindex="-1">
  <input class="c-input-txt u-ph-0 u-mb-15 no-spin"
      id="{{::ctrl.id}}"
      name="{{::ctrl.id}}"
      type="{{::ctrl.inputType}}"
      tabindex="0" draggable="false"
      data-mf-validacion
      autocomplete="off"
      data-ng-model-options="{allowInvalid: true, debounce: 350}"
      data-patron="ctrl.patron"
      data-tipo="ctrl.tipo"
      data-ng-model="ctrl.valor"
      placeholder="{{::ctrl.placeholder}}"
      data-ng-maxlength="ctrl.maxlong"
      data-ng-change="ctrl.onchange()"
      maxlength="{{::ctrl.maxlong}}"
      data-ng-minlength="{{::ctrl.minlong}}"
      data-ng-required="{{::ctrl.requerido}}"
      data-ng-keypress="ctrl.submitData($event)" />

  <div data-ng-messages="ctrl.myform[ctrl.id].$error" class="input-msg__error" tabindex="-1" role="alert">
    <div tabindex="0" data-ng-message="stnumero">Sólo números</div>
    <div tabindex="0" data-ng-message="stfono">Ingrese un número telefónico válido</div>
    <div tabindex="0" data-ng-message="stcaracter">Sólo caracteres permitidos</div>
    <div tabindex="0" data-ng-message="sttiempo">Ingrese fecha y hora ( YYYY-MM-DD HH:MM:SS )</div>
    <div tabindex="0" data-ng-message="stemail">Dirección email incorrecta</div>
    <div tabindex="0" data-ng-message="stphone">Ingrese número de teléfono correcto</div>
    <div tabindex="0" data-ng-message="stdni">Número de doc. incorrecto</div>
    <div tabindex="0" data-ng-message="stregex">Expresión incorrecta</div>
    <div tabindex="0" data-ng-message="required" data-ng-show="ctrl.showRequired()">Ingrese un valor</div>
    <div tabindex="0" data-ng-message="minlength">Ingrese como mínimo {{::ctrl.minlong}} caracteres</div>
    <div tabindex="0" data-ng-message="maxlength">Ingrese como máximo {{::ctrl.maxlength}} caracteres</div>
  </div>
</div>
