<div class="second-step">

	<!-- <form action="" name="frmSecondStep"> -->

	<!-- Datos del contratatante -->
	<!-- <div class="g-section">
		<div class="container"> -->

			<mpf-contractor-data data="secondStep.contractorData" is-Valid="contractorDataValid" infer=true notify-Infer="notifyContract" email-Required=true></mpf-contractor-data>

		<!-- </div>
	</div> -->

	<!-- Direccion -->
<!-- 	<div class="g-section">
		<div class="container">
 -->
			<mpf-contractor-address data="secondStep.contractorAddressData" is-Valid="contractorAddressValid" setter-Ubigeo="setterUbigeo" clean-Ubigeo="cleanUbigeo"></mpf-contractor-address>

		<!-- </div>
	</div> -->


	<!-- Button -->
	<div class="g-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mb-xs-1">
					<span class="gCGray3">*Campos obligatorios</span>
				</div>
				<div class="col-md-4">
					<a class="g-btn g-btn-verde block" ng-click="nextStep()">Siguiente</a>
				</div>
			</div>
		</div>
	</div>

	<!-- </form> -->

</div>
