<div class="container">
	<div class="row">
		
		<div class="col-md-12">
			<div class="clearfix g-box g-overflow-hidden-xs">

				<div class="col-md-12 gBgcGray5 pt-xs-1 pb-xs-1 mb-xs-0-1">
					<div class="row">
						<div class="col-md-12">
							<b>Los siguientes trabajadores ya fueron declarados:</b>
						</div>
					</div>
				</div>

				<div class="col-md-12 hidden-xs">
					<ul class="row g-list gBgcGray5 pt-xs-1">
						<li class="col-sm-2 clearfix cnt-item">
							<b>Nro. Fila</b>
						</li>
						<li class="col-md-2 col-sm-3 clearfix cnt-item">
							<b>Tipo de Documento</b>
						</li>
						<li class="col-md-2 col-sm-3 clearfix cnt-item">
							<b>Nro. Documento</b>
						</li>
						<li class="col-md-6 col-sm-4 clearfix cnt-item">
							<b>Nombre completo</b>
						</li>
					</ul>
				</div>

				<div class="col-md-12 cnt-content gBgcWhite1 g-list-sm gnContentAuto-ms">

					<div 
						class="clearfix mt-xs-1" 
						ng-class="{'g-border-bottom-xs' : !$last}" 
						ng-repeat="itemWork in workersListDeclared">

						<ul class="row hidden-xs">
							<li class="col-sm-2 cnt-item item-dato g-text-uppercase">
								{{itemWork.message}}
							</li>
							<li class="col-md-2 col-sm-3 cnt-item item-dato g-text-uppercase">
								{{itemWork.message2}}
							</li>
							<li class="col-md-2 col-sm-3 cnt-item item-dato g-text-uppercase">
								{{itemWork.message3}}
							</li>
							<li class="col-md-6 col-sm-4 cnt-item item-dato g-text-uppercase">
								{{itemWork.message4}}
							</li>
						</ul>

						<ul class="row visible-xs">
							<li class="cnt-item clearfix">
								<div class="col-ms-5 item-label">Nro. Fila:</div>
								<div class="col-ms-7 item-dato g-text-uppercase">{{itemWork.message}}</div>
							</li>
							<li class="cnt-item clearfix">
								<div class="col-ms-5 item-label">Tipo de Documento:</div>
								<div class="col-ms-7 item-dato g-text-uppercase">{{itemWork.message2}}</div>
							</li>
							<li class="cnt-item clearfix">
								<div class="col-ms-5 item-label">Nro. Documento:</div>
								<div class="col-ms-7 item-dato g-text-uppercase">{{itemWork.message3}}</div>
							</li>
							<li class="cnt-item clearfix">
								<div class="col-ms-5 item-label">Nombre completo:</div>
								<div class="col-ms-7 item-dato g-text-uppercase">{{itemWork.message4}}</div>
							</li>
						</ul>

					</div>
					
				</div>

			</div>
		</div>

	</div>
</div>