<div class="clearfix">
	<button type="button" class="close g-close-modal" ng-click="$ctrl.close()">
		<span class="ico-mapfre_46_cancelaroff"></span>
	</button>
	<div class="container">
			<div class="row">
        <div class="clearfix">
          <div class="col-md-12 mb-md-1 text-center">
            <h2 class="g-txt-center g-title-modal"><b>OBSERVACIONES</b></h2>
          </div>
        </div>
        <div class="modal-body__scroll" ng-show="!$ctrl.data.paciente">
          <div class="col-md-10 mb-md-1 col-md-offset-1 u-word-break">
            {{$ctrl.data}}
          </div>
        </div>
        <div class="modal-body__scroll" ng-show="$ctrl.data.paciente">
          <div class="col-md-12 mb-md-1">
            <h3 class="g-txt-center g-title-modal"><b>Observaciones del asegurado y el titular</b></h3>
          </div>
          <div class="col-md-10 mb-md-1 col-md-offset-1 u-word-break">
            {{$ctrl.data.description.description}}
          </div>
        </div>
        <div class="modal-body__scroll" ng-show="$ctrl.data.paciente">
          <div class="col-md-12 mb-md-1">
            <h2 class="g-txt-center g-title-modal"><b>Observaciones adicionales</b></h2>
          </div>
          <div class="col-md-10 mb-md-1 col-md-offset-1 u-word-break">
            {{$ctrl.data.aditionalRemark.aditionalRemark}}
          </div>
        </div>
			</div>
	</div>
</div>
