/*#############################
# client
#############################*/
.pageClient{
	overflow: hidden;
	/*############################
	# Toggle
	############################*/
	.gnSecToggle{
		.panel-title>a{
			&:hover,
			&:focus{
				cursor: pointer;
			}
		}
		//Structure
		.g-box-content{
			max-height: 550px;
			overflow: auto;
			border-top: 1px solid $cGray4;
		}
		.g-list-md{
			.ico-bullet{
				top: 0;
			}
		}
	}
	/*############################
	# Tabs
	############################*/
	.contentTab{
		&.policies{
			.box-label{
				font-size: 12px;
			}
			.link{
				font-size: 12px;
				font-weight: $normal;
			}
		}
		// &.proofs{
		// 	.g-link{
		// 		font-size: $font-size4;
		// 		font-weight: $bold;
		// 	}
		// }
	}
}


/*#############################
# modalProof
#############################*/
.modalManualProof{
	.box{
		padding: 25px 30px;
		border: 1px solid $cGray4;
		position: relative;
		.option{
			background-color: $cWhite1;
			padding: 0 5px;
			position: absolute;
			top: -10px;
			left: 20px;
		}
	}
}
/*#############################
# modalOnboarding
#############################*/
.modalOnboarding{
	.cntImage{
		max-width: 446px;
	}
	.carousel-control{
		display: none;
	}
	.carousel-inner{
		>.item{
			@include prefix(transition, opacity .25s linear);
			@include prefix(opacity, 0.1);
			&.active{
				@include prefix(opacity, 1);
			}
		}
	}
	.carousel-indicators{
		li{
			border: 0;
			margin: 0;
			margin-left: 10px;
			background-color:$cGray3;
			&:first-child{
				margin-left: 0;
			}
		}
		.active{
			width: 10px;
			height: 10px;
			background-color:$cRed1;
		}
	}
}
@media (min-width: $break-small){
	.modalOnboarding{
		.carousel-indicators{
			bottom: 10px;
		}
	}
}