/*#############################
# componentProofsSearched
#############################*/
.componentProofsSearched{
	.icoState{
		position: relative;
		top: -3px;
	}
}
/*#############################
# modalInsured
#############################*/
.componentModalInsured{
	.icoState{
		// top: -1px;
		// font-size: 17px;
		// &.disabled{
		// 	color: $gris1;
		// }	
		&.enabled{
			font-weight: $bold;
			color: $cGreen7;
		}	
	}
}
/*#############################
# replacePayroll
#############################*/
.componentReplacePayroll{
	.g-sub-title{
		padding-bottom: 0;
	}
	// .g-file-success-box{
		
	// }
	// .g-box{
	// 	font-size: $font-size1;
	// 	background-color: $gris11;
	// 	border-width: 1px;
	// 	@include prefix(border-radius, 5px);
	// }
}
/*#############################
# replacePayroll
#############################*/
// .componentProofsSearched{
// 	.g-link{
// 		font-size: $font-size4;
// 		font-weight: $bold;
// 	}
// }