/*#############################
# declaration
#############################*/
.pageDeclaration{
	.firstStep{
		// .g-sub-title{
		// 	padding-bottom: 0;
		// }
		.iconInfo{
			font-size: 20px;
			color: $cBlue2;
			top: -2px;
		}
		// .gnSecToggle{
		// 	//isDisabled se agrega esta clase al toggle
		// 	.text-muted{
		// 		color: $cGray2;
		// 	}
		// 	// .g-box-content{
		// 	// 	max-height: 310px; //270px; //230px;
		// 	// 	overflow: auto;
		// 	// 	// border-top: 1px solid $gris4;
		// 	// }
		// }
	}
}