// /*#############################
// # general NSCTR
// #############################*/
// @-webkit-keyframes showSweetAlert {
//   0% {
//     -webkit-transform: scale(0.7);
//             transform: scale(0.7); }
//   45% {
//     -webkit-transform: scale(1.05);
//             transform: scale(1.05); }
//   80% {
//     -webkit-transform: scale(0.95);
//             transform: scale(0.95); }
//   100% {
//     -webkit-transform: scale(1);
//             transform: scale(1); } }

// @keyframes showSweetAlert {
//   0% {
//     -webkit-transform: scale(0.7);
//             transform: scale(0.7); }
//   45% {
//     -webkit-transform: scale(1.05);
//             transform: scale(1.05); }
//   80% {
//     -webkit-transform: scale(0.95);
//             transform: scale(0.95); }
//   100% {
//     -webkit-transform: scale(1);
//             transform: scale(1); } }

// @-webkit-keyframes hideSweetAlert {
//   0% {
//     -webkit-transform: scale(1);
//             transform: scale(1);
//     opacity: 1; }
//   100% {
//     -webkit-transform: scale(0.5);
//             transform: scale(0.5);
//     opacity: 0; } }

// @keyframes hideSweetAlert {
//   0% {
//     -webkit-transform: scale(1);
//             transform: scale(1);
//     opacity: 1; }
//   100% {
//     -webkit-transform: scale(0.5);
//             transform: scale(0.5);
//     opacity: 0; } }

// .g-overflow{
// 	&-auto-xs{
// 		overflow: auto;
// 	}
// 	&-hidden-xs{
// 		overflow: hidden;
// 	}
// 	&-visible-xs{
// 		overflow: visible;
// 	}
// 	&-scroll-xs{
// 		overflow: scroll;
// 	}
// }
// .gnContentAuto{
// 	&-lg,
// 	&-md,
// 	&-sm,
// 	&-ms,
// 	&-xs{
// 		@extend .g-overflow-auto-xs;
// 	}
// 	// &-lg{
// 	// 	max-height: 190px;
// 	// }
// 	&-md{
// 		max-height: 190px;
// 	}
// 	&-sm{
// 		max-height: 170px;
// 	}
// 	&-ms{
// 		max-height: 150px;
// 	}
// 	&-xs{
// 		max-height: 70px;
// 	}
// }

// .g-animatedSweetAlert{
// 	//uiModal
// 	// start verticalCenter
// 	.modal {
// 		text-align: center;
// 		padding: 0!important;
// 	}
// 	.modal:before {
// 		content: '';
// 		@include inlineblock();
// 		height: 100%;
// 		vertical-align: middle;
// 		margin-right: -4px;
// 	}
// 	.modal-dialog {
// 		margin: 0 auto;
// 		@include inlineblock();
// 		text-align: left;
// 		vertical-align: middle;
// 	}
// 	// end verticalCenter
// 	.modal.fade .modal-dialog {
// 		@include prefix(transform, none);
// 		-webkit-animation: hideSweetAlert 0.15s forwards;
// 		animation: hideSweetAlert 0.15s forwards;
// 	}
// 	.modal.in .modal-dialog {
// 		-webkit-animation: showSweetAlert 0.3s;
// 		animation: showSweetAlert 0.3s;
// 	}
// }
.gNsctrModal{
	padding-bottom: 0;
	overflow: visible;
}
// .gNsctrSwal2{
// 	&.w830{
// 		width: 830px !important;
// 	}
// 	.swal2-content{
// 		font-size: $font-size1;
// 		text-align: left;
// 	}
// }


.gNsctr,
.gNsctrModal{
//.gNsctrSwal2{
	// overflow: visible; //quita el overflow hidden de g-page
	// .g-input-design,
	// .g-textarea-design,
	// .g-select-desing,
	// .g-date-picker,
	// .g-time-picker,
	// .g-autocomplete-desing{
	// 	&.secondDesign{
	// 		.g-placeholder{
	// 			top: 33px;
	// 			&.animated{
	// 				top: 4px;
	// 			}
	// 		}
	// 		input{
	// 			height: 25px;
	// 			line-height: 25px;
	// 		}
	// 	}
	// }
	// .g-checkbox{
	// 	&.cGray1{
	// 		.checkbox-label{
	// 			color: $gris1;
	// 		}
	// 	}
	// }
	// .gnLabel{
	// 	font-family:$font-family;
	// 	font-size: $font-size1;
	// 	font-weight:$normal;
	// 	&.fz12{
	// 		font-size: $font-size14;
	// 	}
	// 	&.fz17{
	// 		font-size: $font-size10;
	// 	}
	// 	&.fz18{
	// 		font-size: $font-size4;
	// 	}
	// 	&.fz21{
	// 		font-size: $font-size9;
	// 	}
	// 	&.cRed4{
	// 		color: $rojo4;
	// 	}
	// 	&.cGreen2{
	// 		color: $verde2;
	// 	}
	// 	&.cBlack{
	// 		color: $c-black;
	// 	}
	// 	&.cGray1{
	// 		color: $gris1;
	// 	}
	// 	&.cGray2{
	// 		color: $gris2;
	// 	}
	// 	&.cGray3{
	// 		color: $gris3;
	// 	}
	// }
	// .g-btn{
	// 	.text-ico{
	// 		position: relative;
	// 		padding-left: 23px;
	// 	}
	// 	.ico-plus,
	// 	.ico-download,
	// 	.ico-email,{
	// 		font-size: 20px;
	// 		position: absolute;
	// 		top: -3px;
	// 		left: 0;
	// 		margin-right: 0;
	// 	}
	// }
	// .gnSecSearch{
	// 	background-color: $gris9;
	// 	border: 1px solid $gris4;
	// 	border-left: 0;
	// 	border-right: 0;
	// 	padding-top: 20px;
	// 	padding-bottom: 20px;
	// 	position: relative;
	// 	&:before,
	// 	&:after{
	// 		content: '';
	// 		display: block;
	// 		width: 1000%;
	// 		height: 101%; //100.5%; //101%;
	// 		background-color: inherit;
	// 		border: inherit;
	// 		position: absolute;
	// 		top: -1px;
	// 		z-index: 0;
	// 	}
	// 	&:before{
	// 		left: -1000%
	// 	}
	// 	&:after{
	// 		right: -1000%
	// 	}
	// }
	// .g-box{
	// 	// border: 2px solid $gris4;
	// 	// box-shadow: none;
	// 	// margin-bottom: 20px;
	// 	// position: relative;
	// 	// &.first-box{
	// 	// 	border-width: 1px;
	// 	// 	@include prefix(border-radius, 5px);
	// 	// 	font-size: $font-size1;
	// 	// }
	// 	.item-edit{
	// 		text-align: inherit;
	// 	}
	// 	// &.no-mb{
	// 	// 	margin-bottom: 0;
	// 	// }
	// }
	// .col-xs-top,
	// .col-xs-middle,
	// .col-xs-bottom{
	// 	height: 46px;
	// 	position: absolute;
	// 	right: 0;
	// 	z-index: 10;
	// 	&.s-check{
	// 		height: 20px;
	// 	}
	// 	&.s-radio{
	// 		height: 50px;
	// 	}
	// 	&.left{
	// 		right: inherit;
	// 		left: 0;
	// 	}
	// }
	// .col-xs-top{
	// 	top:0;
	// }
	// .col-xs-middle{
	// 	top:0;
	// 	bottom: 0;
	// 	margin: auto;
	// }
	// .col-xs-bottom{
	// 	bottom:0;
	// }
	// .item-ico{
	// 	text-align: center;
	// 	padding-top: 5px;
	// 	padding-bottom: 5px;
	// }
	// .ico-email,
	// .ico-delete,
	// .ico-search,
	// .ico-download,
	// .ico-print,
	// .ico-edit{
	// 	font-size: 30px;
	// 	color: $gris8;
	// }
	// .ico-email{
	// 	font-size: 25px;
	// }
	// .icoEmail,
	// .icoEmail{
	// 	font-size: 30px;
	// }
	// .gnIcon{
	// 	&-bg{
	// 		font-size: 55px;
	// 	}
	// 	&-lg{
	// 		font-size: 45px;
	// 	}
	// 	&-md{
	// 		font-size: 30px;
	// 	}
	// 	&-sm{
	// 		font-size: 25px;
	// 	}
	// 	&-xsm{
	// 		font-size: 20px;
	// 	}
	// }
	// .icoState{
	// 	font-size: 45px;
	// }
	// .row-checkbox{
	// 	ul{
	// 		font-size: 0;
	// 		text-align: right;
	// 		li{
	// 			@include inlineblock();
	// 			font-size: $font-size1;
	// 			text-align: left;
	// 			margin-left: 20px;
	// 			padding-top: 10px;
	// 			&:first-child{
	// 				margin-left: 0;
	// 			}
	// 		}
	// 	}
	// 	.g-checkbox{
	// 		.checkbox-label{
	// 			font-weight: $normal;
	// 		}
	// 	}
	// }
	// .first-subtitle,
	// .second-subtitle{
	// 	padding-bottom: 5px;
	// }
	// .first-subtitle{
	// 	font-size: $font-size5;
	// }
	// .second-subtitle{
	// 	font-size: $font-size4;
	// }
	.gnSecToggle{
		.panel-group{
			margin-bottom: 0;
			.panel{
				background-color: transparent;
				box-shadow: none;
				// border: 1px solid $cGray4;
				margin-top: 0;
				margin-bottom: 10px;
				@extend .g-box;
			}
		}
		.panel-heading{
			padding: 0;
		}
		.panel-title>a{
			&:hover,
			&:focus{
				cursor: default;
			}
		}
		.text-muted{
			color: $cGray2;
		}
		.panel-body{
			padding: 0;
		}
		.panel-group .panel-heading+.panel-collapse .panel-body{
			border: 0;
		}
		.icoToggle{
			@include inlineblock();
			width: 35px;
			height: 35px;
			background-color: $cGray4;
			@include prefix(border-radius, 50%);
			font-size: $fz20;
			color: $cGray3;
			text-align: center;
			line-height: 35px;
			@include prefix(transition, all .25s all);
		}
		.panel-open{
			.icoToggle{
				&:before{
					// content: '\e94c';
					content: '\ea1f';
				}
			}
		}
		.g-btn{
			font-size: $fz12;
		}
		.checkPolicy{
			display: block;
			width: 22px;
			height: 22px;
			// margin: auto;
			position: absolute;
			top: 0;
			left: 15px;
			// bottom: 0;
			z-index: 10;
		}
	}
	// .gnSecApplication{
	// 	.g-box{
	// 		font-size: $font-size1;
	// 	}
	// 	.g-radio{
	// 		font-weight: $bold;
	// 	}
	// }
	// .gnSecPayroll{
	// 	// .g-box{
	// 	// 	border-width: 1px;
	// 	// 	overflow: visible;
	// 	// }
	// 	// .col-xs-top{
	// 	// 	top: 5px;
	// 	// }
	// 	// .ico-delete{
	// 	// 	font-size: 40px;
	// 	// }
	// }
	.gnSecResultsFixed{
		width: 100%;
		@include prefix(box-shadow, 0 -1px 6px $cGray4);
		position: fixed;
		left: 0;
		bottom: -100px;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		@include prefix(transition, all 0.25s linear);
		&.show{
			opacity: 1;
			visibility: visible;
			-ms-filter: none;
			filter: none;
			bottom: 0;
			z-index: 1010;
		}
		.panel-group{
			.panel{
				border: 0;
				margin-bottom: 0;
				@include prefix(border-radius, 0px);
			}
		}
		.panel-open{
			.secHeader{
				background-color: $cGray3;
			}
			.icoToggle{
				&:before{
					content: '\ea20';
				}
			}
		}
		.secHeader{
			background-color: $cGreen1;
			color: $cWhite1;
			padding-top: 15px;
			padding-bottom: 5px;
			@include prefix(transition, all 0.25s linear);
		}
		.g-btn{
			font-size: $fz14;
		}
	}
	// .g-row{
	// 	&.fz12{
	// 		.g-col-xs,
	// 		.g-col-sm,
	// 		.g-col-ms,
	// 		.g-col-md,
	// 		.g-col-lg{
	// 			font-size: $fz12;
	// 		}
	// 	}
	// }
	// .g-link{
	// 	&.fz18{
	// 		font-size: $font-size4;
	// 	}
	// }
	// .gnGridError{
	// 	.cntHeader{
	// 		background-color: $gris11;
	// 	}
	// 	.cntBody{
	// 		max-height: 320px;
	// 		overflow: auto;
	// 	}
	// }
	// .gnSecCalculationPremium{
	// 	.cnt-content{
	// 		max-height: 190px; //170px; //190px; //fz12 //fz14
	// 		overflow: auto;
	// 	}
	// }
	
}





/*#############################
# responsive
#############################*/
//min-width
// @media (min-width:1200px){
// 	.gNsctr{
// 		.col-lg-top,
// 		.col-lg-middle,
// 		.col-lg-bottom{
// 			height: 46px;
// 			position: absolute;
// 			right: 0;
// 			z-index: 10;
// 			&.s-check{
// 				height: 20px;
// 			}
// 			&.s-radio{
// 				height: 50px;
// 			}
// 			&.left{
// 				right: inherit;
// 				left: 0;
// 			}
// 		}
// 		.col-lg-top{
// 			top:0;
// 		}
// 		.col-lg-middle{
// 			top:0;
// 			bottom: 0;
// 			margin: auto;
// 		}
// 		.col-lg-bottom{
// 			bottom:0;
// 		}
// 	}
// }

// @media (min-width: $break-medium){
// 	.gNsctr{
// 		.col-md-top,
// 		.col-md-middle,
// 		.col-md-bottom{
// 			height: 46px;
// 			position: absolute;
// 			right: 0;
// 			z-index: 10;
// 			&.s-check{
// 				height: 20px;
// 			}
// 			&.s-radio{
// 				height: 50px;
// 			}
// 			&.left{
// 				right: inherit;
// 				left: 0;
// 			}
// 		}
// 		.col-md-top{
// 			top:0;
// 		}
// 		.col-md-middle{
// 			top:0;
// 			bottom: 0;
// 			margin: auto;
// 		}
// 		.col-md-bottom{
// 			bottom:0;
// 		}
// 	}
// }

// @media (min-width: $break-small){
// 	.gNsctr{
// 		.col-sm-top,
// 		.col-sm-middle,
// 		.col-sm-bottom{
// 			height: 46px;
// 			position: absolute;
// 			right: 0;
// 			z-index: 10;
// 			&.s-check{
// 				height: 20px;
// 			}
// 			&.s-radio{
// 				height: 50px;
// 			}
// 			&.left{
// 				right: inherit;
// 				left: 0;
// 			}
// 		}
// 		.col-sm-top{
// 			top:0;
// 		}
// 		.col-sm-middle{
// 			top:0;
// 			bottom: 0;
// 			margin: auto;
// 		}
// 		.col-sm-bottom{
// 			bottom:0;
// 		}
// 	}
// }

//max-width
@media (max-width: $break-small){
	.gNsctr{
		// .row-checkbox{
		// 	ul{
		// 		li{
		// 			width: 50%;
		// 			margin-left: 0;
		// 			&:first-child{
		// 				width: 100%;
		// 			}
		// 		}
		// 	}
		// }
		.gnSecResultsFixed{
			// &.animated{
			&.responsive{
				top: 0;
				right: 0;
				overflow: auto;
			}
		}
	}
	// .g-overflow{
	// 	&-auto-sm{
	// 		overflow: auto;
	// 	}
	// 	&-hidden-sm{
	// 		overflow: hidden;
	// 	}
	// 	&-visible-sm{
	// 		overflow: visible;
	// 	}
	// 	&-scroll-sm{
	// 		overflow: scroll;
	// 	}
	// }
}

// @media (max-width: $break-xsmall){
// 	.gNsctr{
// 		.row-checkbox{
// 			ul{
// 				li{
// 					width: 100%;
// 				}
// 			}
// 		}
// 	}
// }