.g-nsctr{
	&-modal{
		padding-bottom: 0;
		overflow: visible;
		.g-title{
			font-size: $font-size9;
			font-weight: $bold;
			padding: 0;
		}
		// .g-btn{
		// 	text-transform: none;
		// }
	}
	.col-xs-middle{
		height: 46px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	// .box-radius{
	// 	position: relative;
	// 	border: 2px solid $gris4;
	// 	@include prefix(border-radius, 5px);
	// 	font-size: 12px;
	// 	&.bg-gray{
	// 		background-color: $gris11;
	// 	}		
	// 	.col-xs-middle{
	// 		height: 46px;
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;
	// 		bottom: 0;
	// 		margin: auto;
	// 	}
	// }
	.item-ico{
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		// border-right: 1px solid $gris4;
		// &:first-child{
		// 	border-left: 1px solid $gris4;
		// 	&.del-border-left{
		// 		border-left: 0;
		// 	}
		// }
		// &.del-border-right{
		// 	border-right: 0;
		// }
	}
	.ico-email,
	.ico-delete,
	.ico-search,
	.ico-download,
	.ico-print{
		font-size: 30px;
		color: $gris8;
	}
	.ico-email{
		font-size: 25px;
	}
	// .row-checkbox{
	// 	text-align: right;
	// 	.g-checkbox{
	// 		.checkbox-label{
	// 			font-weight: $normal;
	// 		}
	// 	}
	// }
	.row-checkbox{
		ul{
			font-size: 0;
			text-align: right;
			li{
				@include inlineblock();
				font-size: $font-size1;
				text-align: left;
				margin-left: 20px;
				padding-top: 10px;
				&:first-child{
					margin-left: 0;
				}
			}
		}
		.g-checkbox{
			.checkbox-label{
				font-weight: $normal;
			}
		}
		// text-align: right;
		// .g-checkbox{
		// 	.checkbox-label{
		// 		font-weight: $normal;
		// 	}
		// }
	}
	// .link{
	// 	font-size: $font-size4;
	// 	font-weight: $bold;
	// 	text-decoration: underline;
	// 	&.no-underline{
	// 		text-decoration: none;
	// 	}
	// 	&.c-green{
	// 		color: $verde2;
	// 	}
	// }
	// .box-label{
	// 	@include inlineblock();
	// 	font-size: 13px;
	// 	color: $c-white;
	// 	padding: 2px 15px;
	// 	&.c-red{
	// 		background-color: $rojo4;
	// 	}
	// 	&.c-orange{
	// 		background-color: $c-orange1;
	// 	}
	// 	&.c-blue{
	// 		background-color: $c-blue1;
	// 	}
	// 	&.c-purple{
	// 		background-color: $c-purple1;
	// 	}
	// }
	// .g-sub-title{
	// 	padding-bottom: 0;
	// 	&.red{
	// 		font-size: $font-size4;
	// 		text-transform: uppercase;
	// 	}
	// 	&.black{
	// 		font-size: $font-size5;
	// 		color: $gris2;
	// 	}
	// }
}




.page-nsctr{
	/*#############################
	# home
	#############################*/
	&-home{
		.total{
			font-weight: $bold;
			font-size: $font-size4;
		}
	}
	/*#############################
	# client
	#############################*/
	&-cliente{
		.g-label{
			font-weight: $normal;
			font-size: $font-size4;
			color: $gris3;
		}
		// .item-toggle{
		.g-box{
			border: 2px solid $gris4;
			// @include prefix(border-radius, 5px);
			// overflow: hidden;
			box-shadow: none;
			margin-bottom: 20px;
			position: relative;
			&.panel-open{
				.ico-toggle{
					&:before{
						content: '\e94c';
					}
				}
			}
			// .cnt-header{
			// 	background-color: $gris11;
			// 	padding: 15px 0;
			// 	// font-size: 12px;
			// 	// font-size: $font-size1;
			// }
			.g-btn{
				font-size: 12px;
				padding: 0;
				&-green-border{
					background-color: $c-white;
					&:hover,
					&:focus{
						background-color: $verde2;
					}
				}
			}
			.ico-toggle{
				@include inlineblock();
				width: 40px;
				height: 40px;
				background-color: $gris4;
				@include prefix(border-radius, 50%);
				font-size: $font-size8;
				color: $gris8;
				text-align: center;
				line-height: 40px;
				@include prefix(transition, all .25s all);
				// &:active{
				// 	&:before{
				// 		content: '\e94c';
				// 	}
				// }
			}
			// .cnt-body{
			// 	height: 150px;
			// 	overflow: auto;
			// 	border-top: 1px solid $gris4;
			// 	font-size: 12px;
			// }			
			.cnt-item{
				.g-sub-title{
					font-size: $font-size4;
					text-transform: uppercase;
					padding-bottom: 0;
				}
			}
			// .cnt-description{
			// 	font-size: 12px;
			// }
		}
		.g-box-content{
			height: 150px;
			overflow: auto;
			border-top: 1px solid $gris4;
		}
		// .link{
		// 	&.c-green{
		// 		color: $verde2;
		// 		text-decoration: underline;
		// 	}
		// }
		// .box-label{
		// 	@include inlineblock();
		// 	color: $c-white;
		// 	padding: 2px 15px;
		// 	&.c-red{
		// 		background-color: $rojo4;
		// 	}
		// 	&.c-orange{
		// 		background-color: $c-orange1;
		// 	}
		// 	&.c-blue{
		// 		background-color: $c-blue1;
		// 	}
		// 	&.c-purple{
		// 		background-color: $c-purple1;
		// 	}
		// }
		/*############################
		# Toggle
		############################*/
		.section-toggle{
			.panel-group{
				margin-bottom: 0;
			}
			.panel-heading{
				padding: 0;
			}
			.panel-body{
				padding: 0;
			}
			.panel-group .panel-heading+.panel-collapse .panel-body{
				border: 0;
			}
		}
		/*############################
		# Error
		############################*/
		.g-box-noresult{
			.g-btn{
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		.content-tab{
			// .g-sub-title{
			// 	padding-bottom: 10px;
			// }
			.g-title{
				font-weight: $normal;
				font-size: $font-size5;
				padding: 0;
			}
			.g-inner-section{
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.g-gray-step{
				&.init-data{
					&.first-design{
						border: 1px solid $gris4;
					}
					&.second-design{
						border: 1px solid $gris4;
						border-top: 0;
					}
				}
			}
			&.policies{
				.box-label{
					font-size: 12px;
				}
				.link{
					font-size: 12px;
					font-weight: $normal;
				}
			}
			&.proofs{
				.g-link{
					font-size: $font-size4;
					font-weight: $bold;
				}
			}
			&.insured{
			// &.coverage{
				// .link{
				// 	text-decoration: none;
				// }
				.g-link{
					font-size: $font-size4;
				}
			}
		}
	}
	/*#############################
	# modalProof
	#############################*/
	&-proof{
		// padding-bottom: 0;
		// .g-title{
		// 	font-size: $font-size9;
		// 	font-weight: $bold;
		// 	padding: 0;
		// }
		// .modal-content{
		// 	padding: 0;
		// }
		.box-radio{
			padding: 25px 30px;
			border: 1px solid $gris4;
			position: relative;
			.option{
				background-color: $c-white;
				padding: 0 5px;
				position: absolute;
				top: -10px;
				left: 20px;
			}
		}
		// .g-btn{
		// 	text-transform: none;
		// }
		// .content-form{
		// 	padding-top: 40px;
		// 	overflow: auto;
		// }
	}
	&-insured-movements{
		// .link{
		// 	text-decoration: none;
		// }
	}
}



// .g-section-tabs{
// 	.nav-tabs{
// 		>li{
// 			>a{
// 				@include prefix(border-radius, 0);
// 				background-color: $gris9;
// 				border: 1px solid $gris4;
// 				color: $gris3;
// 				text-decoration: none;
// 				font-size: $font-size5;
// 				font-weight: $light;
// 				text-transform: uppercase;
// 				&:hover,
// 				&:focus{
// 					background-color: $gris9;
// 				}
// 			}
// 			&.active{
// 				>a{
// 					background-color: $c-white;
// 					border-bottom: 0;
// 					color: $gris2;
// 				}
// 			}
// 		}
// 	}
// 	&.second-design{
// 		.nav-tabs{
// 			>li{
// 				>a{
// 					background-color: $c-white;
// 					text-transform: none;
// 					margin-right: 0;
// 					&:hover,
// 					&:focus{
// 						background-color: $c-white;
// 					}
// 				}
// 				&.active{
// 					>a{
// 						background-color: $gris9;
// 						border-bottom: 1px solid $gris9;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

.g-relative{
	position: relative;
}
.g-row{
	font-size: 0;
}
.g-col-xs,
.g-col-sm,
.g-col-md,
.g-col-lg{
	font-size: $font-size1;
	&.top{
		vertical-align: top;
	}
	&.middle{
		vertical-align: middle;
	}
	&.bottom{
		vertical-align: bottom;
	}
}
.g-col-xs{
  float: none;
	@include inlineblock();
}
@media (min-width: $break-large) {
	.g-col-lg{
		float: none;
		@include inlineblock();
	}
}
@media (min-width: $break-medium) {
	.g-col-md{
		float: none;
		@include inlineblock();
	}
}
@media (min-width: $break-small) {
	.g-col-sm{
		float: none;
		@include inlineblock();
	}
}


@media (min-width: $break-medium){
	.g-nsctr{
		.col-lg-middle{
			height: 46px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

@media (min-width: $break-medium){
	.g-nsctr{
		.col-md-middle{
			height: 46px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

@media (min-width: $break-small){
	.g-nsctr{
		.col-sm-middle{
			height: 46px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}