.page-home{

	.sec-menu{
		margin-bottom: 30px;
		.cnt-menu{
			border-top: 1px solid $cGray4;
			border-right: 1px solid $cGray4;
		}
		.cnt-link{
			display: block;
			text-align: center;
			border-bottom: 1px solid $cGray4;
			border-left: 1px solid $cGray4;
			padding-top: 30px;
			padding-bottom: 30px;
			span{
				display: block;
			}
		}
		.cnt-ico{
			font-size: 65px;
			color: $cGray3;
		}
		.cnt-label{
			font-size: $fz20;
			color: $cRed1;
		}
	}
	.sec-more-functionalities{
		.g-btn{
			margin-bottom: 170px;
		}
		.search-design{
			// background-color: $gris9;
			padding: 20px;
			// margin-bottom: 40px;
			.ico-search{
				width: 30px;
				height: 30px;
				font-size: 30px;
				font-weight: $bold;
				text-align: center;
				line-height: 30px;
				color: $cGray3;
				cursor: default;
				pointer-events:none;
				position: absolute;
				right: 40px;
				bottom: 30px;
				z-index: 10;
			}
			.g-input-design{
				padding-right: 40px;
			}
		}
		.cnt-link{
			font-size: $fz14; //$font-size3;
			color: $cGray2;
			@include prefix(transition, all 0.25s linear);
			position: relative;
			padding-left: 20px;
			margin-bottom: 10px;
			&:before{
				content: '\e94e';
				font-family: $Mapfre;
				font-size: $fz14;
				color: $cRed1;
				display: block;
				width: 19px;
				height: 19px;
				line-height: 19px;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				margin: auto;
			}
			&:hover{
				color: $cRed1;
				text-decoration: underline;
			}
		}
	}
}

.modal-img {
  width: 100%;
}
