<section class="g-page pageProofs regular">

	<div class="g-title">
		<div class="container">
			<div class="row g-row">
				<div class="col-md-9 g-col-md middle col-sm-11 col-xs-10">
					<h1>Constancias</h1>
				</div>
				<div
					class="col-md-3 g-col-md middle col-sm-4 col-xs-12 mt-xs-2 no-mt-md"
					ng-if="$ctrl.data.IS_MONTH_ADVANCE == false && $ctrl.data.IS_DECLARED == false">
					<a
						class="g-btn g-btn-verde second-design block"
						ng-click="$ctrl.fnNewInclusion()">
						Nueva inclusión
					</a>
				</div>
			</div>
		</div>
	</div>

	<nsctr-client-information
		data="$ctrl.data.STATE_PARAMS">
	</nsctr-client-information>

	<div class="g-section-inner no-border-top">


		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="g-sub-title c-red">Detalles de los asegurados</h2>
				</div>
			</div>
		</div>


		<form
			action=""
			name="frmSearchWorkers">
			<div class="container">

				<div
					show-filter
					class="clearfix g-col-filter g-box-md gBgcGray5-md gBgcWhite1 mb-xs-3"
					ng-class="{'show': isFilterVisible}"
					ng-if="$ctrl.shearchPlanilla">
					<div class="col-md-12">

						<div class="clearfix gH4 gCGray1 mb-xs-1-5">
							<h2 class="hidden-xs hidden-sm"><b>Búsqueda de trabajadores</b></h2>
							<div
								id="show-filter"
								class="row pt-xs-2 pb-xs-2 gBgcGray5 g-border-bottom-xs hidden-md hidden-lg"
								ng-click="toggleFilter();">
								<div class="col-xs-10"><h2><b>Búsqueda de trabajadores</b></h2></div>
								<div class="col-xs-2 g-text-right-xs">
									<span class="glyphicon glyphicon-chevron-down" ng-if="isFilterVisible"></span>
									<span class="glyphicon glyphicon-chevron-up" ng-if="!isFilterVisible"></span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>

						<div class="row g-row">
							<div class="col-md-2 mb-xs-2 no-mb-md g-col-md bottom">
								<mpf-select
									label="{label: 'Tipo de Doc.', required: false}"
									name="nTipoDoc"
									ng-model="$ctrl.data.mTipoDoc"
									m-data-source="$ctrl.data.documentTypeData"
									text-field="typeDescription"
									value-field="typeId"
									m-Empty-Option="{enterData:true}"
									ng-required="$ctrl.data.mNroDocumento.model && $ctrl.$ctrl.data.mNroDocumento.model !== ''"
									ng-change="$ctrl.fnChangeDocumentType($ctrl.data.mTipoDoc)">
								</mpf-select>
								<ul class="g-error">
									<li ng-show="frmSearchWorkers.nTipoDoc.$invalid && !frmSearchWorkers.nTipoDoc.$pristine">* Este campo es obligatorio</li>
								</ul>
							</div>
							<div class="col-md-2 mb-xs-2 no-mb-md g-col-md bottom">
								<mpf-input
									label="{label: 'Nro. Documento', required: false}"
									name="nNroDocumento"
									ng-model="$ctrl.data.mNroDocumento.model"
									mpf-validation="{{$ctrl.data.mNroDocumento.FIELD_TYPE}}"
									mpf-validation-disabled="{{$ctrl.data.mNroDocumento.FIELD_TYPE_DISABLED}}"
									ng-maxlength="$ctrl.data.mNroDocumento.MAX_LENGTH"
									ng-required="$ctrl.data.mTipoDoc.typeId !== null" >
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmSearchWorkers.nNroDocumento.$viewValue && (frmSearchWorkers.nNroDocumento.$error.onlyNumber || frmSearchWorkers.nNroDocumento.$error.maxlength) && !frmSearchWorkers.nNroDocumento.$pristine">* Nro de documento incorrecto</li>
									<li ng-show="frmSearchWorkers.nNroDocumento.$invalid && frmSearchWorkers.nNroDocumento.$error.required && !frmSearchWorkers.nNroDocumento.$pristine">* Ingrese un nro de documento</li>
								</ul>
							</div>
							<div class="col-md-4 mb-xs-2 no-mb-md g-col-md bottom">
								<mpf-input
									label="{label: 'Nombre y/o Apellido', required: false}"
									name="nNombreCompleto"
									ng-model="$ctrl.data.mNombreCompleto"
									ng-required="false">
								</mpf-input>
								<ul class="g-error">
									<li ng-show="frmSearchWorkers.nNombreCompleto.$invalid && !frmSearchWorkers.nNombreCompleto.$pristine">* Este campo es obligatorio</li>
								</ul>
							</div>
							<div class="col-md-2 col-sm-6 col-ms-6 mb-xs-1 no-mb-ms g-col-md bottom">
								<a
									href="javascript:void(0)"
									class="g-btn g-btn-verde second-design block"
									ng-click="$ctrl.fnSearchWorkers(); toggleFilter()">
									Buscar
								</a>
							</div>
							<div class="col-md-2 col-sm-6 col-ms-6 g-col-md bottom">
								<a
									href="javascript:void(0)"
									class="g-btn g-btn-white second-design block"
									ng-click="$ctrl.fnClearSearchWorkers(); toggleFilter()">
									Limpiar
								</a>
							</div>
						</div>

					</div>
				</div>

			</div>
		</form>

		<div class="container">

			<div class="row">
				<div
					class="col-md-offset-6 col-md-3 col-sm-4 col-ms-6 mb-xs-1 no-mb-ms">
					<a
						href="javascript:void(0)"
						class="g-btn g-btn-white second-design block"
						ng-click="$ctrl.fnReplacePayroll()"
						ng-if="$ctrl.reemplazaPlanilla">
						Reemplazar planilla
					</a>
				</div>
				<div
					class="col-md-3 col-sm-4 col-ms-6 mb-xs-1 no-mb-ms"
					ng-class="{'col-md-offset-9': !$ctrl.data.SHOW_BTN_REPLACE && !$ctrl.reemplazaPlanilla}">
					<div
						uib-dropdown
						class="gnBtnDropdown"
						ng-if="$ctrl.generaConst">
						<a
							href
							id="iDropdownPrintProof"
							uib-dropdown-toggle
							class="g-btn g-btn-verde second-design block">
						 	<span class="g-icon">
								<span>Generar constancia</span>
								<span class="ico-mapfre_308_arrowDown gnIcon-ms"></span>
							</span>
						</a>
						<ul
							class="dropdown-menu pull-right"
							uib-dropdown-menu
							aria-labelledby="iDropdownPrintProof">
							<li>
								<a
									href="javascript:void(0)"
									ng-click="$ctrl.fnPrintProof('I')">
									Individual
								</a>
							</li>
							<li>
								<a
									href="javascript:void(0)"
									ng-click="$ctrl.fnPrintProof('M')">
									Masiva (Excel)
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div
				class="row"
				ng-if="$ctrl.data.workersList.list.length > 0">
				<div class="col-sm-6 mt-xs-2 mb-sm-2 mb-xs-1">
					<span class="gH4 gCGray3">Trabajadores seleccionados: {{($ctrl.data.mCheckAll) ? $ctrl.data.workersList.totalRowsActive  : $ctrl.data.selectedWorkers.length | formatZeroBefore}}</span>
				</div>
				<div class="col-sm-6 mt-sm-2 mb-xs-2 g-text-right-sm">
					<span class="gH4 gCGray3">Trabajadores consultados: {{$ctrl.data.workersList.totalRows | formatZeroBefore}}</span>
				</div>
			</div>

			<nsctr-no-result-filter
				type="search"
				no-result-info="$ctrl.data.noResultFilter.noResultInfo"
				no-result="$ctrl.data.noResultFilter.noResult">
			</nsctr-no-result-filter>

			<div
				class="row"
				ng-if="$ctrl.data.workersList.list.length > 0">
				<div class="col-md-12">
					<div class="clearfix g-tbl-wrapper">
						<div class="clearfix table__1170">
							<ul
								height-row
								class="g-row-fz12 g-tbl-row gBgcGray5 pt-xs-1">
								<li class="g-col-5pd g-col-xs col-3-dktp tbl-item">
									<label class="g-checkbox" ng-class="{active : $ctrl.data.mCheckAll}">
										<span class="ico-checkbox"></span>
										<input
											type="checkbox"
											name="nCheckAll"
											ng-model="$ctrl.data.mCheckAll"
											ng-click="$ctrl.fnCheckAll($ctrl.data.mCheckAll)">
										<span class="checkbox-label"></span>
									</label>
								</li>
								<li class="g-col-5pd g-col-xs col-5-dktp tbl-item item-title g-text-center-xs" ng-if="$ctrl.segurityEdit">EDITAR</li>
								<li class="g-col-5pd g-col-xs col-4-dktp tbl-item item-title">TIPO<br> DOC</li>
								<li class="g-col-5pd g-col-xs col-8-dktp tbl-item item-title">NRO.<br> DOCUMENTO</li>
								<li class="g-col-5pd g-col-xs col-8-dktp tbl-item item-title">APE.<br> PATERNO</li>
								<li class="g-col-5pd g-col-xs col-8-dktp tbl-item item-title">APE.<br> MATERNO</li>
								<li class="g-col-5pd g-col-xs col-8-dktp tbl-item item-title">NOMBRES</li>
								<li class="g-col-5pd g-col-xs col-10-dktp tbl-item item-title">NOMBRE<br> COMPLETO</li>
								<li class="g-col-5pd g-col-xs col-9-dktp tbl-item item-title">TIPO<br> MOVIMIENTO</li>
								<li class="g-col-5pd g-col-xs col-9-dktp tbl-item item-title">FECHA<br> COBERTURA</li>
								<li class="g-col-5pd g-col-xs col-7-dktp tbl-item item-title">FECHA<br> REGISTRO</li>
								<li class="g-col-5pd g-col-xs col-7-dktp tbl-item item-title">FECHA<br> MODIFI.</li>
								<li class="g-col-5pd g-col-xs col-6-dktp tbl-item item-title">ESTADO</li>
								<li class="g-col-5pd g-col-xs col-5-dktp tbl-item item-title">USUARIO <br> MODIFI.</li>
							</ul>
							<div class="mb-xs-1 gnContentAuto-bg">
								<ul
									height-row
									class="g-row-fz12 g-tbl-row pt-xs-1 g-border-bottom-xs"
									ng-repeat="itemWorker in $ctrl.data.workersList.list">
									<li
										class="g-col-5pd g-col-xs col-3-dktp tbl-item">
										<label class="g-checkbox" ng-class="{active : itemWorker.mCheck}">
											<span class="ico-checkbox"></span>
											<input
												type="checkbox"
												name="nCheckAll{{$index}}"
												ng-model="itemWorker.mCheck"
												ng-click="$ctrl.fnCheck(itemWorker)"
												ng-disabled="{{$ctrl.data.STATE.down.description == itemWorker.state}}">
												<span class="checkbox-label"></span>
										</label>
									</li>
									<li class="g-col-5pd g-col-xs col-5-dktp tbl-item g-text-center-xs" ng-if="$ctrl.segurityEdit">
										<a
											href="javascript:void(0)"
											ng-click="$ctrl.fnShowModalInsured(itemWorker)"
											>
											<span class="ico-mapfre_298_buscar gnIcon-sm gCGray3"></span>
										</a>
									</li>
									<li class="g-col-5pd g-col-xs col-4-dktp tbl-item">
										{{itemWorker.documentType}}
									</li>
									<li class="g-col-5pd g-col-xs col-8-dktp tbl-item g-text-uppercase">
										{{itemWorker.documentNumber}}
									</li>
									<li
										class="g-col-5pd g-col-xs col-8-dktp tbl-item g-text-uppercase g-cut-text"
										title="{{itemWorker.fathersSurname}}">
										{{itemWorker.fathersSurname}}
									</li>
									<li
										class="g-col-5pd g-col-xs col-8-dktp tbl-item g-text-uppercase g-cut-text"
										title="{{itemWorker.mothersSurname}}">
										{{itemWorker.mothersSurname}}
									</li>
									<li
										class="g-col-5pd g-col-xs col-8-dktp tbl-item g-text-uppercase g-cut-text"
										title="{{itemWorker.name}}">
										{{itemWorker.name}}
									</li>
									<li
										class="g-col-5pd g-col-xs col-10-dktp tbl-item g-text-uppercase g-cut-text"
										title="{{itemWorker.fullName}}">
										{{itemWorker.fullName}}
									</li>
									<li class="g-col-5pd g-col-xs col-9-dktp tbl-item g-text-uppercase">
										{{itemWorker.movementType}}
									</li>
									<li class="g-col-5pd g-col-xs col-9-dktp tbl-item g-text-uppercase">
										{{itemWorker.startCoverage}}
									</li>
									<li class="g-col-5pd g-col-xs col-7-dktp tbl-item g-text-uppercase">
										{{itemWorker.registerDate}}
									</li>
									<li class="g-col-5pd g-col-xs col-7-dktp tbl-item g-text-uppercase">
										{{itemWorker.lastUpdateDate}}
									</li>
									<li class="g-col-5pd g-col-xs col-6-dktp tbl-item g-text-uppercase">
										{{($ctrl.data.STATE.up.description == itemWorker.state) ? 'ACTIVO' : 'INACTIVO'}}
									</li>
									<li class="g-col-5pd g-col-xs col-5-dktp tbl-item g-text-uppercase">
										{{itemWorker.lastUpdateUser}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div
				class="row"
				ng-if="$ctrl.data.workersList.showPagination">
				<div class="col-md-8 col-md-offset-2">
					<ul
						uib-pagination
						class="g-pagination"
						ng-model="$ctrl.data.mPagination.currentPage"
						max-size="$ctrl.data.mPagination.maxSize"
						total-items="$ctrl.data.mPagination.totalItems"
						ng-change="$ctrl.fnChangePage()"
						boundary-link-numbers="true">
					</ul>
				</div>
			</div>

		</div>

	</div>

</section>