<div class="clearfix"></div>
<section class="g-page page-inspeccion-autos page-inspeccion-autos__programacion-detalle">
  <page-title class="hidden-lg hidden-md" info="{title: 'Inspecciones Autos'}"></page-title>
  <div class="g-ui-view">
    <div class="container">
      <div class="row">
        <div class="g-title col-md-9">
          <div class="">
            <h2 class="ng-binding pr-xs-1">Agenda</h2>
          </div>
        </div>
        <div class="col-md-3 mt-xs-2">
          <a
            ng-if="$ctrl.user.isAPermittedObject('BLOINS')"
            class="g-btn g-btn-verde second-design block"
            ng-click="$ctrl.showNoDisponibilidad()"
            >Bloquear Inspector</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="g-section mt-xs-3">
      <inspec-schedule></inspec-schedule>
    </div>
  </div>
</section>
