<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="title">
        <span>Primero comprueba tu identidad</span>
      </h2>
      <p>Selecciona el medio por el cual quieres comprobar tu identidad</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul ng-repeat="item in vm.modalities">
        <li>
          <a href="javascript:void(0)" ng-bind-html="item.value" ng-click="vm.onGoTo(item)"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

