<!-- <form name="frmSummaryDeceased" action=""> -->
    <!-- <div class="dashboard-body">
            <div class="container"> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix g-box mb-xs-2">
                            <div class="clearfix g-box no-bbl-radius no-bbr-radius g-border-noborder pt-xs-1 pb-xs-1 gBgcWhite1" >
                                <ul class="row g-list-sm">
                                    <li class="col-md-12 col-sm-12">
                                        <div class="item-label">
                                            <ul class="clearfix">
                                                <li class="col-md-11 col-sm-10 col-xs-10">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                    <b style="text-transform: uppercase;">
                                                        {{$ctrl.data.nombres}} 
                                                        {{$ctrl.data.apellidoPaterno}} 
                                                        {{$ctrl.data.apellidoMaterno}} - 
                                                        {{$ctrl.data.tipoDocumento.codigo}} 
                                                        {{$ctrl.data.numeroDocumento}}
                                                    </b>
                                                </li>
                                                <li class="col-md-1 col-sm-2 col-xs-2" ng-if="!$ctrl.readonly">
                                                    <div class="col-sm-6 col-xs-6">
                                                        <a href="" ng-click="$ctrl.handleEdit($ctrl.data)" title="Editar">
                                                            <i class="glyphicon glyphicon-pencil gH4"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-6">
                                                        <a href=""  ng-click="$ctrl.deleteItem($ctrl.data)" title="Eliminar">
                                                            <i class="glyphicon glyphicon-trash gH4"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix g-box-content gBgcGray5">
                                <ul class="row g-list-sm">
                                    <li class="col-md-4 col-sm-6 clearfix cnt-item" style="text-transform: uppercase;">
                                        <div class="col-xs-12">
                                            <b style="text-transform: capitalize;">Titular: </b>
                                            {{$ctrl.data.pariente.nombres}} {{$ctrl.data.pariente.apellidoPaterno}} {{$ctrl.data.pariente.apellidoMaterno}}
                                        </div>
                                    </li>
                                    <li class="col-md-3 col-sm-6 clearfix cnt-item" style="text-transform: uppercase;">
                                        <div class="col-xs-12">
                                            <b>{{$ctrl.data.pariente.tipoDocumento.codigo}}: </b>{{$ctrl.data.pariente.numeroDocumento}}
                                        </div>
                                    </li>
                                    <li class="col-md-5 col-sm-6 clearfix cnt-item" style="text-transform: uppercase;">
                                        <div class="col-xs-12">
                                            <b style="text-transform: capitalize;">Correo electrónico: </b>{{$ctrl.data.pariente.correo}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div>
    </div> -->
<!-- </form> -->