<div class="col-md-6 mb-xs-1">
	<h2 class="gH4 gCGray1">
		<b>{{($ctrl.riskPremium.policyType == 'P') ? 'Póliza Pensión: ' :  'Póliza Salud: '}}{{$ctrl.riskPremium.policyNumber}}</b>
	</h2>
</div>
<div class="col-md-6 mb-xs-1 g-text-right-md">
	<div
		class="pb-xs-0-5"
		ng-if="$ctrl.riskPremium.policyType == 'P'">
		<b>Tope Remuneración Mensual: </b>{{$ctrl.riskPremium.topeSalary | currency: $ctrl.currencyType}}
	</div>
	<div>
		<b>Vigencia Aplicación: </b>{{$ctrl.riskPremium.dateFinishApplication}}
	</div>
</div>
<div class="col-md-12">
	<div class="clearfix g-box g-overflow-hidden-xs">


		<ul class="clearfix g-list-sm gBgcGray5 pt-xs-1 mb-xs-0-1">
			<li class="col-md-12 clearfix cnt-item gH4">
				<div class="row">
					<div class="col-md-12 col-ms-5 item-label">
						Aplicación: {{$ctrl.riskPremium.applicationNumber}}
					</div>
				</div>
			</li>
			<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm visible-xs">
				<div class="row">
					<div class="col-ms-5 item-label">
						Total Trabajadores:
					</div>
					<div class="col-ms-7 item-dato g-text-uppercase">
						{{$ctrl.riskPremium.planillaCantidadTotal}}
					</div>
				</div>
			</li>
			<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm visible-xs">
				<div class="row">
					<div class="col-ms-5 item-label">
						Total Planilla:
					</div>
					<div class="col-ms-7 item-dato g-text-uppercase">
						{{$ctrl.riskPremium.planillaMontoTotal | currency: $ctrl.currencyType}}
					</div>
				</div>
			</li>
			<li
				class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm visible-xs">
				<div class="row">
					<div class="col-ms-5 item-label">
						Total Planilla Topada:
					</div>
					<div class="col-ms-7 item-dato g-text-uppercase">
						{{$ctrl.riskPremium.planillaMontoTopeTotal | currency: $ctrl.currencyType}}
					</div>
				</div>
			</li>
			<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm visible-xs">
				<div class="row">
					<div class="col-ms-5 item-label">
						Total Prima Neta:
					</div>
					<div class="col-ms-7 item-dato g-text-uppercase">
						{{$ctrl.riskPremium.planillaPrimaTotal | currency: $ctrl.currencyType}}
					</div>
				</div>
			</li>
		</ul>

		<ul class="clearfix g-list gBgcGray5 pt-xs-1 hidden-xs">
			<li class="col-md-1 col-sm-1 clearfix cnt-item">
				<b>Riesgo</b>
			</li>
			<li class="col-md-3 col-sm-3 clearfix cnt-item">
				<b>Categoría</b>
			</li>
			<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm">
				<b>Nro. Trabajadores</b>
			</li>
			<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm">
				<b>Planilla</b>
			</li>
			<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm">
				<b>Planilla Topada</b>
			</li>
			<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm">
				<b>Prima Neta</b>
			</li>
		</ul>


		<div class="col-md-12 cnt-content g-list-sm pt-xs-1 gnContentAuto-md">
			<div
				class="clearfix"
				ng-class="{'g-border-bottom-xs mb-xs-1' : !$last}"
				ng-repeat="itemRiskPremium in $ctrl.riskPremium.listRiskPrima">

				<ul class="row hidden-xs">
					<li class="col-sm-1 cnt-item item-dato g-text-uppercase">
						{{itemRiskPremium.riskNumber}}
					</li>
					<li class="col-sm-3 cnt-item item-dato g-text-uppercase">
						{{itemRiskPremium.riskName}}
					</li>
					<li class="col-sm-2 cnt-item item-dato g-text-uppercase g-text-right-xs">
						{{itemRiskPremium.planillaCantidad}}
					</li>
					<li class="col-sm-2 cnt-item item-dato g-text-uppercase g-text-right-xs">
						{{itemRiskPremium.planillaMonto | currency: $ctrl.currencyType}}
					</li>
					<li class="col-sm-2 cnt-item item-dato g-text-uppercase g-text-right-xs">
						{{itemRiskPremium.planillaMontoTope | currency: $ctrl.currencyType}}
					</li>
					<li class="col-sm-2 cnt-item item-dato g-text-uppercase g-text-right-xs">
						{{itemRiskPremium.planillaPrima | currency: $ctrl.currencyType}}
					</li>
				</ul>

				<ul class="row visible-xs">
					<li class="cnt-item clearfix">
						<div class="col-ms-5 item-label">
							Riesgo:
						</div>
						<div class="col-ms-7 item-dato g-text-uppercase">
							{{itemRiskPremium.riskNumber}}
						</div>
					</li>
					<li class="cnt-item clearfix">
						<div class="col-ms-5 item-label">
							Categoría:
						</div>
						<div class="col-ms-7 item-dato g-text-uppercase">
							{{itemRiskPremium.riskName}}
						</div>
					</li>
					<li class="cnt-item clearfix">
						<div class="col-ms-5 item-label">
							Nro. Trabajadores:
						</div>
						<div class="col-ms-7 item-dato g-text-uppercase">
							{{itemRiskPremium.planillaCantidad}}
						</div>
					</li>
					<li class="cnt-item clearfix">
						<div class="col-ms-5 item-label">
							Planilla:
						</div>
						<div class="col-ms-7 item-dato g-text-uppercase">
							{{itemRiskPremium.planillaMonto | currency: $ctrl.currencyType}}
						</div>
					</li>
					<li class="cnt-item clearfix">
						<div class="col-ms-5 item-label">
							Planilla Topada:
						</div>
						<div class="col-ms-7 item-dato g-text-uppercase">
							{{itemRiskPremium.planillaMontoTope | currency: $ctrl.currencyType}}
						</div>
					</li>
					<li class="cnt-item clearfix">
						<div class="col-ms-5 item-label">
							Prima Neta:
						</div>
						<div class="col-ms-7 item-dato g-text-uppercase">
							{{itemRiskPremium.planillaPrima | currency: $ctrl.currencyType}}
						</div>
					</li>
				</ul>

			</div>
		</div>

		<div class="col-md-12 hidden-xs">
			<ul class="row g-list-sm gBgcGray5 pt-xs-1">
				<li class="col-md-4 col-sm-4 clearfix cnt-item">
					<div class="row">
						<div class="col-md-12 item-label g-text-right-xs">
							Total
						</div>
					</div>
				</li>
				<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm">
					<div class="row">
						<div class="col-md-12 item-dato g-text-uppercase">
							<b>{{$ctrl.riskPremium.planillaCantidadTotal}}</b>
						</div>
					</div>
				</li>
				<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm">
					<div class="row">
						<div class="col-md-12 item-dato g-text-uppercase">
							<b>{{$ctrl.riskPremium.planillaMontoTotal | currency: $ctrl.currencyType}}</b>
						</div>
					</div>
				</li>
				<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm">
					<div class="row">
						<div class="col-md-12 item-dato g-text-uppercase">
							<b>{{$ctrl.riskPremium.planillaMontoTopeTotal | currency: $ctrl.currencyType}}</b>
						</div>
					</div>
				</li>
				<li class="col-md-2 col-sm-2 clearfix cnt-item g-text-right-sm">
					<div class="row">
						<div class="col-md-12 item-dato g-text-uppercase">
							<b>{{$ctrl.riskPremium.planillaPrimaTotal | currency: $ctrl.currencyType}}</b>
						</div>
					</div>
				</li>
			</ul>
		</div>


	</div>
</div>