<div class="row">
    <div class="col-xs-12 ">
        <div class="gBgcGray5 pt-xs-2 pb-xs-2 pl-xs-2">
            <p class="g-cl--black2 gH8 no-margin-xs">SECCIÓN</p>
            <p class="g-cl--black gH2 no-margin-xs">{{$ctrl.section.name}}</p>
        </div>
    </div>
</div>

<div class="row mt-xs-2">
    <div class="col-xs-12">
        <div class="g-border h-br--5 container pt-xs-2 pb-xs-2 bg-white2" >
            <form name="frmTermsConditions">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="g-input-design">
                            <label class="g-placeholder animated">Contenido*</label>

                            <div class="c-input__content-input mt-xs-1">
                                <ng-quill-editor 
                                    class="c-quill-editor"
                                    on-content-changed="$ctrl.onQuillEditorChanged()"
                                    name="nDescContenido"
                                    ng-required="true"
                                    ng-model="$ctrl.description"
                                    placeholder="''">
                                    <ng-quill-toolbar>
                                        <div class="ql-toolbar ql-snow">
                                            <span class="ql-formats">
                                                <select class="ql-size">
                                                    <option value="small"></option>
                                                    <option selected="selected"></option>
                                                    <option value="large"></option>
                                                    <option value="huge"></option>
                                                </select>
                                            </span>
                                            
                                            <span class="ql-formats">
                                                <button type="button" class="ql-bold"></button>
                                                <button type="button" class="ql-list" value="bullet"></button>
                                            </span>
                                        </div>
                                    </ng-quill-toolbar>
                                </ng-quill-editor>
                                <div class="c-message__container">
                                    <ul class="g-error no-margin-xs no-margin-md">
                                        <li
                                            ng-if="frmTermsConditions.nDescContenido.$error.required && !frmTermsConditions.nDescContenido.$pristine">
                                            Este campo es requerido
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2 mt-xs-2">
                    <div class="col-md-offset-3 col-md-6">
                        <a class="g-btn g-btn-verde block" ng-click="$ctrl.saveTerms()">GUARDAR</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>