<form name="frmInformacionAdicional">
    <div class="g-section-inner">
        <div class="container form-adicional">
            <div class="row">
                <div class="col-md-4 mt-xs-3">
                    <span class="text-adicional">Maternidad en curso</span>
                </div>
                <div class="col-md-2 mt-xs-4 check-box">
                    <m-radio 
                        label="{label: 'Sí'}" 
                        name="nMaternidadSi" 
                        ng-model="vm.informacionAdicional.maternidad" 
                        value="true" 
                        data-ng-required="true">
                    </m-radio>
                </div>
                <div class="col-md-2 mb-xs-2 mt-xs-4">
                    <m-radio 
                        label="{label: 'No'}" 
                        name="nMaternidadNo" 
                        ng-model="vm.informacionAdicional.maternidad" 
                        value="false" 
                        data-ng-required="true"
                        ng-click="vm.onClickNo('maternidad')">
                    </m-radio>
                </div>
                <div class="col-md-4 mb-xs-2">
                    <div class="row line-content">
                        <div class="col-sm-12">
                            <mpf-input 
                                name="{{nCantidadMaternidad}}"
                                label = "{label: 'Cantidad'}"
                                ng-model="vm.informacionAdicional.maternidadCantidad"
                                ng-disabled="vm.informacionAdicional.maternidad === 'false'"
                                disabled-view-model="true"
                                mpf-validation="onlyNumber">
                            </mpf-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-xs-3">
                    <span class="text-adicional">Casos oncológicos presentados</span>
                </div>
                <div class="col-md-2 mb-xs-2 mt-xs-4 check-box">
                    <m-radio 
                        label="{label: 'Sí'}" 
                        name="nOncologicoSi" 
                        ng-model="vm.informacionAdicional.oncologico" 
                        value="true" 
                        data-ng-required="true">
                    </m-radio>
                </div>
                <div class="col-md-2 mb-xs-2 mt-xs-4">
                    <m-radio 
                        label="{label: 'No'}" 
                        name="nOncologicoNo" 
                        ng-model="vm.informacionAdicional.oncologico" 
                        value="false" 
                        data-ng-required="true"
                        ng-click="vm.onClickNo('oncologico')">
                    </m-radio>
                </div>
                <div class="col-md-4 mb-xs-2">
                    <div class="row line-content">
                        <div class="col-sm-12">
                            <mpf-input 
                                name="{{nCantidadOncologico}}"
                                label = "{label: 'Cantidad'}"
                                ng-model="vm.informacionAdicional.oncologicoCantidad"
                                ng-disabled="vm.informacionAdicional.oncologico === 'false'"
                                disabled-view-model="true"
                                mpf-validation="onlyNumber">
                            </mpf-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-xs-3">
                    <span class="text-adicional">Pre existencia y/o tratamiento en personas que aplican continuidad</span>
                </div>
                <div class="col-md-2 mb-xs-2 mt-xs-4 check-box">
                    <m-radio 
                        label="{label: 'Sí'}" 
                        name="nContinuidadSi" 
                        ng-model="vm.informacionAdicional.continuidad" 
                        value="true" 
                        data-ng-required="true">
                    </m-radio>
                </div>
                <div class="col-md-2 mb-xs-2 mt-xs-4">
                    <m-radio 
                        label="{label: 'No'}" 
                        name="nContinuidadNo" 
                        ng-model="vm.informacionAdicional.continuidad" 
                        value="false" 
                        data-ng-required="true"
                        ng-click="vm.onClickNo('continuidad')">
                    </m-radio>
                </div>
                <div class="col-md-4 mb-xs-2">
                    <div class="row line-content">
                        <div class="col-sm-12">
                            <mpf-input 
                                name="{{nCantidadContinuidad}}"
                                label = "{label: 'Cantidad'}"
                                ng-model="vm.informacionAdicional.continuidadCantidad"
                                ng-disabled="vm.informacionAdicional.continuidad === 'false'"
                                disabled-view-model="true"
                                mpf-validation="onlyNumber">
                            </mpf-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-section h-myd-pt--0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <a class="g-btn g-btn-verde block" ng-class="{'disabled': !vm.activeBotonSiguiente()}"
                        ng-click="vm.goToNextStep()">Cotizar</a>
                </div>
            </div>
        </div>
    </div>
</form>