<div class="g-steps">
<div class="container g-steps-container">

	<div class="row g-steps-circles">
		<!-- <div class="col-md-2 text-center" ng-show="toggleValor"><div class="g-circle" ng-click="gotoStep1();" ng-class="stepCircleClass1" ui-sref="autosCotizar"><span>1</span></div></div> -->
		<div class="col-md-2 text-center"><div class="g-circle" ng-click="gotoStep1();" ng-class="stepCircleClass1" ui-sref=".cotizarPaso1"><span>1</span></div></div>
		<div class="col-md-2 col-md-offset-3 text-center"><div class="g-circle" ng-click="gotoStep2();" ng-class="stepCircleClass2" ui-sref=".cotizarPaso2"><span>2</span></div></div>
		<!-- <div class="col-md-2 col-md-offset-3 text-center"><div class="g-circle" ng-class="stepCircleClass2" ui-sref="cotizarPaso({step:1})"><span>2</span></div></div> -->
		<div class="col-md-2 col-md-offset-3 text-center"><div class="g-circle" ng-click="gotoStep3();" ng-class="stepCircleClass3" ui-sref=".cotizarPaso3"><span>3</span></div></div>
	</div>

	<div class="row g-steps-line">
		<div class="col-md-5 col-md-offset-1"><div class="g-step-line" ng-class="stepLineClass1"></div> </div>
		<div class="col-md-5"><div class="g-step-line" ng-class="stepLineClass2"></div></div>
	</div>

	<div class="row g-steps-titles">
		<!-- <a ui-sref="autosCotizar" ng-show="toggleValor"><div class="col-md-2 text-center"><span ng-class="stepCircleClass1">Datos del auto</span></div></a> -->
		<a ui-sref=".cotizarPaso1"><div class="col-md-2 text-center"><span ng-class="stepCircleClass1">Datos del auto</span></div></a>
		<a ui-sref=".cotizarPaso2"><div class="col-md-2 col-md-offset-3 text-center"><span ng-class="stepCircleClass2">Productos a cotizar</span></div></a>
		<a ui-sref=".cotizarPaso3"><div class="col-md-2 col-md-offset-3 text-center"><span ng-class="stepCircleClass3">Resultados cotización</span></div></a>
	</div>

</div>

<div class="g-steps-arrows">
	<div class="container">
		<div class="g-step-arrow1"></div>
	</div>
</div>
</div> 