
.order-delivery{
	padding: 0 40px 0 0;
	position: relative ;
	&.line-total{
		border-top: 1px solid #d5d5d5;
		padding-top:20px;
		margin-top:20px;
	}

	.col-md-2{
		width: 50%;
		float: left;
		clear: right;
	}
	.col-md-4{
		width: 100%;
		float: left;
		clear: right;
	}
	.icon-row{
		position: absolute;
    right: 10px;
		top:34px;
		i.add{
			color: #749806;
		}
	}
	.money{
		padding: 20px 10px 10px 10px;
	}

}
.info-medicaments{
	background-color: #f4f4f4;
	.part{
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		border: 1px solid #D5D5D5;
		background-color: #fff;
		.item{
			border-bottom: 1px solid #D5D5D5;
			padding-top:10px;
			padding-bottom:10px;
		}
		.totalm{
			text-align: right;
		}
	}

}
.main-image {
  width: 100%;
}
.carousel-thumbs {
  list-style: none;
  padding: 0;
}
.carousel-thumb {
  background-size: cover;
  background-position: center;
  height: 100px;
  float: left;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  cursor: pointer;
}

.g-acordeon .panel-heading {
  background-color: #f4f4f4;
  border-radius-bottom: 0;
  padding: 17px 15px;
}
.remove_padding{
	padding: 0px !important;
}

div[ng-dropdown-multiselect]{
	margin-top:10px !important;
	& button{
		background-color:transparent !important;
		color:#4c4c4c;
		width: 100% !important;
		height: 35px !important;
		font-family:"Roboto", sans-serif !important;
		font-weight:400 !important;
		font-size:14px !important;
		text-transform:uppercase;
		text-align: left !important;
		border: none;
		padding-right: 14px !important;
		padding-left: 0px !important;
		& span.caret{
			font-size:21px !important;
			font-weight: 700;
			color: #888383 !important;
			float: right !important;
			border-top: 0 solid !important;
			font-family:'Mapfree-iconss' !important;

		}
		& span.caret:before{
			content: "\ea20" !important; }
	}

	& > div,& > div > div  {

		width: 100% !important;
		height: 35px !important;

	}

	button:hover, button:active, button.dropdown-toggle{
		background-color:transparent !important;
		-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
	}

	ul.dropdown-menu{
		width: 100% !important;
		font-family:"Roboto", sans-serif !important;
		font-weight:400 !important;
		font-size:14px !important;
		z-index: 10000 !important;;
	}
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 6px 10px;
	line-height: 1.4615384615384615;
	vertical-align: top;
	border-top: 1px solid #e9ecf0;

}
.table > thead > tr {
	background-color: #D5D5D5;
	font-weight: 700 !important;
	border-top: 1px solid #e9ecf0;

}
tr.detailrow > td{
	font-weight: 700 !important;

}
.table > thead > tr > th, .table > tbody > tr > td:first-child, .table > tbody > tr:last-child > td {
	background-color: #D5D5D5;
	border-top: 1px solid #D5D5D5;
	font-weight: 700 !important;
}



.table{

	width: 100%;
	max-width: 100%;
	margin-bottom: 19px;
	font-size:  9pt;
	background-color: transparent;
	display: table;
	border: 1px solid #D5D5D5;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
.table {
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				vertical-align: middle;
			}
		}
	}
}

.table-flipscroll{
	overflow: auto;
}

@media (max-width: 767px) {
	.table-flipscroll table:before,
	.table-flipscroll thead:before,
	.table-flipscroll table:after,
	.table-flipscroll thead:after {
			content: " ";
			display: table
	}
	.table-flipscroll table:after,
	.table-flipscroll thead:after {
			clear: both
	}
	.table-flipscroll table:before,
	.table-flipscroll thead:before,
	.table-flipscroll table:after,
	.table-flipscroll thead:after {
			content: " ";
			display: table
	}
	.table-flipscroll table:after,
	.table-flipscroll thead:after {
			clear: both
	}
	.table-flipscroll table,
	.table-flipscroll caption,
	.table-flipscroll td,
	.table-flipscroll thead,
	.table-flipscroll thead tr,
	.table-flipscroll th,
	.table-flipscroll tbody {
			display: block
	}
	.table-flipscroll table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			position: relative
	}
	.table-flipscroll table th,
	.table-flipscroll table td {
			margin: 0;
			vertical-align: top
	}
	.table-flipscroll table th:last-child,
	.table-flipscroll table td:last-child {
			border-bottom: 1px solid #e9ecf0
	}
	.table-flipscroll table td {
			min-height: 1.25em;
			text-align: left;
			border-left: 0;
			border-right: 0;
			border-bottom: 0
	}
	.table-flipscroll table thead {
			float: left
	}
	.table-flipscroll table th {
			text-align: left;
			border-bottom-width: 1px!important;
			border-left: 0
	}
	.table-flipscroll table th:first-child {
			border-top: 1px solid transparent!important
	}
	.table-flipscroll table tbody {
			width: auto;
			position: relative;
			overflow-x: auto;
			white-space: nowrap
	}
	.table-flipscroll table tbody tr {
			display: inline-block;
			vertical-align: top;
			border-left: 1px solid #e9ecf0
	}
	.table-vertical table,
	.table-vertical caption,
	.table-vertical thead,
	.table-vertical tbody,
	.table-vertical th,
	.table-vertical td,
	.table-vertical tr {
			display: block
	}
	.table-vertical thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px
	}
	.table-vertical tr {
			border: 1px solid #ccc
	}
	.table-vertical td {
			border: none;
			border-bottom: 1px solid #e9ecf0;
			position: relative;
			padding-left: 50%!important;
			white-space: normal;
			text-align: left
	}
	.table-vertical td:before {
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
			text-align: left;
			font-weight: 700;
			content: attr(data-title)
	}
}





.g-title-modal{
  font-size: 21px;
  font-weight: 700 !important;
  text-align: center;
  color: $gris2;
}
.g-tag {
	@include inlineblock; width: 80px; color: $c-white; text-align: center; font-weight: $bold; padding: 2px 0;
	&.tag-green {background-color: $verde2;}
	&.tag-gray {background-color: $gris27;}
	&.tag-orange {background-color: #FF7800;}
	&.tag-blue {background-color: #6676EE;}
}
.page-medical-central {

	&-bandeja {
		.g-box {
			border:2px solid $gris4; margin-bottom: 10px;
			&-body {
				background-color: $gris6; border-radius: 10px;
				.search-result {
					color:$gris3;
					&-label {
						@include inlineblock; color: $gris2; font-weight: $bold;
						&.asistencia-label { font-size: $font-size4; }
						&.asistencia-date { color: $gris3; font-weight: $normal; }
					}
					&-data {
						@include inlineblock; font-weight:$normal; color: $gris2;
						&.asistencia-data { font-size: $font-size4; font-weight: $bold; }
						&.asistencia-date { color: $gris3; font-weight: $normal; }
					}
					&-tag {}
				}
			}
		}
	}

	/***************************
	* Asistencias
	****************************/
	&-asistencia {

    .g-section-tabs {
      .tab-content {
        &:after {
          background-color: transparent;
          @media (min-width: $break-large) {
            background-color: $gris4;
          }
        }
      }
    }

		.section-tabs { margin-top: -1px; padding-top: 0; }
		.tipo-siniestro {
			&-item { margin-top: 5px; margin-bottom: 5px; }
		}

		.g-title {
			position: relative; top: 0; width: 100%; background-color: $c-white; z-index: 1037;
			.ico-title { display: none; }
			h1 { font-size: $font-size2; padding-left: 0; }
			.g-tag { display: block; margin-top: 5px; margin-left: 0; font-size: $font-size; }
			.siniestro-box { @include inlineblock; margin-right: 10px; color: $gris3; font-size: $font-size; }
			.g-btn {
				background-color: transparent; border: 0; color: $gris26;
				&:hover, &:focus{ color:$gris2; }
			}
			.ico-save { font-size: $font-size5; }
			.menuMasOpc {
				position: absolute; top: 50px; right: 4px; width: 190px; background-color: $c-white; z-index: 1000; border: 1px solid $gris4;
				li {
					padding: 5px 10px; border-bottom: 1px solid $gris4;
					a { display: block; padding: 5px 0; color: $gris26; font-weight: $bold; font-size: 14px;}
					&:hover {
						background-color: $gris5;
						a { color: $gris2; }
					}
					&:last-child { border-bottom: 0; }
				}
			}
		}

		.g-sub-title2 {
			span.ico-mapfre { color: $verde2; }
		}

		.g-box3 {
			&.box-add-occupant {
				&-2 {
					text-align: left;
					.g-label3 {
						padding-left: 4px;
					}
					.row-add-item {
						.col-add-item {
							&-id, &-age { text-align: center; }
						}
					}
				}
			}
			&.box-add-damage {}
		}

		.vehiculo-box {
			.g-box2 {
				.g-sub-title2 { padding-left: 20px; }
			}
		}

		.inf-siniestro-box {
			.g-box2 { margin-top: 0; }
			.g-box3 {
				margin-top: 0;
				>.ico-mapfre_117_auto_crash2 {font-size: 70px;}
			}

		}

		.pdf_files_box {
			.ico-mapfre { font-size: 40px;}
			.ico-mapfre_124_download { color: $gris24; }
			.ico-name {
				>span { display: inline-block; vertical-align: middle; }
			}
		}
	}
}

// .page-cotizar {
	.g-home-inner-medicalCenter {
		.g-btn-ico{
			font-size: 30px;
			font-weight: $thin;
			margin-right: 3px;
			&:before{
				top: 6px;
			}
		}
		.grid-home-medicalCenter {
			.medicalCenter {
				&-item {
					text-align:center; padding-top:40px; padding-bottom:40px;
					// &-1 { border-top: 1px solid $gris13; border-bottom: 1px solid $gris13; }
					// &-2 { border-bottom: 1px solid $gris13; }
					// &-3 { border-bottom: 1px solid $gris13; }
				}
				&-link {@include inlineblock;}
				&-ico {display:block; text-align:center; font-size:50px; color:$gris12;}
				&-label {display:block; text-align:center; font-size:$font-size5; color:$cRed1;}
			}
		}
		.grid-elegido {
			padding-top: 30px;
			h2 {font-size:$font-size8; font-weight:$light;}
			.medicalCenter {
				&-item {text-align:center; padding-top:40px; padding-bottom:40px;}
				&-otros {padding-top:60px; padding-bottom:50px; padding-left:45px;}
				&-ico {display:block; text-align:center; font-size:50px; color:$cRed1;}
				&-label {display:block; text-align:center; font-size:$font-size5; color:$cRed1;}
			}
			&-btns {
				&-question {
					margin-top: 30px; //margin-bottom: 20px;
				}
				&-box {
					margin-top: 10px; margin-bottom: 10px;
					.g-btn {width:100%;}
				}
			}
		}
	}

	@media (min-width: $break-medium) {
		ul li .nav-link {
			font-size: 12px !important;
		}
		.order-medicines{
			padding:20px 20px 20px 20px ;

		}
		.order-delivery{
			.money{
				position: absolute;
				right: 50px;
				top: 38px;
				padding: 0 0 0 0;
			}
			.money-total{
				position: absolute;
				right: 50px;
				top: 0px;
				padding: 0 0 0 0;
			}

			.col-md-2{
				width: 14%;
			}
			.col-md-4{
				width: 30%;
			}
			padding: 20px 0 0 0;

		}
		.g-home-inner-medicalCenter {
			.grid-home-medicalCenter {
				.medicalCenter {
					&-item {
						text-align:center; padding-top:40px; padding-bottom:40px;
					}
					&-link {@include inlineblock;}
					&-ico {display:block; text-align:center; font-size:50px; color:$gris12;}
					&-label {display:block; text-align:center; font-size:$font-size5; color:$cRed1;}
				}
			}
			.grid-elegido {
				h2 {font-size:$font-size8; font-weight:$light;}
				.medicalCenter {
					&-item {text-align:center; padding-top:40px; padding-bottom:40px;}
					&-otros {padding-top:60px; padding-bottom:50px; padding-left:45px;}
					&-ico {display:block; text-align:center; font-size:50px; color:$cRed1;}
					&-label {display:block; text-align:center; font-size:$font-size5; color:$cRed1;}
				}
				&-btns {
					&-question {
						margin-top: 40px; //margin-bottom: 30px;
					}
					// &-box {
					//  margin-top: 0; margin-bottom: 0;
					// }
				}
			}
		}
	}

	//* Separdor *//

.separador {
  margin-top: 1px !important;
  margin-bottom: 12px !important;
}

.g-tag2 {
  width: 100% !important;
}
.box-medicaments {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 20px;
}
.box-medicaments-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-medicaments-header .box-medicaments-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  font-weight: 450;
}
.box-medicaments-body {
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #d5d5d5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box-medicaments .box-medicaments-body .item {
  border-bottom: 1px solid #d5d5d5;
  padding-top: 10px;
  padding-bottom: 10px;
  /*min-height: 240px;*/
}
.box-medicaments .box-medicaments-body .item-header {
  font-weight: 450;
}
.box-medicaments .box-medicaments-body .item-bottom {
  padding: 10px 0 10px 0;
  font-weight: 450;
}

.box-medicaments-body span {
  color: #6c6b6b;
}

.box-medicaments-body-dashed {
  border-style:dashed;
  border-width: 0px 0px 0px 2px;
  margin: 5px 0 7px 20px;
  font-weight: 100;
  color: #6c6b6b;
}

.box-medicaments-card-type > input[type="radio"] {
    visibility:hidden;
    width: 1px;
}

.box-medicaments-card-type > input[type="radio"]:checked + label {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.secuFondoAmbar {
  background-color: #eec100;
}

.secuFondoVerde2 {
  background-color: #749806;
}

.carousel-content-farmapfre {
  height: 250px !important;
}

.carousel-content-farmapfre > ol > .active {
  color: #888383 !important;
  background-color: #CECBCB !important;
}

.carousel-content-farmapfre > ol > li {
  height: 20px !important;
  width: 20px !important;
}

.glyphicon-carousel-farmapfre {
  position: absolute;
  top: 10px;
  right: 0.01%;
  color: #fff;
  z-index: 100;
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  font-size: 21px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-content-farmapfre > .carousel-control {
  width: 3.5% !important;
  background-color: #4C5455;
}

.carousel-content-farmapfre > .carousel-control > span {
  right: 15% !important;
}

.carousel-farmapfre {
  overflow: hidden !important;
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.carousel-farmapfre > .text-center {
  overflow: hidden !important;
}

.box-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mp-dlvr .modal-dialog {
  width: 85% !important;
  overflow: auto;
}

.mp-dlvr .modal-dialog > .modal-content {
  width: 100% !important;
  overflow: auto;
}

.g-select-desing > select {
  padding-right: 24px !important;
}

.g-select-desing > select:disabled {
  padding-right: 0 !important;
}


@media (max-width: 768px) {
  .glyphicon-carousel-farmapfre {
    position: absolute;
    top: 10px;
    right: -1.7%;
    color: #fff;
    z-index: 100;
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
}

.nvtOptions {
	position: relative;
	padding: 24px 16px 24px 64px !important;
	border: 2px solid transparent;
	border-radius: 8px !important;
	color: #00000090;
	width: 100% !important;
	display: inline-block !important;
	box-sizing: border-box;
	text-decoration: none;
	min-height: 90px;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);

	.icon {
	  width: 48px;
	  height: 48px;
	  position: absolute;
	  top: 50%;
	  margin: -24px 0 0 0;
	  left: 16px;
	  border-radius: 8px;
	  background-size: cover;
	  opacity: .6;
	}
  }

  #opt-backoffice .icon {
	background-image: url(../image/icon-dm-backoffice.svg);
  }

  #opt-reenvio .icon {
	background-image: url(../image/icon-dm-reenvio.svg);
  }

  #opt-reportes .icon {
	background-image: url(../image/icon-dm-reportes.svg);
  }

  #opt-mantenimientos .icon {
	background-image: url(../image/icon-dm-mantenimientos.svg);
  }

  .nvtOptions:hover .icon {
	opacity: 1;
  }

  #opt-backoffice:hover .icon {
	background-image: url(../image/icon-dm-backoffice-hover.svg);
  }

  #opt-reenvio:hover .icon {
	background-image: url(../image/icon-dm-reenvio-hover.svg);
  }

  #opt-reportes:hover .icon {
	background-image: url(../image/icon-dm-reportes-hover.svg);
  }

  #opt-mantenimientos:hover .icon {
	background-image: url(../image/icon-dm-mantenimientos-hover.svg);
  }

  .gnIcon-xs {
	font-size: 22px;
  }

  .nvtOptions {
	span {
	  display: block;
	  line-height: 20px;
	  text-align: center;
	  font-weight: 600;
	  font-size: 18px;
	  padding: 8px 6px 20px 6px;
	  width: 100%;
	  box-sizing: border-box;
	  position: relative;

	  &::after {
		content: '';
		position: absolute;
		height: 3px;
		border-radius: 2px;
		width: 48px;
		background-color: #749806;
		bottom: 3px;
		left: 50%;
		margin: 0 0 0 -24px;
	  }
	}

	&:hover {
	  border: 2px solid #749806;
	  color: #749806;
	  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	}
  }

  .nvt-btn-crud {
	&:hover {
	  color: #749806;
	}
  }

  .h1Dlvr {
	font-size: 18px;
	font-weight: 600;
	padding: 0 0 0 58px;
	position: relative;

	.ico-mapfre_13_miperfil {
	  position: absolute;
	  left: 0;
	  font-size: 36px;
	  background-color: #f2f2f2;
	  border-radius: 24px;
	  width: 48px;
	  height: 48px;
	  line-height: 48px;
	  text-align: center;
	  color: #777 !important;

	  &::before {
		content: "\e90c";
	  }
	}

	.subh1 {
	  font-size: 14px;
	}
  }

  .h2Dlvr {
	font-size: 15px;
  }

  @media only screen and (min-width: 481px) {}

  @media only screen and (min-width: 820px) {}

/*=================================================================*/
/*CSS TRAY NVT*/
.headReg {
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #ddd;
  line-height: 20px; }


.lblNvt, .lblTimeNvt {
  background-color: #ddd;
  border-radius: 4px;
  padding: 0 5px !important;
  margin: 0 0 0 4px;
  font-size: 12px;
  font-weight: 600;
  min-width: 86px !important;
  max-width: 300px !important;
}

.count-container {
	cursor: pointer;
	div {
		margin: 10px;
		span {
			background-color: #8b8989;
			color: #ffffff;
			border-radius: 5em;
			padding: 5px;
			font-size: 12px;
			font-weight: 600;
		}
	}
}

.count-container-no-select {
	div {
		color: #8b8989 !important;
	}
}

.lblNvtCount {
	background-color: #ffffff !important;
	color: #749806 !important; 
	border-radius: 5em;
	padding: 5px;
	font-size: 12px;
	font-weight: 600;
  }

.lblNvtDateTC {
	position: relative; 
	display: inline-block; 
	// vertical-align: top; 
	padding: 0 5px !important; 
	// margin: 0 0 0 4px; 
	zoom: 1; 
	font-size: 12px; 
	font-weight: 400;
  }

.lblTimeNvt {
  font-weight: 400;
  max-width: 190px !important; }

.bgGreen {
	background-color: #749806;
}

/*BG COLOR LABEL STATUS*/
/*---Recibido y Pendiente---*/
.bgPending {
  background-color: #727e4e; }

/*---En atencion y En Camino---*/
.bgInAtention {
  background-color: #0189ff; }

/*---Atendido---*/
.bgAttended {
  background-color: #08c3a6; }

/*---Entregado---*/
.bgDelivered {
  background-color: #8db602; }

/*---Anulado---*/
.bgCanceled {
  background-color: #d81e05; }

/*BG COLOR LABEL TIME*/
.bgTimeHigh {
  background-color: #d81e05; }

.bgTimeMedium {
  background-color: #ff7900; }

.bgTimeLow {
  background-color: #8db602; }

.g-section-tabs .nav-tabs > li.active > a {
  color: #749806 !important;
  font-weight: bold; }

/*ESTILOS CROPPER*/
.cropperRB {
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box; }

.cropperRB .left {
  width: 43%;
  height: 420px;
  background-color: #00000085;
  border-radius: 8px;
  float: left;
  clear: right;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.cropper-container, .cropper-wrap-box {
  border-radius: 8px; }

/* OPTIONS CROPPER */
.cropperRB .left .optRB {
  position: absolute;
  background-color: #00000080;
  padding: 2px;
  border-radius: 6px; }

.cropperRB .left .optRB span {
  color: #fff;
  padding: 11px;
  border-radius: 4px;
  margin: 0;
  float: left;
  clear: right;
  width: 36px;
  text-align: center;
  cursor: pointer;
  top: 0; }

.cropperRB .left .optRB span:hover {
  background-color: #ffffff25; }

.cropperRB .left .optRB span:active {
  background-color: #749806; }

.cropperRB .left .select {
  top: 12px;
  left: 12px; }

.select span {
  line-height: 36px;
  padding: 0 11px !important; }

.spnSlct {
  background-color: #749806!important;
  font-weight: bold; }

.select .lbl {
  width: auto !important;
  font-size: 12px;
  background-color: transparent !important;
  cursor: default !important; }

.cropperRB .left .reflect {
  border-radius: 6px 0 0 6px;
  right: 141px;
  top: 12px; }

.cropperRB .left .rotate {
  border-radius: 0 6px 6px 0;
  right: 64px;
  top: 12px; }

.cropperRB .left .download {
  border-radius: 6px;
  top: 12px;
  right: 12px;
}

.cropperRB .left .prev, .cropperRB .left .next {
  top: 50%;
  margin: -20px 0 0 0; }

.cropperRB .left .prev {
  left: 12px; }

.cropperRB .left .next {
  right: 12px; }

.cropperRB .left .zoom {
  left: 50%;
  margin: 0 0 0 -56px;
  width: 112px;
  bottom: 12px; }

.cropperRB .right {
  width: 55%;
  float: right;
  clear: right;
  box-sizing: border-box; }

.cropperRB .right h1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 47px; }

.cropperRB .right .top {
  margin-bottom: 15px; }

.cropperRB .right .top .g-select-desing {
  padding-top: 0;
  margin: -15px 0 0 0; }

.cropperRB .right .medicines .list .register {
  position: relative;
  padding: 18px 10px 14px 0;
  border-bottom: 1px solid #ddd;
  margin: 0; }

.cropperRB .right .medicines .list .register .col-md-2 {
  padding-left: 0;
  padding-right: 20px;
  width: 15%; }

.cropperRB .right .medicines .list .register .col-md-2:first-child {
  width: 30%; }

.cropperRB .right .medicines .list .register .col-md-2-RB-1 {
  width: 11%; }

.cropperRB .right .medicines .list .register .col-md-2-RB-2 {
  width: 18%; }

.cropperRB .right .medicines .list .register .icon-row {
  position: absolute;
  right: 0px;
  top: 52px; }

.cropperRB .right .medicines .total {
  /*line-height: 50px;*/
  width: 100%;
  padding: 15px 0; }

.cropperRB .right .medicines .total .col-md-4 a {
  color: #749806;
  font-weight: bold;
  line-height: 20px;
  margin: 15px 0;
  display: block; }

.cropperRB .right .medicines .total .col-md-4 a i {
  margin: 0 5px 0 0; }

.cropperRB .right .medicines .total .col-md-8 {
  text-align: right;
  padding: 0 15px 0 0;
  font-size: 15px;
  line-height: 50px; }

.cropperRB .right .medicines .total .col-md-8 span {
  font-weight: bold; }

.cropperRB .bottom {
  text-align: right;
  display: inline-block;
  width: 100%; }

.cropperRB .bottom .g-btn {
  float: right;
  margin: 0 0 20px 0; }

/* Full-screen */
.fs {
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #fff;
  left: 0;
  z-index: 9999; }

.fs .left {
  width: 50%;
  height: 100%;
  border-radius: 0; }

.fs .cropper-container, .fs .cropper-wrap-box {
  border-radius: 0 !important; }

.fs .right {
  width: 50%;
  position: relative;
  height: 100%;
  padding: 0 2%; }

.fs .right .top {
  height: auto;
  width: 100%;
  padding: 20px 0; }

.fs .right .top .col-md-6 .g-btn {
  margin-right: -30px; }

.fs .right .medicines {
  position: fixed;
  width: 50%;
  top: 116px;
  bottom: 170px;
  padding: 0 2%;
  margin: 0 0 0 -2%; }

.fs .right .medicines .list {
  position: initial;
  max-height: 100%;
  //overflow: auto;
  padding: 0;
  margin: 0 0 50px 0; }

.fs .right .medicines .list .register .icon-row {
  right: 4px; }

.fs .right .medicines .total {
  height: 50px;
  position: absolute;
  margin: -50px 0 0 -30px;
  padding: 0 30px 0 15px; }

.fs .bottom {
  position: absolute;
  width: 80%;
  bottom: 0;
  right: 0;
  padding: 0 2%; }

.fsBtn {
	transition: none !important;
  position: fixed;
  z-index: 9999;
  width: 25% !important;
  right: 30px;
  bottom: 30px;
  margin: 0 !important; }

.tabComplete {
	color: #749806 !important;
	font-weight: bold;
}

.infoMobile {
    padding: 30px 0 60px 0; }
.infoDesktop {
	display: none; }
	
.nvt-paragraph-break {
	overflow-wrap: break-word; }

.text-area {
	textarea {
		text-transform: initial !important; }
 }

 @media (min-width: 768px) {
  .infoMobile {
    display: none; }
  .infoDesktop {
    display: block; }


/**/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .g-select-desing .ico-select {
    display: none; }

  .g-select-horz .g-select-desing select {
    padding-right: 0; }
}
/*# sourceMappingURL=mainFarmapfre.css.map */
.commentdvlry {
  height: 100px;
  box-shadow: none;
  outline: none;
  padding: 0 !important;
  margin: 0 0 10px 0;
  border: none !important; }

.commentdvlry textarea {
  max-height: 90px !important; }

.count {
  position: absolute;
  bottom: -8px;
  right: 26px;
  opacity: .5; }

  .g-boxRb{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 20px 20px 10px 20px;
	margin-top: 10px;
	.g-btn{
		margin: 0 0 0 6px;
		width: 110px;
	}
}

.txt-lett-1 {
	letter-spacing: -1px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .g-select-desing .ico-select {
    display: none; }

  .g-select-horz .g-select-desing select {
    padding-right: 0; }
}
}
/*# sourceMappingURL=mainFarmapfre.css.map */
