<div class="clearfix">
  <div>
    <div class="col-xs-8 col-md-4">
      <mpf-input
        class="g-polizagrupo-input"
        label="{label: 'Código de póliza de grupo', required: false}"
        name="nCodPolizaGrupo"
        ng-model="$ctrl.data.groupPolize"
        mpf-validation="onlyNumber"
        ng-maxlength="13"
      ></mpf-input>
    </div>
    <div class="col-xs-4 col-md-2 table-btn-buscar">
      <a
        class="g-btn g-btn-white second-design mt-xs-3 h-myd-mt--10"
        ng-click="$ctrl.searchGroupPolize($ctrl.data.groupPolize)"
        >Buscar</a
      >
    </div>
    <div class="col-xs-12 col-md-6 g-polizagrupo-error g-myd-polizagrupo-error" ng-show="$ctrl.data.errorGroupPolize">
      <span class="ico-mapfre_37_informacion g-polizagrupo-error-ico g-myd-polizagrupo-error-ico"></span>
      <span>El código que ingresaste no existe</span>
    </div>
    <div
      class="col-xs-12 mt-xs-2 g-polizagrupo-resultado g-myd-polizagrupo-resultado"
      ng-show="$ctrl.data.showGroupPolize"
    >
      <span>{{ $ctrl.data.groupPolizeDescription }}</span>
      <span class="ico-mapfre_48_cerrar ico-cerrar" ng-click="$ctrl.closeGroupPolize()"></span>
    </div>
  </div>
</div>
