<div class="clearfix">
  <div class="container">
    <div class="row mb-md-3">
      <div class="col-md-12 g-text-center-xs mb-xs-2">
        <h2 class="gH3"><b>{{vm.data.title}}</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <mpf-select
          ng-model="vm.sucursalSelected"
          name="nTipoVehiculo"
          label="{label: vm.data.lblCbo, required: true}"
          m-data-source="vm.data.sourceSelect"
          text-field="businesName"
          value-field="code"
          m-Empty-Option="{enterData:false}"
          ng-required="true" ></mpf-select>
      </div>
      <div class="col-md-4 col-md-offset-4 mt-md-2">
        <button ng-click="vm.selectedSucursal(vm.sucursalSelected)" class="g-btn g-btn-verde second-design block" ng-class="{disabled: !validationForm()}">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
