.tabs-vehiculo{
	.tab-content:before { left: 0; width: 1px; background-color: $cWhite1; }
	.tab-content:after { right: 0; width: 1px; background-color: $cWhite1; }
	.nav-tabs > li > a { text-transform: none; font-size: $fz14; }
}
.archivoAdjunto{
	.cont{display: inline-block;}
	.cont2{display: inline-block;padding-left: 30px;}
}

.ng-hide.ng-hide-animate {
  display: none !important;
}

.g-input-sm {
  .g-placeholder {
    top: 20px;
    &.animated {
      top: 0;
    }
  }

  input {
    height: 20px;
    margin-top: 0px;
  }
}

.g-select-sm {
  select {
    height: 20px;
    margin-top: 0px;
    line-height: 20px;
  }

  .icon-select {
    line-height: 20px;
    height: 20px;
    font-size: 16px;
    width: 16px;
  }
}
