<div class="container">
    <div class="row">
        <div class="col-md-6 pl-md-0">
            <div class="row">
                <div class="col-md-5 pb-xs-1">
                    <a class="g-btn-title block"  data-ng-class="$ctrl.active ? ' c-btn-green' : ' c-btn-gray' " data-ui-sref="cemetery({})">
                        CAMPOSANTOS
                    </a>
                </div>
                <div class="col-md-5 pb-xs-1 ">
                  <a class="g-btn-title block" data-ng-class="!$ctrl.active ? ' c-btn-green' : ' c-btn-gray' "  data-ui-sref="parameterGeneral({})">
                      PARÁMETROS
                  </a>
              </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-4" ng-if="$ctrl.showButton">
            <div class="row">
                <div class="col-md-12 pb-xs-1">
                    <button class="g-btn g-btn-verde block" ng-class="{disabled: $ctrl.isDisabled}"  ng-click="$ctrl.update()">Guadar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>