<section class="g-salud-suscripcion">

    <page-title info="{title: gLblTitle}"></page-title>

    <div class="g-section-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <!-- Steps -->
                    <wizard-stairs stairs="{steps: [{description:'Datos de los asegurados'},{description:'Declaración de salud'},{description:'Carga de documentos'}], stateName:'.steps', stateParameter: 'step'}" current-Step="currentStep" steping="nav.go($stepToGo)"></wizard-stairs>
                    <!-- STEPS -->
                </div>
            </div>
            <div id="form-views" ui-view=""></div>
        </div>
    </div>

</section>
