<section class="g-page page-modal page-modal__nueva-inspeccion">

	<button type="button" class="close g-close-modal" ng-click="$ctrl.closeModal()">
		<span class="ico-mapfre_231_cancelaroff"></span>
	</button>

	<form name="frmNuevaInspeccionForm">
		<div class="clearfix">	
			<div class="col-md-12">
				<div class="container">
					<div class="container">
						<div class="row">
							<div class="col-md-12 g-text-center-xs mb-xs-2">	
								<h2 class="gH3" ng-show="$parent.showAddTitleInspector"><b>NUEVO INSPECTOR</b></h2>
								<h2 class="gH3" ng-show="!$parent.showAddTitleInspector"><b>EDITAR INSPECTOR</b></h2>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix">
					<div class="col-md-12 mb-xs-1">
						<h3 class="gH4 gCGray1 g-border-bottom-xs">
							<b>Datos de auditoria</b>
						</h3>
					</div>	
					<ul class="clearfix g-list-md mb-xs-1">
						<li class="col-md-6 clearfix cnt-item">
							<div class="col-md-5 col-xs-12 col-sm-6 item-label">
								<span class="ico-mapfre_82_circle ico-bullet"></span>
								Usuario creación:
							</div>
							<div class="col-md-6 col-xs-12 col-sm-6 item-dato text-left">
								43556534
							</div>
						</li>
						<li class="col-md-6 clearfix cnt-item">
							<div class="col-md-5 col-xs-12 col-sm-6 item-label">
								Usuario Modificación: 
							</div>
							<div class="col-md-6 col-xs-12 col-sm-6 item-dato text-left">
								54565456
							</div>
						</li>
					</ul>
					<ul class="clearfix g-list-md mb-xs-1">
						<li class="col-md-6 clearfix cnt-item">
							<div class="col-md-5 col-xs-12 col-sm-6 item-label">
								<span class="ico-mapfre_82_circle ico-bullet"></span>
								Fecha creación:
							</div>
							<div class="col-md-6 col-xs-12 col-sm-6 item-dato text-left">
								14/03/2017  10:40:06 am
							</div>
						</li>
						<li class="col-md-6 clearfix cnt-item">
							<div class="col-md-5 col-xs-12 col-sm-6 item-label">
								Fecha Modificación:    
							</div>
							<div class="col-md-6 col-xs-12 col-sm-6 item-dato text-left">
								15/03/2017  10:40:06 am
							</div>
						</li>
					</ul>
				</div>

				<div class="clearfix mt-xs-3">
					<div class="col-md-12 mb-xs-1">
						<h2 class="gH4 gCGray1 g-border-bottom-xs"><b>Datos de proveedor</b></h2>
					</div>
					<div class="col-md-4 mb-xs-2">
						<mpf-select label="{label: 'Proveedor', required: true}" name="nProvedor" ng-model="mProvedor"></mpf-select>
					</div>
					<div class="col-md-4 mb-xs-2">
						<mpf-select label="{label: 'Usuario OIM', required: true}" name="nUsuario" ng-model="mUsuario"></mpf-select>
					</div>
				</div>
				
				<div class="clearfix mt-xs-3">
					<div class="col-md-12 mb-xs-1">
						<h2 class="gH4 gCGray1 g-border-bottom-xs"><b>Datos</b></h2>
					</div>
					<div class="clearfix">
						<div class="col-md-4 mb-xs-2">
							<mpf-select label="{label: 'Tipo Documento', required: false}" name="nTipoDoc" ng-model="mTipoDoc"></mpf-select>
						</div>
						<div class="col-md-4 mb-xs-2">
							<mpf-input label="{label: 'Nro. de documento', required: false}" name="nNroDoc" ng-model="mNroDoc"></mpf-input>
						</div>
					</div>
					<div class="clearfix">
						<div class="col-md-4 mb-xs-2">
							<mpf-input label="{label: 'Nombres', required: false}" name="nNombre" ng-model="mNombre"></mpf-input>
						</div>
						<div class="col-md-4 mb-xs-2">
							<mpf-input label="{label: 'Apellido paterno', required: false}" name="nApellidoPaterno" ng-model="mApellidoPaterno"></mpf-input>
						</div>
						<div class="col-md-4 mb-xs-2">
							<mpf-input label="{label: 'Apellido materno', required: false}" name="nApellidoMaterno" ng-model="mApellidoMaterno"></mpf-input>
						</div>
					</div>
					<div class="clearfix">
						<div class="col-md-4 mb-xs-2">
							<mpf-input label="{label: 'Número teléfono', required: false}" name="nNroTelefono" ng-model="mNroTelefono"></mpf-input>
						</div>
						<div class="col-md-4 mb-xs-2">
							<mpf-input label="{label: 'Número movil', required: false}" name="nNroMovil" ng-model="mNroMovil"></mpf-input>
						</div>
						<div class="col-md-4 mb-xs-2">
							<mpf-input label="{label: 'E-mail', required: false}" name="nEmail" ng-model="mEmail"></mpf-input>
						</div>
					</div>
					<div class="clearfix">
						<div class="col-md-4 mb-xs-2">
							<mpf-select label="{label: 'Estado', required: false}" name="nEstado" ng-model="mEstado"></mpf-select>
						</div>
					</div>
				</div>
				
				<div class="clearfix mt-xs-2">
					<div class="col-md-4 col-md-offset-2">
						<a href="" class="g-btn g-btn-transparent block" ng-click="$ctrl.closeModal()">Cancelar</a>
					</div>
					<div class="col-md-4 mt-xs-1 mt-md-0">
						<a href="" class="g-btn g-btn-verde block" ng-click="showAsignarNuevo(); $ctrl.closeModal()" ng-show="showAddGuardar">ASIGNAR</a>
						<a href="" class="g-btn g-btn-verde block" ng-click="showAsignarEditar(); $ctrl.closeModal()" ng-show="!showAddGuardar">GUARDAR</a>
					</div>
				</div>
			</div>	
		</div>
	</form>

</section>