<section class="g-page page-modal page-modal__nueva-inspeccion">
  <button type="button" class="close g-close-modal" ng-click="$ctrl.closeModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>

  <form name="frmNuevaInspeccionForm">
    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>ASIGNAR PROVEEDOR</b></h2>
        </div>
      </div>
    </div>

    <form action="">
      <div class="container">
        <div class="clearfix pb-md-2 pt-md-1 g-box-md gBgcGray5-md gBgcWhite1 g-myd-box">
          <div class="col-md-12">
            <div class="clearfix gH4 gCGray1 mb-xs-1-5">
              <h2><b>Buscar</b></h2>
            </div>
            <div class="row">
              <div class="col-md-4 mb-xs-2">
                <mpf-select
                  label="{label: 'Tipo documento', required: false}"
                  name="nTipoDocumento"
                  ng-model="$ctrl.formData.mTipoDocumento"
                  m-data-source="$ctrl.documentTypeData"
                  text-field="Descripcion"
                  value-field="Codigo"
                  m-Empty-Option="{enterData:true}"
                ></mpf-select>
              </div>
              <div class="col-md-4 mb-xs-2">
                <mpf-input
                  label="{label: 'Nro. documento', required: false}"
                  name="nNroDocumento"
                  ng-model="$ctrl.formData.mNroDocumento"
                  ng-disabled="!$ctrl.formData.mTipoDocumento.Codigo"
                  mpf-validate="required"
                ></mpf-input>
              </div>
              <div class="col-md-4 mb-xs-2">
                <mpf-input
                  label="{label: 'Razón social', required: true}"
                  name="nRazSocial"
                  ng-model="$ctrl.formData.mRazSocial"
                ></mpf-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-3 mb-xs-1 no-mb-md">
                <a href class="g-btn g-btn-verde second-design block" ng-click="$ctrl.filter()">buscar</a>
              </div>
              <div class="col-md-3 mb-xs-1 no-mb-md">
                <a class="g-btn g-btn-white second-design block" ng-click="$ctrl.clearData()">Limpiar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Resultados -->
    <div class="container">
      <div class="row">
        <!-- Mensaje de error si no hay resultados -->
        <div class="col-md-12 text-center g-box-noresult ng-scope" ng-if="$ctrl.noResult">
          <div class="row">
            <div class="col-md-12 g-box-noresult-ico gCRed1">
              <span class="ico-mapfre_302_error"></span>
            </div>
            <div class="col-md-12 g-box-noresult-text">
              No hay resultados para los filtros escogidos.<br />Intente nuevamente.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mt-xs-3">
        <div
          class="col-md-12 g-list-md g-box gBgcGray5 pt-xs-1 mb-xs-1 ng-scope"
          ng-repeat="provider in $ctrl.providers"
        >
          <div class="row g-row-fz12">
            <!-- header -->
            <div class="col-md-12 g-col-md middle">
              <ul class="row">
                <li class="col-md-3 clearfix cnt-item">
                  <div class="col-xs-12 item-label">
                    Tipo documento:
                  </div>
                  <div class="col-xs-12 item-dato g-text-uppercase">
                    {{ provider.tiP_DOCUM }}
                  </div>
                </li>
                <li class="col-md-3 clearfix cnt-item">
                  <div class="col-xs-12 item-label">
                    Nro. documento:
                  </div>
                  <div class="col-xs-12 item-dato g-text-uppercase">
                    {{ provider.coD_DOCUM }}
                  </div>
                </li>
                <li class="col-md-3 clearfix cnt-item">
                  <div class="col-xs-12 item-label">
                    Raz. Social / Nombres:
                  </div>
                  <div class="col-xs-12 item-dato g-text-uppercase">
                    {{ provider.noM_TERCERO }}
                  </div>
                </li>
                <li class="col-md-3 g-col-md middle gCGray3 g-text-center-xs">
                  <div class="col-xs-12 pb-xs-1">
                    <a href class="g-btn g-btn-white second-design block" ng-click="$ctrl.assign(provider)">Asignar</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Fin: Resultados -->
        </div>
      </div>
    </div>

    <div class="container" ng-if="$ctrl.pagination.totalRecords > $ctrl.pagination.maxSize">
      <div class="row">
        <div class="col-md-12">
          <ul
            uib-pagination
            class="g-pagination"
            ng-model="$ctrl.pagination.currentPage"
            max-size="$ctrl.pagination.maxSize"
            total-items="$ctrl.pagination.totalRecords"
            ng-change="$ctrl.pageChanged()"
            boundary-link-numbers="true"
          ></ul>
        </div>
      </div>
    </div>
  </form>
</section>
