<!-- Datos del cliente -->
<section class="">
  <div class="accter">
    <div class="g-title g-border-bottom mb-xs-2">
      <div class="container">
        <div class="row h-myd--flex h-myd--flex-alg-center h-myd--flex-wrap">
          <div class="col-xs-12 col-sm-8">
            <h1>Bienvenido</h1>
          </div>
          <div class="col-xs-12 col-sm-4 g-text-right-sm hidden-sm hidden-xs mt-md-1">
            <a href="/">
              <span class="g-link gCGray3">
                <i class="icon ico-mapfre_310_arrowLeft"></i>
                <b>VOLVER AL INICIO</b>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Datos de la poliza -->
<section class="g-page">
  <div class="accter">
    <div class="g-section h-myd-mb--10 h-myd-mt--10">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2>
              En este portal podrás actualizar tus datos de cliente por póliza
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-xs-1 mt-xs-2"  ng-repeat="item in $ctrl.subMenus.items">
            <a href="{{item.ruta}}" class="g-btn g-btn-verde block">{{item.nombreLargo}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
