
<div class="table-flipscroll">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-right:100px">Proveedor</th>
                    <th>Sede</th>
                    <th ng-repeat="header in $ctrl.nvtSource.header[0].properties">{{header.value}}</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.nvtSource.data">
                    <td align="left">{{item.especialityCode}}</td>
                    <td>{{item.medicalName}}</td>
                    <td ng-repeat="prop in item.properties">{{$ctrl.resolveValue(prop, item.properties)}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>