<div class="g-page page-ginfo-home">
    <div class="g-title">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Lista de Carruseles</h1>
                </div>
                <div class="col-md-4 pt-md-2 text-right">
                    <a href="#/" ui-sref="home">
                        <span class=" gCGray3">
                            <i class="icon ico-mapfre_310_arrowLeft"></i>
                            <b>Volver</b>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ap-card-list-ramo></ap-card-list-ramo>
        <br>
        <ap-card-section></ap-card-section>
        <br>
        <div class="mb-xs-2" ui-view="contenido"></div>
    </div>
</div>