<div class="g-title">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <h1>Administrador por ramos</h1>
                </div>
                <div class="col-md-4 pt-md-2 text-right">
                    <a href="#/" ui-sref="home">
                        <span class=" gCGray3">
                            <i class="icon ico-mapfre_310_arrowLeft"></i>
                            <b>Volver</b>
                        </span>
                    </a>
                </div>
            </div>
        </div>
</div>
<div style="background-color: #F4F4F4; padding: 32px 0px 32px 0px;">
    <div class="container">
        <ap-card-list-ramo></ap-card-list-ramo>
    </div>
</div>
<div class="container">
    <div style="display: flex; flex-direction: row;" class="mt-md-3">
        <ap-card-section></ap-card-section>
        <div class="mb-xs-2 pl-md-3 w-100" ui-view="contenido"></div>
    </div>
        <br>
</div>