<div ng-form="frmUpdateApplication">
  <div class="row view-1 mb-md-4 mt-md-2 h-myd-mb--20 h-myd-ph--20">
    <div class="form-group clearfix">
      <div class="col-xs-12 col-sm-4 mt-xs-2 mt-sm-0">
        <mpf-input
          label="{label: 'Nombre largo', required: true}"
          name="nNombreL"
          ng-model="$parent.application.nomLargo"
          ng-required="true"
          ng-maxlength="maxLengthTxtApp"
          mpf-validation="onlyLetterNumberGuion">
        </mpf-input>
        <ul class="g-error">
          <li ng-show="frmUpdateApplication.nNombreL.$error.required
                        && !frmUpdateApplication.nNombreL.$pristine">* Este campo es obligatorio</li>
          <li ng-show="!frmUpdateApplication.nNombreL.$error.required
                        && $parent.application.nomLargo.length < 2">* Mínimo de 2 carácteres</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 mt-xs-2 mt-sm-0">
        <mpf-input
          label="{label: 'Nombre corto', required: false}"
          name="nNombreC"
          ng-model="$parent.application.nomCorto"
          ng-required="false"
          ng-maxlength="maxLengthTxtAppCorto"
          mpf-validation="onlyLetterNumberGuion">
        </mpf-input>
      </div>
      <div class="col-xs-12 col-sm-4 mt-xs-2 mt-sm-0">
        <mpf-input
          label="{label: 'Ruta de Acceso', required: true}"
          name="nRutaA"
          ng-model="$parent.application.rutAcceso"
          ng-required="true"
          ng-maxlength="maxLengthTxtRuta">
        </mpf-input>
        <ul class="g-error">
          <li ng-show="frmUpdateApplication.nRutaA.$error.required
                        && !frmUpdateApplication.nRutaA.$pristine">* Este campo es obligatorio</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row view-1 mt-md-2 h-myd-mb--20 h-myd-ph--20">
    <div class="form-group clearfix">
      <div class="col-xs-12 col-sm-4 mt-xs-2 mt-sm-0">
        <mpf-input
          label="{label: 'Descripción'}"
          name="description"
          ng-model="$parent.application.description"
          ng-required="false"
          ng-maxlength="50">
        </mpf-input>
      </div>
      <div class="col-xs-12 col-sm-4 mt-xs-2 mt-sm-0">
        <mpf-input
          label="{label: 'Página por defecto', required: false}"
          name="nPaginaD"
          ng-model="$parent.application.paginaDefecto"
          g-required="false"
          ng-maxlength="maxLengthTxtPage">
        </mpf-input>
      </div>
      <div class="col-xs-12 col-sm-4 mt-xs-2 mt-sm-0">
        <mpf-select
          label="{label: 'Estado: ', required: false}"
          name="nEstado"
          ng-model="$parent.codEstado"
          m-data-source="userCodes"
          text-field="descripcion"
          value-field="codigo"
          m-Empty-Option="{enterData:false}"
          ng-required="false"
          ng-change="$parent.updateStatusApplication($parent.codEstado.codigo)">
        </mpf-select>
      </div>
    </div>
  </div>
  <div class="row view-1 mb-xs-4 h-myd-mb--20 h-myd-ph--20">
    <div class="form-group clearfix">
      <div class="col-xs-6 col-sm-2 cont-checkbox">
        <div class="content-outer">
          <div class="content-inner">
            <mpf-checkbox
              name="nCheckWebMovil"
              ng-model="$parent.application.webMovil"
              label="Web Movil">
            </mpf-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row view-1 mb-xs-4">
    <div class="col-md-12">
      <div class="g-list-md g-box pt-xs-2 pb-xs-2 pl-xs-2 pr-xs-2 mb-xs-1">
        <div class="row">
          <div class="col-xs-12 mb-xs-2">
            <h3 class="g-myd-subtitle gH4 gCGray1"><b>Redirección</b></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 mb-xs-4">
            <mpf-input
              class="g-input-design--transform-initial"
              label="{label: 'Página por defecto', required: $parent.application.reqDefaultPage}"
              name="redirectUrl"
              ng-model="$parent.application.redirectUrl"
              ng-required="$parent.application.reqDefaultPage"
              ng-maxlength="maxLengthTxtPage">
            </mpf-input>
            <ul class="g-error">
              <li ng-show="frmUpdateApplication.redirectUrl.$error.required
                            && !frmUpdateApplication.redirectUrl.$pristine">* Este campo es obligatorio</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 mb-xs-4">
            <mpf-select
              label="{label: 'Sistema por defecto ', required: $parent.application.reqDefaultSystem}"
              name="systemId"
              ng-model="$parent.systemId"
              m-data-source="systemList"
              text-field="descripcion"
              value-field="codigo"
              m-Empty-Option="{enterData:true}"
              ng-required="$parent.application.reqDefaultSystem"
              ng-change="$parent.updateSystemId($parent.systemId)">
            </mpf-select>
            <ul class="g-error">
              <li ng-show="frmUpdateApplication.systemId.$error.required
                            && !frmUpdateApplication.systemId.$pristine">* Este campo es obligatorio</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mpf-select-multiple
              name="nSystems"
              ng-model="$parent.application.mSystems"
              label="{label: 'Mostrar la aplicación en los siguientes sistemas', required: $parent.application.reqSystems}"
              placeholder="'-- seleccione --'"
              datasource="systemData"
              value-field="'codigo'"
              text-field="'descripcion'"
              checked-change="systemsChange(checkedItem)">
            </mpf-select-multiple>
            <ul class="g-error">
              <li ng-if="frmUpdateApplication.nSystems.$error.required
                && !frmUpdateApplication.nSystems.$pristine">
                * Este campo es obligatorio
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-xs-4 h-myd-mb--10">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <a class="g-btn g-btn-verde second-design block" ng-click="$parent.updateApplication()">Actualizar</a>
    </div>
  </div>
</div>
