<div class="container">
  <div class="row mt-sm-2 mt-xs-2">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6" data-ng-if="!$ctrl.infoAsistencia.userForeign">
      <div class="row g-text-right-xs" style="display: flex; justify-content: end;">
        <div class="col-xs-4 col-ms-4 col-sm-4 pl-xs-0"
          data-ng-if="$ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'ABIERTO' || $ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'PENDIENTE' || $ctrl.infoAsistencia.codigoSiniestro === 0">
          <a class="col-md-12 col-100-xs g-btn second-design"
            data-ng-class="$ctrl.saveStatus.saved ? 'g-btn-white ' : 'g-btn-verde'"
            data-ng-click="$ctrl.handleGuardar();">
            <span> GUARDAR</span>
          </a>
        </div>
        <div ng-if="!$ctrl.blocksinistro && $ctrl.infoAsistencia.codigoSiniestro !== 0" class="col-xs-4 col-ms-4 col-sm-4 col-md-4 pl-xs-0 ">
          <a class="col-md-12 col-100-xs g-btn g-btn-verde second-design" data-ng-click="$ctrl.handleConsolidar()">
            <span>GENERAR CONSOLIDADO</span>
          </a>
        </div>
        <div class="col-xs-4 col-ms-4 col-sm-4 col-md-4 pl-xs-0 "
          data-ng-if="$ctrl.infoAsistencia.estadoSiniestro.toUpperCase() !== 'ANULADO' && $ctrl.infoAsistencia.estadoSiniestro.toUpperCase() !== 'ABIERTO' && $ctrl.infoAsistencia.codigoSiniestro !== 0">
          <button class="col-md-12 col-100-xs g-btn g-btn-verde second-design" data-ng-disabled="$ctrl.modoLectura"
            data-ng-click="$ctrl.handleTerminar()">
            <span>Terminar</span>
          </button>
        </div>
      </div>
      <div class="row g-text-right-xs pl-xs-2" ng-if="$ctrl.blocksinistro && $ctrl.infoAsistencia.codigoSiniestro !== 0">
        <div class="col-md-5 col-md-offset-7">
          <a class="g-btn g-btn-white second-design block" ng-click="$ctrl.regresarBandeja();"> RETORNAR ALA BANDEJA
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
