<contratante contratante="$ctrl.resumen"></contratante>
<div class="g-list-md g-box gBgcGray5 pt-xs-2 pb-xs-2 pl-xs-2 pr-xs-2 mb-xs-2">
  <ul class="row page-rrgg__table-list">
    <li class="col-sm-12 clearfix mb-xs-1">
      <div class="item-label">Datos del Riesgo</div>
    </li>
    <li class="col-sm-12 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Materia asegurada</div>
      <div class="col-xs-8 item-dato ng-binding">{{$ctrl.resumen.MateriaAsegurada}}</div>
    </li>
    <li class="col-sm-12 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label" style="align-self: baseline;"><span class="ico-mapfre_82_circle ico-bullet"></span>Base de valorizacion</div>
      <div class="col-xs-8 item-dato ng-binding">Todos los bienes asegurados bajo esta póliza contemplarán una suma asegurada equivalente a lo siguiente: <br> <br>
        {{$ctrl.resumen.BaseValorizacion}}</div>
    </li>
    <li class="col-sm-12 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Embalaje</div>
      <div class="col-xs-8 item-dato ng-binding">{{$ctrl.resumen.Embalaje.Descripcion}}</div>
    </li>
    <li class="col-sm-12 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Suma asegurada</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-sumaasegurada >{{$ctrl.resumen.SumaAsegurada | currency:
        $ctrl.currencyType($ctrl.resumen.Moneda.Codigo) }}</div>
    </li>
    
  </ul>
</div>
<div class="g-list-md g-box gBgcGray5 pt-xs-2 pb-xs-2 pl-xs-2 pr-xs-2 mb-xs-2">
  <ul class="row page-rrgg__table-list">
    <li class="col-sm-12 clearfix mb-xs-1">
      <div class="item-label">Fecha Cotización</div>
    </li>
    <li class="col-sm-4 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Desde</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-fechacotizaciondesde >{{$ctrl.resumen.FechaCotizacion | date:"dd/MM/yyyy"}}</div>
    </li>
    <li class="col-sm-4 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span> Válida Hasta</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-fechavalidezcotizacion >{{$ctrl.resumen.FecValidezHasta | date:"dd/MM/yyyy"}}</div>
    </li>
  </ul>
  <ul class="row page-rrgg__table-list">
    <li class="col-sm-12 clearfix mb-xs-1">
      <div class="item-label">Radio de accion </div>
    </li>
    <li class="col-sm-4 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Desde</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-radioacciondesde >{{$ctrl.resumen.RadioAccionDesde || "No especificado" | date:"dd/MM/yyyy"}}</div>
    </li>
    <li class="col-sm-4 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Hasta</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-radioaccionhasta>{{$ctrl.resumen.RadioAccionHasta || "No especificado" | date:"dd/MM/yyyy"}}</div>
    </li>

  </ul>
  <ul class="row page-rrgg__table-list">
    <li class="col-sm-12 clearfix mb-xs-1">
      <div class="item-label">Duración</div>
    </li>
    <li class="col-sm-4 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Desde</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-duraciondesde >{{$ctrl.resumen.DuracionDesde | date:"dd/MM/yyyy"}}</div>
    </li>
    <li class="col-sm-4 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Hasta</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-duracionhasta >{{$ctrl.resumen.DuracionHasta | date:"dd/MM/yyyy"}}</div>
    </li>

  </ul>
</div>
<div class="g-list-md g-box gBgcGray5 pt-xs-2 pb-xs-2 pl-xs-2 pr-xs-2 mb-xs-2">
  <ul class="row page-rrgg__table-list">
    <li class="col-sm-12 clearfix mb-xs-1">
      <div class="item-label">Sumas aseguradas</div>
    </li>
    <li class="col-sm-12 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Tasas</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-tasaneta>{{$ctrl.resumen.TasaNeta | number : 2}} %</div>
    </li>
    <li class="col-sm-12 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Prima Neta</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-primaneta>
        {{$ctrl.resumen.PrimaNeta | currency: $ctrl.currencyType($ctrl.resumen.Moneda.Codigo)}} &nbsp;
        {{$ctrl.resumen.TextoPrima}}
      </div>
    </li>
    <li class="col-sm-12 clearfix mb-xs-2 page-rrgg__table-list-item">
      <div class="col-xs-4 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Deducible</div>
      <div class="col-xs-8 item-dato ng-binding" rrgg-resumen-deducible>
        {{$ctrl.resumen.Deducible}} &nbsp; {{$ctrl.resumen.DeducibleMonto | currency: $ctrl.currencyType($ctrl.resumen.Moneda.Codigo)}} &nbsp; <br>
        {{$ctrl.resumen.ExcepcionDeducible}} &nbsp; <span ng-if="$ctrl.showExceptoDeducible">{{$ctrl.resumen.ExcepcionDeducibleMonto | currency: $ctrl.currencyType($ctrl.resumen.Moneda.Codigo)}}</span>
      </div>
    </li>
  </ul>
</div>
