
<div class="table-flipscroll">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-right:100px">Cartera</th>
                    <th ng-repeat="header in $ctrl.nvtSource.header[0].properties">{{header.value}}</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.nvtSource.data">
                    <td align="left">{{item.especialityCode}}</td>
                    <td ng-repeat="prop in item.properties">{{prop.value}}</td>
                    <td>{{(item.total * 100) | number:2}}%</tr>
                </tr>
            </tbody>
        </table>
    </div>