<section class="g-page pageInclusion mining">

	<div class="g-title">
		<div class="container">
			<div class="row g-row">
				<div class="col-md-8 g-col-md middle col-sm-11 col-xs-10">
					<h1>Inclusión de planilla</h1>
				</div>
				<div
					class="col-md-4 g-col-md middle g-text-right-md hidden-sm hidden-xs"
					ng-if="currentStep > 1">
					<a
						href="javascript:void(0)"
						ng-click="fnGoBack()">
						<span class="g-icon gCGray3">
							<span class="icon ico-mapfre_310_arrowLeft"></span>
							<span class="g-link"><b>Volver</b></span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<nsctr-client-information
		data="data.STATE_PARAMS"
		design="2">
	</nsctr-client-information>

	<!-- Steps -->
	<div id="form-views" ui-view=""></div>

</section>