
<div class="table-flipscroll">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-right:100px">Laboratorio</th>
                    <th ng-repeat="header in $ctrl.nvtSource.header[0].properties" ng-if="!$last">{{header.value}}</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.nvtSource.data">
                    <td align="left">{{item.especialityCode}}</td>
                    <td ng-repeat="prop in item.properties" ng-if="!$last">{{prop.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>