<div data-ng-if="$ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'ABIERTO' || $ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'PENDIENTE' || $ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'GENERADO'" class="gnSecToggle gnSecResultsFixed gBgcGray5" ng-class="{'show': true, 'responsive': true}" 
    style="padding:10px 0px ;"
    add-class="{class:'g-overflow-hidden-sm', destination: 'body', condition: true}">
    <div class="container">
        <div class="row">
            <button class="col-xs-3 mr-xs-2 mt-xs-1 g-btn" data-ng-click="$ctrl.autorizar()" type="button">
                Autorizar Siniestro
            </button>
            <button class="col-xs-3 mr-xs-2 mt-xs-1 g-btn" data-ng-click="$ctrl.investigar()" type="button">
                Poner a investigación
            </button>
            <button data-ng-if="$ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'PENDIENTE'" class="col-xs-3 mr-xs-1 mt-xs-1 g-btn" data-ng-click="$ctrl.desestimar()" type="button">
                Desestimación 
            </button>
        </div>
    </div>
</div>