<div data-ng-if="$ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'ABIERTO' || $ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'PENDIENTE' || $ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'GENERADO'" class="gnSecToggle gnSecResultsFixed gBgcGray5" ng-class="{'show': true, 'responsive': true}"
    style="padding:10px 0px ;"
    add-class="{class:'g-overflow-hidden-sm', destination: 'body', condition: true}">
    <div class="container">
        <div class="row col-md-12">
            <button class="col-xs-3 mr-xs-1 mt-xs-1 g-btn col-md-3" data-ng-click="$ctrl.investigar()" type="button">
                Poner a investigación
            </button>
            <button data-ng-if="$ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'PENDIENTE'" class="col-xs-3 mr-xs-1 mt-xs-1 g-btn col-md-3" data-ng-click="$ctrl.desestimar()" type="button">
                Desistimiento
            </button>
            <button data-ng-if="$ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'PENDIENTE'|| $ctrl.infoAsistencia.estadoSiniestro.toUpperCase() === 'GENERADO'" class=" col-md-3 col-xs-3 mr-xs-1 mt-xs-1 g-btn" data-ng-click="$ctrl.anular()" type="button">
                Anular
            </button>
        </div>
    </div>
</div>
