.footer {
	// position: fixed; 
	bottom:0; z-index:10000;
	width:100%;
	background-color:$cRed1;
	text-align: center;
	color: $cWhite1;

	p {margin-bottom: 7px;}

	.footer-white {
		background-color:$cWhite1; position:relative; width:100%;
		&:after{
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 252, 252, 0);
			border-top-color: #fffcfc;
			border-width: 7px;
			margin-left: -7px;
		}
	}

	.footer-line {@include inlineblock; width:45px; height:3px; background-color:$cWhite1;}

	.ico-mapfre_75_logomapfre {font-size:18px;position:relative;}
	.ico-mapfre_75_logomapfre:before {font-size: 30px;position: absolute;left: -35px;}

	.parrafo1 {
		font-size: $fz20;
		margin: 0;
	}
	.parrafo2 {
		font-weight: $light;
		> span {
			@include inlineblock;
			vertical-align:bottom;
			padding-left:15px;
			padding-right:15px;
			border-right: 1px solid $cGray4;
		}
		> span:last-child {
			border:0;
		}
		span.ico-phone {font-size:22px}
		span.ico-phone:before {position:relative; top:4px;}
		span.ico-email {font-size:27px}
		span.ico-email:before {position: relative; top: 6px;}
	}
	.parrafo3 {
		opacity: 0.4;
		filter: alpha(opacity =40);
	}
}