/*#################
# Format
#################*/
h1, h2, h3{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	line-height: inherit;
	margin: auto;
}
// p{
// 	margin: auto;
// }
/*#################
# Page
#################*/
.g-page{
	overflow: hidden;
}

/* BOTONES */
.g-btn-verde{font-family: $font-family;background-color: $verde2;font-size: $font-size3;color: #fff;width: 160px;border-radius: 5px;border:0;@include prefix(transition, 0.25s);@include inlineblock;text-align: center;padding: 0;line-height: 46px;height: 46px;
	&:hover, &:focus{background-color: $verde3;color: #fff;text-decoration: none;transition: 0.25s; outline:0;}
}
.g-btn-gris{font-family: $font-family;background-color: $gris4;font-size: $font-size3;color: #fff;width: 160px;border-radius: 5px;border:0;@include prefix(transition, 0.25s);@include inlineblock;text-align: center;padding: 0;line-height: 46px;height: 46px;
	&:hover, &:focus{background-color: $gris5;color: #fff;text-decoration: none;@include prefix(transition, 0.25s); outline:0;}
}
.g-btn-blanco{font-family: $font-family;border:2px solid $gris4;font-size: $font-size3;color: $gris1;width: 230px;border-radius: 5px;@include prefix(transition, 0.25s);@include inlineblock;text-align: center;padding: 0;line-height: 40px;height: 46px;
	&:hover, &:focus{color:$gris1;border:2px solid $gris1;text-decoration: none;@include prefix(transition, 0.25s); outline:0;}
}
.ico-submenu{
	&::before{content: url("../img/ico-submenu.png");margin-right: 15px;@include prefix(transition, 0.25s)}
	&:hover::before{content: url("../img/ico-submenu-hover.png");margin-right: 15px;@include prefix(transition, 0.25s)}
}
/* FIN-BOTONES */
/* ENLACES */
.g-link{font-size: $font-size1; color: $rojo_primario;
	&:hover, &:focus{color: $rojo_primario;text-decoration: none;}
}
/* FIN-ENLACES */
/* TITULOS */
.g-title{
	font-family: $font-family;
	font-weight: $bold;
	font-size: $font-size4;
	color: $gris2;
	text-align: left;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 50px;
	// .container{
	// 	max-width: 100%;
	// 	width: 100%;
	// 	margin: auto;
	// 	padding: 0;
	// }
}
// @media (min-width: 1450px){
// 	.g-title{
// 		.w-content{
// 			width: auto;
// 			margin-left: 8.33333%;
// 		}
// 	}
// }
// @media (max-width: 1300px){
// 	.g-title{
// 		.container{
// 			max-width: 1200px;
// 			padding: 0 15px;
// 		}
// 	}
// }
.g-btn-title{
	display: block;
	width: 230px;
	font-family: $font-family;
	font-size: $font-size3;
	text-align: center;
	color: $gris2;
	text-transform: none;
	border: 2px solid $gris3;
	padding: 10px 0;
	@include prefix(border-radius, 5px);
	@include prefix(transition, 0.25s);
	.ico{
		@include inlineblock;
		font-size: 25px;
		color: $gris3;
		vertical-align: middle;
		@include prefix(transition, 0.25s);
	}
	&:hover{
		border: 2px solid $gris2;
		@include prefix(transition, 0.25s);
		.ico{
			color: $gris2;
			@include prefix(transition, 0.25s);
		}
	}
}
.g-sub-title{
	min-height: 22px;
	font-family: $font-family;
	font-size: $font-size2;
	font-weight: $bold;
	color: $gris1;
	text-align: left;
	&.red{
		font-weight: $normal;
		color: $rojo2;
	}
}
// .g-sub-title-red{
// 	min-height: 22px;
// 	font-family: $font-family;
// 	font-size: $font-size2;
// 	font-weight: $normal;
// 	color: $rojo2;
// 	text-align: left;
// 	text-transform: uppercase;
// }
// .g-sub-title-normal{
// 	min-height: 22px;
// 	font-family: $font-family;
// 	font-size: $font-size2;
// 	font-weight: $normal;
// 	color: $gris1;
// 	text-align: left;
// }
/* FIN-TITULOS */
/* INPUT */
// .g-input-design {
// 	display: block;
// 	width: 100%;
// 	position: relative;
// 	margin-top: 20px;
// 	margin-bottom: 20px;
// 	border-bottom: 1px solid $gris3;
// 	@include prefix(transition, all 0.25s linear);
// 	input, textarea {
// 		width: 100%;
// 		height: 25px;
// 		background-color: transparent;
// 		border: none;
// 		border-radius: 0;
// 		outline: none;
// 		padding: 0;
// 		box-shadow: none;
// 		box-sizing: content-box;
// 		font-size: $font-size1;
// 		font-family: $font-family;
// 		font-weight: $normal;
// 		color: $gris2;
// 		position: relative;
// 		z-index: 5;
// 	}
// 	label {
// 		font-size: $font-size1;
// 		font-weight: $normal;
// 		color: $gris2;
// 		cursor: text;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		z-index: 1;
// 		@include prefix(transition, all 0.25s linear);
// 		span{
// 			font-size: 13px;
// 			@include prefix(transition, all 0.25s linear);
// 		}
// 		&.active{
// 			font-size: $font-size;
// 			color: $gris3;
// 			position: absolute;
// 			top: -17px;
// 			span{
// 				font-size: $font-size;
// 			}
// 		}
// 	}
// }
/* FIN-INPUT */
/* SELECT */
// .g-select-desing{
// 	display: block;
// 	width: 100%;
// 	margin-bottom: 20px;
// 	border-bottom: 1px solid $gris3;
// 	position: relative;
// 	@include prefix(transition, all 0.25s linear);
// 	label{
// 		color: $gris3;
// 		font-size: $font-size;
// 		margin-bottom: 5px;
// 	}
// 	select{
// 		width: 100%;
// 		height: 25px;
// 		font-size: $font-size1;
// 		font-weight: $normal;
// 		color: $gris2;
// 		background: transparent;
// 		border:0;
// 		-webkit-appearance: none;
// 		-moz-appearance: none;
// 		appearance: none;
// 		&:focus{
// 			outline:0;
// 		}
// 	}
// 	.ico-select{
// 		width: 18px;
// 		height: 25px;
// 		background-color: #fff;
// 		font-size: 19px;
// 		font-weight: $bold;
// 		text-align: center;
// 		line-height: 25px;
// 		color: $gris3;
// 		cursor: default;
// 		pointer-events:none;
// 		position: absolute;
// 		right: 0;
// 		bottom: 0;
// 	}
// }
/* FIN-SELECT */
/*#################
# Input-Text y Input-Select
#################*/
.g-input-design,
.g-textarea-design,
.g-select-desing{
	display: block;
	width: 100%;
	padding-top: 20px;
	position: relative;
	border-bottom: 1px solid $gris3;
	@include prefix(transition, all 0.25s linear);
	input,
	textarea,
	select{
		width: 100%;
		height: 25px;
		background-color: transparent;
		font-family: $font-family;
		font-size: $font-size1;
		font-weight: $normal;
		color: $gris2;
		border: none;
		border-radius: 0;
		outline: none;
		padding: 0;
		box-shadow: none;
		box-sizing: content-box;
		position: relative;
		z-index: 5;
	}
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:focus{
			outline:0;
		}
	}
	.placeholder{
		font-size: $font-size1;
		font-weight: $normal;
		color: $gris2;
		cursor: text;
		position: absolute;
		top: 22px;
		left: 0;
		z-index: 1;
		@include prefix(transition, all 0.25s linear);
		span{
			font-size: 13px;
			@include prefix(transition, all 0.25s linear);
		}
		&.active{
			font-size: $font-size;
			color: $gris3;
			position: absolute;
			top: 2px;
			span{
				font-size: $font-size;
			}
		}
	}	
}
.g-select-desing{
	.ico-select{
		width: 18px;
		height: 25px;
		background-color: #fff;
		font-size: 19px;
		font-weight: $bold;
		text-align: center;
		line-height: 25px;
		color: $gris3;
		cursor: default;
		pointer-events:none;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
/*#################
# Input-Search
#################*/
.g-input-search{
	.list{
		width: 100%;
		min-height: 50px;
		max-height: 209px; 
		// height: 198px;
		background-color: $gris6;
		border: 1px solid $gris5;
		color: $gris3;
		position: absolute;
		top: 46px;
		left: 0;
		z-index: 10;
		overflow: auto;
		@include prefix(transition, all 0.25s linear);
		li{
			text-indent: 10px;
			cursor: pointer;
			padding: 2px 0;
			// &:first-child{
			// 	background-color: $gris5;
			// }
			&:hover,
			&.selected{
				background-color: $gris5;
			}
		}
	}
	// .list{
	// 	width: 100%;
	// 	height: 198px;
	// 	background-color: $gris6;
	// 	border: 1px solid $gris5;
	// 	color: $gris3;
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: -200px;
	// 	opacity: 0;
	// 	visibility: hidden;
	// 	z-index: -1;
	// 	@include prefix(transition, all 0.25s linear);
	// 	li{
	// 		text-indent: 10px;
	// 		cursor: pointer;
	// 		&:hover{
	// 			background-color: $gris5;
	// 		}
	// 	}
	// }
	// &.active-search{
	// 	.list{
	// 		opacity: 1;
	// 		visibility: visible;
	// 		z-index: 10;
	// 	}
	// }
}
/*#################
# Label
#################*/
.g-label{
	font-size: $font-size;
	color: $gris3;
	p{
		margin: auto;
	}
}
/*#################
# Label Doc
#################*/
.g-lbl-doc{
	@include inlineblock;
	background-color: $gris3;
	font-size: 13px;
	cursor: default;
	padding: 1px 5px;
	@include prefix(border-radius, 2px);
	position: absolute;
	bottom: 2px;
	right: 0;
	z-index: 5;
}
/*#################
# Error
#################*/
.g-error{
	//display: none;
	font-size: $font-size;
	color: $error;
	position: absolute;
	left: 0;
	bottom: -16px;
	p{
		margin: auto;
	}

}
.active-error{
	// position: relative;
	border-bottom: 1px solid $error;
	.g-error{
		display: block;
	}
}

/*########################
# Cell Middle
########################*/
.g-table{
	width: 100%;
	height: 100%;
	display: table;
	margin: auto;
}
.g-cell-middle{
	display: table-cell;
	vertical-align: middle;
}

.g-section {
	padding-bottom: 20px;
}
/*#################
# Radio
#################*/
// .g-cnt-radio {
// 	&.no-bloque{margin-top:23px;}
// }
.g-cnt-radio{
	&.block{
		.g-radio{
			display: block;
			margin-bottom: 10px;
		}
	}
}
.g-radio{
	input{
		display: none;
	}
	.ico-radio{
		@include inlineblock;
		width: 25px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		vertical-align: middle;
		position: relative;
		&:before,
		&:after{
			font-family: $Mapfre;
			font-weight: $bold;
			color: $gris3;
		}
		&:before{
			display: block;
			content: "\e952";
			font-size: 25px;
		}
		&:after{
			display: none;
			content: "\e951";
			font-size: 18px;
			position: absolute;
			top: -1px;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			z-index: 5;
		}
	}
	&.active{
		.ico-radio{
			&:after{
				display: block;
			}
		}
	}
	
}	
/*#################
# Checkbox
#################*/
// .g-cnt-checkbox {
// 	&.no-bloque{margin-top:21px;}
// }
.g-checkbox{
	// font-family:$font-family;
	font-size: $font-size2;
	font-weight: $bold;
	input{
		display: none;
	}
	.ico-checkbox{
		@include inlineblock;
		width: 30px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		vertical-align: middle;
		position: relative;
		&:before,
		&:after{
			font-family: $Mapfre;
			color: $gris3;
		}
		&:before{
			display: block;
			content: "\e94f";
			font-size: 30px;
		}
		&:after{
			display: none;
			content: "\e950";
			font-size: 21px;
			color: $verde1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			z-index: 5;
		}
	}
	&.active{
		.ico-checkbox{
			&:after{
				display: block;
			}
		}
	}	
}
	
/*#################
# g-data-contratante
#################*/
.g-data-contratante{
	.message{
		color: $gris3;
	}
	.g-label{
		span{
			font-size: 12px;
			color: $gris1;
		}
	}
}
/*#################
# g-sec-rows-gray
#################*/
.g-sec-rows-gray{
	> .row{
		min-height: 145px;
		height: 145px;
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.row-gray1{
		background-color: $gris5;
		.g-select-desing {
			.ico-select {background-color: $gris5;}
		}
	}
	.row-gray2 {
		background-color: $gris6;
		.g-select-desing {
			.ico-select {background-color: $gris6;}
		}
	}
	.title-green{
		font-weight: $bold;
		font-size: $font-size2;
		color: $verde1;
	}
	.col-prima-neta{
		font-size: 13px;
		span{
			display: block;
			text-align: right;
		}
		.prima-neta{
			font-size: $font-size2;
			font-weight: $medium;
			span{
				font-size: $font-size5;
				font-weight: $normal;
			}
			&.line-top{
				border-top: 1px solid $gris3;
			}
		}
	}
}


.g-hide{display:none;}
.g-novisible {visibility:hidden;}
