// My dream
.g-myd-body-cont {
  height: 100%;

  .g-ui--sckity {
    min-height: calc(100% - 107px);

    #main-content {
      &.g-ui-view {
        min-height: calc(100vh - 211px);
      }
    }
  }
}

.g-new-box-shadow {
  @include box_shadow(0px 7px 15px -10px rgba(0, 0, 0, 0.5));
}

.g-new-inlineblock {
  display: inline-block;
}

.g-lheight-1 {
  line-height: 1;
}
.g-modal-overlap {
  z-index: 100002 !important;
}

/* ## STATUS LABEL ## */
.g-new-label {
  &-green {
    background-color: $cGreen1;
  }
  &-blue {
    background-color: $cBlue3;
  }
  &-yellow {
    background-color: $cYellow2;
  }
  &-red {
    background-color: $cRed6;
  }
  &-gray {
    background-color: $cGray3;
  }
  &-orange {
    background-color: #ce9b00;
  }
  &-white {
    background-color: white;
    color: #1b1b1b !important;
    border: 1px solid #797b7f;
  }
}

.g-box-new {
  &-heading {
    border-bottom: 1px solid $cGray4;
  }

  &-body {
    background-color: $cGray7;
  }
}

.g-block-vertical {
  &.g-div-top,
  &.g-div-middle,
  &.g-div-bottom {
    > div {
      padding-right: 0 !important;
      padding-left: 20px !important;

      &:last-child {
        padding-right: 10px !important;
      }

      &.vertical-xs {
        @media (max-width: $break-small) {
          margin-left: 0;
          padding-right: 15px !important;
          padding-left: 15px !important;
        }
      }
    }
  }
}

.g-acordion-new {
  .panel-group {
    .acordion {
      border: 1px solid $cGray4;
      box-shadow: none;
    }
  }

  .panel-heading {
    background-color: $cWhite1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;

    .panel-title {
      font-size: $fz17;
      font-weight: 500;

      .g-acordion-heading-red {
        color: $cRed2;
      }

      .g-acordion-heading-black {
        color: $cBlack1;
      }

      &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;

        i {
          color: $cBlack1;
          font-size: $fz22;
        }
      }
    }
  }

  .panel-group {
    .panel {
      & + .panel {
        margin-top: 20px;
      }
    }
  }
}

.g-new-alert {
  padding: 20px;
  border: 1px solid $cGreen1;
  @include prefix(border-radius, 6px);

  &.second-design {
    padding: 7px 15px;
    border: 1px solid $cGreen1;
    @include prefix(border-radius, 6px);
  }

  .g-new-alert-icon {
    width: auto;
    line-height: 1;
    margin-right: 15px;
    display: inline-block;

    span {
      font-size: 40px;
    }
  }

  .g-new-alert-text {
    display: inline-block;
  }

  .g-new-alert-btn {
    width: 100%;
    display: block;
    margin-top: 20px;

    span {
      &.icon {
        font-size: 30px;
        margin-right: 7px;
      }
    }

    @media only screen and (min-width: 560px) {
      width: auto;
      float: right;
      margin-top: 5px;
      display: inline-block;
    }
  }
}

// Para las tablas
.g-new-tbl-wrapper {
  .tbl-main {
    .tbl-header,
    .tbl-footer {
      li {
        border: none;
      }
    }

    .tbl-body {
      li {
        .tbl-row {
          .cell {
            border: none;
          }

          &.tbl-row-withTotal {
            padding: 0;

            li {
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    &.withOutOverflow {
      min-width: 100% !important;
    }
  }

  &-fixed {
    width: auto;

    .tbl-fixed {
      min-width: 610px;

      .tbl-header,
      .tbl-body,
      .tbl-footer {
        .col-40-fixed {
          width: 40px;
        }

        .col-80-fixed {
          width: 80px;
        }

        .col-170-fixed {
          width: 170px;
        }

        .col-210-fixed {
          width: 210px;
        }
      }
    }

    .tbl-main {
      .title,
      .cell {
        height: 45px !important;
      }

      .tbl-row-withTotal {
        li {
          height: 65px !important;
        }
      }
    }
  }
}

.cell-photo {
  .g-new-photo {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 7px;
    border-radius: 50%;
    display: inline-block;
    background-color: grey;
  }

  div + div {
    display: inline-block;
  }
}

.cell-ratio {
  .ratio {
    margin-right: 4px;
  }
}

.g-new-list-documents {
  .g-new-list-content {
    margin: 0 15px;
    padding: 15px 0;

    .g-new-list-p15 {
      padding-left: 15px;
    }

    .ico-document {
      font-size: 42px;
      position: relative;
    }

    .ico-info {
      position: absolute;
      top: calc(50% - 10px);
      right: -15px;
    }

    .g-new-list-download {
      border: none;
      margin: 10px 0 0;
      padding: 0 15px;
    }
  }
}

// Para las etiquetas
.g-box-label {
  position: relative;

  .g-icon-info {
    position: absolute;
    right: -25px;
    top: 0;
  }
}

// Boton de Filtro Responsive
.filter-btn {
  .filter-btn--text {
    display: none;

    @media (min-width: $break-medium) {
      display: block;
    }
  }

  .filter-btn--ico {
    display: block;

    @media (min-width: $break-medium) {
      display: none;
    }
  }
}
// Utilitarios para posiciones
@each $position in (relative), (absolute), (static), (fixed), (sticky) {
  .g-#{$position} {
    position: #{$position};
  }
}

@media (max-width: $break-medium) {
  // My dream
  .g-myd-body-cont {
    .g-ui--sckity {
      min-height: calc(100% - 107px);

      #main-content {
        &.g-ui-view {
          min-height: calc(100vh - 164px);
        }
      }
    }
  }
}

@media (max-width: 560px) {
  // My dream
  .g-myd-body-cont {
    .g-ui--sckity {
      min-height: calc(100% - 126px);

      #main-content {
        &.g-ui-view {
          min-height: calc(100vh - 183px);
        }
      }
    }
  }
}

@media (max-width: 410px) {
  // My dream
  .g-myd-body-cont {
    .g-ui--sckity {
      min-height: calc(100% - 145px);

      #main-content {
        &.g-ui-view {
          min-height: calc(100vh - 202px);
        }
      }
    }
  }
}

.g-select-multiple {
  border-bottom: 1px solid $gris30;
  font-size: 14px;
  position: relative;

  .placeholder {
    color: $gris2;
    font-weight: $bold;
  }

  .text {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    height: 35px;
    margin-top: 10px;

    span {
      overflow: hidden;
      padding-right: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    i {
      font-size: 21px;
      font-weight: $bold;
      color: $gris30;
    }
  }

  .options {
    background: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.11);
    display: none;
    margin-top: 2px;
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 9;

    .item {
      label {
        font-weight: $normal;
        padding: 10px 15px;
        width: 100%;
      }
    }

    &.active {
      display: initial;
    }
  }
}

.g-input-design {
  &--transform-initial {
    input {
      text-transform: initial;
    }
  }
}

@media (min-width: $break-small) {
  .g-new-list-documents {
    .g-new-list-content {
      .g-new-list-download {
        border-right: 1px solid $cGray4;
        margin: 0;
        padding-right: 15px;
      }
    }
  }
}

.g-box {
  &--ofw-initial {
    overflow: initial;
  }
}

.mt-xs--15 {
  margin-top: 15px;
}

.g-new-table {
  width: 100%;

  tr {
    th {
      font-weight: 700;
      color: #4c4c4c;
      background-color: #f4f4f4;
      padding: 6px 0;

      span {
        padding: 10px 15px;
        display: block;
        border-right: 1px solid #d5d5d5;
      }

      &:last-child {
        span {
          border-right: none;
        }
      }
    }

    td {
      padding: 6px 0;
      border-bottom: 1px solid #e3e5e6;

      span {
        padding: 10px 15px;
        display: block;
        border-right: 1px solid #d5d5d5;
      }

      &:last-child {
        span {
          border-right: none;
        }
      }
    }
  }
}

.g-accordion {
  &__header {
    margin-bottom: 0;
    display: flex;
    padding: 0 15px;
    align-items: flex-start;
    position: relative;

    @media (min-width: $break-small) {
      align-items: center;
    }
  }

  &__item {
    width: 100%;
  }

  &__list {
    width: 100%;
    padding: 10px 0;

    @media (max-width: $break-small) {
      margin: 0;
    }

    &-item {
      position: relative;
      display: flex;
      justify-content: space-between;

      @media (max-width: $break-small) {
        padding: 0;
        margin-bottom: 10px;
      }

      @media (min-width: $break-small) {
        flex-direction: column;
        height: 100%;
        justify-content: center;

        &::after {
          content: "";
          position: absolute;
          display: block;
          background-color: #d5d5d5;
          width: 1px;
          height: 17px;
          top: 0;
          right: 0;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }

      p {
        margin: 0;
      }
    }
  }
  &__btn {
    border: 0;
    background-color: transparent;
    font-size: 24px;
    color: #888383;

    @media (max-width: $break-small) {
      position: absolute;
      bottom: 15px;
      right: 7px;
    }

    @media (min-width: $break-small) {
      margin-top: -12px;
      padding: 0 0 0 10px;
    }
  }

  &__body {
    .g-border-bottom-xs:last-child {
      border-bottom: 0;
    }

    .cnt-item {
      @media (max-width: $break-small) {
        border-left: 0;
      }
    }
  }
}

.g-box-total {
  padding: 10px 0;

  &__row {
    @media (max-width: $break-small) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__col {
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #d5d5d5;
      width: 1px;
      height: 17px;
      top: 0;
      right: 0;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    @media (max-width: $break-small) {
      word-break: break-word;
    }
  }
}

.g-box--double {
  border-radius: 6px;
  border: 1px solid $cGray4;
  &-link {
    display: block;
  }
}
.g-box-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #d8d8d8;
}
.d-center {
  display: flex;
  align-items: center;
}

.g-box__not-selection {
  .icon {
    font-size: 68px;
    color: $gris2;
    transform: rotate(180deg);
    display: block;
    margin-bottom: 13px;
  }
}

.g-box__tabs {
  counter-reset: item;
  @media (min-width: $break-small) {
    display: flex;
  }
  .nav-tabs {
    border: 0;
    display: none;
    flex-direction: column;
    width: 208px;
    @media (min-width: $break-small) {
      display: flex;
    }
  }
  &-item {
    width: 100% !important;
    margin-bottom: 10px !important;
    cursor: pointer;
    &.active {
      .nav-link {
        border: 0;
        background-color: #797b7f !important;
        color: $c-white !important;
        text-decoration: none;
      }
    }
    .nav-link {
      height: 40px;
      border: 1px solid #797b7f !important;
      border-radius: 5px !important;
      font-size: 13px;
      line-height: 15px;
      font-weight: 500;
      color: #797b7f;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;

      &::before {
        content: counter(item) '. ';
        counter-increment: item;
        padding-right: 5px;
      }
      &:hover {
        text-decoration: none;
      }
      &:hover,
      &:focus {
        background: #797b7f;
        color: $c-white;
      }
    }
  }
  .tab-content {
    padding: 8px 0 0 0;
    font-size: 13px;
    color: $gris2;
    @media (min-width: $break-small) {
      width: calc(100% - 208px);
      padding-left: 32px;
    }
  }
  &-content-list {
    padding: 0;
    li {
      display: flex;
      align-items: center;
      &::before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background-color: $gris2;
        border-radius: 50%;
        margin-right: 6px;
      }
    }
  }
}
.g-tabs--list {
  .container:first-child {
    @media (max-width: 991px) {
      padding: 0;
    }
  }
  .uib-tab {
    height: 60px;
    @media (min-width: $break-small) {
      width: 250px;
    }
  }
  .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    position: relative;
    top: 129px;
    @media (min-width: $break-small) {
      top: 70px;
    }
  }
}