/* ## COLORS ## */
$new-black: #000000;
$new-white: #ffffff;

$new-gray1: #d5d5d5;
$new-gray2: #fafafa;
$new-red1: #ff0000;
$new-green: #749806;
/* ## STATUS COLORS ## */
$greenLabel: #749806;
$blueLabel: #4a90e2;
$yellowLabel: #f5a623;
$redLabel: #d0021b;


/* ## Screen size ## */
$new-break-xsmall: 480px;

/* ## FONT SIZE ## */
$fz22: 22px;
$fz20: 20px;
$fz17: 17px;

/* ## PREFIX ## */
@mixin prefix($property, $value) {
    #{$property}: #{$value};
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
}

/* ## BOX SHADOW ## */
@mixin box_shadow($property) {
    box-shadow: #{$property} !important;
}

/* ## Line height ## */
.g-new-lh-1 {
    line-height: 1;
}

.g-new-box-shadow {
    @include box_shadow(0px 7px 15px -10px rgba(0, 0, 0, 0.5));
}

.g-new-inlineblock {
    display: inline-block;
}
