<div class="c-section__information">
    <h3 class="c-section__title">Galería</h3>
    <p class="c-section__subtitle">{{$ctrl.format.valor1}}</p>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2" data-ng-repeat="gallery in $ctrl.galleries">
        <div class="c-gallery__content">
            <div class="c-image__container-dark c-gallery__image">
                <img ng-src="/admin-portal/assets/img/c-img-small-default.png" alt="" class="c-image-opacity" data-ng-if="gallery.srcImg == ''">
                <img ng-src="{{gallery.srcImg}}"  alt="" class="c-image-opacity" data-ng-if="gallery.srcImg != ''" >
                <div class="c-button__upload-small">
                    <upload-button-cemetery
                        data-is-light="true"
                        data-is-icon="false"
                        data-label="'Cargar imagen'"
                        data-title-button="'+ SELECCIONAR ARCHIVO'"
                        data-img-width="$ctrl.format.valor2"
                        data-img-height="$ctrl.format.valor3"
                        data-on-upload="$ctrl.handleUploadGallery($event, gallery)">
                    </upload-button-cemetery>
                </div>
            </div>
        </div>
    </div>
</div>



