<div class="third-step">
  <div class="g-sec-information mb-xs-3">
    <div class="sec-item h-myd-pt--30 h-myd-pb--30 h-myd-bg--gray4">
      <div class="container">
        <!-- Producto -->
        <ul class="row row cnt-title h-myd-mb--20">
          <li class="col-xs-6 item-title g-myd-subtitle"><b>Producto</b></li>
          <li class="col-xs-6 item-edit">
            <a class="h-myd--none" href="" ui-sref="hogarQuote.steps({step:1})">
              <span class="g-icon gCGray3">
                <span class="icon ico-mapfre_228_editar"></span>
                <span class="g-link g-text-none">Editar datos del producto</span>
              </span>
            </a>
            <a class="h-myd--show h-oim-none" href="" ui-sref="hogarQuote.steps({step:1})">
              <i class="ico-mapfre_345_myd-edit ico-edit"></i>
              <span>Editar</span>
            </a>
          </li>
        </ul>
        <ul class="row h-myd-mb--20">
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
            <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Producto:</div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.product.Descripcion }}</div>
          </li>
        </ul>
        <!-- Datos de la póliza -->
        <ul class="row cnt-title h-myd-mb--20">
          <li class="col-xs-12 item-title g-myd-subtitle">Datos de la póliza</li>
        </ul>
        <ul class="row h-myd-mb--20">
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
            <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Nombre:</div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.firstName }}</div>
          </li>
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
            <div class="col-xs-6 item-label">
              <span class="ico-mapfre_82_circle ico-bullet"></span>Apellido paterno:
            </div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.lastName }}</div>
          </li>
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
            <div class="col-xs-6 item-label">
              <span class="ico-mapfre_82_circle ico-bullet"></span>Apellido materno:
            </div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.motherLastName }}</div>
          </li>
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
            <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Moneda:</div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.currency }}</div>
          </li>
          <li class="col-md-4 clearfix cnt-item">
            <div class="col-sm-5 item-label">
              <span class="ico-mapfre_82_circle ico-bullet"></span>Dcto. Integralidad
            </div>
            <div class="col-sm-7 item-dato">{{ firstStep.PorDctoIntgPlaza }} %</div>
          </li>
        </ul>
        <!-- Datos del inmueble -->
        <ul class="row cnt-title h-myd-mb--20">
          <li class="col-xs-12 item-title g-myd-subtitle">Datos del inmueble</li>
        </ul>
        <ul class="row">
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
            <div class="col-xs-6 item-label">
              <span class="ico-mapfre_82_circle ico-bullet"></span>Ubicación del inmueble:
            </div>
            <div class="col-xs-6 item-dato g-text-uppercase">
              {{
                fourthStep.data.ubigeo.department.Descripcion +
                  ', ' +
                  fourthStep.data.ubigeo.province.Descripcion +
                  ', ' +
                  fourthStep.data.ubigeo.district.Descripcion
              }}
            </div>
          </li>
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
            <div class="col-xs-6 item-label">
              <span class="ico-mapfre_82_circle ico-bullet"></span>Año de construcción:
            </div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.yearConstruction.Codigo }}</div>
          </li>
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
            <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Categoría:</div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.category.Descripcion }}</div>
          </li>
        </ul>
        <ul class="row">
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="fourthStep.data.floorsNumber">
            <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Nro. de pisos:</div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.floorsNumber }}</div>
          </li>
          <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="fourthStep.data.basementsNumber">
            <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Nro. de sótanos:</div>
            <div class="col-xs-6 item-dato g-text-uppercase">{{ fourthStep.data.basementsNumber }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <form action="" name="fmrQuoteS4">
    <div class="g-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="g-sub-title red g-myd-subtitle">Seleccione cotizaciones a guardar</h2>
          </div>
        </div>

        <div ng-repeat="item in fourthStep.requestQuotation">
          <hogar-cpnte-alarms-quoting data="item" save-quote-data="dataFirstStep"></hogar-cpnte-alarms-quoting>
        </div>
      </div>
    </div>
  </form>

  <!-- Button -->
  <div class="g-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-xs-1">
          <span class="g-comment">*Campos obligatorios</span>
        </div>
        <div class="col-md-4">
          <a class="g-btn g-btn-verde block" ng-click="saveQuotation()">Guardar Cotizaciones</a>
        </div>
      </div>
    </div>
  </div>
</div>
