<div class="second-step">
  <form action="" name="quoteS2">
    <div class="g-sec-information">
      <div class="sec-item h-myd-pt--30 h-myd-pb--30 h-myd-bg--gray4">
        <div class="container">
          <!-- Producto -->
          <ul class="row cnt-title h-myd-mb--20">
            <li class="col-xs-6 item-title g-myd-subtitle"><b>Producto</b></li>
            <li class="col-xs-6 item-edit">
              <a class="h-myd--none" href="" ui-sref="hogarQuote.steps({step:1})">
                <span class="g-icon gCGray3">
                  <span class="icon ico-mapfre_228_editar"></span>
                  <span class="g-link g-text-none">Editar datos del producto</span>
                </span>
              </a>
              <a class="h-myd--show h-oim-none" href="" ui-sref="hogarQuote.steps({step:1})">
                <i class="ico-mapfre_345_myd-edit ico-edit"></i>
                <span>Editar</span>
              </a>
            </li>
          </ul>
          <ul class="row h-myd-mb--20">
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Producto:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.product.Descripcion}}</div>
            </li>
          </ul>

          <!-- Datos de la póliza -->
          <ul class="row cnt-title h-myd-mb--20">
            <li class="col-xs-12 item-title g-myd-subtitle">Datos de la póliza</li>
          </ul>
          <ul class="row h-myd-mb--20">
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Nombre:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{ secondStep.data.firstName }}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="secondStep.data.lastName.length > 0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Apellido paterno:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.lastName}}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="secondStep.data.motherLastName.length > 0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Apellido materno:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.motherLastName}}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Moneda:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{ secondStep.data.currency }}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-sm-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Dcto. Integralidad
              </div>
              <div class="col-sm-7 item-dato">{{ firstStep.PorDctoIntgPlaza }} %</div>
            </li>
            <li class="col-md-4 clearfix cnt-item">
              <div class="col-sm-5 item-label">
                <span class="ico-mapfre_82_circle ico-bullet"></span>Dcto. Integralidad
              </div>
              <div class="col-sm-7 item-dato">{{ firstStep.PorDctoIntgPlaza }} %</div>
            </li>
          </ul>
          <ul class="row">
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-sm-5 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Prima pactada:
                </div>
                <div class="col-sm-7 item-dato">{{ quotation.primaPactada | currency: '$' }}</div>
              </li>
          </ul>
            <ul class="row">
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-sm-5 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Prima pactada:
                </div>
                <div class="col-sm-7 item-dato">{{ quotation.primaPactada | currency: '$' }}</div>
              </li>
            </ul>
          </ul>
          <!-- Datos del inmueble -->
          <ul class="row cnt-title h-myd-mb--20">
            <li class="col-xs-12 item-title g-myd-subtitle">Datos del inmueble</li>
          </ul>
          <ul class="row">
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Ubicación del inmueble:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">
                {{
                  secondStep.data.ubigeo.department.Descripcion +
                    ', ' +
                    secondStep.data.ubigeo.province.Descripcion +
                    ', ' +
                    secondStep.data.ubigeo.district.Descripcion
                }}
              </div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Año de construcción:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.yearConstruction.Codigo}}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Categoría:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{ secondStep.data.category.Descripcion }}</div>
            </li>
          </ul>
          <ul class="row h-myd-mb--20">
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="secondStep.data.floorsNumber">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Nro. de pisos:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{ secondStep.data.floorsNumber }}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0" ng-show="secondStep.data.basementsNumber">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Nro. de sótanos:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.basementsNumber}}</div>
            </li>
          </ul>

          <!-- Alarma de monitoreo -->
          <ul class="row cnt-title h-myd-mb--20" ng-show="!secondStep.request.producto.codModalidad == 0">
            <li class="col-xs-12 item-title g-myd-subtitle">Alarma de monitoreo</li>
          </ul>
          <ul class="row" ng-show="!secondStep.request.producto.codModalidad == 0">
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Servicio de alarma y monitoreo:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.mcaAlarmaMonitoreo == 'S' ? 'Si' : 'No'}}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Marca Kit Smart:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.mcaKitSmart == 'S' ? 'Si' : 'No'}}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de comunicación:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">
                {{ secondStep.data.comunicationType.Descripcion ? secondStep.data.comunicationType.Descripcion : 'No' }}
              </div>
            </li>
          </ul>
          <ul class="row h-myd-mb--20" ng-show="!secondStep.request.producto.codModalidad == 0">
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>Marca Video Web:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.mcaVideoWeb == 'S' ? 'Si' : 'No'}}</div>
            </li>
            <li class="col-md-4 clearfix cnt-item h-myd-pl--0">
              <div class="col-xs-6 item-label"><span class="ico-mapfre_82_circle ico-bullet"></span>LLavero médico/Imagen plus:</div>
              <div class="col-xs-6 item-dato g-text-uppercase">{{secondStep.data.mcaLlaveroMedico == 'S' ? 'Si' : 'No'}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="g-section mt-xs-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="g-sub-title red g-myd-subtitle">Valor declarado y suma asegurada</h2>
          </div>
        </div>
        <div class="clearfix mb-xs-2">
          <div class="col-md-12">
            <div class="row g-box g-overflow-hidden-xs">
              <ul class="clearfix g-list-sm gBgcGray5 pt-xs-1 pb-xs-1 h-myd-p--0">
                <li class="col-xs-12 col-md-4 clearfix cnt-item gH4 h-myd-mt--10">
                  <div class="row">
                    <div class="col-xs-12 item-labelg-text-uppercase">VALOR DECLARADO</div>
                  </div>
                </li>
                <li class="col-xs-12 col-md-8 clearfix cnt-item gH4 h-myd-mt--10">
                  <div class="row">
                    <div class="col-xs-12 item-labelg-text-uppercase">COBERTURAS</div>
                  </div>
                </li>
              </ul>
              <div class="clearfix cnt-content g-list-sm pt-xs-1 gnContentAuto-md">
                <div class="col-xs-12 g-overflow-hidden-xs">
                  <ul class="row g-list-sm pt-xs-1 pb-xs-1">
                    <li class="col-xs-12 col-md-4 clearfix cnt-item gH4">
                      <div class="row">
                        <div class="col-xs-12 col-md-5 item-labelg-text-uppercase h-myd-mt--20">Edificación</div>
                        <div class="col-xs-12 col-md-7 item-dato soles auto-width-input">
                          <div class="clearfix">
                            <mpf-input-horz
                              label="{label: secondStep.request.poliza.moneda.codMon == '1' ? 'S/' : '$', required: false}"
                              name="nEdificacionValor"
                              ng-model="mEdificacionValor"
                              ng-required="false"
                              mpf-validation="onlyNumber"
                              ng-change="onChangeEdificacion(mEdificacionValor)"
                              ng-blur="sumDeclarado()">
                            </mpf-input-horz>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="col-xs-12 col-md-8 clearfix cnt-item gH4 h-myd-mt--10">
                      <div class="row">
                        <div class="col-xs-6 col-md-3">
                          <mpf-checkbox
                            class="pt-xs-1"
                            name="nCoberturaIncendioEdificacion"
                            ng-model="secondStep.mCoberturaIncendioEdificacion.valueDefault"
                            label="Incendio"
                          ></mpf-checkbox>
                        </div>
                        <div class="col-xs-6 col-md-3">
                          <mpf-checkbox
                            class="pt-xs-1"
                            name="nCoberturaIncendioEdificacion"
                            ng-model="secondStep.mCoberturaTerremotoEdificacion.valueDefault"
                            label="Terremoto"
                          ></mpf-checkbox>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-12 g-overflow-hidden-xs">
                  <ul class="row g-list-sm pt-xs-1 pb-xs-1 mb-xs-0-1">
                    <li class="col-xs-12 col-md-4 clearfix cnt-item gH4">
                      <div class="row">
                        <div class="col-xs-12 col-md-5 item-labelg-text-uppercase h-myd-mt--20">Contenido</div>
                        <div class="col-xs-12 col-md-7 item-dato soles auto-width-input">
                          <div class="clearfix">
                            <mpf-input-horz
                              label="{label: secondStep.request.poliza.moneda.codMon == '1' ? 'S/' : '$', required: false}"
                              name="nContenidoValor"
                              ng-model="mContenidoValor"
                              ng-required="false"
                              mpf-validation="onlyNumber"
                              ng-change="onChangeContenido(mContenidoValor)"
                              ng-blur="sumDeclarado()"
                            >
                            </mpf-input-horz>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="col-xs-12 col-md-8 clearfix cnt-item gH4">
                      <div class="row">
                        <div class="col-xs-6 col-md-3 h-myd-mt--10">
                          <mpf-checkbox class="pt-xs-1" name="nCoberturaIncendioContenido" ng-model="secondStep.mCoberturaIncendioContenido.valueDefault" label="Incendio"></mpf-checkbox>
                        </div>
                        <div class="col-xs-6 col-md-3 h-myd-mt--10">
                          <mpf-checkbox class="pt-xs-1" name="nCoberturaTerremotoContenido" ng-model="secondStep.mCoberturaTerremotoContenido.valueDefault" label="Terremoto"></mpf-checkbox>
                        </div>
                        <div class="col-xs-6 col-md-3 h-myd-mt--10">
                          <mpf-checkbox class="pt-xs-1" name="nCoberturaRoboContenido" ng-model="secondStep.mCoberturaRoboContenido.valueDefault" label="Robo"></mpf-checkbox>
                        </div>
                        <div class="col-xs-12 col-md-3">
                          <div class="clearfix">
                            <mpf-input-horz label="{label: secondStep.request.poliza.moneda.codMon == '1' ? 'S/' : '$', required: false}" name="nContenidoValorRobo" ng-model="mContenidoValorRobo" ng-required="false" mpf-validation="onlyNumber"
                              ng-disabled="!secondStep.mCoberturaRoboContenido.valueDefault" ng-change="onChangeContenidoRobo(mContenidoValorRobo)" ng-blur="sumRobo()">
                            </mpf-input-horz>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-12 g-overflow-hidden-xs" ng-show="showObjetos">
                  <ul class="row g-list-sm pt-xs-1 pb-xs-1 mb-xs-0-1">
                    <li class="col-xs-12 col-md-4 clearfix cnt-item gH4">
                      <div class="row">
                        <div class="col-xs-12 col-md-5 item-labelg-text-uppercase h-myd-mt--20">Objetos valiosos</div>
                        <div class="col-xs-12 col-md-7 item-dato soles auto-width-input">
                          <div class="clearfix">
                            <mpf-input-horz
                              label="{label: secondStep.request.poliza.moneda.codMon == '1' ? 'S/' : '$', required: false}"
                              name="nObjetosValor"
                              ng-model="mObjetosValor"
                              ng-required="false"
                              mpf-validation="onlyNumber"
                              ng-change="onChangeObjetos(mObjetosValor)"
                              ng-blur="sumDeclarado()"
                            >
                            </mpf-input-horz>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="col-xs-12 col-md-8 clearfix cnt-item gH4">
                      <div class="row">
                        <div class="col-xs-6 col-md-3 h-myd-mt--10">
                          <mpf-checkbox class="pt-xs-1" name="nCoberturaIncendioObjetos" ng-model="secondStep.mCoberturaIncendioObjetos.valueDefault" label="Incendio"></mpf-checkbox>
                        </div>
                        <div class="col-xs-6 col-md-3 h-myd-mt--10">
                          <mpf-checkbox class="pt-xs-1" name="nCoberturaTerremotoObjetos" ng-model="secondStep.mCoberturaTerremotoObjetos.valueDefault" label="Terremoto"></mpf-checkbox>
                        </div>
                        <div class="col-xs-6 col-md-3 h-myd-mt--10">
                          <mpf-checkbox class="pt-xs-1" name="nCoberturaRoboObjetos" ng-model="secondStep.mCoberturaRoboObjetos.valueDefault" label="Robo"></mpf-checkbox>
                        </div>
                        <div class="col-xs-12 col-md-3">
                          <div class="clearfix">
                            <mpf-input-horz label="{label: secondStep.request.poliza.moneda.codMon == '1' ? 'S/' : '$', required: false}" name="nObjetosValorRobo" ng-model="mObjetosValorRobo" ng-required="false" mpf-validation="onlyNumber"
                              ng-disabled="!secondStep.mCoberturaRoboObjetos.valueDefault" ng-change="onChangeObjetosRobo(mObjetosValorRobo)" ng-blur="sumRobo()">
                            </mpf-input-horz>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="clearfix">
                <ul class="clearfix gH5 g-list-sm gBgcGray5 pt-xs-1 pb-xs-1 h-myd-p--0">
                  <li class="col-md-4 clearfix cnt-item h-myd-mt--10">
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 item-label g-text-uppercase"><b>TOTAL DECLARADO</b></div>
                      <div class="col-xs-6 col-sm-6 col-md-6 item-dato g-text-uppercase text-right">
                        <b>{{
                          totalDeclarado
                            ? totalDeclarado
                            : (0 | currency: (secondStep.request.poliza.moneda.codMon == '1' ? 'S/ ' : '$ '))
                        }}</b>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-8 clearfix cnt-item h-myd-mt--10">
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 item-label g-text-uppercase hidden-md hidden-lg">
                        <b>TOTAL ROBO</b>
                      </div>
                      <div class="col-md-offset-6 col-md-3 item-label g-text-uppercase text-right hidden-xs hidden-sm">
                        <b>TOTAL ROBO</b>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3 item-dato g-text-uppercase text-right">
                        <b>{{
                          totalRobado
                            ? totalRobado
                            : (0 | currency: (secondStep.request.poliza.moneda.codMon == '1' ? 'S/ ' : '$ '))
                        }}</b>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="g-section-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="g-sub-title red g-myd-subtitle">Coberturas adicionales</h2>
          </div>
        </div>

        <div class="row mb-xs-2">
          <div class="col-md-12">
            <div class="clearfix g-box g-overflow-hidden-xs">
              <div class="col-md-12 cnt-content g-list-sm pt-xs-1 gnContentAuto-md">
                <div class="row g-overflow-hidden-xs">
                  <ul class="row g-list-sm pt-xs-1 pb-xs-1 mb-xs-0-1">
                    <li class="col-xs-12 col-md-4 clearfix cnt-item gH4">
                      <div class="col-xs-12 col-md-5 item-labelg-text-uppercase">Desaparición misteriosa</div>
                      <div class="col-md-7 col-xs-12 item-dato soles auto-width-input">
                        <div class="clearfix">
                          <mpf-input-horz
                            label="{label: secondStep.request.poliza.moneda.codMon == '1' ? 'S/' : '$', required: false}"
                            name="nDesaparicionMisteriosa"
                            ng-model="mDesaparicionMisteriosa"
                            ng-required="false"
                            mpf-validation="onlyNumber"
                          ></mpf-input-horz>
                        </div>
                      </div>
                    </li>

                    <li class="col-xs-12 col-md-4 clearfix cnt-item gH4">
                      <div class="col-xs-12 col-md-5 item-labelg-text-uppercase">Deshonestidad de empleados <span class="hidden-md hidden-lg">S/.</span></div>
                      <div class="col-md-7 col-xs-12 item-dato soles auto-width-input">
                        <div class="clearfix">
                          <mpf-input-horz
                            label="{label: secondStep.request.poliza.moneda.codMon == '1' ? 'S/' : '$', required: false}"
                            name="nDeshonestidadEmpleado"
                            ng-model="mDeshonestidadEmpleado"
                            ng-required="false"
                            mpf-validation="onlyNumber"
                          ></mpf-input-horz>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button -->
    <div class="g-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-xs-1">
            <span class="g-comment">*Campos obligatorios</span>
          </div>
          <div class="col-md-4">
            <a class="g-btn g-btn-verde block" ng-click="nextStep()">Cotizar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
