<section class="g-page page-modal page-modal__tercerpeaton">

  <button type="button" class="close g-close-modal" data-ng-click="close()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>

  <form name="formModalCliente.frmTercerPeatonForm">
    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>CONSTANCIA DE DEPÓSITO</b></h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="clearfix">
        <div class="col-md-12">
          <div class="col-xs-12 text-right mb-xs-1">
            <span>Nro. de constancia: <b>{{nConstancia}}</b></span>
          </div> 
          <div class="modal-body md-cobran-anulada" id="">
            <div class="row">
              <div class="col-md-12 mb-xs-1 clearfix">
                <h2 class="g-border-bottom-xs pb-xs-1"><b>Datos del depósito</b></h2>
              </div>
            </div>
            <ul class="row g-list-md mb-xs-1">
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Usuario SOL.:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{usuario}}
                </div>
              </li>
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Nro. cuenta detracciones (Banco de la Nación):
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{nCuenta}}
                </div>
              </li>
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>RUC del proveedor:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{ruc}}
                </div>
              </li>
            </ul>
            <ul class="row g-list-md mb-xs-1">
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Nombre/Razín social del proveedor:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{rSocial}}
                </div>
              </li>
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>RUC del adquiriente:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{rucAdq}}
                </div>
              </li>
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Nombre/Razón social del adquirente:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{rSocialAdq}}
                </div>
              </li>
            </ul>

            <div class="row mt-xs-2">
              <div class="col-md-12 mb-xs-1 clearfix">
                <h2 class="g-border-bottom-xs pb-xs-1"><b>Información de operación</b></h2>
              </div>
            </div>
            <ul class="row g-list-md mb-xs-1">
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo de operación:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{tipoOperacion}}
                </div>
              </li>
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Bien ó servicio:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{bien}}
                </div>
              </li>
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Monto del depósito:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{importe | number:2}}
                </div>
              </li>
            </ul>
            <ul class="row g-list-md mb-xs-1">
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Fecha y hora de pago:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{fechaPago}}              </div>
              </li>
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Periodo tributario:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{periodo}}
                </div>
              </li>
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Tipo documento:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{tipoDocumento}}
                </div>
              </li>
            </ul> 
            <ul class="row g-list-md mb-xs-1">
              <li class="col-md-4 clearfix cnt-item">
                <div class="col-md-12 col-xs-12 item-label">
                  <span class="ico-mapfre_82_circle ico-bullet"></span>Nro. documento:
                </div>
                <div class="col-md-12 col-xs-12 item-dato g-text-uppercase">
                  {{numDocumento}}
                </div>
              </li>
            </ul>  
            <div class="row">
              <div class="col-md-6 col-md-offset-3 mt-xs-2">
                <a class="block g-btn g-btn-verde mb-xs-1" 
                ga-click
                ga-category="'CG - Comisiones'"
                ga-action="'MPF - Constancia detracción - Descargar Pdf'"
                ga-label="'Botón: Descargar Pdf'"ng-click="descargarPDF()">Descargar PDF</a>  
              </div>
            </div>

          </div>      
        </div>
      </div> 
    </div>
  </form>

</section>

<form id="frmDescargarPDF" name="frmDescargarPDF" action="{{vm.descargarPDFURL}}" method="post" target="_blank">
  <input type="hidden" name="JSON" value='{{vm.downloadFile}}'>
</form>