<section>
	
	<!-- Title -->
	<div class="g-title" ng-class="{'fixed-section': boolChangeClass}">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 mb-xs-2 no-mb-md">
					<h1>NUEVO TREBOL</h1>
				</div>
			</div>
		</div>
	</div>

  <div class="g-section-inner" ng-show="true">
  	<div class="container">
  		<div class="col-md-12">
				<div class="row g-box g-overflow-hidden-xs">	
					<ul class="clearfix g-list-sm gBgcGray5 pt-xs-1 mb-xs-0-1">
						<li class="col-md-6 col-sm-6 clearfix cnt-item gH4">
							<div class="row">
								<div class="col-md-12 col-ms-5 item-label">Beneficios</div>
							</div>
						</li>
					</ul>
					<ul class="clearfix g-list gBgcGray5 pt-xs-1 hidden-xs">
						<li class="col-md-7 col-sm-1 clearfix cnt-item">
							<b>Atención de Hospitalización</b>
						</li>
						<li class="col-md-3 col-sm-3 clearfix cnt-item">
							<b>Deducible</b>
						</li>
						<li class="col-md-2 col-sm-2 clearfix cnt-item">
							<b>Cubierto al</b>
						</li>
					</ul>
					<div class="col-md-12 cnt-content g-list-sm pt-xs-1 gnContentAuto-md">
						<div class="clearfix" ng-class="{'g-border-bottom-xs mb-xs-1' : !$last}" ng-repeat="itemRiskPremium in [0,1,2,3,4,5]">
							<ul class="row hidden-xs">
								<li class="col-sm-7 cnt-item item-dato g-text-uppercase">
									Red 1
								</li>
								<li class="col-sm-3 cnt-item item-dato g-text-uppercase">
									Sin deducible
								</li>
								<li class="col-sm-2 cnt-item item-dato g-text-uppercase">
									95%
								</li>
							</ul>
							<ul class="row visible-xs">
								<li class="cnt-item clearfix">
									<div class="col-ms-5 item-label">Atención de Hospitalización</div>
									<div class="col-ms-7 item-dato g-text-uppercase">Red 1</div>
								</li>
								<li class="cnt-item clearfix">
									<div class="col-ms-5 item-label">Deducible</div>
									<div class="col-ms-7 item-dato g-text-uppercase">Sin deducible</div>
								</li>
								<li class="cnt-item clearfix">
									<div class="col-ms-5 item-label">Fecha Fin:</div>
									<div class="col-ms-7 item-dato g-text-uppercase">95%</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 mt-xs-2">
				<div class="row g-box g-overflow-hidden-xs">	
					<ul class="clearfix g-list-sm gBgcGray5 pt-xs-1 mb-xs-0-1">
						<li class="col-md-6 col-sm-6 clearfix cnt-item gH4">
							<div class="row">
								<div class="col-md-12 col-ms-5 item-label">Relación de Entidades de Salud Afiliadas</div>
							</div>
						</li>
					</ul>
					<ul class="clearfix g-list gBgcGray5 pt-xs-1 hidden-xs">
						<li class="col-md-12 col-sm-1 clearfix cnt-item">
							<b>Atención de Hospitalización</b>
						</li>
					</ul>
					<div class="col-md-12 cnt-content g-list-sm pt-xs-1 gnContentAuto-md">
						<div class="clearfix" ng-class="{'g-border-bottom-xs mb-xs-1' : !$last}" ng-repeat="itemRiskPremium in [0,1,2,3,4,5]">
							<ul class="row hidden-xs">
								<li class="col-sm-12 cnt-item item-dato g-text-uppercase">
									Red 1
								</li>
							</ul>
							<ul class="row visible-xs">
								<li class="cnt-item clearfix">
									<div class="col-ms-5 item-label">Atención de Hospitalización</div>
									<div class="col-ms-7 item-dato g-text-uppercase">Red 1</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
  	</div>
  </div>

</section>
