<div class="cleaner modal__wrapper">
  <div  class="rep-modal-dp__box u-txt-center">
    <div class="cleaner">
      <div class="col-sm-6 col-item">
        <h2>Desde</h2>
        <mighty-datepicker data-ng-model="$ctrl.datepicker1.dateDbA" options="$ctrl.datepicker1.optionsDbA" range-from="" before="$ctrl.datepicker2.dateDbB"></mighty-datepicker>
      </div>
      <div class="col-sm-6 col-item">
        <h2>Hasta</h2>
        <mighty-datepicker data-ng-model="$ctrl.datepicker2.dateDbB" options="$ctrl.datepicker2.optionsDbB" range-to="" after="$ctrl.datepicker1.dateDbA" before="$ctrl.datepicker2.currentDay"></mighty-datepicker>
      </div>
    </div>
    <div class="rep-modal__btn-wp">
      <a class="c-btn--flat" data-ng-click="$ctrl.cancel()">Cancelar</a>
      <a class="c-btn--flat" data-ng-click="$ctrl.setFecha()">Listo</a>
    </div>
  </div>
</div>
