<div class="cleaner modal__wrapper">
  <div  class="rep-modal__box u-txt-center"
        data-ng-if="$ctrl.opciones.clsIsLoading">
    <h2 class="modal-msg__title u-ph-15">Estamos preparando tu descarga...</h2>
    <p>En breves momentos podrás el registro.</p>
    <div data-ng-class="$ctrl.opciones.clsIsLoading"></div>
  </div>
  <div  class="rep-modal__box u-txt-center"
        data-ng-if="!$ctrl.opciones.clsIsLoading">
    <button type="button" class="close g-close-modal" data-ng-click="$ctrl.close()">
      <span class="ico-mapfre_46_cancelaroff"></span>
    </button>
    <h2 class="modal-msg__title u-ph-15">Tu descarga ya está lista</h2>
    <p class="u-mb-30">Ya puedes descargar tu lista de referencias</p>
    <button class="c-btn btn btn--secundary c-btn-medium"
            data-ng-click="$ctrl.startDownload()"
            data-ng-disabled="$ctrl.isDisabled(origenRefForm)">
      <span class="u-inline-b">
        <span class="">
          <span>Descargar lista</span> <span class="u-ml-10 ico-mapfre_124_download"></span>
        </span>
      </span>
    </button>
  </div>
</div>
