<div class="clearfix g-list-md g-box gBgcGray5 pt-xs-1 g-row-fz12 mb-xs-1">
  <div class="col-md-10 g-col-md middle">
    <ul class="row">
      <li class="col-md-3 clearfix cnt-item">
        <div class="col-xs-12 item-label">
          Contrato
        </div>
        <div class="col-xs-12 item-dato g-text-uppercase">
          <b>{{vm.documento.numContrato}}</b> - {{vm.documento.nombreContratoMigracion}}
        </div>
      </li>
      <li class="col-md-3 clearfix cnt-item">
        <div class="col-xs-12 item-label">
          Subcontrato
        </div>
        <div class="col-xs-12 item-dato g-text-uppercase">
          {{vm.documento.nombreSubContratoMigracion}}
        </div>
      </li>
      <li class="col-md-3 clearfix cnt-item">
        <div class="col-xs-12 item-label">
          Siniestralidad ajustada desde
        </div>
        <div class="col-xs-12 item-dato g-text-uppercase">
          {{vm.documento.sinAjustDesde}}
        </div>
      </li>
      <li class="col-md-3 clearfix cnt-item">
        <div class="col-xs-12 item-label">
          Siniestralidad ajustada hasta
        </div>
        <div class="col-xs-12 item-dato g-text-uppercase">
          {{vm.documento.sinAjustHasta}}
        </div>
      </li>
    </ul>
    <ul class="row">
      <li class="col-md-3 clearfix cnt-item">
        <div class="col-xs-12 item-label">
          Frecuencia Ajustada desde
        </div>
        <div class="col-xs-12 item-dato g-text-uppercase">
          {{vm.documento.frecAjustDesde}}
        </div>
      </li>
      <li class="col-md-3 clearfix cnt-item">
        <div class="col-xs-12 item-label">
          Frecuencia Ajustada hasta
        </div>
        <div class="col-xs-12 item-dato g-text-uppercase">
          {{vm.documento.frecAjustHasta}}
        </div>
      </li>
      <li class="col-md-3 clearfix cnt-item">
        <div class="col-xs-12 item-label">
          Cambiar rango de edad
        </div>
        <div class="col-xs-12 item-dato g-text-uppercase">
          {{vm.documento.cambRangEdad === 'N' ? 'NO' : 'SI'}}
        </div>
      </li>
      <li class="col-md-3 clearfix cnt-item">
        <div class="col-xs-12 item-label">
          Código de acción
        </div>
        <div class="col-xs-12 item-dato g-text-uppercase">
          {{vm.documento.codAccion}}
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2 g-col-md middle gCGray3 g-text-center-xs">
    <div class="row g-row">
      <div class="col-xs-4 g-col-xs middle cnt-item">
        <a href="" ng-click="vm.showModalEditarReglaAjuste()"><span class="gnIcon-md ico-mapfre_345_myd-edit"></span></a>
      </div>
      <div class="col-xs-4 g-col-xs middle cnt-item">
        <a href="" ng-click="vm.eliminarDocumento()"><span class="gnIcon-md ico-mapfre-363-myd-eliminar"></span></a>
      </div>
    </div>
  </div>
</div>
