<form name="$ctrl.frmTercerosObj" class="pt-xs-2">
  <div class="container u-ph-0 pb-md-4">
    <div class="row pt-md-3"><div class="col-md-12"><h2 class="g-sub-title">Conductor/Vehículo</h2></div></div>
    <wp-agregar-vehiculo
      data-vehiculos="$ctrl.lstVehiculos"
      data-on-agregar="$ctrl.agregarVehiculoTercero($event)"
      data-on-editar="$ctrl.editarVehiculoTercero($event)"
      data-on-eliminar="$ctrl.eliminarVehiculoTercero($event)"
    >
    </wp-agregar-vehiculo>
  </div>

  <div class="g-border-bottom mt-xs-3 mt-md-5"></div>
  <div class="container u-ph-0 pb-md-4">
    <div class="row mt-xs-3 mt-md-5 pt-md-3"><div class="col-md-12"><h2 class="g-sub-title">Peatón</h2></div></div>
    <wp-agregar-peaton
      data-peatones="$ctrl.lstPeatones"
      data-on-agregar="$ctrl.agregarPeaton($event)"
      data-on-editar="$ctrl.editarPeaton($event)"
      data-on-eliminar="$ctrl.eliminarPeaton($event)"
    >
    </wp-agregar-peaton>
  </div>

  <div class="g-border-bottom mt-xs-3 mt-md-5"></div>
  <div class="container u-ph-0 mb-md-4 pb-md-4">
    <div class="row mt-xs-3 mt-md-5 pt-md-3"><div class="col-md-12"><h2 class="g-sub-title">Bien</h2></div></div>
    <wp-agregar-bien
      data-bienes="$ctrl.lstBienes"
      data-on-agregar="$ctrl.agregarBien($event)"
      data-on-editar="$ctrl.editarBien($event)"
      data-on-eliminar="$ctrl.eliminarBien($event)"
    >
    </wp-agregar-bien>
  </div>
</form>
