.renovacion {
    &__title {
        display: flex;
        align-items: center;
        justify-items: flex-start;
        margin-bottom: 16px;
        p {
            margin: 0;
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #848484;
        }
        h1 {
            margin: 0;
            margin-right: 16px;
            font-family: "Roboto";
            font-size: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #d81e05;
        }
    }

    &__vigente {
        background: #fffee4;
        border: 1px solid #ffbd13;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 5px;
        color: #ffbd13;
    }

    &__pendienteRenovar {
        background: #fff1e4;
        border: 1px solid #ff7613;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 5px;
        color: #ff7613;
    }

    &__preRenovar {
        background: #f8f0ff;
        border: 1px solid #d355ff;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 5px;
        color: #d355ff;
    }

    &__renovar {
        background: #e6ffea;
        border: 1px solid #00ae1c;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 5px;
        color: #00ae1c;
    }

    &__ninguno {
        background: #fffee4;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 5px;
        color: #000000;
    }

    &__filtro {
        &__container {
            max-height: 450px;
            overflow: auto;
        }
    }
}

.lista {
    margin-left: 24px;
    list-style: disc;
}

#filtros_container::-webkit-scrollbar {
    width: 4px;
}

/* Track */
#filtros_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f4f4f4;
    border-radius: 4px;
    background-color: #f4f4f4;
}

/* Handle */
#filtros_container::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 4px;
}

/* Handle on hover */
#filtros_container::-webkit-scrollbar-thumb:hover {
    background: #9b9898;
}

.g-section-tabs .nav-tabs > li {
    border: 0px;
    background-color: transparent;
    &.active {
        border-bottom: 4px solid #d81e05;
    }
    & > a {
        border-bottom: 1px solid #4c4c4c;
        color: #4c4c4c;
        text-transform: none;
        background-color: transparent;
    }
}

.g-date-picker {
    > div {
        > div {
            position: fixed;
            bottom: 49%;
            display: block;
            z-index: 9999;
        }
    }
}

span {
    word-break: break-all;
}

.gSweetModal .swal2-cancel,
.swal2-modal .swal2-cancel {
    border: 1px solid #000000;
    color: #000000;
}

.normal-weight {
    font-weight: normal;
}

.font-icon-size {
    font-size: 20px;
}

.no-border {
    border: transparent;
}

.correoButton {
    color: #c73420;
    text-decoration: underline;
    text-align: center;
    line-height: 19px;
}

.correoCaja {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 8px;
    height: 140px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.filaStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
