@media (max-width: 992px){
	.kpi-dashboard__download-report {
		margin-top: 20px;
	}
}

.kpi-dashboard__box {
	text-align: center;
}

.kpi-dashboard__item {
	background: #ffffff;
	border: 1px solid #bdbebe;
	border-radius: 7px;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto';
	font-size: 19px;
	font-weight: normal;
	margin: 15px auto;
	max-width: 345px;
	padding: 40px 15px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 2px #f7f7f7;
	transition: 0.35s;
	width: 100%;
}

.kpi-dashboard__item:hover {
	color: #8DB602;
	border: 2px solid #8DB602;
	box-shadow: 0 1px 15px #e6e6e6;
}

.kpi-dashboard__item:hover i {
	color: #8DB602;
}

.kpi-title-divider {
	position: relative;
}

.kpi-title-divider::before {
	background: #8DB602;
	bottom: -15px;
	content: '';
	height: 2px;
	left: 0;
	margin: auto;
	max-width: 45px;
	position: absolute;
	right: 0;
	width: 100%;
}

.kpi-dashboard__item-label {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.kpi-dashboard__ico {
	color: #7f7f7f;
	display: block;
	font-size: 48px;
	margin: auto auto 15px;
	padding: 0;
	text-align: center;
	width: 100%;
}

@media (min-width: 768px) {
	.kpi-dashboard__ico {
		margin: 0 0 0 15px;
		width: auto;
	}
}

.kpi-productos__container {
	text-align: center !important;
}

.kpi-filtros__container{
	margin-top: 20px !important;
}

.kpi-filtros__form {
	padding: 30px 20px;
}

.kpi-filtros__form-title {
	
}

.kpi-filtros__combo  {
	margin-top: 50px;
	height: 66px;
}

.kpi-filtros__label {
	font-weight: 500;
	margin-top: 30px;
}

.kpi-filtros__checkbox {
	margin-top: 30px;
	height: 35px;
}

.kpi-filtros__label-combos {
	margin-top: 100px;
}

@media (max-width: 768px) {
	.kpi-filtros__label-combos {
		margin-top: 50px;
	}
}

.kpi-filtros__footer {
	margin-top: 40px;
}

.kpi-filtros__footer-link {
	margin: 15px 0;
}

.kpi-filtros__combo-modal {
	margin-top: 50px;
	height: 66px;
}

.kpi-filtros__container-parent {
	margin-top: 30px !important;
}

.kpi-filtros__container-modal {
	padding: 0 10px;	
}

.kpi-filtros__close-modal {
	color: black;
	left: 20px;
	top: 20px;
	right: initial;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	position: absolute;
	font-size: 18px;
}

.kpi-filtros__close-modal span {
	margin-right: 10px;
	font-weight: 200;
	position: relative;
	top: 6px;
}

.kpi-filtros__close-modal span i {
	color: #9e9e9e
}

@media (max-width: 768px){
	.kpi-dashboard__clean-modal {
		margin-top: 20px;
	}
}

.kpi-filtros__list-container {
	padding: 20px 10px;
}

.kpi-filtros__list-title {
	margin: 0;
}

.kpi-filtros__list-item {
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 7px;
	font-size: 11px;
	color: white;
	border-radius: 5px;
	
	&.required {
		background-color: #888883;
	}

	&.optional {
		background-color: #727e4d;
	}

	&.hide-filters {
		background-color: #d81e05;
	}
	&.tag-pointer {
		cursor: pointer;
	}
}

.kpi-filtros__list-item-label {
	margin-right: 3px;
	text-decoration: underline;
	font-weight: bold;
}

@media (max-width: 768px) {
	.kpi-filtros__buttons {
		margin-top: 20px;
	}
	.kpi-filtros__list-item {
		margin-bottom: 5px;
	}
}

.kpi-dashboard__indicator-container {
	margin-top: 30px !important;
}

.kpi-chart__container {
	border: 1px #d5d5d5 solid;
	border-radius: 10px;
	padding: 15px;
	margin: 15px 0;
	height: 450px;
}

.kpi-chart__title {
	font-weight: bold; 
	margin-bottom: 20px;
	display: inline-block;
}

.kpi-chart__title-buttons {
	width: calc(100% - 190px);
}

.kpi-chart__title-only {
	width: calc(100% - 30px);
}

.kpi-chart__second-title {
	font-size: 12px;
}

.kpi-chart__options {
	float: right;
}

.kpi-chart__filter {
	display: inline-flex;
}

.kpi-chart__filter a {
	text-transform: initial;
	min-width: 38px;
	margin-left: 1px;
}

.kpi-chart__menu {
	display: inline-block;
}

.kpi-chart__menu ul {
	left: -145px;
	top: -3px;
}

.kpi-chart__menu-item {
	display: flex !important;
}

.kpi-chart__menu-item span {
	margin-left: 10px;
}

.kpi-chart__canvas {
	height: 350px;
	width: 100%;
}

.kpi-chart__canvas-error {
	position: absolute;
    text-align: center;
    top: 50%;
    left: 15%;
	right: 15%;
	color: #ff4333;
}

.kpi-chart__text-container {
	border: 1px #d5d5d5 solid;
	border-radius: 10px;
	padding: 20px 15px;
	margin: 15px 0;
	height: 140px;
}

.kpi-chart__text-value {
	font-weight: bold;
	font-size: 50px;
}

.kpi-chart__text-title {
	font-weight: bold; 
	display: inline-block;
}

.mpf-date-range-picker-container {
	display: flex;
}

.mpf-date-range-picker {
	width: 50% !important;
}

.mpf-date-range-picker input {
	text-transform: initial !important;
}

.kpi-modal-chart__close-modal {
	color: black;
	left: 20px;
	top: 20px;
	right: initial;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: 0;
	position: absolute;
	font-size: 18px;
	font-weight: 500;
}

.kpi-modal-chart__close-modal span {
	margin-right: 10px;
	font-weight: 200;
	position: relative;
	top: 6px;
}

.kpi-modal-chart__close-modal span i {
	color: #9e9e9e;
}

.kpi-modal-chart__table {
	margin-top: 60px !important;
}

.kpi-modal-chart__table-header {
	font-weight: 800;
	text-align: right;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	vertical-align: middle !important;
}

.kpi-modal-chart__table-header-left {
	font-weight: 800;
	text-align: left;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	vertical-align: middle !important;
}

.kpi-modal-chart__table-item {
	text-align: right;
	vertical-align: middle !important;
}

.kpi-modal-chart__table-item-left {
	text-align: left;
	vertical-align: middle !important;
}

.kpi-modal-chart__footer {
	margin-top: 40px;
}

.kpi-modal-chart__download-report {
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
}

.kpi-report__component {
	width: 21cm;
	height: 29.7cm;
	position: relative;
	letter-spacing: 1pt;
	// word-spacing: 4pt;
}

.kpi-report__container {
	margin: 0mm 4mm;
	padding: 20px 0px;
}

.kpi-report__header {
	margin-bottom: 25px;
	display: inline-block;
	width: 100%;
}

.kpi-report__header-logo {
	background-color: #DF1E1C;
	padding: 0px 15px;
	display: inline-block;
	border-radius: 5px;
	color: white;
	float: left;
	width: 320px;
	position: relative;
}

.kpi-report__header-logo div {
	position: absolute;
	top: 17px;
	left: 125px;
}

.kpi-report__header-info {
	float: right;
	text-align: right;
	margin: 8px 0;
}

.kpi-report__data {
	padding-bottom: 20px;
	border: 1px solid #bdbebe;
	border-radius: 7px;
	margin-top: 30px;
}

.kpi-report__data-title {
	padding: 15px 20px;
	background-color: #F1F5F7;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 1px solid #bdbebe;
	margin-bottom: 15px;
}

.kpi-report__data-image {
	text-align:center;
	padding-left: 50px;
	padding-right: 50px;
}

.kpi-report__data-image img {
	width: 75%;
}

.kpi-report__data-table {
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 10px;
}

.kpi-report__table-header-left {
	font-weight: 800;
	text-align: left;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	vertical-align: middle !important;
	// font-size: 12px;
	font-size: 7.5pt;
}

.kpi-report__table-header {
	font-weight: 800;
	text-align: right;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	vertical-align: middle !important;
	// font-size: 12px;
	font-size: 7.5pt;
}

.kpi-report__table-item-left {
	text-align: left;
	vertical-align: middle !important;
	font-size: 7.5pt;
}

.kpi-report__table-item {
	text-align: right;
	vertical-align: middle !important;
	// font-size: 12px;
	font-size: 7.5pt;
}

.kpi-report__footer {
	position: absolute;
	bottom: -150px;
	width: 100%;
	padding: 0 10mm;
	margin-bottom: 20px;
	// font-size: 10px;
	font-size: 8.5pt;
}

.kpi-report__footer-page {
	display: inline-block;
	left: 0;
}

.kpi-report__footer-copyright {
	float: right;
	display: inline-block;
	color: #C0C0C0;
}

.kpi-report__chart-title {
	font-weight: bold; 
	margin-bottom: 20px;
	display: inline-block;
	// font-size: 12px;
	font-size: 9pt;
}

.kpi-report__chart-container {
	border: 1px #d5d5d5 solid;
	border-radius: 10px;
	padding: 15px;
	margin: 15px 0;
	height: 320px;
}

.kpi-report__chart-text-container {
	border: 1px #d5d5d5 solid;
	border-radius: 10px;
	padding: 15px;
	margin: 15px 0;
	height: 90px;
}

.kpi-report__chart-text-value {
	font-weight: bold;
	font-size: 18.75pt;
	// font-size: 25px;
}

.kpi-report__chart-text-container {
	border: 1px #d5d5d5 solid;
	border-radius: 10px;
	padding: 15px;
	margin: 15px 0;
	height: 90px;
}

.kpi-report__chart-text-value {
	font-weight: bold;
	font-size: 18.75pt;
	// font-size: 25px;
}

.kpi-setting__control_onlyNumber {
	margin-top: -40px;    
}

.kpi-setting__control_onlyNumber input{  
	margin: 0;
	text-align: center;
}

.kpi-setting__control_moneda {
	margin-top: -40px;
  }
  
.kpi-setting__control_moneda input{  
	margin: 0;
	text-align: right;
}