.g-callerDashboard-home{
	&.fullScreen{
		.container{
			max-width: 100%;
		}
	}
	background-color: $gris9;
	.cont-pad{padding:8px 0;font-size:20px;line-height:20px;}
	.ico-lg{font-size: 30px;}
	.open-nav{color: $rojo1;font-size: $font-size5;cursor: pointer;}
	.bc-rojo{background-color: $rojo1;}
	.bc-verde{background-color: $verde1;}
	.bc-griss{background-color: $gris29;}
	.c-rojo{color: $rojo1;}
	.c-verde{color: $verde1;}
	.c-blanco{color: $c-white;}
	.g-box{
		background-color: $c-white;
	}
	.box-dsh{
		padding: 2px;border:1px solid $gris29;border-radius: 5px;background-color: $c-white;
		.titular{
			color: $c-white;border-radius: 5px;
			.num{
				font-size: 23px;font-weight: 700;
			}	
			.text{
				font-size: 20px;font-weight: 700;display: inline-block;line-height: 32px;vertical-align: bottom;padding-left: 10px
			}
		}
		.tabla-dsh{
			.cabezara{
				background-color: $gris11;padding-bottom: 5px;
			}
			.contenido{
				height: 600px;overflow: scroll;
				.list{
					padding-bottom: 4px;padding-top: 4px;border-bottom: 1px solid $gris29;
					// &:last-child{
					// 	border-bottom: 0;
					// }
					.ico{
						padding: 2px;
						span{
							font-size: 55px;display: block;text-align: center;
						}
					}
					.datos{
						span{
							display: block;font-size: 22px; line-height: 25px; text-transform: uppercase; padding-top: 1px;
						}
						.oper{
							font-weight: 300;
						}
					}
					.tiempo{
						span{
					    display: block;text-align: center;font-size: $font-size7;line-height: 46px;
						}
					}
				}	
			}
		}
	}
	.box-dsh2{
		.titular{
			font-size:$font-size7;
		}
		.tabla-dsh{
			.cabezara{
				background-color: $gris11;padding-bottom: 5px;
			}
			.contenido{
				border:1px solid $gris29;border-radius: 5px;padding: 2px;background-color: $c-white;
				.list{
					padding-bottom: 2px;padding-top: 2px;border-bottom: 1px solid $gris29;
					&:last-child{
						border-bottom: 0px;
					}
					.ico{
						span{
							font-size: 40px;display: block;text-align: center;
						}
					}
					.datos{
						span{
							display: block;
						}
						.oper{
							font-weight: 300;
						}
					}
					.tiempo{
						span{
					    display: block;font-size: $font-size7;line-height: 40px;
						}
					}
					.arrowrig{
						span{
							font-size: $font-size5;margin-top: 10px;display: block;cursor: pointer;
						}
					}
				}	
			}
		}
	}
	.menu-dash{
		.cont{
			display: block;height: 60px;border: 2px solid $gris29;border-radius: 5px;padding: 10px;color: $gris30; transition: 0.5s;background-color: $c-white;
			&:hover, &.active{
				color: $c-black; border: 2px solid $verde1; transition: 0.5s;
			}
			.num{
				font-size: 36px;line-height: 1;
			}			
			.text{
				span{
					display: block;font-weight: 300;line-height: 1;	
				}
				.normal{
					font-weight: 400; font-size:16px;
				}
				.linea-roja{
					width: 40px;height: 2px;background-color: $rojo1;float: left;margin-top: 7px;
				}
			}
		}		
	}
	.sub-titlo{
		font-size: 56px;font-weight: 700;line-height: 1;
		.cont-title{
			display: inline-block;vertical-align: top;margin-left: 5px;font-weight: 700;
			.num1{
				font-size: 22px;display: block;line-height: 1;margin-top: 4px;
			}
			.num2{
				font-size: 30px;line-height: 1;vertical-align: top;
			}
		}	
	}
	.dashboard{
		.br{
			border-right: 1px solid $gris29;
		}
		.ico{
			font-size: 34px;
		}
		.cont-txt{
			display: inline-block;vertical-align: top;margin-left: 5px; padding-left: 10px;
			span{
				display: block;font-size:17px;
				&.anch-direct{
					max-width: 260px;margin: 0;
				}
			}
		}
	}
	.sec-filto{
		a{
			display: block;text-align: right;padding-right: 10px;
			p{
				display: inline-block;vertical-align: top;padding-top: 6px;
			}
		}
	}
}
.fond-griss{
	background-color: #EAEAEA;padding-top: 20px;padding-bottom: 20px;
}
.msn-error{
	p{
		font-size: 25px;margin-bottom: 0;padding: 15px 0; color: $gris8;
	}
}
@media (min-width: $break-small){
	.g-callerDashboard-home{
		.dashboard{
			.cont-txt{
				display: inline-block;vertical-align: top;margin-left: 5px; padding-left: 10px;
				span{
					display: block;font-size:17px;
					&.anch-direct{
						max-width: 300px;margin: 0;
					}
				}
			}
		}
	}	
}
@media (min-width: $break-medium){
	.g-callerDashboard-home{
		.dashboard{
			.cont-txt{
				display: inline-block;vertical-align: top;margin-left: 5px; padding-left: 10px;
				span{
					display: block;font-size:17px;
					&.anch-direct{
						max-width: 300px;margin: 0;
					}
				}
				&.anch-txt{
					max-width: 175px; margin: 0;
				}
			}
		}
	}	
}
@media (max-width: $break-small){
	.g-callerDashboard-home{
		.menu-dash{
			.cont{
				display: block;height: 75px;
			}		
		}
	}
	.dashboard{
		.br{
			border-right: 0;
		}
	}
}
@media (min-width: $break-xlarge){
	.g-callerDashboard-home{
		.hidden-tv{display: none;}
	}
}






