.app-my-dream {
  // paddings and margins
  $items: 0, 1, 4, 5, 10, 15, 20, 30;

  @each $item in $items {
    .h-myd-m--#{$item} {
      margin: 1px * $item;
    }

    .h-myd-mb--#{$item} {
      margin-bottom: 1px * $item;
    }

    .h-myd-ml--#{$item} {
      margin-left: 1px * $item;
    }

    .h-myd-mr--#{$item} {
      margin-right: 1px * $item;
    }

    .h-myd-mt--#{$item} {
      margin-top: 1px * $item;
    }

    .h-myd-p--#{$item} {
      padding: 1px * $item !important;
    }

    .h-myd-pb--#{$item} {
      padding-bottom: 1px * $item;
    }

    .h-myd-pl--#{$item} {
      padding-left: 1px * $item !important;
    }

    .h-myd-pr--#{$item} {
      padding-right: 1px * $item !important;
    }

    .h-myd-pt--#{$item} {
      padding-top: 1px * $item;
    }

    .h-myd-pv--#{$item} {
      padding-bottom: 1px * $item;
      padding-top: 1px * $item;
    }

    .h-myd-ph--#{$item} {
      padding-left: 1px * $item !important;
      padding-right: 1px * $item !important;
    }

    .h-myd-mv--#{$item} {
      margin-bottom: 1px * $item;
      margin-top: 1px * $item;
    }
  }

  //background
  .h-myd-bg {
    @each $color in map-keys($colors) {
      &--#{"" + $color} {
        background-color: map-get($colors, $color) !important;
      }
    }
  }

  // show - none
  .h-myd {
    &--show {
      display: initial !important;
    }

    &--none {
      display: none !important;
    }

    &--flex {
      display: flex !important;

      &-wrap {
        flex-wrap: wrap;
      }

      &-column {
        flex-direction: column;
      }

      &-alg {
        @each $position in map-keys($positions) {
          &-#{"" + $position} {
            align-items: map-get($positions, $position);
          }
        }
      }

      &-jtf {
        @each $position in map-keys($positions) {
          &-#{"" + $position} {
            justify-content: map-get($positions, $position) !important;
          }
        }
      }
    }

    &--block {
      display: block !important;
    }
  }

  // border
  .h-myd-border {
    &--none {
      border: 0 !important;
    }

    &--bottom {
      &-0 {
        border-bottom: 0;
      }

      &-1 {
        border-bottom: 1px solid $myd-gray7;
      }
    }

    &--top {
      &-0 {
        border-top: 0;
      }

      &-1 {
        border-top: 1px solid $myd-gray7;
      }
    }
  }

  // font-size
  .h-myd {
    &--fz13 {
      font-size: $myd-fz13 !important;
    }

    &--fz14 {
      font-size: $myd-fz14 !important;
    }

    &--fz18 {
      font-size: $myd-fz18 !important;
    }
  }

  // font-weight
  .h-myd {
    &--bold {
      font-weight: $myd-fw-bold !important;
    }

    &--regular {
      font-weight: $myd-fw-regular !important;
    }
  }

  // icons
  .h-myd-ico {
    &--mediun {
      font-size: 20px !important;
    }

    &--large {
      font-size: 30px !important;
    }
  }

  // color
  .h-myd-color {
    @each $color in map-keys($colors) {
      &--#{"" + $color} {
        color: map-get($colors, $color) !important;
      }
    }
  }
}
