// sass-lint:disable no-vendor-prefixes
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .app-my-dream {
    .g-myd-body-cont {
      display: block;
    }

    .g-myd-modal,
    .swal2-modal {
      button.swal2-confirm {
        display: inline-block;
      }
    }

    .h-myd--show {
      display: block !important;
    }
  }
}
