// colors
$myd-gray1: #797b7f;
$myd-gray2: #4a4a4a;
$myd-gray3: #f2f2f2;
$myd-gray4: #f7f8f9;
$myd-gray5: #4c4c4c;
$myd-gray6: #e1e1e1;
$myd-gray7: #dddddd;
$myd-gray8: #fcfcfc;
$myd-gray9: #EAEAEA;
$myd-gray10: #6B6B6B;
$myd-gray11: #404040;
$myd-gray12: rgba(255, 255, 255, .85);
$myd-gray13: #f7f7f7;
$myd-gray14: #999;
$myd-green: #8db602;
$myd-green2: #bdda5c;
$myd-green3: #80cd68;
$myd-green4: #37ab5f;
$myd-green5: #2eb19d;
$myd-green6: #155349;
$myd-green7: #09c3a7;
$myd-red: #D81E04;
$myd-red2: #bf1b04;
$myd-red3: #f17868;
$myd-black: #1b1b1b;
$myd-white: #ffffff;
$myd-yellow: #f8c346;
$myd-yellow2: #eba602;
$myd-yellow3: #D3AB4A;
$myd-yellow4: #987012;
$myd-purple: #be74f6;
$myd-purple2: #7e51a0;
$myd-blue: #58A6F4;
$myd-blue2: #175A9F;

// Box shadow
$box-shadow: 0 1px 6px 0 rgba($myd-black, .11);

$colors: (
  gray1: $myd-gray1,
  gray2: $myd-gray2,
  gray3: $myd-gray3,
  gray4: $myd-gray4,
  gray5: $myd-gray5,
  gray6: $myd-gray6,
  green: $myd-green,
  red: $myd-red,
  red2: $myd-red2,
  black: $myd-black,
  white: $myd-white
);

$positions: (
  start: flex-start,
  center: center,
  end: flex-end
);

/* Font weight */
$myd-fw-light: 200;
$myd-font-book: 300;
$myd-fw-regular: 400;
$myd-fw-medium: 500;
$myd-fw-bold: 700;

// Font size
$myd-fz13: 13px;
$myd-fz14: 14px;
$myd-fz18: 18px;
