<section>

  <form ng-submit="saveComment(comment)">

    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3">
            {{title || 'La solicitud cambió de estado a ' + state.description }}
          </h2>
          <p ng-if="title">La solicitud cambió de estado a {{ state.description }}</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 mb-xs-4">
            <mpf-textarea label="{label: 'Agregar comentario (opcional)', required: false}"
                          ng-model="comment"></mpf-textarea>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="g-btn g-btn-verde block">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

  </form>

</section>
