<section class="">
    <button type="button" class="close g-close-modal" ng-click="closeModal()">
        <span class="ico-mapfre_231_cancelaroff"></span>
    </button>

    <form name="frmCoverage">
        <div class="container">
            <div class="row">
                <div class="col-md-12 g-text-center-xs mb-xs-2">
                    <h2 class="gH3"><b>{{data.title}}</b></h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="row mb-xs-2">
                        <div class="col-md-2 mb-xs-2"></div>
                        <div class="col-md-4 mb-xs-2">
                            <mpf-input label="{label: 'Tipo de Atención'}" name="eTypeAttention"
                                ng-model="formData.eTypeAttention" ng-disabled="true"></mpf-input>
                        </div>
                        <div class="col-md-4 mb-xs-2">
                            <m-Numeric-Textbox ng-model="formData.eCoverPercent" name="eCoverPercent" label="{label: 'Porcentaje Cobertura', required: true}" ng-required="true" m-range="'0,100'"  options="optionsP"></m-Numeric-Textbox>
                            <ul class="g-error">
                                <li
                                    ng-show="frmCoverage.eCoverPercent.$invalid && !frmCoverage.eCoverPercent.$pristine">
                                    * Ingrese el porcentaje de cobertura</li>
                            </ul>
                        </div>
                        <div class="col-md-2 mb-xs-2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 mb-xs-1 no-mb-md">
                        <a href="" class="g-btn g-btn-transparent block" ng-click="closeModal()">Cancelar</a>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="g-btn g-btn-verde block" ng-click="editarPercentCoverage(formData)">{{data.boton}}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>