
<div class="col-md-12">
  <div class="g-list-md g-box gBgcGray5 pt-xs-1 mb-xs-1 pl-xs-1 pr-xs-1">
    <ul class="row g-list-md">
      <li class="col-md-4 clearfix cnt-item">
        <div class="col-xs-5 item-label">
          <span class="ico-mapfre_82_circle ico-bullet"></span>Contratante:
        </div>
        <div class="col-xs-7 item-dato g-text-uppercase">
          {{vm.contratante.Nombre}} {{vm.contratante.ApellidoPaterno}} {{vm.contratante.ApellidoMaterno}}
        </div>
      </li>
      <li class="col-md-4 clearfix cnt-item">
        <div class="col-xs-5 item-label">
          <span class="ico-mapfre_82_circle ico-bullet"></span>Producto al que migra:
        </div>
        <div class="col-xs-7 item-dato g-text-uppercase">
          {{vm.producto.NombreContrato}} - {{vm.producto.NombreSubContrato}}
        </div>
      </li>
      <li class="col-md-4 clearfix cnt-item">
        <div class="col-xs-5 item-label">
          <span class="ico-mapfre_82_circle ico-bullet"></span>Vigencia de migración:
        </div>
        <div class="col-xs-7 item-dato g-text-uppercase">
          Tipo A
        </div>
      </li>
    </ul>
  </div>
</div>
