<div class="g-sec-information">
    <div class="container  no-margin-md no-padding-md">
        <ul class="row">
            <li class="col-md-4 clearfix cnt-item">
                <div class="col-sm-5 col-xs-6 item-label">
                    Fecha y hora
                </div>
                <div class="col-sm-7 col-xs-6 item-dato">
                    {{$ctrl.data.fechaMisaCompleta | date: 'dd/MM/yyyy HH:mm'}}
                </div>
            </li>
            <li class="col-md-8 clearfix cnt-item">
                <div class="col-sm-3 col-xs-6 item-label">
                    Url de Misa
                </div>
                <div class="col-sm-9 col-xs-6 item-dato">
                    <b>{{$ctrl.data.urlMisa}}</b>
                    <a id="" ng-click="copyToClipboard($ctrl.data.urlMisa)">
                        <div class="copy"></div>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-md-4 clearfix cnt-item">
                <div class="col-sm-5 col-xs-6 item-label">
                    Inicio de acceso
                </div>
                <div class="col-sm-7 col-xs-6 item-dato">
                    {{$ctrl.data.fechaInicioUrlCompleta | date: 'dd/MM/yyyy HH:mm'}}
                </div>
            </li>
            <li class="col-md-8 clearfix cnt-item">
                <div class="col-sm-3 col-xs-6 item-label">
                    Fin de acceso
                </div>
                <div class="col-sm-9 col-xs-6 item-dato">
                    {{$ctrl.data.fechaFinUrlCompleta | date: 'dd/MM/yyyy HH:mm'}}
                </div>
            </li>
        </ul>
    </div>
</div>