%btn--secundary {
  background: $verde2;
  color: $white;
}

.c-btn {
  font-size: medium;
  padding: 12px 14px 10px;

  &:hover {
    color: $white;
  }
}

.c-btn-lh-20 {
  line-height: 20px;
}

.c-btn--flat {
  font-size: 1.2em;
  padding: 10px 15px;
  transition: all 0.35s;
}

.c-btn-medium {
  padding: 10px 20px;
}

.c-btn-large {
  padding: 10px 60px;
}

.c-btn--default {
  background: $gris31;
  color: $gris2;
  font-size: 1.2em;
  padding: 10px 15px;
  transition: all 0.35s;

  &:hover {
    background: $gris28;
  }
}

.btn {
  &.btn--secundary {
    &:focus {
      color: $white;
    }
  }
}

.btn--secundary {
  background: $verde2;
  color: $white;
}

.btn--default {
  background-color: transparent;
  border: 1px solid $gris20;

  &:focus,
  &:hover {
    color: inherit;
  }
}

.btn--icon {
  color: $gris28;
  display: inline-block;

  [class^='ico-'],
  [class*=' ico-'] {
    font-size: 26px;
  }

  &:hover {
    color: $verde2;
  }
}

.btn--big {
  width: 100%;
}

.btn--190 {
  max-width: 190px;
  width: 100%;
}

.btn--250 {
  max-width: 250px;
  width: 100%;
}

.c-link {
  background: none;
  border: none;
  box-shadow: none;
  transition: all 0.35s;

  &:hover {
    color: $verde2;
  }
}

.c-input-txt {  // sass-lint:disable-block no-vendor-prefixes
  -moz-appearance: textfield;
  appearance: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid $gris20;
  box-shadow: none;
  color: $gris2;
  font-size: 16px;
  padding: 5px 5px 5px 0;
  position: relative;
  width: 100%;

  &.dtypeahead {
    width: 210px;
  }

  &.with-label {
    padding-top: 15px;
  }
}

.mfinput {
  padding-right: 25px;
  position: relative;
  top: 10px;
  width: 100%;
}

.input-msg__error {
  bottom: -5px;
  color: $rojo-primario;
  font-size: 0.9em;
  left: 0;
  position: absolute;
}

.select-msg__error {
  bottom: -15px;
  color: $rojo-primario;
  font-size: 0.9em;
  left: 0;
  position: absolute;
}

.select__lbl {
  display: block;
  font-size: 11px;
  position: absolute;
  top: -6px;
}

.select-box {
  padding: 5px 0;
  position: relative;
  width: 100%;

  .select__ico--arrow {
    color: $gris23;
    font-size: 1.15em;
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.select {
  appearance: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid $gris20;
  box-shadow: none;
  padding: 10px 1px;
  width: 100%;
}

.chk__item,
.rdo__item {
  margin-bottom: 10px;
}

.frm-col__title {
  display: block;
  margin-bottom: 25px;
  position: relative;

  &::before {
    content: '\e956';
    font-family: 'Mapfree-iconss';
    position: absolute;
    right: 0;
  }

  &.frm-col__title--open {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.chk__ico {
  font-family: 'Mapfree-iconss';
  font-size: 1.7em;
  line-height: 1;
  margin-right: 5px;
  position: relative;
  top: 6px;

  &::before {
    color: $gris23;
    content: '\e94f';
  }
}

.chk__input {
  opacity: 0;
  position: absolute;
  visibility: hidden;

  &:checked {
    & + .chk__ico {
      &::before {
        color: $verde2;
        content: '\e933';
      }
    }
  }
}

.rdo__ico {
  border: 1px solid $gris23;
  border-radius: 100%;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.rdo__input {
  opacity: 0;
  position: absolute;
  visibility: 0;

  &:checked {
    & + .rdo__ico {
      &::before {
        background-color: $gris23;
        border-radius: 100%;
        content: '';
        height: 12px;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 12px;
      }
    }
  }
}

.frm__seemore {
  background: $gris9;
  border-radius: 5px;
  display: block;
  margin-top: 20px;
  padding: 10px 0;
  position: relative;
  text-align: center;

  @include breakpoint(md) {
    padding-left: 43px;

    &::before {
      background: $gris9;
      content: '';
      height: 100%;
      position: absolute;
      right: -31px;
      top: 0;
      width: 31px;
    }
  }

  &__ico {
    color: $gris28;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 5px;
    position: relative;
    top: 4px;
  }
}

body {
  color: $gris2;
}

.u-bar-volver {
  background: $gris9;
  padding: 17px 0;
}

.bar-volver__txt {
  margin: 15px 15px 15px 0;
  width: 100%;

  @include breakpoint(md) {
    margin: 0 15px 0 0;
    width: auto;
  }
}

.bar-volver__ico {
  color: $gris23;
  font-size: 1.8em;
  margin: 0 10px 0 0;
}

.g-page {
  min-height: 80vh;
  padding-bottom: 0;
}

footer {
  &.footer {
    position: relative;
    z-index: 1;
  }
}

.c-mf-collapse {
  color: $gris23;
  display: inline-block;
  position: relative;

  .c-mf-collapse__ico {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
  }

  &.c-mf-collapse--open {
    .c-mf-collapse__ico {
      transform: rotate(180deg);
    }
  }
}

.slide {
  &.ng-animate {
    min-height: 100vh;
  }
}

.c-txt-w-icon {
  padding-left: 33px;
  position: relative;

  &.no-icon--xs-sm {
    padding-left: 0;

    @include breakpoint(md) {
      padding-left: 33px;
    }
  }

  &.no-icon--xs {
    padding-left: 0;

    @include breakpoint(sm) {
      padding-left: 33px;
    }
  }
}

.c-txt-w-icon__ico {
  color: $gris23;
  font-size: 1.8em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.loader__mask {
  display: none;

  &.loader__mask--is-loading {
    background-color: $mask-loader;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;

    &::before {
      background: url('/referencia/assets/loading-white.gif') no-repeat;
      background-position: 50% 50%;
      background-size: 80px;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.loader__text {
  color: $white;
  font-size: 1.2em;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 58%;
  transform: translate(0, -50%);

  @include breakpoint(sm) {
    font-size: 1.3em;
  }
}

// barra volver
.c-bar__item {
  line-height: 39px;
}

.c-link-volver {
  margin-bottom: 15px;

  @include breakpoint(md) {
    margin-bottom: 0;
  }
}

.filtro-bar__wp--up {
  .filtro-bar__wp {
    bottom: 197px;

    @media(min-width: 380px) {
      bottom: 152px;
    }

    @include breakpoint(sm) {
      bottom: 88px;
    }

    @include breakpoint(md) {
      bottom: 77px;
    }
  }
}

//  boton filtros
.filtro-bar__wp {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  transition: all 0.3s;
  z-index: 1049;

  .filtro-bar__box {
    pointer-events: auto;

    @include breakpoint(md) {
      padding-right: 4px;
    }
  }
}

.filtro-bar__content {
  background: $gris9;
  padding: 15px;
  text-align: center;

  @include breakpoint(lg) {
    display: flex;
  }
}

.filtro-bar__btn {
  &:first-child {
    margin-right: 15px;

    @include breakpoint(md) {
      margin: 0 auto 15px;
    }

    @include breakpoint(lg) {
      margin: 0 auto;
    }
  }
}

@media print {
  %displaynone {
    display: none !important;
  }

  @page {
    margin: 2cm;
    size: letter landscape;
  }

  body {
    -webkit-print-color-adjust: exact !important; //  sass-lint:disable-line no-vendor-prefixes
  }

  .no-print {
    @extend %displaynone;

    & * {
      @extend %displaynone;
    }
  }
}

.error {
  &__title {
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 0 1px, 1px 0, 1px 1px;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 300;
  }

  &__enlace {
    color: $green-gray;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      text-decoration: underline;
    }
  }
}

.state-checked {
  color: #749806;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;

  span {
    float: left;
    font-size: 16px;
    margin-right: 3px;
  }
}

.tooltip-inner {
  background-color: $green-gray;
}

.tooltip {
  &.top {
    .tooltip-arrow {
      border-top-color: $green-gray;
    }
  }

  &.bottom {
    .tooltip-arrow {
      border-bottom-color: $green-gray;
    }
  }

  &.left {
    .tooltip-arrow {
      border-left-color: $green-gray;
    }
  }

  &.right {
    .tooltip-arrow {
      border-right-color: $green-gray;
    }
  }
}

.label-success {
  background-color: $green-success;
  border-radius: 0;

  &.bordered {
    background-color: transparent;
    border: 1px solid $green-success;
    color: $green-success;
  }
}
