.page-heading {
  padding-bottom: 10px;
  z-index: 10;

  @media(max-width: 991px) {
    background-color: $gris24;
    margin-top: -10px;
    padding-bottom: 8px;
    padding-top: 10px;
    position: relative;
  }

  .title-r {
    @media(max-width: 991px) {
      font-size: 18px;
      margin-top: 8px;
      padding-left: 40px;
      padding-right: 55px;
    }
  }

  &.with-subtitle {
    .title-r {
      @media(max-width: 991px) {
        margin-top: -3px;
      }
    }
  }

  .subtitle {
    font-weight: 300;
    margin-bottom: 0;

    @media(max-width: 991px) {
      font-size: 13px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .rating {
    background-color: $gris9;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    margin-bottom: -8px;
    margin-left: 10px;
    padding: 9px 15px;
    position: relative;
    top: -7px;

    .iconref-estrella {
      color: $yellow;
    }
  }

  .label {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding-top: 4px;
    position: relative;
    top: -2px;

    @include breakpoint(md) {
      top: -7px;
    }
  }

  .menu-trigger {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 7px;

    &::before {
      background-color: $gris20;
      content: '';
      height: 20px;
      left: -10px;
      margin-top: -10px;
      position: absolute;
      top: 50%;
      width: 1px;
    }

    @include breakpoint(sm) {
      display: none;
    }

    @media(max-width: 767px) {
      font-size: 20px;
    }
  }

  right-actions {
    @media(max-width: 991px) and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    @media(max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }

  .btn {
    transition: none;
  }
}

.right-actions-bg {
  @media(max-width: 767px) {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
  }
}
