.paginator {
  .paginator__box,
  & [uib-pager] {
    @include breakpoint(sm) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

.paginator__msg {
  margin: 15px auto;
}
