.reg-dest__btn-wp {
  border-top: 1px solid $gris20;
  margin-top: 50px;
  padding-top: 50px;

  @include breakpoint(md) {
    margin-bottom: 100px;
  }
}

.reg-card-prov__btn-wp {
  width: 100%;

  @include breakpoint(md) {
    text-align: right;
  }
}

.reg-card__showMap {
  @include breakpoint(md) {
    position: absolute;
    right: 5px;
    top: 52px;
  }
}

.reg-car__info-user {
  @include breakpoint(md) {
    margin: 0;
    max-width: calc(100% - 150px);
    width: 100%;
  }
}

.chk__lbl {
  display: block;
  margin: 10px 0 20px;
  padding-left: 40px;
  position: relative;
}

.chk__ico {
  left: 0;
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);

  &::before {
    font-size: 1.2em;
  }
}

.rdo__lbl {
  display: block;
  margin: 10px 0 20px;
  padding-left: 30px;
  position: relative;
}

.register-destination {
  &__data {
    background: $gris9;
    padding-bottom: 10px;
    padding-top: 25px;
  }

  &--title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    padding-left: 20px;
  }

  &__clinic {
    margin: 0;
    width: 100%;

    @include breakpoint(md) {
      width: 80%;
    }
  }

  &--caption {
    margin-top: 0;

    @include breakpoint(md) {
      padding-left: 40px;
    }
  }

  &--selectBtn {
    display: inline-block;
    margin-top: 10px;
    min-width: 280px;
    width: 100%;

    @include breakpoint(sm) {
      min-width: auto;
      width: auto;
    }
  }

  &__content {
    padding: 18px 0;
    position: relative;
  }

  &__header {
    margin-bottom: 20px;
    position: relative;

    .lista-header__col {
      &:last-child {
        padding-top: 0;

        @include breakpoint(md) {
          &:last-child {
            padding-top: 18px;
          }
        }
      }
    }

    &.u-mb-10 {
      margin-bottom: 10px;
    }
  }

  &__input {
    margin: 0;

    &::before {
      font-size: 1.4em;
    }
  }

  &__label {
    font-weight: 300;
    margin: 0;
  }

  &__link-more {
    margin: 10px 0 15px;
    z-index: 10;

    @include breakpoint(md) {
      bottom: -75px;
      position: absolute;
      right: 0;
    }
  }

  &--pacient {
    &.register-progress-block-info {
      height: 265px;
      max-height: 100%;
      min-height: auto;

      @include breakpoint(md) {
        height: 150px;
      }
    }
  }

  &--diagnostic {
    display: inline-block;
    padding: 0 20px;

    @include breakpoint(md) {
      padding: 0;
    }

    span {
      display: inline-block;
      width: 100%;

      @include breakpoint(md) {
        display: inherit;
        width: auto;
      }
    }

    .diagnostic-title {
      font-weight: bold;
      margin: 10px 0;

      @include breakpoint(md) {
        font-weight: normal;
        margin: 0;
      }
    }
  }

  &-form--badge {
    display: inline-block;
  }
}

.register-destination-form {
  &__group {
    font-size: 15px;
    width: 100%;

    @include breakpoint(md) {
      width: 49%;
    }
  }

  &__title {
    font-size: 29px;
    margin-bottom: 35px;

    @include breakpoint(md) {
      font-size: 30px;
    }
  }

  &__legend {
    color: $title-color;
    font-family: 'roboto';
    font-size: 18px;
  }

  &--border {
    border-bottom: 1px solid $border-color;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 225px;
    padding-bottom: 5px;
    width: 100%;
  }

  &--input {
    border-radius: 0;
    box-shadow: 0 0 0 transparent;
    padding: 27px;
  }

  &--specialities {
    width: 100%;

    @include breakpoint(xxs) {
      width: 25%;
    }
  }

  &__specialities {
    min-height: 50px;
    padding: 20px 0;
  }

  &--close {
    border-left: 1px solid $gris20;
    color: $gris20;
    margin-left: 10px;
    padding: 0 8px;
  }

  &__padding {
    margin-left: 0;

    @include breakpoint(sm) {
      margin-left: 8%;
    }
  }
}

.msgSeleccion {
  background: $gris9;
  border-top: 1px solid $gris23;
  bottom: 0;
  left: 0;
  padding: 17px 0 13px;
  position: fixed;
  right: 0;
  z-index: 5555;

  &.reg-selec-dest {
    @include breakpoint(sm) {
      padding-bottom: 0;
    }

    @include breakpoint(md) {
      padding-bottom: 13px;
    }
  }

  @include breakpoint(md) {
    padding-bottom: 13px;
  }
}

.msgSeleccion__content {
  display: block;
  padding: 0 15px;
}

.msgSeleccion__box--left {
  display: block;
  position: relative;

  @include breakpoint(lg) {
    top: 13px;
  }
}

.msgSeleccion__box--right {
  @include breakpoint(sm) {
    text-align: right;
  }
}

.msg-box--one {
  padding-left: 50px;
  position: relative;
}

.canti__box {
  background: $white;
  border: 1px solid $gris13;
  border-radius: 4px;
  display: inline-block;
  left: 0;
  margin-right: 15px;
  max-width: 55px;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.msgSeleccion__txt-canti {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}

.msgSeleccion__caption {
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  @include breakpoint(md) {
    margin: 0;
    top: 13px;
  }

  @include breakpoint(lg) {
    top: 0;
  }
}
