.register-pacient-step {
  margin-bottom: 20px;
}

.reg-paci__btn-search {
  width: 100%;
}

.reg-paci__btn-box,
.reg-paci__input-box {
  padding: 0;

  @include breakpoint(sm) {
    padding: 0 15px;
  }
}

.reg-paci__btn-box {
  text-align: center;

  @include breakpoint(sm) {
    text-align: right;
  }
}

.reg-pac-card__header-info-main {
  &.lista-header__col {
    padding-bottom: 0;

    @include breakpoint(md) {
      padding: 18px 0;
    }
  }
}

.reg-paci__input-box {
  @include breakpoint(sm) {
    &:first-child {
      padding-left: 0;
    }

    padding-top: 10px;
  }
}

.reg-paci-result__btn-box {
  margin: 15px 0 20px;
  width: 100%;

  @include breakpoint(md) {
    margin: 0;
    width: auto;
  }
}

.register-block-inner {
  &__title {
    font-family: 'roboto';
    font-size: 20px;
    margin-bottom: 35px;

    @include breakpoint(sm) {
      font-size: 30px;
    }
  }

  &__input {
    &.form-control {
      width: 100%;
    }
  }

  &__form-pd {
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 400;
  }
}

.panel__link {
  &--selected {
    margin-bottom: 0;
  }

  &--title {
    color: $verde2;
  }

  &--cross {
    border-left: 1px solid $gris20;
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 200;
    margin-left: 5px;
    padding: 0 10px;
  }

  &--ico {
    bottom: -6px;
    font-size: 25px;
    position: relative;
  }
}

.reg-new-search__link {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $verde2;
  }
}

.reg-ico__search {
  font-size: 1.4em;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
