.u-title-divider {
  position: relative;

  &::before {
    background: $rojo-primario;
    bottom: -15px;
    content: '';
    height: 2px;
    left: 0;
    margin: auto;
    max-width: 80px;
    position: absolute;
    right: 0;
    width: 100%;
  }
}

.u-inline-b {
  display: inline-block;
}

.u-title-divider--up {
  clear: both;
  position: relative;

  &::before {
    background: $rojo-primario;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: -15px;
    width: 65px;
  }
}

%u-fx-ac {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.u-ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-fx-ac {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.u-fx-as {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.u-ph-0 {
  padding-left: 0;
  padding-right: 0;
}

.u-m-0 {
  margin: 0;
}

.u-mb-15 {
  margin-bottom: 15px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-mb-50 {
  margin-bottom: 50px;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-br-5 {
  border-radius: 5px;
  overflow: hidden;
}

.u-color-primary {
  color: $rojo-primario;
}

.u-color-gray {
  color: $title-color;
}

.u-color-amarillo {
  color: $yellow;
}

.u-txt-right {
  text-align: right;
}

.u-txt-center {
  text-align: center;
}

.u-txt-capitalize {
  text-transform: capitalize;
}

.u-txt--uppercase {
  text-transform: uppercase;
}

.u-color-verde {
  color: $verde2;
}

.u-weight-normal {
  font-weight: normal;
}

.u-w-100 {
  height: 100%;
  width: 100%;
}

.u-weight-500 {
  font-weight: 500;
}

.u-bg--grey {
  background: $gris9;
}

.u-fx {
  display: flex;
  flex-wrap: wrap;
}

.u-align-v {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.u-squash-align-v {
  align-items: center;
  display: flex;
}

.u-arrow-left {
  color: $gris26;
  padding-left: 25px;
  position: relative;

  &::before {
    content: '\e94b';
    font-family: 'Mapfree-iconss';
    font-size: 1.3em;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(90deg);
  }
}

.u-arrow-right {
  color: $gris23;
  padding-right: 25px;
  position: relative;

  &::before {
    content: '\e94b';
    font-family: 'Mapfree-iconss';
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(-90deg);
  }
}

.u-arrow-down {
  color: $gris23;
  position: relative;

  &::before {
    content: '\e94b';
    font-family: 'Mapfree-iconss';
    transform: translate(0, -50%);
  }
}

.cleaner {
  box-sizing: border-box;
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
    line-height: 0;
  }

  &::after {
    clear: both;
  }
}

.u-db {
  display: block;
}

.u-ml-0 {
  margin-left: 0;
}

.u-mlr--5 {
  margin-left: -5px;
  margin-right: -5px;
}

.u-mr-15 {
  margin-right: 15px;
}

.u-m {
  &t-5 {
    margin-top: 5px;
  }

  &b-5 {
    margin-bottom: 5px;
  }

  &l-5 {
    margin-left: 5px;
  }

  &r-5 {
    margin-right: 5px;
  }

  &t-10 {
    margin-top: 10px;
  }

  &b-10 {
    margin-bottom: 10px;
  }

  &l-10 {
    margin-left: 10px;
  }

  &r-10 {
    margin-right: 10px;
  }

  &t-20 {
    margin-top: 20px;
  }

  &b-20 {
    margin-bottom: 20px;
  }

  &l-20 {
    margin-left: 20px;
  }

  &r-20 {
    margin-right: 20px;
  }

  &t-40 {
    margin-top: 40px;
  }

  &b-40 {
    margin-bottom: 40px;
  }

  &l-40 {
    margin-left: 40px;
  }

  &r-40 {
    margin-right: 40px;
  }
}

.u-p-20 {
  padding: 20px;
}

.u-pt-0 {
  padding-top: 0;
}

.u-pb-0 {
  padding-bottom: 0 !important;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-plr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.u-pl-20 {
  padding-left: 20px !important;
}

.u-pr-25 {
  padding-right: 25px !important;
}

.u-pr-40 {
  padding-right: 40px !important;
}

.u-loading {
  background: url('/referencia/assets/loading3.gif') no-repeat;
  background-position: 50% 50%;
  background-size: 100px;
  min-height: 170px;
  opacity: 0.7;

  .u-data-to-load {
    opacity: 0;
  }
}

.u-txt-frmt {
  text-transform: capitalize;
}

.u-no-ph15-xs {
  padding-left: 0;
  padding-right: 0;

  @include breakpoint(sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.u-t-2 {
  position: relative;
  top: 2px;
}

.u-t--2 {
  position: relative;
  top: -2px;
}

.u-pos-rela {
  position: relative;
}

.u-bb-gray {
  border-bottom: 1px solid $gris20;
}

.u-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-body {
  width: 10000px;
}

.media-heading {
  margin-bottom: 5px;
  margin-top: 0;
}
