<div class="g-section g-section-tabs g-overflow-hidden-xs">
  <div class="container">
    <uib-tabset justified="true" active="activeTab">
      <uib-tab index="0" deselect="cambiarTab($event, $selectedIndex)">
        <uib-tab-heading>
          <span class="ico-mapfre_82_circle" ng-class="{'gCRed1': activeTab !== 0, 'gCGreen1': activeTab === 0}"></span>
          DATOS DE LA PÓLIZA ACTUAL
        </uib-tab-heading>
        <div class="content-tab">
          <mpf-datos-poliza-migrar
              form="activeTab"
              on-validation="validatationDatosPoliza($event)"
              on-submit-form="goPlanMigracion($event)">
          </mpf-datos-poliza-migrar>
        </div>
      </uib-tab>
      <uib-tab index="1" deselect="cambiarTab($event, $selectedIndex)">
        <uib-tab-heading>
          <span class="ico-mapfre_82_circle" ng-class="{'gCRed1': activeTab !== 1, 'gCGreen1': activeTab === 1}"></span>
          PLAN DE MIGRACIÓN
        </uib-tab-heading>
        <div class="content-tab">
          <mpf-plan-migracion form="activeTab"></mpf-plan-migracion>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
