<div class="g-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-xs-1">
          <h2 class="gH4 gCGray1">
            <b class="ng-binding">Resumen de la cotización</b>
          </h2>
        </div>
        <div class="col-md-6 mb-xs-1 g-text-right-md">
          <h2>Nro de cotización: <b>{{cotizacion.NumeroDocumento}}</b></h2>
        </div>
      </div>
      <div class="row">
        <!-- resumen cotizacion contratante -->
        <mpf-resumen-cotizacion-contratante
          ng-contratante="migracion.Contratante"
          ng-producto="resultados.Producto"></mpf-resumen-cotizacion-contratante>
      </div>

      <div class="row">
        <!-- resumen datos parentesco -->
        <mpf-resumen-datos-parentesco ng-data="resultados"></mpf-resumen-datos-parentesco>
      </div>
      <div class="row">
        <!-- resumen cotizacion importes -->
        <mpf-resumen-cotizacion-importes ng-data="resultados"></mpf-resumen-cotizacion-importes>
      </div>
      <div class="row">
        <!-- resumen cotizacion condiciones -->
        <mpf-resumen-cotizacion-condiciones ng-data="resultados"></mpf-resumen-cotizacion-condiciones>
      </div>
      <div class="row">
        <!-- resumen cotizacion poliza -->
        <mpf-resumen-cotizacion-poliza ng-data="resultados"></mpf-resumen-cotizacion-poliza>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><b>*Plazo máximo de validez de la propuesta: 15 días</b></p>
        </div>
      </div>
      <div class="g-section mt-xs-5">
        <div class="row">
          <div class="col-md-2 mb-xs-2">
            <!--<a href="javascript:void(0);" ng-click="sendEmail()" class="g-btn g-btn-white block">ENVIAR CORREO</a>-->
          </div>
          <div class="col-md-4 mb-xs-2">
            <a href="javascript:void(0);" ng-click="descargarPdf()"  class="g-btn g-btn-white block">DESCARGAR PDF</a>
          </div>
          <div class="col-md-4 mb-xs-2">
            <a href="javascript:void(0);" ng-click="emitirPoliza()" class="g-btn g-btn-verde block">EMITIR PÓLIZA</a>
          </div>
          <div class="col-md-2 mb-xs-2"></div>
        </div>
      </div>
    </div>
  </div>
