<div class="col-md-12">
  <div class="g-box fz14 pt-xs-1 pb-xs-1 pr-xs-1 pl-xs-1">
    <div class="row">
      <div class="col-md-12">
        <p class="mb-xs-1"><b>Condiciones</b></p>
      </div>
      <div class="col-md-12">
        <p class="mb-xs-0">Se otorga continuidad de cobertura de la póliza {{vm.migracion.NumeroPoliza}},
          contratada desde: {{vm.migracion.FechaVigenciaDesde}} hasta fecha de corte de vigencia: {{vm.resumenCondicionesFechaFinal}} para  los
          diagnósticos atendidos durante su vigencia.</p>
      </div>
    </div>
  </div>
</div>
