.modalManualProof{
	.box{
		padding: 25px 30px;
		border: 1px solid $cGray4;
		position: relative;
		.option{
			background-color: $cWhite1;
			padding: 0 5px;
			position: absolute;
			top: -10px;
			left: 20px;
		}
	}
}