.searchedPolicies{
	.gnSecToggle{
		.panel-title>a{
			&:hover,
			&:focus{
				cursor: pointer;
			}
		}
		.ico-bullet{
			top: 0;
		}
		.g-box-content{
			max-height: 550px;
			overflow: auto;
			border-top: 1px solid $cGray4;
		}
	}
}