.app-my-dream {
  .g-acordeon {
    border: 0;
    box-shadow: $box-shadow;

    .panel-heading {
      background-color: white;
    }

    .panel-title {
      a {
        >span {
          align-items: center;
          display: flex;

          span {
            margin: 0;
            width: 100%;
          }

          .glyphicon {
            background-color: white;
            color: $myd-green;
            font-size: 20px;
            padding: 0px;
            top: 0px;
          }
        }
      }
    }

    .panel-body {
      .g-sec-information .cnt-item {
        border-left: 0;
        padding: 0;

        .item-label {
          padding: 5px;
          width: 40%;
        }

        .item-dato {
          padding: 5px;
          width: 60%;
        }
      }
    }
  }

  .accordion-box-item {
    background-color: white;
    border: 0;
    box-shadow: $box-shadow;

    .panel-heading {
      background-color: white !important;
      padding: 0;

      .accordion-header {
        background-color: white !important;
        padding: 0;

        .row {
          align-items: center;
          display: flex;
          height: 80px;
          margin: 0;

          .title {
            color: $myd-black;
            font-size: 14px;
          }
        }

        .title-ico {
          background: transparent;
          color: $myd-green;
          font-size: 30px;
          height: 45px;
          width: 45px;
        }
      }
    }

    .panel-body {
      border-top: 0 !important;
    }
  }

  .g-myd-box--accordion {
    background-color: white;
    border-radius: 5px;
    margin: 0;

    > .row {
      align-items: center;
      display: flex;
    }

    .title-ico {
      background: transparent;
      color: $myd-green;
      font-size: 30px;
      height: 45px;
      width: 45px;
    }
  }

  .g-acordeon--nsctr {
    background-color: white;
  }
}
