.app-my-dream {
  .footer {
    background-color: $myd-black;
    z-index: 1;

    .parrafo1 {
      font-size: 18px;
      font-weight: 100;
      margin-bottom: 10px;

      strong {
        font-weight: 100;
      }
    }

    .parrafo2 {
      flex-direction: column;
      align-items: baseline;
      display: flex;
      font-size: 14px;
      justify-content: center;
      margin-bottom: 10px;

      .nro {
        border-right: 0;
        margin: 0;
        width: 100%;

        span {
          font-size: 14px;
          margin-right: 2px;
        }

        strong {
          font-weight: normal;
        }
      }

      .date {
        font-weight: 100;
        margin: 0;
        width: 100%;

        strong {
          font-weight: normal;
        }
      }
    }

    .parrafo3 {
      font-weight: 100;
      margin-bottom: 30px;
      opacity: 1;
    }

    .footer-white {
      &:after {
        display: none;
      }
    }
  }

  @media (min-width: $break-small) {
    .footer {
      .parrafo2 {
        flex-direction: initial;

        .nro,
        .date {
          border-right: 1px solid $myd-gray3;
          width: auto;
        }
      }
    }
  }
}
