.app-my-dream {
  .modal-content {
    background-color: white;

    .g-page {
      background-color: $myd-gray4;
    }

    .g-sub-title {
      color: $myd-gray5;
      font-size: 18px;
      font-weight: bold !important;
    }
  }

  // SWAL2 MODAL
  .g-myd-modal,
  .swal2-modal {
    .swal2-buttonswrapper {
      align-items: center;
      display: flex !important;
      justify-content: center;
      flex-direction: column;
    }

    button {
      align-items: center;
      border-radius: 24px;
      border-width: 1px;
      box-shadow: 0 1px 6px 0 rgba(121, 123, 127, 0.1);
      display: flex;
      font-weight: normal !important;
      justify-content: center;
      margin-bottom: 10px !important;
      max-height: 40px;
      min-width: 200px;

      &.swal2-confirm {
        background-color: $myd-red !important;
        border-color: $myd-red !important;
        display: initial;
        margin: 0;
        transition: 0.25s linear;

        &:hover {
          background-color: $myd-red2 !important;
          transition: 0.25s linear;
        }
      }

      &.swal2-cancel {
        border-color: $myd-red;
        color: $myd-red;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        transition: .25s linear;

        &.active,
        &:hover {
          background-color: $myd-red2 !important;
          border-color: $myd-red2;
          box-shadow: 0 1px 6px rgba(121,123,127,.1);
          color: $cWhite1;
          transition: .25s linear;
        }
      }

      &.swal2-close {
        border: none;
        box-shadow: none;
        max-height: inherit;
        min-width: auto;
      }
    }
  }

  // alerts
  .gSweetModal,
  .swal2-modal {
    .swal2-icon {
      &.swal2-error {
        width: 150px;

        &:before {
          content: url(../../../images/error.svg);
        }
      }

      &.swal2-info,
      &.swal2-warning {
        width: 150px;

        &:before {
          content: url(../../../images/alert.svg);
        }
      }
    }
  }

  @media (min-width: $break-xsmall) {
    .g-myd-modal,
    .swal2-modal {
      .swal2-buttonswrapper {
        flex-direction: row;
      }

      button {
        &.swal2-cancel {
          margin-right: 10px;
        }
      }
    }
  }

  .c-modal-camara {
    .modal-content {
      left: 50%;
      padding: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    video {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }

    canvas {
      display: none;
    }

    .modal-dialog {
      height: calc(100% - 10px);
    }

    .footer-btn {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      bottom: 0;
      height: 90px;
      left: 0;
      position: absolute;
      right: 0;
    }

    button {
      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }

    .close {
      color: white;
      font-size: 20px;
      opacity: 1;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 99;
    }
  }
}
