.app-my-dream {
  .gHorizontalMenu,
  .g-menu-main {
    background-color: white;

    > span {
      > li,
      > li.submenu {
        > a {
          margin-left: 10px;
          margin-right: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:hover {
          > a {
            border-bottom: 2px solid $myd-green;
          }
        }

        &::after {
          color: $myd-green;
        }

        &.actived,
        &.active {
          > a {
            border-bottom: 2px solid $myd-green;
            margin: 0;
          }
        }

        .sbm-main > {
          span > {
            li.sbm-link {
              > a {
                background-color: white;
              }

              &:hover {
                > a {
                  border-bottom: 2px solid $myd-green;
                  color: $myd-green;
                }
              }

              &.submenu__more {
                &::before {
                  color: $myd-green;
                }
              }

              &.actived > a {
                border-bottom: 2px solid $myd-green;
                color: $myd-green;
              }
            }
          }
        }

        .iconArrow {
          &::before {
            color: $myd-green;
          }
        }
      }
    }
  }
}
