.app-my-dream {
  .pagination {
    >li {
      margin: 5px;

      >a,
      span {
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .11);
        display: flex;
        height: 30px;
        justify-content: center;
        width: 30px;

        &:hover {
          background-color: white;
          border-color: white;
          color: $myd-green;
        }
      }

      &:first-child,
      &:last-child {
        >a,
        span {
          background-color: white;

          &::before {
            position: relative;
          }
        }
      }

    }

    .active {
      >a,
      span {
        background-color: white;
        border-color: white;
        color: $myd-green;
      }
    }
  }

  @media (min-width: $break-medium) {
    .pagination {
      >li {
        >a,
        span {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
