.c-payment {
  .description {
    color: $myd-gray5;
    font-size: 14px;
    font-weight: $myd-fw-medium;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .kr-embedded {
    width: 100%;

    &.kr-help-button-inner-field {
      .kr-pan,
      .kr-text,
      .kr-field.kr-text,
      .kr-expiry,
      .kr-security-code {
        margin-bottom: 40px;
        width: 100%;
      }
    }

    .kr-label label {
      font-family: "roboto" !important;
    }

    .kr-label.focus label,
    .kr-embedded .kr-label.kr-focus label {
      color: $myd-gray5;
    }

    .kr-label.kr-error label {
      color: $myd-red !important;
    }

    .kr-pan.kr-focus .kr-field-wrapper .kr-icon-wrapper-root {
      border-bottom: 1px solid $myd-gray5;
    }

    &[krvue] {
      .kr-field.kr-focus .kr-field-component,
      .kr-pan.kr-focus .kr-field-component,
      .kr-expiry.kr-focus .kr-field-component,
      .kr-security-code.kr-focus .kr-field-component,
      .kr-identity-document-number.kr-focus .kr-field-component,
      .kr-card-holder-name.kr-focus .kr-field-component,
      .kr-card-holder-mail.kr-focus .kr-field-component,
      .kr-identity-document-type.kr-focus .kr-field-component,
      .kr-installment-number.kr-focus .kr-field-component {
        border-bottom: 1px solid $myd-gray5;
      }
    }

    .kr-payment-button {
      background-color: $myd-red !important;
      border-radius: 20px;
      color: $myd-white;
      display: flex;
      font-size: 14px;
      margin: 0 auto;
      text-transform: uppercase;

      span {
        font-family: "roboto" !important;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
    }

    .kr-input-wrapper {
      width: 100%;
    }
  }

  input {
    font-family: "roboto" !important;
  }
}

.kr-embedded .kr-label.focus label,
.kr-embedded .kr-label.kr-focus label {
  color: $myd-gray5 !important;
}

.kr-embedded[krvue] .kr-field.kr-focus {
  border-bottom: 1px solid $myd-gray5;
}

.kr-embedded .kr-identity-document-number.kr-error .kr-field-wrapper.kr-text-wrapper .kr-label label,
.kr-embedded .kr-card-holder-name.kr-error .kr-field-wrapper.kr-text-wrapper .kr-label label,
.kr-embedded .kr-card-holder-mail.kr-error .kr-field-wrapper.kr-text-wrapper .kr-label label {
  color: $myd-red !important;
}


.kr-card-holder-name {
  margin-bottom: 50px !important;
}

.verification-pay {
  .g-myd-alert {
    align-items: flex-start;
    display: flex;

    .alert__icon {
      color: $myd-green;
      font-size: 35px;
      margin-right: 5px;
    }

    &--message {
      display: block;

      span {
        display: block;
        font-size: 18px;
      }

      p {
        font-size: 14px;
        font-weight: $myd-font-book;
        margin: 0;
      }
    }
  }

  .verification {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__title {
      font-weight: $myd-fw-bold;
      min-width: 100%;
    }

    &__text {
      font-weight: $myd-font-book;
    }
  }
}

@media (min-width: $break-xsmall) {
  .verification-pay {
    .g-myd-alert {
      align-items: center;
    }

    .verification {
      &__title {
        min-width: 200px;
      }
    }
  }
}
