.app-my-dream {
  .g-myd-photo-box {
    background-color: $myd-gray13;
    border: 1px solid $myd-gray7;
    border-radius: 5px;

    .g-photo-inner-box {
      background-color: transparent;
      border: 0;
      padding: 0;

      .g-photo-img {
        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      .g-photo-title {
        font-size: 13px;
      }
    }

    .g-photo-name {
      font-size: 13px;
      padding: 15px 15px;
    }
  }

  .g-cont-foto {
    background-color: white !important;
    border: 0 !important;
    box-shadow: $box-shadow;
  }
}
