.app-my-dream {
  .g-myd-shedule {

    &--list {
      .shedule-title {
        h2 {
          font-weight: $myd-fw-bold;
        }
      }

      .cont-inspectores {
        background-color: $myd-white;
        overflow: auto;

        .badge {
          border-radius: 5px;
        }
      }
    }

    &--calendar {
      .tag-solicitudes {
        align-items: center;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;

        .info-tag {
          .item-label {
            align-items: center;
            display: flex;
            
            span {
              margin: 0;
              line-height: 1;
            }

            .c-tag,
            .g-box-label {
              margin-left: 10px;
            }
          }
        }

        .g-sec-information {
          .g-sec-day {
            border-right-color: $myd-gray5;
          }
        }
      }

      .fc-unthemed {
        .fc-header-toolbar {
          background-color: $myd-white;
          border: none;

          .fc-right {
            .fc-button-group {
              .fc-state-default {
                border: none;

                &.fc-state-active {
                  border: none;
                  color: $myd-green;
                  font-weight: $myd-fw-medium;
                }
              }
            }
          }
        }

        .fc-view-container {
          .fc-view {
            box-shadow: 0 1px 6px 0 rgba(27, 27, 27, 0.11);

            .fc-head {
              .fc-day-header {
                background-color: $myd-gray4;
                padding: 8px 0;
              }
            }

            .fc-axis {
              background-color: $myd-gray4; 
            }

            .fc-divider {
              background: $myd-gray4;
            }
          }
        }
      }
    }
  }
}