.app-my-dream {
  .c-myd-sign {
    background-color: $cWhite1;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .11);

    &--header {
      display: flex;
      flex-direction: column;

      &-title {

        .title {
          align-items: center;
          display: flex;
          flex-flow: row wrap;

          .text {
            align-items: center;
            display: flex;
            flex: 1;
            justify-content: space-between;
            overflow: hidden;
            padding: 15px;

            .info {
              display: flex;
              flex-direction: column;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;

              p, span {
                font-size: 14px;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              p {
                font-weight: $myd-fw-bold;
              }

              span {
                font-weight: $myd-font-book;
                margin-top: 3px;
              }
            }

            i {
              color: $myd-green;
              font-size: 18px;
            }
          }

          .document,
          .button {
            align-items: center;
            border-left: 1px solid $myd-gray3;
            color: $myd-green;
            cursor: pointer;
            display: flex;
            height: 100%;
            padding: 20px;
            white-space: nowrap;

            span {
              padding-left: 10px;
              display: none;
            }

            i {
              font-size: 24px;
            }
          }

          .button {
            border-left: none;
            border-top: 1px solid #f2f2f2;
            width: 100%;

            a {
              min-width: 120px;
              width: 100%;
            }
          }
        }
      }

      &-info {
        align-items: center;
        border-top: 1px solid $myd-gray3;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        width: 100%;

        .step1,
        .step2 {
          padding: 15px;

          .sign {
            align-items: center;
            color: $myd-green;
            cursor: pointer;
            display: flex;
            text-transform: uppercase;

            span {
              line-height: 1;
              margin: 0;
              padding-right: 5px;
            }

            &.done {
              color: $myd-gray5;
              cursor: default;
            }
          }
        }

        .step-buttons {
          padding: 0 20px;
          width: 100%;
        }
      }

    }

    &--body {
      height: 0;
      visibility: hidden;

      &.active {
        height: initial;
        visibility: visible;
      }

      .box-sign {
        border: 1px dashed $myd-gray7;
        height: 210px;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 80%;

        &__wrapper {
          height: calc(100% - 2px);
          overflow: hidden;
          position: relative;
          width: calc(100% - 2px);
  
          canvas {
            left: 50%;
            position: absolute;
            top: 0;
            transform: translate(-50%, 0);
          }
        }
      }

      .footer-btn {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-bottom: 19px;

        button {
          margin: 10px;
          width: 160px;
        }
      }
    }
  }

  @media (min-width: $break-medium) {
    .c-myd-sign {
      &--header {
        flex-direction: row;

        &-title {
          flex: 1;

          .title {
            flex: 1;

            .text {
              .info {
                flex-direction: row;

                p {
                  border-right: 1px solid $myd-gray3;
                  padding-right: 15px;
                  width: 300px;
                }

                span {
                  margin-top: 0;
                  padding-left: 15px;
                }
              }
            }

            .document {
              span {
                display: block;
              }
            }
          }
        }

        &-info {
          border-left: 1px solid $myd-gray3;
          width: 15%;
        }
      }
    }
  }

  @media (min-width: $break-xsmall) {
    .c-myd-sign {
      &--header {
        &-title {
          .title {
            .button {
              border-left: 1px solid #f2f2f2;
              border-top: none;
              width: auto;
            }
          }
        }
      }
    }
  }
}
