.app-my-dream {
  .g-steps {
    height: 135px;

    &.active-fixed {
      height: 110px;
    }

    .g-steps-container {
      .g-steps-circles {
        > div {
          display: flex;
          justify-content: center;

          .g-circle {
            align-items: center;
            background-color: $cWhite1;
            border: 1px solid $myd-gray5;
            color: $myd-gray5;
            display: flex;
            font-size: 13px;
            height: 21px;
            justify-content: center;
            margin: 0;
            padding: 0;
            width: 21px;

            span {
              margin: 0;
            }

            &::after {
              height: 153%;
              left: -5px;
              top: -5px;
              width: 153%;
            }

            &.active {
              background-color: $myd-green;
              border: 1px solid $myd-green;
              color: $cWhite1;

              &:after {
                border: 2px solid $myd-green;
              }
            }
          }
        }
      }

      .g-steps-line {
        height: 50%;
        top: 0;
        width: 100%;

        > div {
          height: 100%;
          position: relative;

          .g-step-line {
            background: $myd-gray6;
            left: 0;
            position: absolute;
            top: calc(50% - 2.5px);

            &.full {
              background-color: $myd-green;
            }

            &.gradient {
              &:before {
                background-color: $myd-green;
              }
            }
          }
        }
      }
    }

    .g-steps-container-responsive {
      .g-step-box {
        .g-circle {
          background-color: transparent;
          border: 1px solid $myd-gray5;
          color: $myd-gray5;
          display: flex;
          height: 24px;
          position: relative;
          width: 24px;
          z-index: 1;

          span {
            left: 50%;
            margin-left: -50%;
            position: absolute;
            width: 100%;
          }

          &.active {
            background-color: $myd-green;
            border: 1px solid $myd-green;
            color: $cWhite1;
            margin: 0;

            &:after {
              background-color: transparent;
              border-radius: 100%;
              border: 2px solid $myd-green;
              content: "";
              height: 32px;
              left: -5px;
              position: absolute;
              top: -5px;
              width: 32px;
              z-index: -1;
            }
          }
        }

        .g-title {
          box-shadow: none;

          &.active {
            background-color: transparent !important;

            span {
              border-bottom: 0;
              color: $myd-green;
              font-weight: $myd-fw-medium !important;
            }
          }
        }
      }
    }
  }

  @media (min-width: $break-medium) {
    .g-steps {
      height: auto;

      &.active-fixed {
        height: auto;
      }
    }
  }
}

