.app-my-dream {
  .g-myd-summary {
    .g-myd-title {
      border-bottom: 0;
      color: $myd-black;
      font-size: 18px;

      b {
        font-weight: $myd-fw-medium;
      }
    }
    .auto-cotizaguardado-productos-data {
      .myd-name-product {
        color: $myd-black;
        font-weight: $myd-font-book;
        margin-bottom: 10px;
      }

      .col-prima-neta {
        b {
          color: $myd-gray5;
          font-weight: $myd-fw-medium;
        }
      }

      .producto-documento {
        display: flex;
        margin-bottom: 10px;

        &-label {
          color: $myd-gray5;
          font-weight: $myd-fw-medium;
          margin: 0;
          width: 41.66667%;
        }

        &-numero {
          margin: 0;
          padding-left: 15px;

          b {
            color: $myd-gray5;
            font-weight: $myd-font-book;
          }
        }
      }
    }

    .g-summary-box {
      background-color: transparent;
      border: 0;
      padding: 0;
    }
  }

  .g-title {
    &.summary {
      background-color: white;

      h2 {
        font-size: 16px;
        padding-left: 32px;

        .ico {
          font-size: 30px;
          height: 30px;
          top: 1px;
          width: 30px;
        }
      }
    }
  }

  @media (min-width: $break-medium) {
    .g-myd-summary {
      .auto-cotizaguardado-productos-data {
        .col-md-3 {
          width: 33.33333%;
        }
      }
    }

    .g-title {
      &.summary {
        h2 {
          font-size: 23px;
        }
      }
    }
  }
}
