.app-my-dream {
  .g-tbl-wrapper {
    .tbl-main {
      background-color: white;

      .tbl {
        &-header {
          align-items: center;
          background-color: white;
          display: flex;
          width: 100%;

          li {
            margin-left: -1px;
          }
        }

        &-body {
          li {
            .tbl-row {
              display: flex;

              .cell {
                margin-left: -1px;
              }
            }
          }

          > li {
            border-bottom: 0;

            &:nth-child(odd) {
              background-color: $myd-gray8;
            }

            .tbl-row {
              .cell {
                a {
                  span[class*=ico-mapfre_],
                  span[class*=ico-mapfre-],
                  i[class*=ico-mapfre_],
                  i[class*=ico-mapfre-] {
                    color: $myd-green;
                  }
                }
              }
            }
          }
        }

        &-footer {
          li {
            margin-left: -1px;
          }
        }
      }
    }
  }

  .table-riesgo {
    &-title {
      background-color: $myd-gray4;
      border: 0;

      .container {
        align-items: center;
        display: flex;
        min-height: 60px;
        padding: 0;

        .title-col {
          height: auto;
          line-height: initial;
        }
      }
    }

    &-row-content {
      .container {
        padding: 0;

        .data-col {
          .cell-data {
            padding: 0;

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}
