.app-my-dream {
  .g-section-tabs {
    .nav-tabs {
      border: 0;
      border-radius: 0;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .11);

      > li {
        background-color: $cWhite1;
        border: 0;
        border-right: 1px solid $myd-gray3;

        > a {
          font-size: 14px !important;
          height: 100%;

          .ng-scope {
            span {
              padding: 20px 15px;
            }
          }
        }

        &.active {
          background-color: white;
          border-bottom: 3px solid $myd-green !important;
          z-index: 9;

          > a {
            color: $myd-green;
            font-weight: bold !important;

            &:hover,
            &:focus {
              color: $myd-green;
            }
          }
        }
      }
    }

    &.g-myd-tab--personalizado {
      .nav-tabs {
        display: inline-block;
        margin-bottom: -3px;
      }
    }

    .tab-content {
      &::before,
      &::after {
        position: relative;
        width: 0 !important;
      }
    }
  }

  .g-tabs--doble {
    .nav-tabs {
      display: flex;

      .nav-item {
        width: 100%;
      }
    }
  }
  .g-tab-vertical {
    .nav-tabs {
      > li {

        > a {
          .myd-vertical-alert {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;

            .ico-bullet {
              display: block;
              left: inherit;
              margin: 0 5px 0 0;
              padding: 0;
              position: relative;
              top: inherit;
            }

            &-info {
              flex: 1;

              .myd-user-code,
              .myd-date,
              .myd-preview-message {
                color: $myd-gray5;
                font-weight: $myd-font-book;
                padding: 0;
              }

              .myd-user-code {
                font-weight: $myd-fw-medium;
                margin-bottom: 10px;
              }
            }
          }
        }

        &.active,
        &:hover {
          border-left: none;
        }
      }
    }
  }

  .g-menu-main {
    > span {
      > li {
        &.actived,
        &:hover {
          > a {
            border-bottom: 3px solid $myd-green !important;
          }
        }
      }
    }
  }
}
