<section class="">
  <button type="button" class="close g-close-modal" ng-click="closeModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <form name="frm">
    <div class="container" ng-if="!message">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>INICIAR REPARACIÓN</b></h2>
        </div>
      </div>
    </div>

    <div class="container" ng-if="!message">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <m-radio label="{label: 'Ningún repuesto pendiente'}" name="nNoRepuestoPendiente" ng-model="mRepuestoPend" value="N" data-ng-required="true" ng-click=""></m-radio>
            <div class="g-error" data-ng-show="nNoRepuestoPendiente.$error.required && !nNoRepuestoPendiente.$pristine">* Seleccione una opción </div>
          </div>
          <div class="col-md-6">
            <m-radio label="{label: 'A la espera de repuestos'}" name="nNoRepuestoPendiente" ng-model="mRepuestoPend" value="S" data-ng-required="true" ng-click=""></m-radio>
          </div>
        </div>

        <div class="row mt-xs-2" ng-show="true">
          <div class="g-box gBgcGray5 pt-xs-1-5 pb-xs-1-5">
            <div class="clearfix mb-xs-1" ng-show="mRepuestoPend != 'N'">
              <div class="col-md-6">
                <m-radio label="{label: 'Se puede iniciar reparación'}" name="nEsperaRepuestos" ng-model="mIniRepac" value="S" data-ng-required="true" ng-click=""></m-radio>
                <div class="g-error" data-ng-show="nNoRepuestoPendiente.$error.required && !nNoRepuestoPendiente.$pristine">* Seleccione una opción </div>
              </div>
              <div class="col-md-6">
                <m-radio label="{label: 'Esperar a que llegue la pieza'}" name="nEsperaRepuestos" ng-model="mIniRepac" value="N" data-ng-required="true" ng-click=""></m-radio>
                <div class="g-error" data-ng-show="nEsperaRepuestos.$error.required && !nEsperaRepuestos.$pristine">* Seleccione una opción </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="col-md-6" ng-show="mRepuestoPend != 'N' && mIniRepac != 'S'">
                <mpf-input
                  label="{label: 'Llegada de repuestos (días)', required: true}"
                  name="FechaRepuestos"
                  ng-model="mFechaRepuestos"
                  mpf-validation="onlyNumber"
                  ng-required="true"></mpf-input>
                 <div class="g-error" ng-show="FechaRepuestos.$error.required && !FechaRepuestos.$pristine">* Ingrese días
                </div>
              </div>

              <div class="col-md-6">
                <mpf-input
                  label="{label: 'Días estimados de reparación', required: true}"
                  name="FechaEntrega"
                  ng-model="mFechaEntrega"
                  mpf-validation="onlyNumber"
                  ng-required="true"></mpf-input>
                <div class="g-error" ng-show="FechaEntrega.$error.required && !FechaEntrega.$pristine">* Ingrese días
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-xs-4">
          <div class="col-md-4 col-md-offset-2 mb-xs-1 no-mb-md">
            <a href="" class="g-btn g-btn-transparent block" ng-click="closeModal()">Cancelar</a>
          </div>
          <div class="col-md-4">
            <a href="" class="g-btn g-btn-verde block" ng-click="startRepair(mRepuestoPend, mIniRepac, mFechaRepuestos, mFechaEntrega)">Iniciar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-if="message">
      <div class="row">
        <div class="col-md-12 mb-xs-3">
          <p class="text-center mb-xs-0">Estado actualizado con éxito</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <a class="g-btn g-btn-verde block" ng-click="closeModal()">Cerrar</a>
        </div>
      </div>
    </div>
  </form>
</section>
