<section class="">
  <button type="button" class="close g-close-modal" ng-click="closeModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <form name="frm">
    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>MOTIVO DE ANULACIÓN</b></h2>
          <span>Seleccione un motivo de anulación</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="row mb-xs-3">
          <div class="col-md-10 col-md-offset-1 mt-xs-1">
            <mpf-select label="{label: 'SELECCIONE:', required: true}" name="nMotivoCancelacion"
              m-data-source="listaMotivoCancelacion"
              data-ng-model="selectesMotivoCancelacion" text-field="nombreValor" value-field="codigoValor"
            ></mpf-select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-offset-1 mb-xs-1 no-mb-md">
            <a href="" class="g-btn g-btn-transparent block" ng-click="closeModal()">Cancelar</a>
          </div>
          <div class="col-md-5">
            <a href="" class="g-btn g-btn-verde block" ng-click="sendMessageClient(selectesMotivoCancelacion)">Continuar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>