<section class="">
  <button type="button" class="close g-close-modal" ng-click="closeModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <form name="frm">
    <div class="container">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>ACTUALIZAR ESTADO</b></h2>
          <h2 class="gH4"></h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="row mb-xs-3" ng-init="mTipoRegistro = 'ready'">
          <div class="col-md-6 mt-xs-1 text-center">
            <mpf-radio-panel
              label="{label: 'VEHÍCULO LISTO PARA ENTREGAR'}"
              name="nTipoRegistro"
              ng-model="mTipoRegistro"
              value="ready"
              icon="'ico-mapfre_328_autoOK'"
            ></mpf-radio-panel>
          </div>
          <div class="col-md-6 mt-xs-1 text-center">
            <mpf-radio-panel
              label="{label: 'GENERAR AMPLIACIÓN DE REPARACIÓN'}"
              name="nTipoRegistro"
              ng-model="mTipoRegistro"
              value="ampliacion"
              icon="'ico-mapfre_189_auxiliomecanico'"
            ></mpf-radio-panel>
          </div>
        </div>
        <div class="row mb-xs-3">
          <div class="col-md-4 col-md-offset-4 mb-xs-1 no-mb-md text-center">
            <a href="" class="block g-link-green" ng-click="verDetalle()">Ver detalle</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 mb-xs-1 no-mb-md">
            <a href="" class="g-btn g-btn-transparent block" ng-click="closeModal()">Cancelar</a>
          </div>
          <div class="col-md-4">
            <a href="" class="g-btn g-btn-verde block" ng-click="updateSiniester(mTipoRegistro)">Continuar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
