<section class="">
  <button type="button" class="close g-close-modal" ng-click="closeModal()">
    <span class="ico-mapfre_231_cancelaroff"></span>
  </button>
  <form name="frm">
    <div class="container" ng-if="!message">
      <div class="row">
        <div class="col-md-12 g-text-center-xs mb-xs-2">
          <h2 class="gH3"><b>ENTREGAR REPUESTOS</b></h2>
        </div>
      </div>
    </div>
    <div class="container" ng-if="!message">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 text-center">
            <span>¿Estás seguro de cambiar el estado de este servicio a entregado?</span>
          </div>
        </div>

        <div class="row mt-xs-4">
          <div class="col-md-4 col-md-offset-2 mb-xs-1 no-mb-md">
            <a href="" class="g-btn g-btn-transparent block" ng-click="closeModal()">Cancelar</a>
          </div>
          <div class="col-md-4">
            <a href="" class="g-btn g-btn-verde block" ng-click="changeState()">Continuar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-if="message">
      <div class="row">
        <div class="col-md-12 mb-xs-3">
          <p class="text-center mb-xs-0">Estado actualizado con éxito</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <a class="g-btn g-btn-verde block" ng-click="closeModal()">Cerrar</a>
        </div>
      </div>
    </div>
  </form>
</section>
