<div class="row mt-xs-2">
    <div class="col-md-12 mt-xs-3 mt-md-0">
        <ap-tab-services class="mt-100"
                         data-on-click="$ctrl.onTabSubService($event)"
                         items="$ctrl.servicesSelected.subServices"
                         selected-tab="$ctrl.selectedSubService.code"></ap-tab-services>
    </div>
</div>
<div class="row mt-xs-2">
    <div class="col-md-2">
        <div class="lateral-menu">
            <div class="options">
                <label class="text active w-100" data-ui-sref="adminAdditionalServices.1234.ranges" class="g-cursor-pointer">Rangos y fechas</label>
            </div>
            <div class="options">
                <label class="text w-100" data-ui-sref="adminAdditionalServices.1234.content" class="g-cursor-pointer">Contenido</label>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="mb-xs-2 w-100" ui-view="contenido"></div>
    </div>
</div>

