<div class="g-section-inner" id="anchor-1">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="g-sub-title">Lugar de la inspección</h2>
          </div>
        </div>
        <div class="row">
          <inspec-ubigeo data="$ctrl.formData.ubigeoData" not-required="true"></inspec-ubigeo>
        </div>
    </div>
</div>

<div class="g-section-inner" id="anchor-2">
  <inspec-contractor data="$ctrl.formData.contractorData" only-contact="true"></inspec-contractor>
</div>

<div class="g-section">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <a 
                ga-click
                ga-category="'Solicitud - INSPECCION'"
                ga-action="'Sin Cotización - Crear Solicitud Especial'"
                ga-label="'Botón: Crear Solicitud'"
                class="g-btn g-btn-verde block" ng-click="$ctrl.createRequest()">CREAR SOLICITUD</a>
          </div>
      </div>
  </div>
</div>
