<div class="g-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Administrador Clínica Digital</h1>
            </div>
            <div class="col-md-4 pt-md-2 text-right hidden-xs hidden-sm">
                <a href="#/" ui-sref="home">
                    <span class=" gCGray3">
                        <i class="icon ico-mapfre_310_arrowLeft"></i>
                        <b>Volver</b>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-xs-3 pb-xs-3">
        <div class="col-md-4 mb-xs-1">
            <a  ng-repeat="item in $ctrl.options"
                class="g-btn g-btn-verde block"
                data-ui-sref="adminClinicaDigital.{{item.url}}"
                ui-sref-opts="{reload: true, inherit: false}">{{item.name}}</a>
        </div>
    </div>
</div>